<tr class="item level0" >
    <td class="level1 itemType"><span class="itemType iconLinkButton hover-highlight-effect"></span></td>
    <td class="titleColumn" title="{{ form.title.vars.label | trans }}">{{ form_widget(form.title) }}</td>
    <td title="{{ form.tileMatrixSet.vars.label | trans }}">{{ form_widget(form.tileMatrixSet) }}</td>
    {{ form_row(form.active) }}
    {{ form_row(form.allowselected) }}
    {{ form_row(form.selected) }}
    {{ form_row(form.allowinfo) }}
    {{ form_row(form.info) }}
    <td class="moreColumn">
      <div class="infoMsgBox hidden">
        <span class="labelText">{{ "mb.wms.wmsloader.repo.instancelayerform.label.id.title"|trans}}</span><span class="smallText" title="{{ "mb.wms.wmsloader.repo.instancelayerform.label.id.description"|trans}}">{{form.vars.data.sourceInstance.source.id}}-{{form.vars.data.sourceItem.id}}/{{form.vars.data.sourceInstance.id}}-{{form.vars.data.id}}</span><br>
        <span class="labelText">{{ "mb.wms.wmsloader.repo.instancelayerform.label.layersname"|trans }}</span><span class="smallText">{{ form.vars.data.sourceItem.identifier }}</span>
        {{ form_row(form.style) }}
      </div>
      <span class="iconMore" title="{{'mb.wms.wmsloader.repo.instancelayerform.label.moreinfo'|trans}}"></span>
    </td>
</tr>
