<tr class="item level0" >
    <td class="level1 itemType iconLinkButton hover-highlight-effect"></td>
    <td class="titleColumn" title="{{ "mb.wmts.wmtsloader.repo.instancelayerform.label.layer_title"|trans }}">{{ form_widget(form.title) }}</td>
    <td title="{{ "mb.wmts.wmtsloader.repo.instancelayerform.label.layer_matrixsets"|trans }}">{{ form_widget(form.tileMatrixSet) }}</td>
    <td title="{{ "mb.wmts.wmtsloader.repo.instancelayerform.label.layer_styles"|trans }}">{{ form_widget(form.infoformat) }}</td>
    <td class="checkboxColumn" data-check-identifier="checkActive" title="{{ "mb.wmts.wmtsloader.repo.instancelayerform.label.active"|trans }}">{{ form_widget(form.active) }}</td>
    <td class="checkboxColumn odd" data-check-identifier="checkSelectAllow" title="{{ "mb.wmts.wmtsloader.repo.instancelayerform.label.allowselecttoc"|trans }}">{{ form_widget(form.allowselected) }}</td>
    <td class="checkboxColumn odd" data-check-identifier="checkSelectOn" title="{{ "mb.wmts.wmtsloader.repo.instancelayerform.label.selectedtoc"|trans }}">{{ form_widget(form.selected) }}</td>
    <td class="checkboxColumn" data-check-identifier="checkInfoAllow" title="{{ "mb.wmts.wmtsloader.repo.instancelayerform.label.allowinfotoc"|trans }}">{{ form_widget(form.allowinfo) }}</td>
    <td class="checkboxColumn" data-check-identifier="checkInfoOn" title="{{ "mb.wmts.wmtsloader.repo.instancelayerform.label.infotoc"|trans }}">{{ form_widget(form.info) }}</td>
    <td class="checkboxColumn odd" data-check-identifier="checkToggleAllow" title="{{ "mb.wmts.wmtsloader.repo.instancelayerform.label.allowtoggletoc"|trans }}">{{ form_widget(form.allowtoggle) }}</td>
    <td class="checkboxColumn odd" data-check-identifier="checkToggleOn" title="{{ "mb.wmts.wmtsloader.repo.instancelayerform.label.toggletoc"|trans }}">{{ form_widget(form.toggle) }}</td>
    <td class="moreColumn">
      <span class="iconMore" title="{{'mb.wmts.wmtsloader.repo.instancelayerform.label.moreinfo'|trans}}">
        <div class="infoMsgBox hide">
          <span class="labelText">{{ "mb.wmts.wmtsloader.repo.instancelayerform.label.id"|trans }}</span><span class="smallText">{{instance.id}}-{{form.vars.data.sourceItem.id}}/{{form.vars.data.sourceInstance.id}}-{{form.vars.data.id}}</span><br>
          {#{ dump(form.vars.data.sourceItem) }#}
          <span class="labelText">{{ "mb.wmts.wmtsloader.repo.instancelayerform.label.layer_name"|trans }}</span><span class="smallText">{{ form.vars.data.sourceItem.identifier }}</span>
          <br>
          <span class="labelText">{{"mb.wmts.wmtsloader.repo.instancelayerform.label.style"|trans}}</span>{{ form_widget(form.style) }}
        </div>
      </span>
    </td>
</tr>
