{% extends "MapbenderManagerBundle:Repository:instance.html.twig" %}
{%- set _h1_text = instance.source.title -%}
{%- set _h1_subtext = form.vars.value.type ~ ' ' ~ ('mb.wmts.wmtsloader.repo.instance.title.instance' | trans) ~ ' ' ~ instance.source.id ~ '/'~ instance.id -%}
{%- set title = _h1_subtext ~ ' - ' ~ _h1_text -%}

{% block form_layers %}
    <table id="instanceTable" class="table instanceTable">
      <thead>
      {% set _proto = form.layers.vars.prototype %}
        <tr>
          <th></th>
          <th>{{ form.title.vars.label | trans}}</th>
          <th class="matrixSet">{{"mb.wmts.wmtsloader.repo.instance.label.tilemartixset"|trans}}</th>
          <th class="checkboxColumn">{{"mb.wms.wmsloader.repo.instance.label.active"|trans}}</th>
          <th class="checkboxColumn odd" colspan="2">{{"mb.wms.wmsloader.repo.instance.label.select"|trans}}</th>
          <th class="checkboxColumn" colspan="2">{{"mb.wms.wmsloader.repo.instance.label.info"|trans}}</th>
          <th></th>
        </tr>
        <tr>
          <th colspan="4"></th>
          <th class="checkboxColumn smallText odd">{{"mb.wms.wmsloader.repo.instance.label.allow"|trans}}</th>
          <th class="checkboxColumn smallText odd">{{"mb.wms.wmsloader.repo.instance.label.on"|trans}}</th>
          <th class="checkboxColumn smallText">{{"mb.wms.wmsloader.repo.instance.label.allow"|trans}}</th>
          <th class="checkboxColumn smallText">{{"mb.wms.wmsloader.repo.instance.label.on"|trans}}</th>
          <th></th>
        </tr>
        <tr id="instanceTableCheckHead">
          <th colspan="3"></th>
          {{ form_row(_proto.active, {'tagName': 'th'}) }}
          {{ form_row(_proto.allowselected, {'tagName': 'th'}) }}
          {{ form_row(_proto.selected, {'tagName': 'th'}) }}
          {{ form_row(_proto.allowinfo, {'tagName': 'th'}) }}
          {{ form_row(_proto.info, {'tagName': 'th'}) }}
          <th></th>
        </tr>
      </thead>
      <tbody id="instanceTableCheckBody">
        {% for form in form.layers %}
        {% include "MapbenderWmtsBundle:Repository:instance-layer-form.html.twig"  with {'form': form }%}
        {% endfor %}
        <tr class="dummy">
          <td colspan="20"></td>
        </tr>
      </tbody>
    </table>
{% endblock %}
