<tr class="item level0" >
    <td class="level1 itemType"><span class="itemType iconLinkButton hover-highlight-effect"></span></td>
    <td class="titleColumn" title="{{ form.title.vars.label | trans }}">{{ form_widget(form.title) }}</td>
    <td title="{{ form.tileMatrixSet.vars.label | trans }}">{{ form_widget(form.tileMatrixSet) }}</td>
    {{ form_row(form.active) }}
    {{ form_row(form.allowselected) }}
    {{ form_row(form.selected) }}
    {{ form_row(form.allowinfo) }}
    {{ form_row(form.info) }}
    <td class="text-right">
    <div class="static-popover-wrap">
      <div class="infoMsgBox popover left hidden">
        <div class="arrow"></div>
        <div class="popover-content form-horizontal">
          <div>
              <label class="labelInput">{{ "mb.wms.wmsloader.repo.instancelayerform.label.id.title"|trans}}</label><div class="inputWrapper" title="{{ "mb.wms.wmsloader.repo.instancelayerform.label.id.description"|trans}}"><input type="text" class="input" readonly="readonly" value="{{form.vars.data.sourceInstance.source.id}}-{{form.vars.data.sourceItem.id}}/{{form.vars.data.sourceInstance.id}}-{{form.vars.data.id}}"></div>
          </div>
          <div>
              <label class="labelInput">{{ "mb.wms.wmsloader.repo.instancelayerform.label.layersname"|trans }}</label><div class="inputWrapper"><input type="text" class="input" readonly="readonly" value="{{ form.vars.data.sourceItem.identifier }}"></div>
          </div>
          {{- form_row(form.style) -}}
        </div>
      </div>
      <span class="-fn-toggle-layer-detail" title="{{'mb.wms.wmsloader.repo.instancelayerform.label.moreinfo'|trans}}"><i class="fa fas fa-ellipsis-h"></i></span>
    </div>
    </td>
</tr>
