<ul class="itemLevel1 list">
  <li class="openCloseTitle{% if itemLevel > 1 %} iconExpandClosed {% else %} iconExpand {% endif %}">{{ layer.title }}</li>

  {% if layer.identifier|length > 0 %}
    <li>
      <span class="labelText">{{"mb.wmts.wmtsloader.repo.layer.label.identifier" | trans }}</span>
      <span class="metaText">{{ layer.identifier }}</span>
    </li>
  {% endif %}

  <li>
      <span class="labelText">{{"mb.wmts.wmtsloader.repo.layer.label.formats" | trans }}</span>
      <span class="metaText">
        {{  layer.getUniqueTileFormats() | join(', ') }}
      </span>
  </li>

  {% if layer.title|length > 0 %}
  <li>
    <span class="labelText">{{"mb.wmts.wmtsloader.repo.layer.label.title" | trans }}:</span>
    <span class="metaText">{{ layer.title }}</span>
  </li>
  {% endif %}

  {% if layer.abstract|length > 0 %}
  <li>
    <span class="labelText">{{"mb.wmts.wmtsloader.repo.layer.label.abstract" | trans }}:</span>
    <span class="metaText">{{ layer.abstract }}</span>
  </li>
  {% endif %}
  
  {% if layer.latlonBounds != null %}
    <li>
      <span class="labelText left">{{ "mb.wmts.wmtsloader.repo.layer.label.latlonbounds" | trans }}:</span>
      <span class="metaText">{{ layer.latlonBounds.srs }} {{ layer.latlonBounds.minx }}, {{ layer.latlonBounds.miny }}, {{ layer.latlonBounds.maxx }}, {{ layer.latlonBounds.maxy }}</span>
    </li>
  {% endif %}
  {% if layer.tilematrixSetlinks != null %}
    <li>
      <span class="labelText left">{{ "mb.wmts.wmtsloader.repo.layer.label.tilematrixsetlinks" | trans }}:</span>
      <ul class="left">
      {% for tmsLink in layer.tilematrixSetlinks %}
        <li>
          <span class="metaText">{{ tmsLink.tileMatrixSet }} - {{ tmsLink.tileMatrixSetLimits }}</span>
        </li>
      {% endfor %}
      </ul></li>
  {% endif %}
</ul>
