<ul class="list">
  <li class="openCloseTitle{% if itemLevel > 1 %} iconExpandClosed {% else %} iconExpand {% endif %}">{{ theme.title }}</li>
  <li>
    <table>
      <tbody>
        <tr><th>{{ "mb.wmts.wmtsloader.repo.theme.label.identifier" | trans }}:</th><td>{{ theme.identifier }}</td></tr>
        <tr><th>{{ "mb.wmts.wmtsloader.repo.theme.label.title" | trans }}:</th><td>{{ theme.title }}</td></tr>
        <tr><th>{{ "mb.wmts.wmtsloader.repo.theme.label.abstract" | trans }}:</th><td>{{ theme.abstract }}</td></tr>
        <tr><th>{{ "mb.wmts.wmtsloader.repo.theme.label.layerrefs" | trans }}:</th><td>{{ theme.layerrefs | join(', ') }}</td></tr>
      </tbody>
    </table>
  </li>
  {% for subtheme in theme.themes %}
  <li>
    <ul class="list">
    {% include "MapbenderWmtsBundle:Repository:theme.html.twig"  with {'theme': subtheme, 'itemLevel': itemLevel + 1 }%}
    </ul>
  </li>
  {% endfor %}
</ul>
