<div class="content-toggle-container{% if itemLevel > 1 %} closed{% endif %}">
  <div class="h4 clearfix content-toggle clickable">
    <i class="pull-right fa fas {{ itemLevel > 1 ? 'fa-plus' : 'fa-minus'}}"></i>
    {{ theme.title }}
  </div>
  <table class="content-toggle-target">
      <tbody>
        <tr><th>{{ "mb.wmts.wmtsloader.repo.theme.label.identifier" | trans }}:</th><td>{{ theme.identifier }}</td></tr>
        <tr><th>{{ "mb.wmts.wmtsloader.repo.theme.label.title" | trans }}:</th><td>{{ theme.title }}</td></tr>
        <tr><th>{{ "mb.wmts.wmtsloader.repo.theme.label.abstract" | trans }}:</th><td>{{ theme.abstract }}</td></tr>
        <tr><th>{{ "mb.wmts.wmtsloader.repo.theme.label.layerrefs" | trans }}:</th><td>{{ theme.layerrefs | join(', ') }}</td></tr>
      </tbody>
  </table>
  <div class="indent">
  {% for subtheme in theme.themes %}
    {% include "MapbenderWmtsBundle:Repository:theme.html.twig"  with {'theme': subtheme, 'itemLevel': 2 }%}
  {% endfor %}
  </div>
</div>
