<ul class="itemLevel1 list">  
  <li class="openCloseTitle hover-highlight-effect {% if itemLevel > 1 %} iconExpandClosed {% else %} iconExpand {% endif %}">{{ theme.title }}</li>
  <li>
    <span class="labelText left">{{ "mb.wmts.wmtsloader.repo.theme.label.identifier" | trans }}:</span>
    <span class="metaText">{{ theme.identifier }}</span>
  </li>
  <li>
    <span class="labelText">{{"mb.wmts.wmtsloader.repo.theme.label.title" | trans }}:</span>
    <span class="metaText">{{ theme.title }}</span>
  </li>
  <li>
    <span class="labelText">{{"mb.wmts.wmtsloader.repo.theme.label.abstract" | trans }}:</span>
    <span class="metaText">{{ theme.abstract }}</span>
  </li>
  <li>
    <span class="labelText">{{"mb.wmts.wmtsloader.repo.theme.label.layerrefs" | trans }}:</span>
    <span class="metaText">
    {% for layerref in theme.layerrefs %}{% if not loop.first %}, {% endif %}{{ layerref }}{% endfor %}
    </span>
  </li>
  {% for subtheme in theme.themes %}
  <li>
    <ul class="itemLevel2 list">
    {% include "MapbenderWmtsBundle:Repository:theme.html.twig"  with {'theme': subtheme, 'itemLevel': itemLevel + 1 }%}
    </ul>
  </li>
  {% endfor %}
</ul>