<ul class="list">
  <li class="openCloseTitle iconExpand">{{ tilematrixset.identifier }}</li>
  <li>
    <table>
      <tbody>
        <tr><th>{{ "mb.wmts.wmtsloader.repo.tilematrixset.label.identifier" | trans }}:</th><td>{{ tilematrixset.identifier }}</td></tr>
        <tr><th>{{ "mb.wmts.wmtsloader.repo.tilematrixset.label.supportedcrs" | trans }}:</th><td>{{ tilematrixset.supportedCrs }}</td></tr>
        <tr><th>{{ "mb.wmts.wmtsloader.repo.tilematrixset.label.title" | trans }}:</th><td>{{ tilematrixset.title }}</td></tr>
        <tr><th>{{ "mb.wmts.wmtsloader.repo.tilematrixset.label.abstract" | trans }}:</th><td>{{ tilematrixset.abstract }}</td></tr>
      </tbody>
    </table>
    <ul class="list closed">
      <li class="openCloseTitle iconExpandClosed">{{ "mb.wmts.wmtsloader.repo.tilematrixset.matrixes" | trans }}</li>
      <li class="smallText">
        {% for tilematrix in tilematrixset.tilematrices %}
          {% include "MapbenderWmtsBundle:Repository:tilematrix.html.twig" with {'tilematrix': tilematrix }%}
        {% endfor %}
      </li>
    </ul>
  </li>
</ul>
