<table>
  <tbody>
    <tr><th>{{ "mb.wmts.wmtsloader.repo.tilematrix.label.identifier" | trans }}:</th><td>{{ tilematrix.identifier }}</td></tr>
    <tr><th>{{ "mb.wmts.wmtsloader.repo.tilematrix.label.scaledenominator" | trans }}:</th><td>{{ tilematrix.scaledenominator }}</td></tr>
    <tr><th>{{ "mb.wmts.wmtsloader.repo.tilematrix.label.topleftcorner" | trans }}:</th><td>{{ tilematrix.topleftcorner|join(' ') }}</td></tr>
    <tr><th>{{ "mb.wmts.wmtsloader.repo.tilematrix.label.tilesize" | trans }}:</th><td>{{ tilematrix.tileheight }} x {{ tilematrix.tileheight }}</td></tr>
    <tr><th>{{ "mb.wmts.wmtsloader.repo.tilematrix.label.matrixsize" | trans }}:</th><td>{{ tilematrix.matrixwidth }} x {{ tilematrix.matrixheight }}</td></tr>
  </tbody>
</table>
