{% extends "MapbenderManagerBundle::manager.html.twig" %}

{% block manager_content %}

<a class="button right" title="{{"mb.wms.wmsloader.repo.view.label.backtoservicelist" | trans}}" href="{{ path('mapbender_manager_repository_index') }}">Back</a>

<div id="serviceTabContainer" class="tabContainer">
  <ul class="tabs">
    <li id="tabMetaData" class="tab active">{{"mb.wms.wmsloader.repo.view.label.metadata" | trans }}</li>
    <li id="tabContact" class="tab">{{"mb.wms.wmsloader.repo.view.label.contact" | trans }}</li>
    <li id="tabService" class="tab">{{"mb.wms.wmsloader.repo.view.label.details" | trans }}</li>
    <li id="tabLayers" class="tab">{{"mb.wms.wmsloader.repo.view.label.layers" | trans }}</li>
    <li id="tabMatrixsets" class="tab">{{"mb.wmts.wmtsloader.repo.view.label.matrixsets" | trans }}</li>
    {% if source.themes | length() %}
      <li id="tabTheme" class="tab">{{"mb.wmts.wmtsloader.repo.view.label.theme" | trans }}</li>
    {% endif %}
  </ul>
  <div id="containerMetaData" class="container active serviceContainer serviceMetaContainer">
    {% include 'MapbenderWmtsBundle:Repository:source/view-metadata.html.twig' %}
  </div>
  <div id="containerContact" class="container serviceContainer serviceContactContainer">
    {% if source.contact %}
      {% include 'MapbenderManagerBundle:Repository:source/view-contact.html.twig' with {'contact' : source.contact} %}
    {% endif %}
  </div>
  <div id="containerService" class="container serviceContainer serviceServiceContainer">
    {% include 'MapbenderWmtsBundle:Repository:source/view-details.html.twig' %}
  </div>
  <div id="containerLayers" class="container serviceContainer serviceServiceContainer">
    {% for layer in source.layers %}
      {% include "MapbenderWmtsBundle:Repository:layer.html.twig" with {'layer': layer, 'itemLevel': 1 }%}
    {% endfor %}
  </div>
  <div id="containerMatrixsets" class="container serviceContainer serviceServiceContainer">
    {% for tilematrixset in source.tilematrixsets %}
      {% include "MapbenderWmtsBundle:Repository:tilematrixset.html.twig" with {'tilematrixset': tilematrixset }%}
    {% endfor %}
  </div>
  {% if source.themes | length() %}
    <div id="containerTheme" class="container serviceContainer serviceServiceContainer">
      {% for theme in source.themes %}
        {% include "MapbenderWmtsBundle:Repository:theme.html.twig" with {'theme': theme, 'itemLevel': 1 }%}
      {% endfor %}
    </div>
  {% endif %}
</div>
<div class="clearContainer"></div>

{% endblock %}
