{% extends 'MapbenderCoreBundle::backend.html.twig' %}

{% block title %}Welcome{% endblock %}

{% block content %}
<aside class="description">
<p>This is the overview page of {{ server_name }}.</p>
<p>Below you find a list of applications you can access:</p>
</aside>

<section id="apps-overview">
    <ul>
    {% for key, app in apps %}
        <li class="application-{{ key }}">
            <div>
                <h2><a href="{{ path('mapbender_application', { 'slug': key }) }}">{{ app.title }}</a></h2>
                <div class="description">{{ app.description }}</div>
            </div>
        </li>
    {% endfor %}
    </ul>
</section>
{% endblock %}

{% block js %}
<script type="text/javascript" src="{{ asset('bundles/mapbendercore/application.list.js') }}"></script>
{% endblock %}
