<div class="{{ ('sidePane flex-fill ' ~ (alignment_class | default('left'))) | trim }}">
  <div class="sideContent">
    {% if region_props.name == 'tabs' %}
      <div class="tabContainerAlt">
        <ul class="tabs">
          {%  for element in elements %}
            <li id="tab{{loop.index}}" class="tab{% if loop.first %} active{% endif %}">{{ element.title | trans }}</li>
          {% endfor %}
        </ul>
          {%  for element in elements %}
            <div id="container{{loop.index}}" class="container{% if loop.first %} active{% endif %}">
              {{ element.render() | raw }}
            </div>
          {% endfor %}
      </div>
    {% elseif region_props.name == 'accordion' %}
      <div class="accordionContainer">
        {%  for element in elements %}
          <div id="accordion{{loop.index}}" class="accordion{% if loop.first %} active{% endif %}"><div class="tablecell">{{ element.title | trans }}</div></div>
          <div id="container{{loop.index}}" class="container-accordion{% if loop.first %} active{% endif %}">
              <div class="accordion-cell">
                  <div class="accordion-wrapper">
                  {{ element.render() | raw }}
                  </div>
              </div>
          </div>
          {% endfor %}
      </div>
    {% else %}
        {{ region_content(application, region_name) | raw }}
    {% endif %}
  </div>
  <span class="toggleSideBar collapse-toggle"><i class="fa fas fa-bars"></i></span>
</div>
