{%- set return_text = 'mb.actions.back' -%}
<div class="{{ 'sidePane flex-fill ' ~ region_class | trim }}{% if region_props.resizable %} resizable{% endif %}"
     {%- if region_props.width | default('') -%}
         {%- if region_props.closed | default(false) -%}
             {{ ' ' }}style="width: {{ region_props.width }}; {{ 'left' in region_class ? 'left' : 'right' }}: -{{ region_props.width }};"
         {%- else -%}
             {{ ' ' }}style="width: {{ region_props.width }};"
         {%- endif -%}
     {%- endif -%}
>
  <div class="sideContent">
  {%- if region_props.name in ['tabs', 'accordion', 'list'] -%}
      {%- set _visible = [] -%}
      {%- for element in elements -%}
        {%- set element_content = element_markup(element) -%}
        {%- if element_content -%}
            {%- set _visible = _visible | merge([{element: element, content: element_content}]) -%}
        {%- endif -%}
    {%- endfor -%}
    {%- if region_props.name == 'tabs' -%}
      <div class="tabContainerAlt">
        <ul class="tabs">
          {%- for element_info in _visible -%}
            {%- set element = element_info.element -%}
            {%- set element_icon = find_icon(element, 'js-mb-icon') -%}
            <li id="tab{{loop.index}}" class="{{ ('tab' ~ (loop.first ? ' active' : '') ~ ' ' ~ element_visibility_class(element)) | trim }}">
              <div class="hidden">
                {{element_icon | raw }}
              </div>
              {{ element.title | trans }}
            </li>
          {%- endfor -%}
        </ul>
        {%- for element_info in _visible -%}
          {%- set element = element_info.element -%}
          <div id="container{{loop.index}}" class="container{% if loop.first %} active{% endif %}">
            {{ element_info.content | raw }}
        </div>
        {%- endfor -%}
      </div>
    {% elseif region_props.name == 'accordion' %}
      <div class="accordionContainer">
          <div class="logoContainer text-nowrap ps-2 mb-3">
              <img tabindex="-1" class="logo" src="{{ asset(fom.server_logo) }}"/>
              <span class="project-name">{{ fom.server_name }}</span>
          </div>
          {%- for element_info in _visible -%}
              {%- set element = element_info.element -%}
              {% if element.configuration.openInline is defined and element.configuration.openInline == 1 %}
                  <li class="ps-1 pe-0 mt-2 mb-3 accordion inline">
                      <div>
                          {{ element_info.content | raw }}
                      </div>
                  </li>
              {% endif %}
          {%- endfor -%}
        {%- for element_info in _visible -%}
          {%- set element = element_info.element -%}
          {% if element.configuration.openInline is not defined or element.configuration.openInline != 1 %}
              {%- set element_icon = find_icon(element, 'me-2 js-mb-icon') -%}
              <div id="accordion{{loop.index}}" class="{{ ('accordion' ~ (loop.first ? ' active' : '') ~ ' ' ~ element_visibility_class(element)) | trim }}">
                  <div>
                     {{element_icon | raw }}
                     {{ element.title | trans }}
                  </div>
              </div>
              <div id="container{{loop.index}}" class="container-accordion{% if loop.first %} active{% endif %}" tabindex="-1">
                  <div class="accordion-cell">
                      {{ element_info.content | raw }}
                  </div>
              </div>
            {% endif %}
        {%- endfor -%}
      </div>
    {% elseif region_props.name == 'list' %}
        <div class="logoContainer text-nowrap ps-2">
            <img tabindex="-1" class="logo" src="{{ asset(fom.server_logo) }}"/>
            <span class="project-name">{{ fom.server_name }}</span>
        </div>
        <div class="listContainer pt-5">
            <ul class="list-group">
              {%- for element_info in _visible -%}
                    {%- set element = element_info.element -%}
                    {% if element.configuration.openInline is defined and element.configuration.openInline == 1 %}
                      <li class="ps-1 pe-0 mt-2 list-group-item inline">
                          <div>
                              {{ element_info.content | raw }}
                          </div>
                      </li>
                    {% endif %}
                {%- endfor -%}
                {%- for element_info in _visible -%}
                    {%- set element = element_info.element -%}
                    {% if element.configuration.openInline is not defined or element.configuration.openInline != 1 %}
                      {%- set element_icon = find_icon(element, 'me-2 js-mb-icon') -%}
                      <li id="list_group_item{{loop.index}}" class="ps-2 mt-2 list-group-item">
                          <div>
                              {{element_icon | raw }}
                              {{ element.title | trans }}
                          </div>
                      </li>
                    {% endif %}
                {%- endfor -%}
            </ul>
        </div>
        {%- for element_info in _visible -%}
            {%- set element = element_info.element -%}
            {%- set element_icon = find_icon(element, 'me-2 js-mb-icon') -%}
            <div id="list_group_item_container{{loop.index}}" class="container-list-group-item">
                <div class="list-group-item-header pb-3">
                    <button class="list-back-btn pt-3 ps-3 pe-3" type="button">
                        {%- if region_props.align == 'left' -%}
                          <i class="fa-solid fa-angle-left me-3 iconBig"></i>
                        {% else %}
                          <i class="fa-solid fa-angle-right ms-3 iconBig"></i>
                        {%- endif -%}
                        <span>{{ return_text | trans}}</span>
                    </button>
                </div>
                <div class="list-group-item-cell pt-3 pe-3 ps-3">
                    <div class="list-group-item-title pb-4">
                        {{ element_icon | raw }}
                        {{ element.title | trans }}
                    </div>
                    {{ element_info.content | raw }}
                </div>
            </div>
        {%- endfor -%}
    {%- endif -%}
  {%- else -%}
        <div class="auto-scroll-v">
            {{ region_content(application, region_name) | raw }}
        </div>
  {% endif %}
  </div>
  <span class="toggleSideBar collapse-toggle" tabindex="0">
    <i class="fa-solid fa-xmark pt-3 pe-2 ps-2"></i>
    <div class="element-icons hidden"></div>
  </span>
</div>
