<div class="elementForm defaultForm">
    {{ form_label(form.title) }}{{ form_widget(form.title) }}
    <div class="clearContainer"></div>
    {{ form_label(form.configuration.tooltip) }}{{ form_widget(form.configuration.tooltip) }}
    <div class="clearContainer"></div>
    {{ form_label(form.configuration.target) }}{{ form_widget(form.configuration.target) }}
    <div class="clearContainer"></div>
    {% if form.configuration.dimensionsets is defined %}
    {{ form_label(form.configuration.dimensionsets) }}{{ form_widget(form.configuration.dimensionsets) }}
    <div class="clearContainer"></div>
    {% else %}
    <span>{{ "mb.wms.dimensionsets.no_dimension" | trans }}</span>
    {% endif %}
</div>
<script type="text/javascript" src="{{ asset('components/joii/dist/joii.min.js')  }}"></script>
<script type="text/javascript" src="{{ asset('bundles/mapbenderwms/mapbender.wms.dimension.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/mapbenderwms/backend/dimensionshandler.js') }}"></script>
