{% form_theme form 'MapbenderWmsBundle::form/fields.html.twig' %}

<div class="elementForm">
    {{ form_row(form.title) }}
    {{ form_rest(form.configuration) }}
    {% if form.configuration.dimensionsets is not defined %}
    <span>{{ "mb.wms.dimensionsets.no_dimension" | trans }}</span>
    {% endif %}
</div>
<script type="text/javascript" src="{{ asset('components/joii/dist/joii.min.js')  }}"></script>
<script type="text/javascript" src="{{ asset('bundles/mapbenderwms/mapbender.wms.dimension.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/mapbenderwms/backend/dimensionshandler.js') }}"></script>
