<div class="elementForm extraWideLabelForm">
    <div>
        <div class="left">{{ form_row(form.configuration.autoOpen) }}</div>
        <div class="left">{{ form_row(form.configuration.splitLayers) }}</div>
        <div class="left">{{ form_row(form.configuration.useDeclarative) }}</div>
        <div class="clearContainer"></div>
    </div>
    {{ form_row(form.title) }}
    {{ form_rest(form.configuration) }}
</div>
