{% extends "MapbenderManagerBundle::manager.html.twig" %}

{% set role_title = role.title %}

{% block title %}{% trans %}Delete role %role_title%{% endtrans %}{% endblock %}

{% block manager_content %}

<form id="entity-delete" action="{{ path('mapbender_manager_role_delete', { 'id': role.id }) }}" method="post" {{ form_enctype(form)}}>
    <header>
    {% trans %}Do you really want to delete the role with the title <em>%role_title%</em>?{% endtrans %}
    </header>
    {{ form_widget(form) }}
    <footer class="actions">
        <input type="submit" value="{{ 'Delete' | trans }}" class="btn btn-danger"/>
        <a href="{{ url('mapbender_manager_role_index') }}" class="btn">{{ 'Cancel' | trans}}</a>
    </footer>
</form>

{% endblock %}
