{% extends "MapbenderManagerBundle::manager.html.twig" %}

{% block title %}{{ "Roles" | trans }}{% endblock %}

{% block manager_js %}
<script type="text/javascript" src="{{ asset('bundles/mapbendermanager/js/list.js') }}"></script>
{% endblock %}

{% block manager_content %}
{% include "MapbenderManagerBundle:User:navigation.html.twig" %}

<table class="table table-striped">
    <thead>
        <tr>
            <th>{{ "Title" | trans }}</th>
            <th>{{ "Description" | trans }}</th>
            <th>{{ "Actions" | trans }}</th>
        </tr>
    </thead>
    <tbody>
        {% for role in roles %}
        <tr id="app-{{ role.id }}">
            <td>
                <a href="{{ path('mapbender_manager_role_edit', {'id': role.id}) }}" title="{{ 'Edit' | trans }}">{{ role.title }}</a>
            </td>
            <td>{{ role.description }}</td>
            <td>
                <div class="entity-actions btn-group">
                    <a class="action-edit btn" href="{{ path('mapbender_manager_role_edit',  {'id': role.id }) }}" title="{{ 'Edit' | trans }}">{{ 'Edit' | trans }}</a>
                    <a class="action-delete btn btn-warning" href="{{ path('mapbender_manager_role_confirmdelete', { 'id': role.id }) }}">{{ 'Delete' | trans }}</a>
                </div>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% include "MapbenderManagerBundle:Role:actions.html.twig" %}

{% endblock %}
