{% extends "MapbenderManagerBundle::manager.html.twig" %}

{% block title %}{{ "New Role" | trans}}{% endblock %}

{% block manager_content %}

<form action="{{ path('mapbender_manager_role_create') }}" method="post" {{ form_enctype(form)}} class="well">
    {% if form_errors(form) %}
    <div class="alert alert-error">
        {{ form_errors(form) }}
    </div>
    {% endif %}

    {{ form_row(form._token) }}
    {% include 'MapbenderManagerBundle:Role:form.html.twig' %}

    <footer>
        <input type="submit" value="{{ 'Create' | trans }}" class="btn btn-primary"/>
        <a href="{{ url('mapbender_manager_role_index') }}" class="btn">{{ 'Cancel' | trans}}</a>
    </footer>
</form>

{% endblock %}
