<p class="subTitle">{{ fom.server_name }} {{"mb.core.aboutdialog.content.versionprefix"|trans}} {{ fom.server_version }}<p/>
<p class="description">{{"mb.core.aboutdialog.content.learnmore"|trans}} <a class="linkButton" href="http://mapbender3.org" target="_blank" title="{{"mb.core.aboutdialog.content.linktitle"|trans}}">{{"mb.core.aboutdialog.content.website"|trans}}</a>.</p>
