{% block WMSLayer_row %}

    <fieldset id="wmslayer_{{value.id}}" class="layer">
        <legend>{{ value.title }}</legend>
        {{ form_errors(form) }}
        {{ form_widget(form) }} 
    </fieldset>
{% endblock %}

{% block WMSLayer_widget %}

    <div>
        {{ form_row(form.title) }}
        {{ form_row(form.name) }}
        {{ form_row(form.abstract) }}
        {{ form_row(form.queryable) }}
        {{ form_row(form.cascaded) }}
        {{ form_row(form.opaque) }}
        {{ form_row(form.noSubset) }} 
        {{ form_row(form.metadataurl) }}
        {{ form_row(form.dataurl) }} 
        {{ form_row(form.styles) }} 
    </div>
    <div>
        {{ form_row(form.fixedWidth) }}
        {{ form_row(form.fixedHeight) }}
        <div>
          {{ form_label(form.scaleHintMin) }}
          {{ form_widget(form.scaleHintMin) }}
          <span>{{ value.scaleHintMin }}</span>
        </div>
        <div>
          {{ form_label(form.scaleHintMax) }}
          {{ form_widget(form.scaleHintMax) }}
          <span>{{ value.scaleHintMax }}</span>
        </div>
    </div>
    <div>
    {% if form.layer|length > 0 %}
            {{ form_row(form.layer) }} 
    {% else %}
            {{ form_widget(form.layer) }} 
    {% endif %}
        {{ form_rest(form) }}
    </div>
{% endblock %}




{% block WMSService_widget %}
    <ul>
        <li><a href="#{{value.name}}-metadata">{{ "Metadata"|trans }}</a></li>
        <li><a href="#{{value.name}}-contact">{{ "Contact"|trans }}</a></li>
        <li><a href="#{{value.name}}-service">{{ "Service"|trans }}</a></li>
        <li><a href="#{{value.name}}-layer">{{ "Layer"|trans }}</a></li>
        <li><a href="#{{value.name}}-preview">{{ "Preview"|trans }}</a></li>
    </ul>
	
	 <fieldset id="{{value.name}}-metadata" class="metadata">
        <legend>{% trans %}Metadata{% endtrans %}</legend>
        {{ form_row(form.title) }}
        {{ form_row(form.name) }}
        {{ form_row(form.alias) }}
        {{ form_row(form.abstract) }}
        <div>
            {{ form_label(form.onlineResource) }}{{ 
            form_errors(form.onlineResource) }}{{ 
            form_widget(form.onlineResource) }} <a target="_blank" href="{{value.onlineResource}}">{% trans %}Open{% endtrans %}</a>
        </div>

        {{ form_row(form.fees) }}
        {{ form_row(form.accessConstraints) }}
        {{ form_row(form.username) }}
        {{ form_row(form.password) }}
    </fieldset>
  
    <fieldset id="{{value.name}}-contact" class="contact">
        <legend>{% trans %}Contact{% endtrans %}</legend>
        {{ form_row(form.contactPerson) }}
        {{ form_row(form.contactOrganization) }}
        {{ form_row(form.contactPosition) }}
        {{ form_row(form.contactVoiceTelephone) }}
        {{ form_row(form.contactFacsimileTelephone) }}
        {{ form_row(form.contactElectronicMailAddress) }}
        {{ form_row(form.contactAddress) }}
        {{ form_row(form.contactAddressType) }}
        {{ form_row(form.contactAddressCity) }}
        {{ form_row(form.contactAddressStateOrProvince) }}
        {{ form_row(form.contactAddressPostCode) }}
        {{ form_row(form.contactAddressCountry) }}
    </fieldset>
    
    <fieldset id="{{value.name}}-service"  class="service">
        <legend>{% trans %}Service{% endtrans %}</legend>
        {{ form_row(form.version) }}
        <hr style="color:#AAAAAA;background: #AAAAAA; height:1px">
        {{ form_row(form.requestGetCapabilitiesGET) }}
        {{ form_row(form.requestGetCapabilitiesPOST) }}
        {{ form_row(form.requestGetCapabilitiesFormats) }}
        <hr>
        {{ form_row(form.requestGetMapGET) }}
        {{ form_row(form.requestGetMapPOST) }}
        {{ form_row(form.requestGetMapFormats) }}
        <hr>
        {{ form_row(form.requestGetFeatureInfoGET) }}
        {{ form_row(form.requestGetFeatureInfoPOST) }}
        {{ form_row(form.requestGetFeatureInfoFormats) }}
        <hr>
        {{ form_row(form.requestGetLegendGraphicGET) }}
        {{ form_row(form.requestGetLegendGraphicPOST) }}
        {{ form_row(form.requestGetLegendGraphicFormats) }}
        <hr>
        {{ form_row(form.requestDescribeLayerGET) }}
        {{ form_row(form.requestDescribeLayerPOST) }}
        {{ form_row(form.requestDescribeLayerFormats) }}
        <hr>
        {{ form_row(form.requestGetStylesGET) }}
        {{ form_row(form.requestGetStylesPOST) }}
        {{ form_row(form.requestGetStylesFormats) }}
        <hr>
        {{ form_row(form.requestPutStylesGET) }}
        {{ form_row(form.requestPutStylesPOST) }}
        {{ form_row(form.requestPutStylesFormats) }}
        <hr>
        {{ form_row(form.exceptionFormats) }}
        <hr>
        {{ form_row(form.symbolSupportSLD) }}
        <p>{{ "Supports SLD"|trans }} {% if value.symbolSupportSLD  %}:{{ "Yes"|trans }}{% else %}{{ "No"|trans }}{% endif %}</p>

        {{ form_row(form.symbolUserLayer) }}
        <p>{{ "Supports Userlayer"|trans }} {% if value.symbolUserLayer %}:{{ "Yes"|trans }}{% else %}{{ "No"|trans }}{% endif %}</p>

        {{ form_row(form.symbolUserStyle) }}
        <p>{{ "Supports User Style"|trans }} {% if value.symbolUserStyle %}:{{ "Yes"|trans }}{% else %}{{ "No"|trans }}{% endif %}</p>

        {{ form_row(form.symbolRemoteWFS) }}
        <p>{{ "Supports remote WFS"|trans }} {% if value.symbolRemoteWFS %}:{{ "Yes"|trans }}{% else %}{{ "No"|trans }}{% endif %}</cwplabel>
    </fieldset>
  
   <fieldset id="{{value.name}}-layer" class="layer">
        <legend>{% trans %}Layer{% endtrans %}</legend>
        {{ form_row(form.layer) }} 
   </fieldset>
   
   <fieldset id="{{value.name}}-preview" class="preview">
        <legend>{% trans %}Preview{% endtrans %}</legend>
        <div id="map" class="smallmap"></div>
   </fieldset>
   
{% endblock %}


