{% extends "MapbenderCoreBundle:Login:box.html.twig" %}

{% block title %} {{ 'fom.user.login.error_notocken.password_reset' | trans}} {% endblock %}

{% block box_content %}
        <h1 class="contentTitle">{{ 'fom.user.login.error_notocken.sorry' | trans}}</h1>
        <p>{{ 'fom.user.login.error_notocken.no_such_tocken' | trans }}</p>
        {% if site_email is defined %}
        <a class="linkButton right" href="mailto:{{site_email}}"><i class="fa fas fa-caret-right"></i>&nbsp;{{ 'fom.user.login.error_notocken.contact' | trans }}</a>
        {% endif %}
        <a class="linkButton" href="{{ path('mapbender_core_login_login') }}"><i class="fa fas fa-caret-right"></i>&nbsp;{{ "fom.user.login.error_notocken.back_to_login"|trans}}</a>
        <div class="clearContainer"></div>
{% endblock %}
