<div id="{{ id }}" class="mb-element mb-element-themenkarteneditor">
    <button>Themenkarten-Editor</button>
    <div class="dialog" title="Themenkarteneditor">
        <ul>
            <li><a href="#tke-save">{{'Speichern'|trans }}</a></li>
            <li><a href="#tke-load">{{'Laden'|trans }}</a><li>
        </ul>
        <form id="tke-save" method="post">
            {{ form_widget(form) }}
            <input type="submit" value="{{'Speichern'|trans }}" />
        </form>
        <div id="tke-load">
            {{'Laden'|trans }}
        </div>
    </div>
</div>

