<div id="{{ id }}" class="mb-element mb-element-wmchandler" title="{{ configuration.tooltip|default(title)|trans }}">
    {% if configuration.addEditor == true %}
    <div  id="wmcEditorTabContainer" class="tabContainer wmcEditorTabContainer">
        <ul class="tabs">
            <li id="tab-wmc-edit" class="tab">{{'Edit'|trans }}</li>
            <li id="tab-wmc-load" class="tab">{{'Load'|trans }}<li>
        </ul>
        <div id="container-wmc-edit" class="container active">
            <form method="post" id="save-wmc">
                {{ form_widget(form) }}
                <input type="submit" value="{{'Save'|trans }}" />
            </form>
        </div>
        <div id="container-wmc-load"class="container active">
            {{'Load'|trans }}
        </div>
    </div>
    {% endif %}
</div>

