<div id="{{ id }}" class="mb-element mb-element-wmchandler" title="{{ configuration.tooltip|default(title)|trans }}">
    {% if configuration.useEditor == true %}
    <div id="suggestmap" title="{{ "Suggest Map"|trans }}">
        <ul>
            <li><img src="/viewer/bundles/bkggeoportal/images/icons/emaillink.png" width="24"> <span class="span-link"><a href="#" id="suggestmap-email" target="_blank" class="" data-subject="{{ "SuggestMap Subject"|trans }}">{{ 'As e-mail'|trans }}</a></span></li>
            <!--li><img src="/SiteGlobals/Functions/SocialBookmarks/DE/Icons/Twitter.jpg?__blob=normal" width="24"/> <span class="span-link"><a href="#" id="weiterempfehlen-twitter" target="_blank"> In Twitter</a></span></li>
            <li><img src="/SiteGlobals/Functions/SocialBookmarks/DE/Icons/Facebook.jpg?__blob=normal" width="24"/> <span class="span-link"><a href="#" id="weiterempfehlen-facebook" target="_blank"> In Facebook</a></span></li-->
        </ul>
    </div>
    {% endif %}
    {% if configuration.useEditor == true and accessEditor == true %}
    <div id="wmceditor" title="{{ "Wmc Editor"|trans }}">
        <div  id="wmcEditorTabContainer" class="tabContainer wmcEditorTabContainer">
            <ul class="tabs">
                <li id="tab-wmc-edit" class="tab">{{'Edit'|trans }}</li>
                <li id="tab-wmc-load" class="tab active">{{'Load'|trans }}<li>
            </ul>
            <div id="container-wmc-edit" class="container">
                <span id="wmc-new">{{ 'Create New Wmc' | trans }}</span>
                <div id="container-wmc-form"></div>
            </div>
            <div id="container-wmc-load" class="container active">
            </div>
        </div>
    </div>
    {% endif %}
    {% if configuration.useLoader == true %}
    <div id="wmcloader" title="{{ "Wmc Loader"|trans }}">
        <form id="load-wmc" action="{{ url('mapbender_core_application_element', {'slug': app.request.get('slug'), 'id': id, 'action': 'wmcasxml'}) }}" method="post" target="_blank">
            <div class="elementFormToolbar elementForm">
                {{ form_widget(form.xml) }}
                <div class="clearContainer"></div>
                {{ form_widget(form.state) }}
                {{ form_row(form._token) }}
            </div>
        </form>
    </div>
    {% endif %}
</div>