{% extends "MapbenderCoreBundle:User:base.html.twig" %}

{% block body %}
{{"Realy delete?"|trans}}
	<form action="{{path("mapbender_core_user_delete",{"userId":user.id})}}" method="post">
		<input type="submit" name="create" value="{{"Yes"|trans}}" />
	</form>
	<form action="{{path("mapbender_core_user_index")}}" method="get">
		<input type="submit" name="create" value="{{"No"|trans}}" />
	</form>
{% endblock %}



