{% extends "MapbenderCoreBundle:User:base.html.twig" %}

{% block body %}
	<form action="{{path("mapbender_core_user_save",{"userId":user.id})}}" method="post">
		{{form_widget(form)}}
		<input type="submit" name="create" value="{{"save"|trans}}" />
	</form>
	<form action="{{path("mapbender_core_user_index")}}" method="get">
		<input type="submit" name="create" value="{{"Cancel"|trans}}" />
	</form>
{% endblock %}
