{% extends "MapbenderCoreBundle:User:base.html.twig" %}

{% block heading %}{{ "mb.core.user.index.userindex"|trans }}{% endblock %}

{% block subnavigation %}
<nav class="action">
    <h1>User Navigation</h1>
    <ul>
      <li><a href="{{ path('mapbender_core_user_create') }}">{% trans %}Add User{% endtrans %}</a></li>
    </ul>
</nav>
{% endblock %}
{% block content %}

{% if userList|length >0 %}
  <table>
    <caption>{% trans %}Available Users{% endtrans %}</caption>
    <thead>
      <tr>
        <th>{{ "mb.core.user.index.name"|trans}}</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for user in userList %}
      <tr>
        <td>{{ user.displayName }}</td>
        <td>
          <a title="{{"mb.core.user.index.edit"|trans}} '{{user.displayName}}'"   href="{{path("mapbender_core_user_edit",{"userId":user.id})}}">{{ "mb.core.user.index.edit"|trans }}</a>
          <a title="{{"mb.core.user.index.delete"|trans}} '{{user.displayName}}'" href="{{path("mapbender_core_user_confirmdelete",{"userId":user.id})}}">{{ "mb.core.user.index.delete"|trans }}</a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% else %}
 <p>{% trans %}No Users{% endtrans %}</p>
{% endif %}
{% endblock %}
