<?xml version="1.0" encoding="utf-8" standalone="no" ?>
<ViewContext version="1.1.0"
             id="{{ wmc.id }}"
             xmlns="http://www.opengis.net/context"
             xmlns:xlink="http://www.w3.org/1999/xlink"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xsi:schemaLocation="http://www.opengis.net/context http://schemas.opengis.net/context/1.0.0/context.xsd">
    <General>
        <Window width="{{ wmc.general.window.width }}" height="{{ wmc.general.window.height }}" />
        <BoundingBox SRS="{{ wmc.general.bbox.srs }}" minx="{{ wmc.general.bbox.minx }}" miny="{{ wmc.general.bbox.miny }}" maxx="{{ wmc.general.bbox.maxx }}" maxy="{{ wmc.general.bbox.maxy }}"/>
        <Title>{{ wmc.general.title }}</Title>
        {% if wmc.general.keywords is defined %}
        <KeywordList>
            {% for keyword in wmc.general.keywords %}
            <Keyword>{{ keyword }}</Keyword>
            {% endfor %}
        </KeywordList>
        {% endif %}
        {% if wmc.general.abstract is defined %}
        <Abstract>{{ wmc.general.abstract }}</Abstract>
        {% endif %}
        {% if wmc.general.logourl is defined %}
        <LogoURL width="{{ wmc.general.logourl.width }}" height="{{ wmc.general.logourl.height }}" format="{{ wmc.general.logourl.format }}">
            <OnlineResource xlink:type="simple" xlink:href="{{ wmc.general.logourl.url }}"/>
        </LogoURL>
        {% endif %}
        {% if wmc.general.descriptionurl is defined %}
        <DescriptionURL format="{{ wmc.general.descriptionurl.format }}">
            <OnlineResource xlink:type="simple" xlink:href="{{ wmc.general.descriptionurl.url }}"/>
        </DescriptionURL>
        {% endif %}
        {% if wmc.general.contactinfo is defined %}
        <ContactInformation>
            {% if  wmc.general.contactinfo.person is defined or wmc.general.contactinfo.organization is defined%}
            <ContactPersonPrimary>
                <ContactPerson>{{ wmc.general.contactinfo.person }}</ContactPerson>
                <ContactOrganization>{{ wmc.general.contactinfo.organization }}</ContactOrganization>
            </ContactPersonPrimary>
            {% endif %}
            {% if wmc.general.contact.position is defined %}
            <ContactPosition>{{ wmc.general.contact.position }}</ContactPosition>
            {% endif %}
            {% if wmc.general.contact.address is defined %}
            <ContactAddress>
                <AddressType>{{ wmc.general.contact.address.type }}</AddressType>
                <Address>{{ wmc.general.contact.address.address }}</Address>
                <City>{{ wmc.general.contact.address.city }}</City>
                <StateOrProvince>{{ wmc.general.contact.address.state }}</StateOrProvince>
                <PostCode>{{ wmc.general.contact.address.postcode }}</PostCode>
                <Country>{{ wmc.general.contact.address.country }}</Country>
            </ContactAddress>
            {% endif %}
            {% if wmc.general.contact.phone is defined %}
            <ContactVoiceTelephone>{{ wmc.general.contact.phone }}</ContactVoiceTelephone>
            {% endif %}
            {% if wmc.general.contact.fax is defined %}
            <ContactFacsimileTelephone>{{ wmc.general.contact.fax }}</ContactFacsimileTelephone>
            {% endif %}
            {% if wmc.general.contact.email is defined %}
            <ContactElectronicMailAddress>{{ wmc.general.contact.email }}</ContactElectronicMailAddress>
            {% endif %}
        </ContactInformation>
        {% endif %}
    </General>
    <LayerList>
        {% for layer in wmc.layerlist %}
        <Layer queryable="{{ layer.queryable }}" hidden="{{ layer.hidden }}">
            <Server service="{{ layer.server.service }}" version="{{ layer.server.version }}" title="{{ layer.server.title }}">
                <OnlineResource xlink:type="simple" xlink:href="{{ layer.server.url }}"/>
            </Server>
            <Name>{{ layer.name }}</Name>
            <Title>{{ layer.title }}</Title>
            {% if layer.abstract is defined %}
            <Abstract>{{ layer.abstract }}</Abstract>
            {% endif %}
            {% if layer.srs is defined %}
            <SRS>{{ layer.srs }}</SRS>
            {% endif %}
            <FormatList>
                {% for format in wmc.layerlist.formats %}
                <Format current="{{ format.current }}">{{ format.format }}</Format>
                {% endfor %}
            </FormatList>
            <StyleList>
                {% for style in wmc.layerlist.styles %}
                <Style current="{{ style.current }}">
                    <Name>{{ style.name }}</Name>
                    <Title>{{ style.title }}</Title>
                    {% if style.legend is defined %}
                    <LegendURL width="{{ style.legend.width }}" height="{{ style.legend.height }}" format="{{ style.legend.format }}">
                        <OnlineResource xlink:type="simple" xlink:href="{{ style.legend.url }}"/>
                    </LegendURL>
                    {% endif %}
                </Style>
                {% endfor %}
            </StyleList>
        </Layer>
        {% endfor %}
    </LayerList>
</ViewContext>