<form action="" method="post" novalidate="novalidate">
    <div class="elementFormToolbar elementForm">
        {{ form_widget(form.id) }}
        <div class="clearContainer"></div>
        {{ form_label(form.state.title) }}{{ form_widget(form.state.title) }}
        <div class="clearContainer"></div>
        {{ form_label(form.abstract) }}{{ form_widget(form.abstract) }}
        <div class="clearContainer"></div>
        {{ form_label(form.keywords) }}{{ form_widget(form.keywords) }}
        <div class="clearContainer"></div>
        {{ form_row(form._token) }}
    </div>
</form>