<table class="records_list">
    <thead>
        <tr>
            <th>{{'Id'|trans }}</th>
            <th>{{'Title'|trans }}</th>
            <th>{{'Description'|trans }}</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td class="id">{{ entity.id }}</td>
            <td>{{ entity.state.title }}</td>
            <td>{{ entity.abstract }}</td>
            <td>
                <span class="iconEdit iconSmall" data-id="{{ entity.id }}" title="{{ 'Edit' | trans }} {{ entity.state.title }} (ID:{{ entity.id }})"></span>
                <span class="iconRemove iconSmall" data-id="{{ entity.id }}" title="{{'Delete'|trans }} {{ entity.state.title }} (ID:{{ entity.id }})"></span>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>