<form id="wmc-save" action="{{ path('mapbender_core_application_element', {'slug': app.request.get('slug'), 'id': id, 'action': 'save'}) }}" method="post" title="{% if form.id.vars.value == '' %}{{ 'mb.wmc.wmceditor.create'|trans}}{% else %}{{ 'mb.wmc.wmceditor.edit'|trans}}{% endif %}">
    <div class="form-horizontal elementFormWMC">
        {{ form_row(form.public) }}
        {{ form_row(form.state) }}
        {{ form_row(form.abstract) }}

{# removed ticket: https://repo.wheregroup.com/db/tickets/-/issues/1181 2021-07-20 arno
        {{ form_row(form.keywords) }}
        {{ form_row(form.descriptionurl) }}
        {{ form_label(form.logourl) }} ({{ 'mb.wmc.wmceditor.screenshot'|trans }})
        {{ form_widget(form.logourl) }}
#}
        {{ form_row(form.screenshot) }}
        {{ form_rest(form) }}
    </div>
    <input type="submit" style="display:none;"/>
</form>
