<table class="elementsTable tableCore">
    <thead>
        <tr>
            <th>{{ 'Id' | trans }}</th>
            <th class="type">{{ 'Title' | trans }}</th>
            <th class="type">{{ 'Description' | trans }}</th>
            <th class="iconColumn">
                <a href="{{ url('mapbender_core_application_element', { 'slug': application.slug, 'id': id, 'action': 'get', 'wmcid': '' }) }}" class="iconAdd iconSmall addWmc" title="{{'Add new wmc'|trans}}"></a>
            </th>
        </tr>
    </thead>
    <tbody>
    {% if wmclist|length > 0 %}
      {% for wmc in wmclist %}
        <tr class="element" data-id="{{wmc.id}}">
            <td class="titleColumn description">{{ wmc.id }}</td>
            <td class="typeColumn description">{{ wmc.state.title }}</td>
            <td class="typeColumn description">{{ wmc.abstract }}</td>
            <td class="iconColumn">
                <div class="checkWrapper left iconCheckbox iconSmall {% if wmc.public %}iconCheckboxActive{% endif %}" title="{{"Toggle public/private wmc"|trans}} {{wmc.state.title}}">
                    <input class="checkbox" data-href="{{ path('mapbender_core_application_element', { 'slug': application.slug, 'id': id })}}" data-id="{{ wmc.id }}" type="checkbox" {% if wmc.public %} checked="checked" {% endif %}>
                </div>
                <span class="iconEdit iconSmall editWmc" title="{{"Edit Wmc"|trans}}  {{wmc.state.title}}" data-url="{{ url('mapbender_core_application_element', { 'slug': application.slug, 'id': id, 'action': 'get', 'wmcid': wmc.id }) }}"></span>
                <span class="iconRemove iconSmall removeWmc" title="{{"Delete Wmc"|trans}} {{wmc.state.title}}" data-id="{{ wmc.id }}" data-slug="{{ application.slug }}" data-url="{{ url('mapbender_core_application_element', { 'slug': application.slug, 'id': id, 'action': 'confirmdelete', '_id': wmc.id }) }}"></span>
            </td>
        </tr>
      {% endfor %}
        <tr class="placeholderRow"></tr>
    {% else %}
        <tr>
            <td class="description">{{"No wmc added."|trans}}</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    {% endif %}
    </tbody>
</table>