<form id="wmc-save" action="{{ path('mapbender_core_application_element', {'slug': app.request.get('slug'), 'id': id, 'action': 'save'}) }}" method="post" title="{% if form.id.vars.value == '' %}{{ 'mb.wmc.wmceditor.create'|trans}}{% else %}{{ 'mb.wmc.wmceditor.edit'|trans}}{% endif %}">
    <div class="elementFormWMC elementForm">
        <div class="left">
            {{ form_widget(form.public) }}<label for="{{form.public.vars.id}}" class="labelCheck">{{"mb.wmc.wmceditor.publish"|trans}}</label>
        </div>        
        <div class="clearContainer"></div>
        {{ form_widget(form.id) }}
        <div class="clearContainer"></div>
        {{ form_widget(form.state) }}
        <div class="clearContainer"></div>
        {{ form_label(form.abstract) }}{{ form_widget(form.abstract) }}
        <div class="clearContainer"></div>
        {{ form_label(form.keywords) }}{{ form_widget(form.keywords) }}
        <div class="clearContainer"></div>
        {{ form_label(form.descriptionurl) }}
        <div class="clearContainer"></div>
        {{ form_label(form.descriptionurl.format) }}{{ form_widget(form.descriptionurl.format) }}
        <div class="clearContainer"></div>
        {{ form_label(form.descriptionurl.href) }}{{ form_widget(form.descriptionurl.href) }}
        <div class="clearContainer"></div>
        {{ form_label(form.logourl) }} ({{ 'mb.wmc.wmceditor.screenshot'|trans }})
        <div class="clearContainer"></div>
        {{ form_label(form.logourl.width) }}{{ form_widget(form.logourl.width) }}
        <div class="clearContainer"></div>
        {{ form_label(form.logourl.height) }}{{ form_widget(form.logourl.height) }}
        <div class="clearContainer"></div>
        {{ form_label(form.logourl.onlineResource.format) }}{{ form_widget(form.logourl.onlineResource.format) }}
        <div class="clearContainer"></div>
        {{ form_label(form.logourl.onlineResource.href) }}{{ form_widget(form.logourl.onlineResource.href) }}
        <div class="clearContainer"></div>
        {{ form_label(form.screenshot) }}{{ form_widget(form.screenshot) }}
        <div class="clearContainer"></div>
        {{ form_row(form._token) }}
        <br/>
        <div class="clearContainer"></div>
    </div>
    <input type="submit" style="display:none;"/>
</form>
