<table class="tableCore">
    <thead>
        <tr>
            <th>{{ 'mb.wmc.wmceditor.list.id' | trans }}</th>
            <th>{{ 'mb.wmc.wmceditor.list.title' | trans }}</th>
            <th>{{ 'mb.wmc.wmceditor.list.description' | trans }}</th>
            <th class="iconColumn right" colspan="3">
                <a href="{{ path('mapbender_core_application_element', { 'slug': application.slug, 'id': id, 'action': 'get', 'wmcid': '' }) }}" class="icon iconAdd hover-highlight-effect addWmc" title="{{'mb.wmc.wmceditor.list.add_wmc'|trans}}"></a>
            </th>
        </tr>
    </thead>
    <tbody>
    {% if wmclist|length > 0 %}
      {% for wmc in wmclist %}
        <tr class="element" data-id="{{wmc.id}}">
            <td class="titleColumn description">{{ wmc.id }}</td>
            <td class="description">{{ wmc.state.title }}</td>
            <td class="description">{{ wmc.abstract }}</td>
            <td class="iconColumn right">
                <span class="iconRemove hover-highlight-effect removeWmc" title="{{"mb.wmc.wmceditor.list.delete_wmc"|trans}} {{wmc.state.title}}" data-id="{{ wmc.id }}" data-slug="{{ application.slug }}" data-url="{{ path('mapbender_core_application_element', { 'slug': application.slug, 'id': id, 'action': 'confirmdelete', '_id': wmc.id }) }}"></span>
            </td>
            <td class="iconColumn right">
                <span class="iconEdit hover-highlight-effect editWmc" title="{{"mb.wmc.wmceditor.list.edit_wmc"|trans}}  {{wmc.state.title}}" data-url="{{ path('mapbender_core_application_element', { 'slug': application.slug, 'id': id, 'action': 'get', 'wmcid': wmc.id }) }}"></span>
            </td>
            <td class="iconColumn right">
                <div class="checkWrapper iconCheckbox hover-highlight-effect {% if wmc.public %}iconCheckboxActive{% endif %}" title="{{"mb.wmc.wmceditor.list.toggle"|trans}} {{wmc.state.title}}">
                    <input class="checkbox" data-href="{{ path('mapbender_core_application_element', { 'slug': application.slug, 'id': id })}}" data-id="{{ wmc.id }}" type="checkbox" {% if wmc.public %} checked="checked" {% endif %}>
                </div>
            </td>
        </tr>
      {% endfor %}
        <tr class="placeholderRow"></tr>
    {% else %}
        <tr>
            <td class="description">{{"mb.wmc.wmceditor.list.no_wmc"|trans}}</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    {% endif %}
    </tbody>
</table>
