<form id="wmc-save" action="{{ path('mapbender_core_application_element', {'slug': app.request.get('slug'), 'id': id, 'action': 'save'}) }}" method="post" title="{% if form.id.vars.value == '' %}{{ 'mb.wmc.wmceditor.create'|trans}}{% else %}{{ 'mb.wmc.wmceditor.edit'|trans}}{% endif %}">
    <div class="elementFormWMC elementForm">
        {{ form_row(form.public) }}
        {{ form_row(form.state) }}
        {{ form_row(form.abstract) }}
        {{ form_row(form.keywords) }}
        {{ form_label(form.descriptionurl) }}
        <div class="clearContainer"></div>
        {{ form_widget(form.descriptionurl) }}
        {{ form_label(form.logourl) }} ({{ 'mb.wmc.wmceditor.screenshot'|trans }})
        <div class="clearContainer"></div>
        {{ form_widget(form.logourl) }}
        {{ form_row(form.screenshot) }}
        {{ form_rest(form) }}
    </div>
    <input type="submit" style="display:none;"/>
</form>
