{% if 'wmcxmlloader' in configuration.components %}
<a href="{{ path('mapbender_core_application_element', { 'slug': application.slug, 'id': id, 'action': 'loadform' }) }}" class="iconAdd hover-highlight-effect loadWmcXml" title="{{'mb.wmc.wmcloader.load_xml_wmc'|trans}}"></a>
{% endif %}
{% if 'wmclistloader' in configuration.components %}
<table class="tableCore">
    <thead>
        <tr>
            <th>{{ 'mb.wmc.wmcloader.id' | trans }}</th>
            <th>{{ 'mb.wmc.wmcloader.title' | trans }}</th>
            <th>{{ 'mb.wmc.wmcloader.description' | trans }}</th>
            <th class="iconColumn right"></th>
        </tr>
    </thead>
    <tbody>
    {% if wmclist|length > 0 %}
      {% for wmc in wmclist %}
        {% if wmc.public %}
        <tr class="element" data-id="{{wmc.id}}">
            <td class="titleColumn description">{{ wmc.id }}</td>
            <td class="description">{{ wmc.state.title }}</td>
            <td class="description">{{ wmc.abstract }}</td>
            <td class="iconColumn right">
                <span class="iconView hover-highlight-effect loadWmcId" title="{{"mb.wmc.wmcloader.view_wmc"|trans}}  {{wmc.state.title}}" data-id="{{ wmc.id }}"></span>
            </td>
        </tr>
        {% endif %}
      {% endfor %}
        <tr class="placeholderRow"></tr>
    {% else %}
        <tr>
            <td class="description">{{"mb.wmc.wmcloader.no_wmc"|trans}}</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    {% endif %}
    </tbody>
</table>
{% endif %}
