<div id="{{ id }}" class="mb-element mb-element-wmsloader" title="{{ configuration.tooltip|default(title)|trans }}">
    <p class="description">{{ "mb.wms.wmsloader.dialog.label.example"|trans }}: {{ example_url }}</p>
    <br>
    <label class="labelInput" for="loadWmsUrl">{{ "mb.wms.wmsloader.dialog.label.wmsurl"|trans}}:</label>
    <div class="inputWrapper">
        <input name="loadWmsUrl" class="input url" type="text" />
    </div>
    <br>
    <label class="labelInput" for="loadWmsUser">{{ "mb.wms.wmsloader.dialog.label.wmsuser"|trans}}:</label>
    <div class="inputWrapper">
        <input name="loadWmsUser" class="input url" type="text" />
    </div>
    <br>
    <label class="labelInput" for="loadWmsPass">{{ "mb.wms.wmsloader.dialog.label.wmspass"|trans}}:</label>
    <div class="inputWrapper">
        <input name="loadWmsPass" class="input url" type="password" />
    </div>
</div>
