<div class="elementForm defaultForm elementFormDigitizer">
    {{ form_label(form.title) }}{{ form_widget(form.title) }}
    <div class="clearContainer"></div>
    {{ form_label(form.configuration.target) }}{{ form_widget(form.configuration.target) }}
    <div class="clearContainer"></div>
    {{ form_label(form.configuration.schemes) }}{{ form_widget(form.configuration.schemes) }}
</div>
