{% extends 'MapbenderWmsBundle:WMS:base.html.twig' %}
{% block title %}Details for {{ wmsLayer.getTitle() }} {% endblock %}

{% block content %}
    <div class="wmsLayer">
        <h1 class="title" >
            <a href="{{ wmsLayer.getId() }}" target="_new">{{ wmsLayer.getTitle() }}</a>
        </h1>
        <span class="name">({{ wmsLayer.getName() }})</span>
        <p class="abstract">{{ wmsLayer.getAbstract() }}</p>
        <h2>{% trans %}Layer{% endtrans %}</h2>
        {% for layer in wmsLayer.getLayer() %}
          {% include "MapbenderWmsBundle:WMS:layerdetails.html.twig" %}
        {% endfor %}
        {% if wmsLayer.getLayer()|length == 0 %}
            <p class="emptydata">{% trans %}No Layers{% endtrans %}</p>
        {% endif %}
    </div>
{% endblock %}
