{% extends "MapbenderManagerBundle::manager.html.twig" %}

{% block manager_content %}
<div class="containerExchange">
  {{- form_start(form, {"attr": {"novalidate": "novalidate"}}) -}}
    {{- form_errors(form) -}}
    {% block form_fields %}
    {{ form_rest(form) }}
    {% endblock %}
    <div class="button-group">
    {% block form_buttons %}
        <input type="submit" value="{{ (submit_text | default('mb.actions.save')) | trans }}" class="button"/>
        <a href="{{ path( return_path | default('mapbender_manager_application_index')) }}" class="button critical">{{ 'mb.actions.cancel' | trans}}</a>
    {% endblock %}
    </div>
  {{- form_end(form) -}}
</div>
{% endblock %}
