{% extends "MapbenderCoreBundle:Login:box.html.twig" %}

{% block title %} {{ 'fom.user.password.form.title' | trans}} {% endblock %}

{% block box_content %}
    <h2 class="contentTitle">{{ 'fom.user.password.form.caption' | trans}}</h2>
    <p>{{ 'fom.user.password.form.message' | trans }}</p>
      {{ form_start(form, {'attr': {novalidate: 'novalidate', autocomplete: 'off'}}) }}

      {{ form_widget(form) }}

      <button class="button right">{{ 'fom.user.password.form.require_password' | trans}}</button>
      <a class="linkButton" href="{{ path('mapbender_core_login_login') }}"><i class="fa fas fa-caret-right"></i>&nbsp;{{ "fom.user.password.form.back_to_login"|trans}}</a>
      <div class="clearContainer"></div>
      {{ form_end(form) }}
{% endblock %}
