{% extends "MapbenderCoreBundle:Login:box.html.twig" %}
{% block title %} {{ 'fom.user.password.send.title' | trans}} {% endblock %}

{% block box_content %}
        <h2 class="contentTitle">{{ 'fom.user.password.send.caption' | trans}}</h2>
        <p class="description">{{ 'fom.user.password.send.email_been_sent' | trans }}</p>
        <a class="iconLinkButton linkButton" href="{{ path('mapbender_core_login_login') }}">{{ "fom.user.password.send.back_to_login"|trans}}</a>
 <script type="text/javascript">
    var Mapbender = Mapbender || {};
    Mapbender.configuration = {elements:{}};
  </script> 
{% endblock %}
