<div id="{{ id }}" class="mb-element mb-element-printclient" title="{{ title |trans }}">
    <div class="tab-container">
        <ul class="tabs">
            <li><a href="{{ '#' ~ id ~ '-settings' }}">{{ 'mb.print.printclient.tab.settings' | trans }}</a></li>
            <li><a href="{{ '#' ~ id ~ '-job-list' }}">{{ 'mb.print.printclient.tab.joblist' | trans }}</a></li>
        </ul>
        <div id="{{id ~ '-settings' }}" class="print-form">
            {% include settingsTemplate %}
        </div >
        <div id="{{id ~ '-job-list' }}" class="job-list">
            <table data-order='[[0, "desc"]]' class="row no-gutters">
                <thead>
                <tr>
                    <th>{{ 'mb.print.printclient.joblist.header.id' | trans }}</th>
                    <th>{{ 'mb.print.printclient.joblist.header.ctime' | trans }}</th>
                    <th>{{ 'mb.print.printclient.joblist.header.status' | trans }}</th>
                    <th class="interface"></th>
                </tr>
                </thead>
                <tfoot></tfoot>
                <tbody>
                </tbody>
            </table>
        </div>
        <iframe class="hidden" name="{{ submitFrameName }}"></iframe>
    </div>
</div>
