<div id="{{ id }}" class="mb-element mb-element-printclient" title="{{ title |trans }}">
    
    {%  if configuration['type'] is defined and configuration.type == 'element' %}
        <input type="button" class="button" id="printToggle" active="false" value="{{ 'mb.print.client.btn.activate' | trans }}"/>
        <br>
    {% endif %}

    <form id="formats" action="">

        <label class="labelInput">{{ 'mb.print.client.label.template' | trans }}</label>
        <div class="dropdown">
            <select name="template" class="hiddenDropdown">
                {% for id, template in configuration.templates %}
                    <option value="{{ id }}">{{ template.label }}</option>
                {% endfor %}
            </select>
            <div class="dropdownValue iconDown"></div>
            <ul class="dropdownList"></ul>
        </div>

        <label class="labelInput">{{ 'mb.print.client.label.quality' | trans }}</label>
        <div class="dropdown">
            <select name="quality" class="hiddenDropdown">
                {% for key , label in configuration.quality_levels %}
                    <option value="{{ key }}">{{ label }}</option>
                {% endfor %}
            </select>
            <div class="dropdownValue iconDown"></div>
            <ul class="dropdownList"></ul>
        </div>

        <label class="labelInput">{{ 'mb.print.client.label.scale' | trans }}</label>
        <div class="dropdown">
            <select name="scale_select" class="hiddenDropdown">
                {% for key in configuration.scales %}
                    <option value="{{ key }}">1:{{ key }}</option>
                {% endfor %}
            </select>
            <div class="dropdownValue iconDown"></div>
            <ul class="dropdownList"></ul>
        </div>

        {% if configuration.rotatable is defined and configuration.rotatable == 1 %}
            <label class="labelInput" for="rotation">{{ 'mb.print.client.label.rotation' | trans }}</label>
            <input class="input" type="text" name="rotation" value="0"/>
	    {% else %}
			<input class="input" type="text" name="rotation" value="0" style="display: none"/>
        {% endif %}

        {% if configuration.optional_fields is defined %}
            {% for key,field in configuration.optional_fields %}
                {% set required = '' %}
                <label class="labelInput">{{ field.label }}
                    {% if field.options.required == true %}
                        <span class="required">*</span>
                        {% set required = 'required=required' %}
                    {% endif %}
                </label>
                <input type="text" class="input validationInput" name="extra[{{ key }}]" {{ required }}>
            {% endfor %}
        {% endif %}

        {% if configuration.legend is defined and configuration.legend == 1 %}
            {% set legend_checked = 'checked' %}
            {% if configuration.legend_default_behaviour is defined and configuration.legend_default_behaviour == 0 %}
                {% set legend_checked = '' %}
            {% endif %}
            <div class="checkWrapper left iconCheckbox iconCheckboxActive " data-icon="iconCheckbox">
                <input class="checkbox" type="checkbox" name="printLegend" value="1" {{ legend_checked }}>
            </div>
            <label class="labelCheck">{{ 'mb.print.client.label.legend' | trans }}</label>
        {% endif %}

        <div id="layers"></div>
        <input type="submit" style="display: none"/>
        <input type="button" class="button printSubmit hidden" value="{{ 'mb.print.client.popup.btn.ok' | trans }}"/>
    
    </form>
</div>
