<div class="tabContainer">
  <ul class="tabs">
    <li id="tabBaseData" class="tab active">{{"fom.user.user.container.base_data" | trans }}</li>
    {% if form.profile is defined %}
      <li id="tabProfile" class="tab">{{ form.profile.vars.label | trans }}</li>
    {% endif %}
    {% if form.groups is defined %}
      <li id="tabGroups" class="tab">{{ form.groups.vars.label | trans }}</li>
    {% endif %}
    {% if form.acl is defined %}
    <li id="tabSecurity" class="tab">{{"fom.user.user.container.security" | trans }}</li>
    {% endif %}
  </ul>

  <div id="containerBaseData" class="container active">
      {{ form_row(form.username) }}
      {{ form_row(form.email) }}
      {{ form_row(form.password) }}

    {% if form.activated is defined %}
        {{ form_row(form.activated) }}
        <div class="clearContainer"></div>
    {% endif %}
  </div>
  {% if form.profile is defined %}
  <div id="containerProfile" class="container">
      {% if profile_template %}
          {% include profile_template %}
      {% else %}
          {{ form_widget(form.profile) }}
      {% endif %}
  </div>
  {% endif %}

  {% if form.groups is defined %}
  <div id="containerGroups" class="container containerGroups">
    {% if form.groups|length > 0 %}

      {% include 'MapbenderManagerBundle::fragments/filter-group.html.twig' with {filterTargetId: 'listFilterUsers'} %}

      <table id="listFilterUsers" class="table table-striped">
        <thead>
          <tr class="doNotFilter">
            <th>{{"fom.user.user.container.name"|trans}}</th>
            <th class="description text-right"><span id="selectedUsersGroups">{{user.groups | length}}</span> {{ 'fom.user.user.container.users_of_selected' | trans ({'%users_count%': form.groups|length }) }}</th>
          </tr>
        </thead>
        <tbody>
          {% for group in form.groups %}
            <tr class="filterItem">
              <td colspan="2">
                  {{ form_row(group) }}
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    {% else %}
      <p class="description left">{{"fom.user.user.container.no_groups_defined"|trans}}</p>
      <div class="clearContainer"></div>
    {% endif %}
  </div>
  {% endif %}

  {% if form.acl is defined %}
  <div id="containerSecurity" class="container">
    <a id="addPermission" href="{{path('fom_user_acl_overview')}}" class="iconAdd iconBig right" title="{{'fom.user.user.container.add_users_groups'|trans}}"></a>
    <div class="clearContainer"></div>
    {{ form_widget(form.acl) }}
  </div>
  {% endif %}
</div>

<div class="clearContainer"></div>
