{% extends "MapbenderManagerBundle::layouts/filtered_list.html.twig" %}
{%- set list_id = 'listFilterUsers' -%}
{%- set _group_view_grant = is_granted('VIEW', group_oid) -%}

{% block list_actions %}
  {% if create_permission %}
    <a class="hover-highlight-effect" href="{{path('fom_user_user_create')}}" title="{{"fom.user.user.index.add_new_user"|trans}}">
      <i class="fa fas fa-lg fa-plus"></i>
      <span>{{ 'fom.user.user.index.add_new_user' | trans }}</span>
    </a>
  {% endif %}
{% endblock %}

{% block manager_content %}
  {%- set items = users -%}
  {{- parent() -}}
{% if users %}
    <table id="listFilterUsers" class="table">
    <thead id="usersHead">
      <tr class="doNotFilter">
        <th>{{ "fom.user.user.index.name" | trans }}</th>
        <th>{{ "fom.user.user.index.email" | trans }}</th>
        {% if _group_view_grant %}
        <th>{{ "fom.user.user.index.groups" | trans }}</th>
        {% endif %}
        <th></th>
      </tr>
    </thead>
    <tbody id="usersBody">
      {% for user in users %}
        <tr id="app-{{ user.id }}" class="filterItem">
          <td>
            {% if is_granted('EDIT', user) %}
            <a class="labelText" href="{{ path('fom_user_user_edit', {'id': user.id}) }}" title="{{ 'fom.user.user.index.edit_user' | trans }}">{{ user.username }}</a>
            {% else %}
            <span class="labelText">{{ user.username }}</span>
            {% endif %}
          </td>
          <td><a href="mailto:{{ user.email }}" title="{{ 'fom.user.user.index.contact_user' | trans }}">{{ user.email }}</a></td>
          {% if _group_view_grant %}
          <td>
            <ul class="list-unstyled">
              {% for group in user.groups %}
              <li class='doNotFilter'>
                {% if is_granted('EDIT', group) %}
                  <a href="{{ path('fom_user_group_edit', { 'id': group.id }) }}" title="{{ 'fom.user.user.index.edit_group' | trans }}">{{ group.title }}</a></li>
                {% else %}
                  <span>{{ group.title }}</span>
                {% endif %}
              {% endfor %}
            </ul>
          </td>
          {% endif %}
          <td class="iconColumn">
            {% if is_granted('EDIT', user) %}
              <a class="iconEdit iconBig" href="{{ path('fom_user_user_edit',  {'id': user.id }) }}" title="{{ 'fom.user.user.index.edit_user' | trans }}"></a>
            {% endif %}
            {% if user.id != 1 and is_granted('DELETE', user) %}
              <span class="iconRemove iconBig"
                title="{{"fom.user.user.index.delete_user" | trans}}"
                data-url="{{ path('fom_user_user_delete', { 'id': user.id}) }}"
                data-id="{{ user.id }}"
              ></span>
            {% endif %}
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% else %}
  <div class="clearContainer"></div>
  <p class="description">{{"fom.user.user.index.no_users_available"|trans}}</p>
{% endif %}
<div class="clearContainer"></div>
{% endblock %}

{% block js %}
  {{parent()}}
  <script type="text/javascript" src="{{ asset('bundles/mapbendermanager/js/user-control.js') }}"></script>
{% endblock %}
