<div id="dimension{{ num }}" class="on-off on-off-title">
    <div class="row no-gutters">
        <div class="col-xs-3 col-md-2">{{ dim.vars.data.name | default('undefined') }}</div>
        <div class="col-xs-4 col-md-3">
            {{ form_row(dim.active) }}
        </div>
    </div>
</div>
<div id="dimension{{ num }}-content" class="on-off-content hidden" data-json="{{ dim.json.vars.data }}">
    <div class="row no-gutters">
        <div class="col-xs-3">
            {{ form_row(dim.multipleValues) }}
        </div>
        <div class="col-xs-3">
            {{ form_row(dim.nearestValue) }}
        </div>
        <div class="col-xs-3">
            {{ form_row(dim.current) }}
        </div>
    </div>
    {{ form_row(dim.name) }}
    {{ form_row(dim.units) }}
    {{ form_row(dim.unitSymbol) }}
    {% if dim.default is defined %}
        {{ form_row(dim.default) }}
    {% endif %}
    {{ form_row(dim.extentEdit) }}
    <div class="dimension-type">{{ form_widget(dim.type) }}</div>
    <div class="dimension-exent">{{ form_widget(dim.extent) }}</div>
    <div id="dimension{{ num }}-extent" class="mb-slider"></div>
</div>