<div id="dimension{{ num }}" class="on-off on-off-title">
    <div class="row no-gutters">
        <div class="col-xs-3 col-md-2">{{ dim.vars.data.name | default('undefined') }}</div>
        <div class="col-xs-4 col-md-3">
            {{ form_widget(dim.active) }}<label for="{{dim.active.vars.id}}" class="labelCheck" title="Active">active</label>
        </div>
    </div>
</div>
<div id="dimension{{ num }}-content" class="on-off-content hidden" data-json="{{ dim.json.vars.data }}">
    <div class="row no-gutters">
        <div class="col-xs-3">
            {{ form_widget(dim.multipleValues) }}<label for="{{dim.multipleValues.vars.id}}" class="labelCheck" title="multipleValues">multiple</label>
        </div>
        <div class="col-xs-3">
            {{ form_widget(dim.nearestValue) }}<label for="{{dim.nearestValue.vars.id}}" class="labelCheck" title="nearestValue">nearest</label>
        </div>
        <div class="col-xs-3">
            {{ form_widget(dim.current) }}<label for="{{dim.current.vars.id}}" class="labelCheck" title="current">current</label>
        </div>
    </div>
    {{ form_row(dim.name) }}
    {{ form_row(dim.units) }}
    {{ form_row(dim.unitSymbol) }}
    {% if dim.default is defined %}
        {{ form_row(dim.default) }}
    {% endif %}

    <label for="{{dim.extentEdit.vars.id}}" class="labelInput" title="Extent">Extent</label>{{ form_widget(dim.extentEdit) }}
    <div class="dimension-type">{{ form_widget(dim.type) }}</div>
    <div class="dimension-exent">{{ form_widget(dim.extent) }}</div>
    <div id="dimension{{ num }}-extent" class="mb-slider"></div>
</div>