{{ form_start(form, {
    'action': path('mapbender_manager_repository_create', {'managertype': constant('Mapbender\\CoreBundle\\Entity\\Source::TYPE_WMS') | lower}),
    'method': 'POST',
    'attr': {
        'novalidate': 'novalidate',
        'autocomplete': 'false'
    }
}) }}
  {# This only option to prevent browser auto fill inputs. Sad but true. More info: #4814 #}
  <input style="position: absolute; display: block; top: -1000px; left: 0" type="text" name="somefakename" tabindex="-1"/>
  <input style="position: absolute; display: block; top: -1000px; left: 0" type="password" name="anotherfakename" tabindex="-1"/>
  {{ form_row(form.originUrl) }}
  {{ form_row(form.username) }}
  {{ form_row(form.password) }}
  {{ form_row(form._token) }}
  <div class="button-group">
    <input class="button" type="submit" name="load" value="{{"mb.wms.wmsloader.repo.form.label.load"|trans}}" />
    <a href="{{path('mapbender_manager_repository_index')}}" class="button critical">{{"mb.wms.wmsloader.repo.form.label.cancel"|trans}}</a>
  </div>
{{ form_end(form, {'render_rest': false}) }}
