<fieldset class="serviceAddBox left box">
  <legend>{{"mb.wms.wmsloader.repo.form.label.ogcwms"|trans}}</legend>
  <form action="{{path('mapbender_manager_repository_create', {'managertype': form.vars.data.getManagertype()})}}" method="post" novalidate="novalidate">
      <label class="left labelInput" for="{{ form.originUrl.get('id') }}">{{"mb.wms.wmsloader.repo.form.label.serviceurl" | trans}}</label>
      {{ form_widget(form.originUrl) }}
      <div class="clearContainer"></div>

      <label class="left labelInput" for="{{ form.username.get('id') }}">{{"mb.wms.wmsloader.repo.form.label.username" | trans}}</label>
      {{ form_widget(form.username) }}
      <div class="clearContainer"></div>

      <label class="left labelInput" for="{{ form.password.get('id') }}">{{"mb.wms.wmsloader.repo.form.label.password" | trans}}</label>
      {{ form_widget(form.password) }}
      <div class="clearContainer"></div>

      <div class="right">
        <input class="button" type="submit" name="load" value="{{"mb.wms.wmsloader.repo.form.label.load"|trans}}" />
        <a href="{{path('mapbender_manager_repository_index')}}" class="button critical">{{"mb.wms.wmsloader.repo.form.label.cancel"|trans}}</a>
      </div>
      {{ form_row(form._token) }}
  </form>
</fieldset>
