<form action="{{path('mapbender_manager_repository_create', {'managertype': constant('Mapbender\\CoreBundle\\Entity\\Source::TYPE_WMS')|lower})}}" method="post" novalidate="novalidate" autocomplete="false">
  {# This only option to prevent browser auto fill inputs. Sad but true. More info: #4814 #}
  <input style="display:block; position:absolute; top:-1000px; left:-1000px" type="text" name="somefakename" />
  <input style="display:block; position:absolute; top:-1000px; left:-1000px" type="password" name="anotherfakename" />

  {{ form_widget(form.onlyvalid) }}<label for="{{form.onlyvalid.vars['id']}}" class="labelCheck">{{"mb.wms.wmsloader.repo.form.label.onlyvalid"|trans}}</label>
  <div class="clearContainer"></div>
  <label class="left labelInput" for="{{ form.originUrl.vars['id'] }}">{{"mb.wms.wmsloader.repo.form.label.serviceurl" | trans}}</label>
  {{ form_widget(form.originUrl) }}
  <div class="clearContainer"></div>
  <label class="left labelInput" for="{{ form.username.vars['id'] }}">{{"mb.wms.wmsloader.repo.form.label.username" | trans}}</label>
  {{ form_widget(form.username) }}
  <div class="clearContainer"></div>
  <label class="left labelInput" for="{{ form.password.vars['id'] }}">{{"mb.wms.wmsloader.repo.form.label.password" | trans}}</label>
  {{ form_widget(form.password) }}
  <div class="clearContainer"></div>
  <div class="right">
    <input class="button" type="submit" name="load" value="{{"mb.wms.wmsloader.repo.form.label.load"|trans}}" />
    <a href="{{path('mapbender_manager_repository_index')}}" class="button critical">{{"mb.wms.wmsloader.repo.form.label.cancel"|trans}}</a>
  </div>
  {{ form_row(form._token) }}
</form>
