{% if layer.parent == null %}
    {% set type = "root" %}
{% elseif layer.sublayer|length > 0 %}
    {% set type = "node" %}
{% else %}
    {% set type = "item" %}
{% endif %}

{% for form_layer in form_layers %}
    {% if form_layer.vars.value.id == layer.id %}
        <tr id="{{ type }}{{ layer.id }}" class="{% if layer.parent == null %}root {% else %} sublayer{% endif %}" data-id="{{ form_layer.vars.value.id }}" data-type="{{ type }}"
            data-href="{{url("mapbender_manager_repository_instancelayerweight", {"slug": slug, "instanceId": instance.id, "instLayerId": form_layer.vars.value.id})}}">

            {% if layer.parent != null %}
              <td class="iconLinkButton"></td>
              <td class="titleColumn" title="{{ "Layer's Title"|trans }}">{{ form_widget(form_layer.title) }}</td>
            {% else %}
              <td class="titleColumn" colspan="2" title="{{ "Layer's Title"|trans }}">{{ form_widget(form_layer.title) }}</td>
            {% endif %}

            <td class="minScaleColumn" title="{{ "MinScale"|trans }}">{{ form_widget(form_layer.minScale) }}</td>
            <td class="maxScaleColumn" title="{{ "MaxSclase"|trans }}">{{ form_widget(form_layer.maxScale) }}</td>

            <td class="checkboxColumn" data-check-identifier="checkActive" title="{{ "Active"|trans }}">{{ form_widget(form_layer.active) }}</td>
            <td class="checkboxColumn odd" data-check-identifier="checkSelectAllow" title="{{ "Allow Select at TOC"|trans }}">{{ form_widget(form_layer.allowselected) }}</td>
            <td class="checkboxColumn odd" data-check-identifier="checkSelectOn" title="{{ "Selected  at TOC"|trans }}">{{ form_widget(form_layer.selected) }}</td>
            <td class="checkboxColumn" data-check-identifier="checkInfoAllow" title="{{ "Allow FeatureInfo at TOC"|trans }}">{{ form_widget(form_layer.allowinfo) }}</td>
            <td class="checkboxColumn" data-check-identifier="checkInfoOn" title="{{ "FeatureInfo at TOC"|trans }}">{{ form_widget(form_layer.info) }}</td>
            <td class="checkboxColumn odd" data-check-identifier="checkToggleAllow" title="{{ "Allow Toggle at TOC"|trans }}">{{ form_widget(form_layer.allowtoggle) }}</td>
            <td class="checkboxColumn odd" data-check-identifier="checkToggleOn" title="{{ "Toggle at TOC"|trans }}">{{ form_widget(form_layer.toggle) }}</td>
            <td class="checkboxColumn" data-check-identifier="checkRecorderAllow" title="{{ "Allow Reorder at TOC"|trans }}">{{ form_widget(form_layer.allowreorder) }}</td>
            <td class="moreColumn">
              <span class="iconMore" title="{{'More informations'|trans}}">
                <div class="infoMsgBox hide">
                  <span class="labelText">{{ "Id"|trans }}</span><span class="smallText">{{instance.id}}</span><br>
                  <span class="labelText">{{ "Layer's Name"|trans }}</span><span class="smallText">{{ form_layer.vars.data.wmslayersource.name}}</span>
                  <br>
                  <span class="labelText">{{"Style"|trans}}</span>{{ form_widget(form_layer.style) }}
                </div>
              </span>
            </td>

            {% if layer.sublayer|length > 0 %}
                {% for sublayer in layer.sublayer %}
                    {% include "MapbenderWmsBundle:Repository:instance-layer-form.html.twig"  with {'form_layers': form_layers, 'layer': sublayer }%}
                {% endfor %}
            {% endif %}
        </tr>
    {% endif %}
{% endfor %}
