{% extends "FOMManagerBundle::manager.html.twig" %}

{% block title %}{{ 'mb.wms.wmsloader.repo.instance.title.wmsinstance' | trans }} ({{instance.source.id}}/{{ instance.id }}) - {{ instance.source.title }}{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{{ asset('components/jquery-ui/themes/base/jquery-ui.min.css') }}" type="text/javascript" />
  {{parent()}}
{% endblock %}

{% block js %}
  <script type="text/javascript" src="{{ asset('components/joii/dist/joii.min.js') }}"></script>
  <script type="text/javascript" src="{{ asset('bundles/mapbenderwms/mapbender.wms.dimension.js') }}"></script>
  {{parent()}}
  <script type="text/javascript" src="{{ asset('bundles/mapbendermanager/js/repository.js') }}"></script>
  <script type="text/javascript" src="{{ asset('bundles/mapbenderwms/backend/instance-dimension.js') }}"></script>
{% endblock %}

{% block manager_content %}
<div class="instanceContainer">
  <form action="{{path('mapbender_wms_repository_instance',{"slug": slug,"instanceId": instance.id})}}" method="post" novalidate="novalidate" class="clear">

    <div class="right">
      <input class="button" type="submit" name="save" value="{{"mb.wms.wmsloader.repo.instance.btn.save"|trans}}" />
      <a href="{{ path('mapbender_manager_application_edit', {'slug': app.request.attributes.get('slug')}) }}" class="button critical">{{"mb.wms.wmsloader.repo.instance.btn.cancel"|trans}}</a>
    </div>

    <span class="labelInput">{{ 'mb.wms.wmsloader.repo.instance.label.originurl' | trans }}</span>
    <a class="linkButton" href="{{ instance.source.originUrl }}" target="_BLANK" title='{{ instance.source.originUrl }}'>{{ instance.source.originUrl | slice(0, 35) }}...</a>
    <div class="clear"></div>

    <div class="metaData">
      <div class="left leftContainer textFieldGroup">
        {{ form_label(form.title) }}{{ form_widget(form.title) }}
        {{ form_label(form.format) }}{{ form_widget(form.format) }}
        {{ form_label(form.infoformat) }}{{ form_widget(form.infoformat) }}
        {{ form_label(form.exceptionformat) }}{{ form_widget(form.exceptionformat) }}
        {{ form_label(form.opacity) }}{{ form_widget(form.opacity) }}
        <label class='labelInput' for="{{form.buffer.vars.id}}">{{"mb.wms.wmsloader.repo.instance.label.buffer"|trans}}</label>
        {{ form_widget(form.buffer) }}
        <label class='labelInput' for="{{form.ratio.vars.id}}">{{"mb.wms.wmsloader.repo.instance.label.ratio"|trans}}</label>
        {{ form_widget(form.ratio) }}
      </div>
      <div class="rightContainer"> <!-- class="left rightContainer" -->
        <div class="extendedGroup">
            {% if form.dimensions is not null and form.dimensions | length > 0 %}
              <div class="blockgroup">
                <!-- todo: the header should be part of the "dimensions" input widget -->
                <div id="dimension" class="on-off on-off-title">{{ 'mb.wms.repo.instance.label.dimensions' | trans }}</div>
                <div id="dimension-content" class="on-off-content hidden">
                    {% for dim in form.dimensions %}
                        {% include "MapbenderWmsBundle:Repository:dimension-form.html.twig"  with {'dim': dim, 'num': loop.index }%}
                    {% endfor %}
                </div>
              </div>
            {% endif %}
          <div class="blockgroup">
            <!-- todo: the header should be part of the "vendorspecifics" input widget -->
            <div id="vendorspecific" class="on-off on-off-title">{{ 'mb.wms.wmsloader.repo.instance.vendorspecific.label' | trans }}</div>
            <div id="vendorspecific-content" class="vendorspecific-content on-off-content hidden">
                {{ form_widget(form.vendorspecifics) }}
            </div>
          </div>
        </div>
        <div class="checkboxGroup">
        <div>
        {{ form_widget(form.visible) }}<label for="{{form.visible.vars.id}}" class="labelCheck">{{"mb.wms.wmsloader.repo.instance.label.visible"|trans}}</label>
        </div>
        <div>
        {{ form_widget(form.basesource) }}<label for="{{form.basesource.vars.id}}" class="labelCheck">{{"mb.wms.wmsloader.repo.instance.label.basesource"|trans}}</label>
        </div>
        <div>
        {{ form_widget(form.proxy) }}<label for="{{form.proxy.vars.id}}" class="labelCheck">{{"mb.wms.wmsloader.repo.instance.label.proxy"|trans}}</label>
        </div>
        <div>
        {{ form_widget(form.transparency) }}<label for="{{form.transparency.vars.id}}" class="labelCheck">{{"mb.wms.wmsloader.repo.instance.label.transparency"|trans}}</label>
        </div>
        <div>
        {{ form_widget(form.tiled) }}<label for="{{form.tiled.vars.id}}" class="labelCheck">{{"mb.wms.wmsloader.repo.instance.label.tiled"|trans}}</label>
        </div>
        {% if form.layerOrder is defined %}
        <div>
          {{ form_label(form.layerOrder, 'mb.wms.wmsloader.repo.instance.label.layerOrder', {}) }}{{ form_widget(form.layerOrder) }}
        </div>
        {% endif %}
      </div>
      <div class="clear"></div>
      </div>
    </div>
    {% set root = instance.source.getRootlayer() %}
    <table id="instanceTable" class="table instanceTable">
      <thead>
        <tr>
          <th></th>
          <th>{{"mb.wms.wmsloader.repo.instance.label.title"|trans}}</th>
          <th>{{"mb.wms.wmsloader.repo.instance.label.minsc"|trans}}</th>
          <th>{{"mb.wms.wmsloader.repo.instance.label.maxsc"|trans}}</th>
          <th class="checkboxColumn">{{"mb.wms.wmsloader.repo.instance.label.active"|trans}}</th>
          <th class="checkboxColumn odd" colspan="2">{{"mb.wms.wmsloader.repo.instance.label.select"|trans}}</th>
          <th class="checkboxColumn" colspan="2">{{"mb.wms.wmsloader.repo.instance.label.info"|trans}}</th>
          <th class="checkboxColumn odd" colspan="2">{{"mb.wms.wmsloader.repo.instance.label.toggle"|trans}}</th>
          <th class="checkboxColumn">{{"mb.wms.wmsloader.repo.instance.label.reorder"|trans}}</th>
          <th></th>
        </tr>
        <tr>
          <th colspan="5"></th>
          <th class="checkboxColumn smallText odd">{{"mb.wms.wmsloader.repo.instance.label.allow"|trans}}</th>
          <th class="checkboxColumn smallText odd">{{"mb.wms.wmsloader.repo.instance.label.on"|trans}}</th>
          <th class="checkboxColumn smallText">{{"mb.wms.wmsloader.repo.instance.label.allow"|trans}}</th>
          <th class="checkboxColumn smallText">{{"mb.wms.wmsloader.repo.instance.label.on"|trans}}</th>
          <th class="checkboxColumn smallText odd">{{"mb.wms.wmsloader.repo.instance.label.allow"|trans}}</th>
          <th class="checkboxColumn smallText odd">{{"mb.wms.wmsloader.repo.instance.label.on"|trans}}</th>
          <th class="checkboxColumn smallText">{{"mb.wms.wmsloader.repo.instance.label.allow"|trans}}</th>
          <th></th>
        </tr>
        <tr id="instanceTableCheckHead">
          <th colspan="4"></th>
          <th class="checkboxColumn"><span id="checkActive" class="iconCheckbox"></span></th>
          <th class="checkboxColumn odd"><span id="checkSelectAllow" class="iconCheckbox"></span></th>
          <th class="checkboxColumn odd"><span id="checkSelectOn" class="iconCheckbox"></span></th>
          <th class="checkboxColumn"><span id="checkInfoAllow" class="iconCheckbox"></span></th>
          <th class="checkboxColumn"><span id="checkInfoOn" class="iconCheckbox"></span></th>
          <th class="checkboxColumn odd"><span id="checkToggleAllow" class="iconCheckbox"></span></th>
          <th class="checkboxColumn odd"><span id="checkToggleOn" class="iconCheckbox"></span></th>
          <th class="checkboxColumn"><span id="checkRecorderAllow" class="iconCheckbox"></span></th>
          <th></th>
        </tr>
      </thead>
      <tbody id="instanceTableCheckBody">
        {% include "MapbenderWmsBundle:Repository:instance-layer-form.html.twig"  with {'form_layers': form.layers, 'layer': instance.getrootlayer, 'level': 0 }%}
        <tr class="dummy">
          <td colspan="20"></td>
        </tr>
      </tbody>
    </table>

    <div class="clearContainer"></div>

    <div class="right">
      <input class="button" type="submit" name="save" value="{{"mb.wms.wmsloader.repo.instance.label.save2"|trans}}" />
      <a href="{{ path('mapbender_manager_application_edit', {'slug': app.request.attributes.get('slug')}) }}" class="button critical">{{"mb.wms.wmsloader.repo.instance.label.cancel2"|trans}}</a>
    </div>

    <div class="clearContainer"></div>

    {{ form_row(form._token) }}
  </form>
</div>
{% endblock %}
