{% extends "FOMManagerBundle::manager.html.twig" %}

{% block title %}{{ 'Service Repository' | trans }}{% endblock %}

{% block manager_css %}
<link rel="stylesheet" href="{{ asset('bundles/mapbendermanager/style/style.css') }}" >
{% endblock %}

{% block manager_js %}
<script type="text/javascript" src="{{ asset('bundles/fomuser/js/acl-form.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/mopabootstrap/js/mopabootstrap-collection.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/mapbendermanager/js/edit.js') }}"></script>
{% endblock %}

{% block manager_content %}
<div class="well">
<h3>{{ 'Wms Instance' | trans }}: {{ form.vars.value.title }}: {{ instance.source.id }}</h3>
<p><b>{{ 'origin URL' | trans }}:</b> {{ instance.source.originUrl }}</p>
{% set root = instance.source.getRootlayer() %}
{{ form_errors(form) }}
    <form action="{{path('mapbender_wms_repository_instance',{"slug": slug,"instanceId": instance.id})}}" method="post">
        <div class="sourcecontent">
            <table>
                <tr>
                    <td class="coltitle">{{ form_label(form.format) }}:</td>
                    <td class="colselect">{{ form_widget(form.format) }}</td>
                    <td class="coltitle">{{ form_label(form.visible) }}:</td>
                    <td class="colinputcheckbox">{{ form_widget(form.visible) }}</td>
                    <td class="coltitle">{{ form_label(form.baselayer) }}:</td>
                    <td class="colinputcheckbox">{{ form_widget(form.baselayer) }}</td>
                </tr>
                <tr>
                    <td class="coltitle">{{ form_label(form.infoformat) }}:</td>
                    <td class="colselect">{{ form_widget(form.infoformat) }}</td>
                    <td class="coltitle">{{ form_label(form.proxy) }}:</td>
                    <td class="colinputcheckbox">{{ form_widget(form.proxy) }}</td>
                    <td class="coltitle">&nbsp;</td>
                    <td class="colinputcheckbox">&nbsp;</td>
                </tr>
                <tr>
                    <td class="coltitle">{{ form_label(form.exceptionformat) }}:</td>
                    <td class="colselect">{{ form_widget(form.exceptionformat) }}</td>
                    <td class="coltitle">{{ form_label(form.transparency) }}:</td>
                    <td class="colinputcheckbox">{{ form_widget(form.transparency) }}</td>
                    <td class="coltitle">&nbsp;</td>
                    <td class="colinputcheckbox">&nbsp;</td>
                </tr>
                <tr>
                    <td class="coltitle">{{ form_label(form.opacity) }}:</td>
                    <td class="colselect">{{ form_widget(form.opacity) }}</td>
                    <td class="coltitle">{{ form_label(form.tiled) }}:</td>
                    <td class="colinputcheckbox">{{ form_widget(form.tiled) }}</td>
                    <td class="coltitle">&nbsp;</td>
                    <td class="colinputcheckbox">&nbsp;</td>
                </tr>
            </table>
        </div>
        <ul class="layercollection">
            <li class="header">
                <div class="caption">
                    <span class="tree"></span>
                    <span class="colnum">Id</span>
                    <span class="colname">Name</span>
                    <span class="coltitle">Title</span>
                    <span class="colminscale">minsc</span>
                    <span class="colmaxscale">maxsc</span>
                    <span class="colstyle">style</span>
                    <span class="colactive">active</span>
                    <span class="colselected">select</span>
                    <span class="colallowselected">allow<br/>select</span>
                    <span class="colinfo">info</span>
                    <span class="colallowinfo">allow<br/>info</span>
                    <span class="coltoggle">toggle</span>
                    <span class="colallowtoggle">allow<br/>toggle</span>
                    <span class="colallowreorder">allow<br/>reorder</span>
                </div>
                <div class="group">
                    <span class="tree"></span>
                    <span class="colnum"></span>
                    <span class="colname"></span>
                    <span class="coltitle"></span>
                    <span class="colminscale"></span>
                    <span class="colmaxscale"></span>
                    <span class="colstyle"></span>
                    <span class="colactive"><button class="groupon" >on</button> <button class="groupoff" >off</button></span>
                    <span class="colselected"><button class="groupon" >on</button> <button class="groupoff" >off</button></span>
                    <span class="colallowselected"><button class="groupon" >on</button> <button class="groupoff" >off</button></span>
                    <span class="colinfo"><button class="groupon" >on</button> <button class="groupoff" >off</button></span>
                    <span class="colallowinfo"><button class="groupon" >on</button> <button class="groupoff" >off</button></span>
                    <span class="coltoggle"><button class="groupon" >on</button> <button class="groupoff" >off</button></span>
                    <span class="colallowtoggle"><button class="groupon" >on</button> <button class="groupoff" >off</button></span>
                    <span class="colallowreorder"><button class="groupon" >on</button> <button class="groupoff" >off</button></span>
                </div>
            </li>
            {% include "MapbenderWmsBundle:Repository:instance-layer-form.html.twig"  with {'form_layers': form.layers, 'layer': instance.getrootlayer }%}
            {{form_rest(form)}}
        </ul>
        <input type="submit" name="save" value="{{"Save"|trans}}" />
        
    </form>
</div>
{% endblock %}
