{% extends "FOMManagerBundle::manager.html.twig" %}

{% block title %}{{ 'Wms Instance' | trans }} - {{ form.vars.value.title }}{% endblock %}

{% block manager_js %}
<script type="text/javascript" src="{{ asset('bundles/fomuser/js/acl-form.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/mapbendermanager/js/application-edit.js') }}"></script>
{% endblock %}

{% block manager_content %}
<div class="instanceContainer">
  <span class="labelInput">{{ 'Origin URL' | trans }}</span>
  <a class="linkButton" href="{{ instance.source.originUrl }}" target="_BLANK">{{ instance.source.originUrl }}</a>
  <div class="clear"></div>


  <div class="left leftContainer">
    {{ form_label(form.format) }}{{ form_widget(form.format) }}
    <div class="clear"></div>
    {{ form_label(form.infoformat) }}{{ form_widget(form.infoformat) }}
    <div class="clear"></div>
    {{ form_label(form.exceptionformat) }}{{ form_widget(form.exceptionformat) }}
    <div class="clear"></div>
    {{ form_label(form.opacity) }}{{ form_widget(form.opacity) }}
    <div class="clear"></div>
  </div>

  <div class="left rightContainer">
    {{ form_widget(form.visible) }}<label for="{{form.visible.vars.id}}" class="labelCheck">{{"Visible"|trans}}</label>
    <div class="clear"></div>
    {{ form_widget(form.proxy) }}<label for="{{form.proxy.vars.id}}" class="labelCheck">{{"Proxy"|trans}}</label>
    <div class="clear"></div>
    {{ form_widget(form.transparency) }}<label for="{{form.transparency.vars.id}}" class="labelCheck">{{"Transparency"|trans}}</label>
    <div class="clear"></div>
    {{ form_widget(form.tiled) }}<label for="{{form.tiled.vars.id}}" class="labelCheck">{{"Tiled"|trans}}</label>
    <div class="clear"></div>
  </div>

{% set root = instance.source.getRootlayer() %}
    <form action="{{path('mapbender_wms_repository_instance',{"slug": slug,"instanceId": instance.id})}}" method="post" novalidate="novalidate" class="clear">
        <ul class="layercollection">
            <li class="header">
                <div class="caption">
                    <span class="tree"></span>
                    <span class="colnum">Id</span>
                    <span class="colname">Name</span>
                    <span class="coltitle">Title</span>
                    <span class="colminscale">minsc</span>
                    <span class="colmaxscale">maxsc</span>
                    <span class="colstyle">style</span>
                    <span class="colactive">active</span>
                    <span class="colselected">select</span>
                    <span class="colallowselected">allow<br/>select</span>
                    <span class="colinfo">info</span>
                    <span class="colallowinfo">allow<br/>info</span>
                    <span class="coltoggle">toggle</span>
                    <span class="colallowtoggle">allow<br/>toggle</span>
                    <span class="colallowreorder">allow<br/>reorder</span>
                </div>
                <div class="group">
                    <span class="tree"></span>
                    <span class="colnum"></span>
                    <span class="colname"></span>
                    <span class="coltitle"></span>
                    <span class="colminscale"></span>
                    <span class="colmaxscale"></span>
                    <span class="colstyle"></span>
                    <span class="colactive"><button class="groupon" >on</button> <button class="groupoff" >off</button></span>
                    <span class="colselected"><button class="groupon" >on</button> <button class="groupoff" >off</button></span>
                    <span class="colallowselected"><button class="groupon" >on</button> <button class="groupoff" >off</button></span>
                    <span class="colinfo"><button class="groupon" >on</button> <button class="groupoff" >off</button></span>
                    <span class="colallowinfo"><button class="groupon" >on</button> <button class="groupoff" >off</button></span>
                    <span class="coltoggle"><button class="groupon" >on</button> <button class="groupoff" >off</button></span>
                    <span class="colallowtoggle"><button class="groupon" >on</button> <button class="groupoff" >off</button></span>
                    <span class="colallowreorder"><button class="groupon" >on</button> <button class="groupoff" >off</button></span>
                </div>
            </li>
            {% include "MapbenderWmsBundle:Repository:instance-layer-form.html.twig"  with {'form_layers': form.layers, 'layer': instance.getrootlayer }%}
            {{form_rest(form)}}
        </ul>
        <div class="right">
          <input class="button" type="submit" name="save" value="{{"Save"|trans}}" />
          <a href="#" class="button critical">{{"Cancel"|trans}}</a>
        </div>
        
    </form>
  </div>
  {% endblock %}
