{% extends "FOMManagerBundle::manager.html.twig" %}

{% block title %}{{ 'Wms Instance' | trans }} - {{ form.vars.value.title }}{% endblock %}

{% block js %}
  {{parent()}}
  <script type="text/javascript" src="{{ asset('bundles/mapbendermanager/js/repository.js') }}"></script>
{% endblock %}

{% block manager_content %}
<div class="instanceContainer">
  <div class="right">
    <input class="button" type="submit" name="save" value="{{"Save"|trans}}" />
    <a href="#" class="button critical">{{"Cancel"|trans}}</a>
  </div>

  <span class="labelInput">{{ 'Origin URL' | trans }}</span>
  <a class="linkButton" href="{{ instance.source.originUrl }}" target="_BLANK">{{ instance.source.originUrl }}</a>
  <div class="clear"></div>

  <div class="metaData">
    <div class="left leftContainer">
      {{ form_label(form.format) }}{{ form_widget(form.format) }}
      <div class="clear"></div>
      {{ form_label(form.infoformat) }}{{ form_widget(form.infoformat) }}
      <div class="clear"></div>
      {{ form_label(form.exceptionformat) }}{{ form_widget(form.exceptionformat) }}
      <div class="clear"></div>
      {{ form_label(form.opacity) }}{{ form_widget(form.opacity) }}
      <div class="clear"></div>
    </div>

    <div class="left rightContainer">
      {{ form_widget(form.visible) }}<label for="{{form.visible.vars.id}}" class="labelCheck">{{"Visible"|trans}}</label>
      <div class="clear"></div>
      {{ form_widget(form.proxy) }}<label for="{{form.proxy.vars.id}}" class="labelCheck">{{"Proxy"|trans}}</label>
      <div class="clear"></div>
      {{ form_widget(form.transparency) }}<label for="{{form.transparency.vars.id}}" class="labelCheck">{{"Transparency"|trans}}</label>
      <div class="clear"></div>
      {{ form_widget(form.tiled) }}<label for="{{form.tiled.vars.id}}" class="labelCheck">{{"Tiled"|trans}}</label>
      <div class="clear"></div>
    </div>
  </div>


  {% set root = instance.source.getRootlayer() %}
  <form action="{{path('mapbender_wms_repository_instance',{"slug": slug,"instanceId": instance.id})}}" method="post" novalidate="novalidate" class="clear">
    <table id="instanceTable" class="table instanceTable">
      <thead>
        <tr>
          <th></th>
          {#<th class="smallText">{{"Id"|trans}}</th>
          <th class="smallText">{{"Name"|trans}}</th>#}
          <th>{{"Title"|trans}}</th>
          <th>{{"Minsc"|trans}}</th>
          <th>{{"Maxsc"|trans}}</th>
          {#<th class="smallText">{{"Style"|trans}}</th>#}
          <th class="checkboxColumn">{{"Active"|trans}}</th>
          <th class="checkboxColumn odd" colspan="2">{{"Select"|trans}}</th>
          <th class="checkboxColumn" colspan="2">{{"Info"|trans}}</th>
          <th class="checkboxColumn odd" colspan="2">{{"Toggle"|trans}}</th>
          <th class="checkboxColumn">{{"Reorder"|trans}}</th>
          <th></th>
        </tr>
        <tr>
          <th colspan="5"></th>

          <th class="checkboxColumn smallText odd">{{"on"|trans}}</th>
          <th class="checkboxColumn smallText odd">{{"allow"|trans}}</th>
          <th class="checkboxColumn smallText">{{"on"|trans}}</th>
          <th class="checkboxColumn smallText">{{"allow"|trans}}</th>
          <th class="checkboxColumn smallText odd">{{"on"|trans}}</th>
          <th class="checkboxColumn smallText odd">{{"allow"|trans}}</th>
          <th class="checkboxColumn smallText">{{"allow"|trans}}</th>
          <th></th>
        </tr>
        <tr>
          <th colspan="4"></th>

          <th class="checkboxColumn"><span class="iconCheckbox"></span></th>
          <th class="checkboxColumn odd"><span class="iconCheckbox"></span></th>
          <th class="checkboxColumn odd"><span class="iconCheckbox"></span></th>
          <th class="checkboxColumn"><span class="iconCheckbox"></span></th>
          <th class="checkboxColumn"><span class="iconCheckbox"></span></th>
          <th class="checkboxColumn odd"><span class="iconCheckbox"></span></th>
          <th class="checkboxColumn odd"><span class="iconCheckbox"></span></th>
          <th class="checkboxColumn"><span class="iconCheckbox"></span></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% include "MapbenderWmsBundle:Repository:instance-layer-form.html.twig"  with {'form_layers': form.layers, 'layer': instance.getrootlayer }%}
        <tr class="dummy">
          <td colspan="20"></td>
        </tr>
      </tbody>
    </table>

    <div class="clearContainer"></div>

    <div class="right">
      <input class="button" type="submit" name="save" value="{{"Save"|trans}}" />
      <a href="#" class="button critical">{{"Cancel"|trans}}</a>
    </div>

    <div class="clearContainer"></div>

    {{ form_row(form._token) }}        
  </form>
</div>
{% endblock %}
