{% macro requestinformation(requestinformation, title) %}
  <div class="labelText">{{ title }}:</div>
  <ul class="list">
    <li>
      <span class="labelText">GET:</span>
      <span class="metaText">{{ requestinformation.httpGet }}</span>
    </li>
    <li>
      <span class="labelText">POST:</span>
      <span class="metaText">{{ requestinformation.httpPost }}</span>
    </li>
    {% if requestinformation.formats %}
    <li>
      <span class="labelText">{{ "mb.wms.wmsloader.repo.macros.label.formats" | trans }}:</span>
      {% for format in requestinformation.formats %}
        <div class="metaText">{{ format }}</div>
      {% endfor %}
    </li>
    {% endif %}
    <li class="clearContainer"></li>
  </ul>
{% endmacro %}
