{% macro requestinformation(requestinformation, title) %}
  <div class="labelAlt">{{ title }} GET:</div>
  <div class="metaText">{{ requestinformation.httpGet }}</div>
  <div class="clearContainer"></div>

  <div class="labelAlt">{{ title }} POST:</div>
  <div class="metaText">{{ requestinformation.httpPost }}</div>
  <div class="clearContainer"></div>

  <div class="labelAlt">{{title}} {{ "Formats" | trans }}:</div>
  {% for format in requestinformation.formats %}
    <div class="metaText metaFormats">{{ format }}</div>
  {% endfor %}
  <div class="clearContainer"></div>
{% endmacro %}
