{{ form_start(form, {
    'action': path('mapbender_manager_repository_update', {'sourceId': form.vars.data.id}),
    'method': 'POST',
    'attr': {
        novalidate: 'novalidate'
    }
}) }}
    <fieldset class="box">
      <legend>{{ sourceTypeLabel }}</legend>
        {{ form_row(form.originUrl) }}
        {{ form_row(form.username) }}
        {{ form_row(form.password) }}
          <div class="button-group">
            <input class="button" type="submit" name="load" value="{{"mb.manager.source.load"|trans}}" />
            <a href="{{path('mapbender_manager_repository_index')}}" class="button critical">{{"mb.manager.source.cancel"|trans}}</a>
          </div>
      </fieldset>
    {{ form_row(form._token) }}
{{ form_end(form, {'render_rest': false}) }}
