<div id="vendorspecific{{ num }}" class="on-off on-off-title">
    <div class="left">{%if venspec.vars.data.name != ''%}{{ venspec.vars.data.name }}{% else %}undefined{% endif %}</div><div class="left">
        {{ form_widget(venspec.active) }}<label for="{{venspec.active.vars.id}}" class="labelCheck" title="Active">active</label>
    </div>
    <div class="clear"></div>
</div>
<div id="vendorspecific{{ num }}-content" class="on-off-content hidden" data-json="{{ venspec.json.vars.data }}">
    <div>
        {{ form_widget(venspec.multipleValues) }}<label for="{{venspec.multipleValues.vars.id}}" class="labelCheck" title="multipleValues">multiple</label>
    </div>
    <div>
        {{ form_widget(venspec.nearestValue) }}<label for="{{venspec.nearestValue.vars.id}}" class="labelCheck" title="nearestValue">nearest</label>
    </div>
    <div>
        {{ form_widget(venspec.current) }}<label for="{{venspec.current.vars.id}}" class="labelCheck" title="current">current</label>
    </div>
    {{ form_label(venspec.name) }}{{ form_widget(venspec.name) }}
    {{ form_label(venspec.units) }}{{ form_widget(venspec.units) }}
    {{ form_label(venspec.unitSymbol) }}{{ form_widget(venspec.unitSymbol) }}
    {% if venspec.default is defined %}
        {{ form_label(venspec.default) }}{{ form_widget(venspec.default) }}
    {% endif %}
    <label for="{{venspec.extentEdit.vars.id}}" class="labelInput" title="Extent">Extent</label>{{ form_widget(venspec.extentEdit) }}
    <div class="vendorspecific-type">{{ form_widget(venspec.type) }}</div>
    <div class="vendorspecific-origextent">{{ form_widget(venspec.origextent) }}</div>
    <div class="vendorspecific-exent">{{ form_widget(venspec.extent) }}</div>
    <div id="vendorspecific{{ num }}-extent" class="mb-slider"></div>
</div>
