{% extends "MapbenderManagerBundle::manager.html.twig" %}
{% from "MapbenderWmsBundle:Repository:macros.html.twig" import requestinformation  %}

{% block title %}{{ wms.type }} {{ wms.title }}{% endblock %}

{% block css %}
  {{parent()}}
{% endblock %}

{% block manager_content %}

<a class="button right" title="{{"mb.wms.wmsloader.repo.view.label.backtoservicelist" | trans}}" href="{{ path('mapbender_manager_repository_index') }}">Back</a>

<div id="serviceTabContainer" class="tabContainer">
  <ul class="tabs">
    <li id="tabMetaData" class="tab active">{{"mb.wms.wmsloader.repo.view.label.metadata" | trans }}</li>
    <li id="tabContact" class="tab">{{"mb.wms.wmsloader.repo.view.label.contact" | trans }}</li>
    <li id="tabService" class="tab">{{"mb.wms.wmsloader.repo.view.label.details" | trans }}</li>
    <li id="tabLayers" class="tab">{{"mb.wms.wmsloader.repo.view.label.layers" | trans }}</li>
  </ul>
  <div id="containerMetaData" class="container active serviceContainer serviceMetaContainer">
    <div class="labelText">{{ "mb.wms.wmsloader.repo.view.label.title" | trans }}:</div><div class="metaText">{{ wms.title }}</div>
    <div class="clearContainer"></div>
    <div class="labelText">{{ "mb.wms.wmsloader.repo.view.label.name" | trans }}:</div><div class="metaText">{{ wms.name }}</div>
    <div class="clearContainer"></div>
    <div class="labelText">{{ "mb.wms.wmsloader.repo.view.label.version" | trans }}:</div><div class="metaText">{{ wms.version }}</div>
    <div class="clearContainer"></div>
    <div class="labelText">{{ "mb.wms.wmsloader.repo.view.label.originurl" | trans }}:</div><div class="metaText metaUrl">{{ wms.originUrl }}</div>
    <div class="clearContainer"></div>
    <div class="labelText">{{ "mb.wms.wmsloader.repo.view.label.abstract" | trans }}:</div><div class="metaText">{{ wms.description }}</div>
    <div class="clearContainer"></div>
    <div class="labelText">{{ "mb.wms.wmsloader.repo.view.label.onlineresource" | trans }}:</div><div class="metaText">{{ wms.onlineResource }}</div>
    <div class="clearContainer"></div>
    <div class="labelText">{{ "mb.wms.wmsloader.repo.view.label.exceptionformats" | trans }}:</div>
    <div class="metaText">
      {% for exc in wms.exceptionFormats %}
        {% if not loop.first %},{% endif %}
        {{ exc }}
      {% endfor %}
    </div>
    <div class="clearContainer"></div>
    <div class="labelText">{{ "mb.wms.wmsloader.repo.view.label.fees" | trans }}:</div><div class="metaText">{{ wms.fees }}</div>
    <div class="clearContainer"></div>
    <div class="labelText">{{ "mb.wms.wmsloader.repo.view.label.accessconstraints" | trans }}:</div><div class="metaText">{{ wms.accessConstraints }}</div>
    <div class="clearContainer"></div>
  </div>
  <div id="containerContact" class="container serviceContainer serviceContactContainer">
    <div class="labelText">{{ "mb.wms.wmsloader.repo.view.label.person" | trans }}:</div>
    <div class="metaText">{{  wms.contact ? wms.contact.person : '' }}</div>
    <div class="clearContainer"></div>

    <div class="labelText">{{ "mb.wms.wmsloader.repo.view.label.organization" | trans }}:</div>
    <div class="metaText">{{ wms.contact ? wms.contact.organization : '' }}</div>
    <div class="clearContainer"></div>

    <div class="labelText">{{ "mb.wms.wmsloader.repo.view.label.position" | trans }}:</div>
    <div class="metaText">{{ wms.contact ? wms.contact.position : '' }}</div>
    <div class="clearContainer"></div>

    <div class="labelText">{{ "mb.wms.wmsloader.repo.view.label.telephone" | trans }}:</div>
    <div class="metaText">{{ wms.contact ? wms.contact.voiceTelephone : '' }}</div>
    <div class="clearContainer"></div>

    <div class="labelText">{{ "mb.wms.wmsloader.repo.view.label.facsimile" | trans }}:</div>
    <div class="metaText">{{ wms.contact ? wms.contact.facsimileTelephone : '' }}</div>
    <div class="clearContainer"></div>

    <div class="labelText">{{ "mb.wms.wmsloader.repo.view.label.email" | trans }}:</div>
    <div class="metaText">{{ wms.contact ? wms.contact.electronicMailAddress : '' }}</div>
    <div class="clearContainer"></div>

    <div class="labelText">{{ "mb.wms.wmsloader.repo.view.label.address" | trans }}:</div>
    <div class="metaText">{{ wms.contact ? wms.contact.address : '' }}</div>
    <div class="clearContainer"></div>

    <div class="labelText">{{ "mb.wms.wmsloader.repo.view.label.addresstype" | trans }}:</div>
    <div class="metaText">{{ wms.contact ? wms.contact.addressType : '' }}</div>
    <div class="clearContainer"></div>

    <div class="labelText">{{ "mb.wms.wmsloader.repo.view.label.city" | trans }}:</div>
    <div class="metaText">{{ wms.contact ? wms.contact.addressCity : '' }}</div>
    <div class="clearContainer"></div>

    <div class="labelText">{{ "mb.wms.wmsloader.repo.view.label.state" | trans }}:</div>
    <div class="metaText">{{ wms.contact ? wms.contact.addressStateOrProvince : '' }}</div>
    <div class="clearContainer"></div>

    <div class="labelText">{{ "mb.wms.wmsloader.repo.view.label.postcode" | trans }}:</div>
    <div class="metaText">{{ wms.contact ? wms.contact.addressPostcode : '' }}</div>
    <div class="clearContainer"></div>

    <div class="labelText">{{ "mb.wms.wmsloader.repo.view.label.country" | trans }}:</div>
    <div class="metaText">{{ wms.contact ? wms.contact.addressCountry : '' }}</div>
    <div class="clearContainer"></div>
  </div>
  <div id="containerService" class="container serviceContainer serviceServiceContainer">
    <div class="labelText">{{ "mb.wms.wmsloader.repo.view.label.version" | trans }}:</div>
    <div class="metaText">{{ wms.version }}</div>
    <div class="clearContainer"></div>

    {% if wms.getCapabilities is not empty %}
    {{ requestinformation(wms.getCapabilities, "GetCapabilities") }}
    {% endif %}

    {% if wms.getMap is not empty %}
    {{ requestinformation(wms.getMap, "GetMap") }}
    {% endif %}

    {% if wms.getFeatureinfo is not empty %}
    {{ requestinformation(wms.getFeatureinfo, "GetFeatureinfo") }}
    {% endif %}

    {% if wms.getLegendGraphic is not empty %}
    {{ requestinformation(wms.getLegendGraphic, "GetLegendGraphic") }}
    {% endif %}

    {% if wms.describeLayer is not empty %}
    {{ requestinformation(wms.describeLayer, "DescribeLayer") }}
    {% endif %}

    {% if wms.getStyles is not empty %}
    {{ requestinformation(wms.getStyles, "GetStyles") }}
    {% endif %}

    {% if wms.putStyles is not empty %}
    {{ requestinformation(wms.putStyles, "PutStyles") }}
    {% endif %}
  </div>
  <div id="containerLayers" class="container serviceContainer serviceLayersContainer">
    {% if wms.version == '1.1.1' %}
        <div class="messageBox hint">{{ 'mb.wms.wmsloader.repo.view.message.cautionscalehint'|trans }}</div>
    {% endif %}
      {% include "MapbenderWmsBundle:Repository:layer.html.twig"  with {'layer': wms.rootlayer, 'itemLevel': 1 }%}
  </div>
</div>
<div class="clearContainer"></div>

{% endblock %}
