{% extends "FOMManagerBundle::manager.html.twig" %}
{% from "MapbenderWmsBundle:Repository:macros.html.twig" import requestinformation  %}

{% block title %}{{ 'WMS' | trans }} {{ wms.title }}{% endblock %}

{% block manager_js %}
    <script type="text/javascript" src="{{ asset('bundles/mapbenderwms/repository/repository.js') }}"></script>
{% endblock %}

{% block manager_content %}

<a class="deleteIcon right" title="{{"Delete this service" | trans}}" href="{{ url("mapbender_manager_repository_delete",{"source":wms.id ,"return":"view"} ) }}"></a>

<div id="serviceTabContainer" class="tabContainer">
  <ul class="tabs">
    <li id="tabMetaData" class="tab active">{{"Metadata" | trans }}</li>
    <li id="tabContact" class="tab">{{"Contact" | trans }}</li>
    <li id="tabService" class="tab">{{"Details" | trans }}</li>
    <li id="tabLayers" class="tab">{{"Layers" | trans }}</li>
  </ul>
  <div id="containerMetaData" class="container active serviceContainer serviceMetaContainer">
    <div class="labelText">{{ "Title" | trans }}:</div><div class="metaText">{{ wms.title }}</div>
    <div class="clearContainer"></div>
    <div class="labelText">{{ "Name" | trans }}:</div><div class="metaText">{{ wms.name }}</div>
    <div class="clearContainer"></div>
    <div class="labelText">{{ "Version" | trans }}:</div><div class="metaText">{{ wms.version }}</div>
    <div class="clearContainer"></div>
    <div class="labelText">{{ "Origin URL" | trans }}:</div><div class="metaText metaUrl">{{ wms.originUrl }}</div>
    <div class="clearContainer"></div>
    <div class="labelText">{{ "Abstract" | trans }}:</div><div class="metaText">{{ wms.description }}</div>
    <div class="clearContainer"></div>
    <div class="labelText">{{ "Online Resource" | trans }}:</div><div class="metaText">{{ wms.onlineResource }}</div>
    <div class="clearContainer"></div>
    <div class="labelText">{{ "Exception Formats" | trans }}:</div>
    <div class="metaText">
      {% for exc in wms.exceptionFormats %}
        {% if not loop.first %},{% endif %}
        {{ exc }}
      {% endfor %}
    </div>
    <div class="clearContainer"></div>
    <div class="labelText">{{ "Fees" | trans }}:</div><div class="metaText">{{ wms.fees }}</div>
    <div class="clearContainer"></div>
    <div class="labelText">{{ "Access constraints" | trans }}:</div><div class="metaText">{{ wms.accessConstraints }}</div>
    <div class="clearContainer"></div>
  </div>
  <div id="containerContact" class="container serviceContainer serviceContactContainer">
    <div class="labelText">{{ "Person" | trans }}:</div>
    <div class="metaText">{{ wms.contact.person }}</div>
    <div class="clearContainer"></div>

    <div class="labelText">{{ "Organization" | trans }}:</div>
    <div class="metaText">{{ wms.contact.organization }}</div>
    <div class="clearContainer"></div>

    <div class="labelText">{{ "Position" | trans }}:</div>
    <div class="metaText">{{ wms.contact.position }}</div>
    <div class="clearContainer"></div>

    <div class="labelText">{{ "Telephone" | trans }}:</div>
    <div class="metaText">{{ wms.contact.voiceTelephone }}</div>
    <div class="clearContainer"></div>

    <div class="labelText">{{ "Facsimile" | trans }}:</div>
    <div class="metaText">{{ wms.contact.facsimileTelephone }}</div>
    <div class="clearContainer"></div>

    <div class="labelText">{{ "Email" | trans }}:</div>
    <div class="metaText">{{ wms.contact.electronicMailAddress }}</div>
    <div class="clearContainer"></div>

    <div class="labelText">{{ "Address" | trans }}:</div>
    <div class="metaText">{{ wms.contact.address }}</div>
    <div class="clearContainer"></div>

    <div class="labelText">{{ "Addresstype" | trans }}:</div>
    <div class="metaText">{{ wms.contact.addressType }}</div>
    <div class="clearContainer"></div>

    <div class="labelText">{{ "City" | trans }}:</div>
    <div class="metaText">{{ wms.contact.addressCity }}</div>
    <div class="clearContainer"></div>

    <div class="labelText">{{ "State" | trans }}:</div>
    <div class="metaText">{{ wms.contact.addressStateOrProvince }}</div>
    <div class="clearContainer"></div>

    <div class="labelText">{{ "Postcode" | trans }}:</div>
    <div class="metaText">{{ wms.contact.addressPostcode }}</div>
    <div class="clearContainer"></div>

    <div class="labelText">{{ "Country" | trans }}:</div>
    <div class="metaText">{{ wms.contact.addressCountry }}</div>
    <div class="clearContainer"></div>
  </div>
  <div id="containerService" class="container serviceContainer serviceServiceContainer">
    <div class="labelText">{{ "Version" | trans }}:</div>
    <div class="metaText">{{ wms.version }}</div>
    <div class="clearContainer"></div>

    {% if wms.getCapabilities is not empty %}
    {{ requestinformation(wms.getCapabilities, "GetCapabilities") }}
    {% endif %}

    {% if wms.getMap is not empty %}
    {{ requestinformation(wms.getMap, "GetMap") }}
    {% endif %}

    {% if wms.getFeatureinfo is not empty %}
    {{ requestinformation(wms.getFeatureinfo, "GetFeatureinfo") }}
    {% endif %}

    {% if wms.getLegendGraphic is not empty %}
    {{ requestinformation(wms.getLegendGraphic, "GetLegendGraphic") }}
    {% endif %}

    {% if wms.describeLayer is not empty %}
    {{ requestinformation(wms.describeLayer, "DescribeLayer") }}
    {% endif %}

    {% if wms.getStyles is not empty %}
    {{ requestinformation(wms.getStyles, "GetStyles") }}
    {% endif %}

    {% if wms.putStyles is not empty %}
    {{ requestinformation(wms.putStyles, "PutStyles") }}
    {% endif %}
  </div>
  <div id="containerLayers" class="container serviceContainer serviceLayersContainer">
    {% include "MapbenderWmsBundle:Repository:layer.html.twig"  with {'layer': wms.rootlayer, 'itemLevel': 1 }%}
  </div>
</div>
<div class="clearContainer"></div>

{% endblock %}
