<table class="table">
  <thead>
    <tr>
      <th>{{ "fom.user.acl.index.name" | trans }}</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {% for class, name in classes%}
      <tr>
        <td>
          <a href="{{ path('fom_user_acl_edit', {'class': class}) }}" title="{{ 'fom.user.acl.index.edit' | trans }}">{{ name | trans }}</a>
        </td>
        <td class="iconColumn">
          <a class="hover-highlight-effect" href="{{ path('fom_user_acl_edit', {'class': class}) }}" title="{{ 'fom.user.acl.index.edit' | trans }}"><i class="fa fas fa-cog"></i></a>
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>
