{% extends "MapbenderManagerBundle::layouts/filtered_list.html.twig" %}
{%- set list_id = 'listFilterGroups' -%}
{% block js %}
  {{parent()}}
  <script type="application/javascript" src="{{ asset('bundles/mapbendermanager/js/user-control.js') }}"></script>
{% endblock %}

{% block list_actions %}
  {% if create_permission %}
    <a class="hover-highlight-effect" href="{{path('fom_user_group_create')}}" title="{{"fom.user.group.index.add_new_group"|trans}}">
      <i class="fa fas fa-lg fa-plus"></i>
      <span>{{ 'fom.user.group.index.add_new_group' | trans }}</span>
    </a>
  {% endif %}
{% endblock %}

{% block manager_content %}
  {%- set items = groups -%}
  {{- parent() -}}
{% if groups %}
  <table id="listFilterGroups" class="table container-table">
    <thead>
      <tr class="doNotFilter">
        <th>{{ "fom.user.group.index.title" | trans }}</th>
        <th>{{ "fom.user.group.index.description" | trans }}</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for group in groups %}
      <tr class="filterItem">
        <td>
          <a class="labelText" href="{{ path('fom_user_group_edit', {'id': group.id}) }}" title="{{ 'fom.user.group.index.edit_group' | trans }} {{ group.title }}">{{ group.title }}</a>
        </td>
        <td>{{ group.description }}</td>
        <td class="iconColumn">
            {% if is_granted('EDIT', group) %}
            <a class="iconEdit iconBig list-icon-position" href="{{ path('fom_user_group_edit',  {'id': group.id }) }}" title="{{ 'fom.user.group.index.edit_group' | trans }} {{ group.title }}"></a>
            {% endif %}
            {% if is_granted('DELETE', group) %}
            <span class="iconRemove iconBig list-icon-position"
              title="{{"fom.user.group.index.delete_group"|trans}} {{ group.title }}"
              data-url="{{ path('fom_user_group_delete', { 'id': group.id}) }}"
              data-id="{{ group.id }}"
            ></span>
            {% endif %}
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% else %}
  <div class="clearContainer"></div>
  <p class="description">{{"fom.user.group.index.no_groups_available"|trans}}</p>
{% endif %}
{% endblock %}
