{% if groups %}
  <table class="table">
    <thead>
      <tr>
        <th>{{ "fom.user.group.index.title" | trans }}</th>
        <th>{{ "fom.user.group.index.description" | trans }}</th>
        <th></th>
      </tr>
    </thead>
    <tbody id="listFilterGroups">
      {% for group in groups %}
      <tr class="filterItem">
        <td>
          <a href="{{ path('fom_user_group_edit', {'id': group.id}) }}" title="{{ 'fom.user.group.index.edit_group' | trans }} {{ group.title }}">{{ group.title }}</a>
        </td>
        <td>{{ group.description }}</td>
        <td class="iconColumn">
            {% if is_granted('EDIT', group) %}
              <a class="hover-highlight-effect"  href="{{ path('fom_user_group_edit',  {'id': group.id }) }}" title="{{ 'fom.user.group.index.edit_group' | trans }} {{ group.title }}"><i class="fa fas fa-cog"></i></a>
            {% endif %}
            {% if is_granted('DELETE', group) %}
            <span class="-fn-delete hover-highlight-effect"
              title="{{"fom.user.group.index.delete_group"|trans}} {{ group.title }}"
              data-url="{{ path('fom_user_group_delete', { 'id': group.id}) }}"
              data-id="{{ group.id }}"
              data-token="{{ csrf_token('group_delete') }}"
            ><i class="fa fas fa-trash-o"></i></span>
            {% endif %}
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% else %}
  <p>{{"fom.user.group.index.no_groups_available"|trans}}</p>
{% endif %}
