{% extends "MapbenderManagerBundle::manager.html.twig" %}

{% block title %}{{ "mb.manager.admin.applications" | trans }}{% endblock %}

{% block js %}
  {{parent()}}
  <script type="text/javascript" src="{{ asset('bundles/mapbendermanager/js/application-list.js') }}"></script>
{% endblock %}

{% block manager_content %}
  {% if applications | length > 0 %}
    {% include "MapbenderManagerBundle:Element:filter-container.html.twig" with {filterTargetId: "listFilterApplications"} only %}
  {% endif %}
  {% include "MapbenderManagerBundle:Application:actions.html.twig" %}
  {% if applications | length > 0 %}
    <ul id="listFilterApplications" class="listFilterBoxes">
      {% for application in applications %}
        <li class="filterItem">
          <div class="row">
            <div class="col-xs-3">
              <a target="_blank" href="{{ path('mapbender_core_application_application', {'slug': application.slug}) }}" title="{{ 'mb.manager.admin.application.view' | trans }} {{ application.title }}"
                 class="center-block preview-box">
              {% if application.screenshot is not null %}
                  <img src="{{ uploads_web_url }}/{{application.slug}}/{{application.screenshot}}?t={% if time != null %}{{ time | date('d.m.Y-H:i:s') }}{% endif %}">
              {% else %}
                <div class="text-center">
                  <div class="placeholder-icon">
                    <span class="iconAppDefault"></span>
                  </div>
                </div>
              {% endif %}
              </a>
            </div>
            <div class="col-md-9 col-xs-12">
              <a href="{{ path('mapbender_core_application_application', {'slug': application.slug}) }}" title="{{ 'mb.manager.admin.application.view_this' | trans }}">
                <h2>{{ application.title }}</h2>
              </a>
              <p>
                <div>
                  <label>{{ 'mb.manager.admin.application.url.title' | trans }}:</label> {{ application.slug }}
                </div>
                <div>
                  <label>{{ 'mb.manager.admin.application.description' | trans }}:</label> {{ application.description }}
                </div>
              </p>

              <div class="btn-toolbar">
                <button class="btn btn-default">
                  <a class="iconView hover-highlight-effect" target="_blank" href="{{ path('mapbender_core_application_application', {'slug': application.slug}) }}" title="{{ 'mb.manager.admin.application.view' | trans }} {{ application.title }}"></a>
                </button>
              {# for custom 'CLONE' grant see CoreBundle\Component\Security\Voter\BaseApplicationVoter and child classes #}
              {%- if is_granted('CLONE', application) -%}
                <button class="btn btn-default">
                  <a class="iconCopy hover-highlight-effect" href="{{ path('mapbender_manager_application_copydirectly', {'slug': application.slug}) }}" title="{{ 'mb.manager.admin.application.duplicate'|trans }} {{ application.title }}"></a>
                </button>
              {% endif %}
              {% if application.source is constant('Mapbender\\CoreBundle\\Entity\\Application::SOURCE_DB') and is_granted('EDIT', application) %}
              <button class="btn btn-default">
                <a class="iconEdit hover-highlight-effect" href="{{ path('mapbender_manager_application_edit',  {'slug': application.slug}) }}" title="{{ 'mb.manager.admin.application.edit.title' | trans }} {{ application.title }}"></a>
              </button>
              {% endif %}

              {% if application.source is constant('Mapbender\\CoreBundle\\Entity\\Application::SOURCE_DB') and is_granted('EDIT', application) %}
              <button class="btn btn-default btn-app-list">
                <a href="#" class="{{ application.published ? 'iconPublishActive' : 'iconPublish disabled' }} hover-highlight-effect" title="{{ 'mb.manager.admin.application.public.on_off' | trans }} {{ application.title }}"
                   data-url="{{ path('mapbender_manager_application_togglestate', {'slug': application.slug}) }}"></a>
              </button>
              {% endif %}

              {% if application.source is constant('Mapbender\\CoreBundle\\Entity\\Application::SOURCE_DB') and is_granted('DELETE', application) %}
              <button class="btn btn-default">
                <span class="iconRemove hover-highlight-effect"
                      title="{{'mb.manager.admin.application.delete'|trans}} {{ application.title }}"
                      data-url="{{ path('mapbender_manager_application_delete', { 'slug': application.slug}) }}"
                      data-slug="{{ application.slug }}"
                ></span>
              </button>
              {% endif %}
              </div>
            </div>
          </div>
        </li>
      {% endfor %}
    </ul>
    <div class="clearContainer"></div>
  {% else %}
    <span class="description">{{ 'mb.manager.admin.application.no_application' | trans }}</span>
  {% endif %}
  <div class="clearContainer"></div>

{% endblock %}
