{% extends 'FOMManagerBundle::manager.html.twig' %}

{% set placeholder = asset('bundles/mapbendercore/image/placeholder_map.png') %}

{% block title %}Applications{% endblock %}

{% block manager_content %}
<ul class="thumbnails">
{% for application in applications %}
    <li class="span3">
        <div class="thumbnail">
            <img src="{{ application.screenshot|default(placeholder) }}" title="screenshot">
            <div class="caption">
                <h5><a href="{{ url('mapbender_core_application_application', { 'slug': application.slug }) }}">{{ application.title }}</a></h5>
                <p>{{ application.description }}</p>
                <p>
                    <a class="btn btn-primary" href="{{ url('mapbender_core_application_application', { 'slug': application.slug }) }}">{{ 'Start' | trans }}</a>
                </p>
    </li>
{% endfor %}
</ul>
{% endblock %}
