{% extends "@MapbenderManager/layouts/blocklist.html.twig" %}

{%- set title = 'mb.terms.application.plural' | trans -%}

{% block list_actions %}
{%- if create_permission -%}
<div class="content-box content-box-md">
  <a href="{{ path('mapbender_manager_application_new') }}">
      <i class="fas fa-lg fa-plus"></i>
      <span>{{ 'mb.manager.admin.application.new.title' | trans }}</span>
  </a>
</div>
{%- endif -%}
{% endblock %}

{% block manager_content %}
  {%- set items = applications -%}
  {%- set list_id = 'listFilterApplications' -%}
  {%- set list_class = 'listFilterApplicationBoxes' -%}
  {{ parent() }}
{% endblock %}

{%- block boxlist_item_content -%}
{%- set application = item -%}
          <div class="row">
            <div class="col-lg-2 col-md-3 col-12">
              <a target="_blank" href="{{ path('mapbender_core_application_application', {'slug': application.slug}) }}" title="{{ 'mb.manager.admin.application.view' | trans }} {{ application.title }}">
              {%- set _screenshot_src = application_screenshot_path(application) -%}
              {%- if _screenshot_src %}
                <div class="preview-box">
                  <img src="{{ _screenshot_src }}">
                </div>
              {% else %}
                <div class="preview-box preview-info">
                  <div class="placeholder-icon">
                    <span class="far fa-image"></span>
                  </div>
                </div>
              {% endif %}
              </a>
            </div>
            <div class="col-lg-10 col-md-9 col-12">
              {{ parent() }}
            </div>
          </div>
{%- endblock -%}

{%- block item_interactions -%}
              <a class="btn btn-light" target="_blank" href="{{ path('mapbender_core_application_application', {'slug': application.slug}) }}" title="{{ 'mb.manager.admin.application.view' | trans }}">
                <i class="fas fa-display"></i>
              </a>
              {# for custom 'CLONE' grant see CoreBundle\Component\Security\Voter\BaseApplicationVoter and child classes #}
              {%- if is_granted('CLONE', application) -%}
                <a class="btn btn-light" href="{{ path('mapbender_manager_application_copydirectly', {'slug': application.slug}) }}" title="{{ 'mb.manager.admin.application.duplicate'|trans }}">
                  <i class="far fa-copy"></i>
                </a>
              {% endif %}
              {% if application.source is constant('Mapbender\\CoreBundle\\Entity\\Application::SOURCE_DB') and is_granted(constant('FOM\\UserBundle\\Security\\Permission\\ResourceDomainApplication::ACTION_EDIT'), application) %}
                <a class="btn btn-light" target="_blank" href="{{ path('mapbender_manager_application_exportdirect',  {'slug': application.slug}) }}" title="{{ 'mb.manager.managerbundle.export_application' | trans }}">
                  <i class="fas fa-download"></i>
                </a>
                <a class="btn btn-light"
                   href="{{ path('mapbender_manager_application_edit',  {'slug': application.slug}) }}"
                   title="{{ 'mb.actions.edit' | trans }}"
                   data-test="{{ application.slug }}-{{'edit'}}">
                  <i class="fas fa-gear"></i>
                </a>
              {% endif %}
              {% if application.source is constant('Mapbender\\CoreBundle\\Entity\\Application::SOURCE_DB') and is_granted(constant('FOM\\UserBundle\\Security\\Permission\\ResourceDomainApplication::ACTION_MANAGE_PERMISSIONS'), application) %}
                <span class="btn btn-light -fn-toggle-flag {{ has_public_access(application) ? '-js-on' : '-js-off' }}" title="{{ 'mb.manager.admin.application.public.on_off' | trans }}"
                    data-url="{{ path('mapbender_manager_application_togglestate', {'slug': application.slug}) }}"
                    data-token="{{ csrf_token('application_edit') }}"
                    data-toggle-flag-icons="fa-eye-slash:fa-eye">
                    <i class="fas {{ has_public_access(application) ? 'fa-eye' : 'fa-eye-slash' }}"></i>
                </span>
              {% endif %}

              {% if application.source is constant('Mapbender\\CoreBundle\\Entity\\Application::SOURCE_DB') and is_granted(constant('FOM\\UserBundle\\Security\\Permission\\ResourceDomainApplication::ACTION_DELETE'), application) %}
                <span class="btn btn-light -fn-delete"
                      title="{{'mb.manager.admin.application.delete.title'|trans}}"
                      data-title="{{'mb.manager.admin.application.delete.confirm'|trans({'application_title': application.title | e})}}"
                      data-url="{{ path('mapbender_manager_application_delete', { 'slug': application.slug}) }}"
                      data-token="{{ csrf_token('application_delete') }}"
                      data-slug="{{ application.slug }}"
                      data-test="{{ application.slug }}-{{'delete'}}"
                ><i class="far fa-trash-can"></i></span>
              {% endif %}
{%- endblock -%}

{%- block item_title -%}
    <a href="{{ path('mapbender_core_application_application', {'slug': application.slug}) }}" title="{{ 'mb.manager.admin.application.view_this' | trans }}">
      {{ application.title }}
    </a>
{%- endblock -%}

{%- block item_content_main -%}
    <div class="row">
        <div class="col-md-3 application-list__title">{{ 'mb.manager.admin.application.url.title' | trans }}:</div>
        <div class="col-md-9">{{ item.slug }}</div>
    </div>
    <div class="row application-list__spacing-top application-list__spacing-bottom">
        <div class="col-md-3 application-list__title">{{ 'mb.manager.admin.application.description' | trans }}:</div>
        <div class="col-md-9">{{ item.description }}</div>
    </div>
{%- endblock -%}

{%- block boxlist_placeholder_content -%}
{{- 'mb.manager.admin.application.no_application' | trans -}}
{%- endblock -%}
