<!DOCTYPE html>
<html class="no-js" lang="{{ app.request.locale }}">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{% block title %}{{ pagetitle | default(title | default(fom.server_name)) }}{% endblock %}</title>
    <meta name="description" content="Mapbender 3" />
{% block mobilejs %}
    {%- set scaleFactor = scaleFactor|default('0.7') -%}
    <meta name="viewport" content="width=device-width, initial-scale={{ scaleFactor }}, maximum-scale={{ scaleFactor }}, minimum-scale={{ scaleFactor }}, user-scalable=no"/>
{% endblock %}
    <link rel="stylesheet" type="text/css" href="{{ asset('components/cookieconsent/build/cookieconsent.min.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ asset('components/bootstrap/css/bootstrap.min.css') }}" />
    {{- icon_stylesheet_links() | raw -}}
    <link rel="shortcut icon" href="{% block favicon %}{{ asset('favicon.png') }}{% endblock %}" />
    {% block css %}{% endblock %}
</head>
<body class="{{ ((app.debug ? 'debug ' : '') ~ (body_class | default(''))) | trim }}">
{% block content %}{% endblock %}
<script src="{{ asset('components/jquery/jquery.min.js')}}"></script>
<script src="{{ asset('components/jquery-ui/jquery-ui.min.js')}}"></script>
<script src="{{ asset('components/jquery-ui-touch-punch/jquery.ui.touch-punch.js')}}"></script>
{% include 'MapbenderCoreBundle::cookieconsent.html.twig' %}
{% block trans %}{% endblock %}
{% block js %}{% endblock %}
</body>
</html>
