<!DOCTYPE html>
<html class="no-js" lang="{{ app.request.locale }}">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{% block title %}{% endblock %}</title>
    <meta name="description" content="Mapbender 3" />
    {% block mobilejs %}
    <script language="JavaScript">
        if(/Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent)
        && !(/Firefox/i.test(navigator.userAgent))
        ) {
            var scaleFactor = {{ scaleFactor|default('0.7') }};
            var density = "{{ density|default('240dpi') }}";
            document.write('<meta name="viewport" content="width=device-width; initial-scale='+scaleFactor+'; maximum-scale='+scaleFactor+'; minimum-scale='+scaleFactor+' user-scalable=no;target-densityDpi='+density+'"/>');
        }
    </script>
    {% endblock %}
    {##}
    <link rel="stylesheet" type="text/css" href="{{ asset('components/cookieconsent/build/cookieconsent.min.css') }}"/>
    <link rel="shortcut icon" href="{% block favicon %}{{ asset('favicon.png') }}{% endblock %}" />
    {% block css %}{% endblock %}
</head>
<body class="{% if app.debug %}debug{% endif %}">
{% block content %}{% endblock %}
<script src="{{ asset('components/joii/dist/joii.min.js')}}"></script>
<script src="{{ asset('components/jquery/jquery.min.js')}}"></script>
<script src="{{ asset('components/jquery-ui/jquery-ui.min.js')}}"></script>
{% include 'MapbenderCoreBundle::cookieconsent.html.twig' %}
{% block trans %}{% endblock %}
{% block js %}{% endblock %}
</body>
</html>