{% extends 'MapbenderWmsBundle:WMS:base.html.twig' %} 

{% block heading %}{{ "WMS index"|trans }}{% endblock %}

{% block content %}


    {% if wmsList|length > 0 %}
    <table class="wms">
        <caption>{% trans %}Verfügbare WMS-Dienste{% endtrans %}</caption>
        <thead>
            <tr>
                <th>{% trans %}Title{% endtrans %}</th>
                <th>{% trans %}Alias{% endtrans %}</th>
                <th>{% trans %}Abstract{% endtrans %}</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for wms in wmsList %}
            <tr>
                <td><a href="{{ path("mapbender_wms_wms_edit",{'wmsId': wms.id }) }}">{{ wms.title }}</a></td>
                <td>{{ wms.alias }}</td>
                <td>{{ wms.abstract }}</td>
                <td><a class="confirmdelete" href="{{ path("mapbender_wms_wms_confirmdelete",{ "wmsId": wms.id }) }}" >{{ "Delete"|trans }}</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <a href="{{ path("mapbender_wms_wms_index",{"offset":prevOffset}) }}">{% trans %}Previous{% endtrans %}</a> 
    <a href="{{  path("mapbender_wms_wms_index",{"offset": nextOffset}) }}">{% trans %}Next{% endtrans %}</a>

    {% else %}
     <p>{% trans %}No WMS Available{% endtrans %}</p>
    {% endif %}
{% endblock %}
