{% extends "MapbenderManagerBundle::layouts/blocklist.html.twig" %}

{% block js %}
  {{parent()}}
  <script type="text/javascript" src="{{ asset('bundles/mapbendermanager/js/service-list.js') }}"></script>
{% endblock %}

{% block manager_content %}
    {%- set list_class = '-fn-instance-list' %}
    {{ parent() }}
{% endblock %}

{%- block boxlist_item_content -%}
{# @todo: fold design logic shared / sharable with Repository/index.html.twig into common base template #}
        <div class="row">
          <div class="col-xs-3">
            <div class="preview-img center-block text-center">
              <div class="placeholder-text">
                <p>{{ item.id }}</p>
                <p>{{ item.source.type }}</p>
              </div>
            </div>
          </div>
          <div class="col-md-9 col-xs-12">
            <p class="title">{{ item.title | default(item.source.title) }}</p>
            <p>{{ item.source.description }}</p>
            <div class="btn-toolbar">
              <a class="btn btn-default hover-highlight-effect" href="{{ path('mapbender_manager_repository_unowned_instance', {'instanceId': item.id}) }}"
                ><i class="fa fa-cog"></i></a>
              <a class="btn btn-default hover-highlight-effect" href="{{ path("mapbender_manager_repository_view",{"sourceId":item.source.id}) }}" title="{{ 'mb.manager.admin.source.show_metadata' | trans }}"
                ><i class="fa fa-desktop"></i></a>
            {% if is_granted('DELETE', oid) %}
              <a class="btn btn-default -fn-delete hover-highlight-effect" href="#"
                  data-url="{{ path('mapbender_manager_sourceinstance_delete', {'instance': item}) }}"
                  title="{{"mb.actions.delete"|trans}}"
                  ><i class="fa fa-times"></i></a>
            {% endif %}
            </div>
            {# @todo: link to instance editing #}
            {# <a href="{{ path("mapbender_manager_repository_view",{"sourceId":source.id}) }}" class="title">{{ source.title }}<span class="smallerText"> {{ source.alias }}</span></a> #}
          </div>
        </div>
{%- endblock -%}

{%- block boxlist_placeholder_content -%}
{{- 'mb.manager.admin.source.no_source' | trans -}}
{%- endblock -%}
