{% extends 'MapbenderManagerBundle::layouts/tabbed.html.twig' %}
{%- set title = 'mb.terms.security' | trans -%}
{%- import 'MapbenderManagerBundle::macros/tabs.html.twig' as tab_macros -%}

{% block js %}
  {{parent()}}
  <script type="application/javascript" src="{{ asset('bundles/mapbendermanager/js/user-control.js') }}"></script>
{% endblock %}

{% block tab_headers %}
  {%- if grants.users -%}
    {{- tab_macros.tab_header('Users', 'fom.user.userbundle.users', 'active') -}}
  {%- endif -%}
  {%- if grants.groups -%}
    {{- tab_macros.tab_header('Groups', 'fom.user.userbundle.groups', not grants.users ? 'active' : '') -}}
  {%- endif -%}
  {%- if grants.acl -%}
    {{- tab_macros.tab_header('Acl', 'fom.user.acl.index.access_control_lists', not (grants.users or grants.groups) ? 'active' : '') -}}{#- #tabContact -#}
  {%- endif -%}
{% endblock tab_headers %}

{% block tab_containers %}
  {%- if grants.users -%}
      <div{{ tab_macros.tab_content_attributes('Users', 'active', false) }}>
          {%- include 'FOMUserBundle:User:list-tab.html.twig' with {show_groups: is_granted('VIEW', oids.group)} -%}
      </div>
  {%- endif -%}
  {%- if grants.groups -%}
      <div{{ tab_macros.tab_content_attributes('Groups', not grants.users ? 'active' : '', false) }}>
          {%- include 'FOMUserBundle:Group:list-tab.html.twig' -%}
      </div>
  {%- endif -%}
  {%- if grants.acl -%}
      <div{{ tab_macros.tab_content_attributes('Acl', not (grants.users or grants.groups) ? 'active' : '', true) }}>
          {%- include 'FOMUserBundle:ACL:list.html.twig' with {classes: acl_classes} -%}
      </div>
  {%- endif -%}
{% endblock %}
