{% set _applications = source.getApplications() %}
{% set _count = _applications | length %}
<p>Diese Quelle ist in {{ _count }} Applikationen eingebunden.</p>
<ul class="no-reset">
{% for application in _applications %}
    {% set _app_instances = application.getInstancesOfSource(source) %}
    <li>{%- set _linkToApp = is_granted('EDIT', application) -%}
        {%- if _linkToApp -%}
        <a href="{{ path('mapbender_manager_application_edit', {'slug': application.slug}) }}">
        {%- endif -%}
            {{ application.title }}
        {%- if _linkToApp -%}
        </a>
        {%- endif -%}
        <ul class="no-reset">
        {%- for instance in _app_instances -%}
        <li>{%- if _linkToApp -%}
            <a href="{{ path('mapbender_manager_repository_instance', {'slug': application.slug, 'instanceId' : instance.id}) }}">
            {%- endif -%}
                {{ instance.title | default('#' ~ instance.id) }}
            {%- if _linkToApp -%}
                </a>
            {%- endif -%}
        </li>
        {%- endfor -%}
        </ul>
    </li>
{% endfor %}
</ul>
