{% extends "MapbenderManagerBundle::layouts/tabbed.html.twig" %}
{% block heading %}
    <a class="btn btn-sm btn-info pull-right" href="{{ path('mapbender_manager_sourceinstance_createshared', {'source': source}) }}"><i class="fa fas fa-wifi" ></i>&nbsp;{{ 'mb.manager.sourceinstance.create_reusable' | trans }}</a>
    {{ parent() }}
    <div class="clear">
{% endblock heading %}

{% block tab_container_contact %}
    <div{{ tab_macros.tab_content_attributes('Contact', 'serviceContainer') }}>{#- #containerContact -#}
        {% block contact_content %}
        {% include 'MapbenderManagerBundle:Repository:source/view-contact.html.twig' with {'contact' : source.contact} %}
        {% endblock contact_content %}
    </div>
{% endblock tab_container_contact %}

{%- block extra_action_buttons -%}
<a class="btn btn-warning" title="{{"mb.wms.wmsloader.repo.view.label.backtoservicelist" | trans}}" href="{{ path('mapbender_manager_repository_index') }}">{{ 'mb.actions.back' | trans }}</a>
{%- endblock -%}

  {# @todo: commonly used labels should NOT be in WmsBundle and shoult NOT associate with 'wmsloader' #}
  {% block tab_headers %}
      {{- tab_macros.tab_header('MetaData', 'mb.wms.wmsloader.repo.view.label.metadata', 'active') -}}{#- #tabMetaData -#}
      {{- tab_macros.tab_header('Applications', 'mb.terms.application.plural') -}}{#- #tabApplications -#}
      {%- if source.contact is defined and source.contact -%}
      {{- tab_macros.tab_header('Contact', 'mb.wms.wmsloader.repo.view.label.contact') -}}{#- #tabContact -#}
      {%- endif -%}
      {{- tab_macros.tab_header('Service', 'mb.wms.wmsloader.repo.view.label.details') -}}{#- #tabService -#}
      {{- tab_macros.tab_header('Layers', 'mb.wms.wmsloader.repo.view.label.layers') -}}{#- #tabLayers -#}
  {% endblock tab_headers %}

    {% block tab_containers %}
        <div{{ tab_macros.tab_content_attributes('MetaData', 'active serviceContainer') }}>{#- #containerMetaData -#}
            {% block metadata_content %}
                {% include 'MapbenderManagerBundle:Repository:source/view-metadata-common.html.twig' %}
            {% endblock metadata_content %}
        </div>
        <div{{ tab_macros.tab_content_attributes('Applications', 'serviceContainer') }}>{#- #containerApplications -#}
            {% block applications_content %}
                {% include 'MapbenderManagerBundle:Repository:source/applications.html.twig' %}
            {% endblock applications_content %}
        </div>
        {%- if source.contact is defined and source.contact -%}
            {{- block('tab_container_contact') -}}
        {%- endif -%}
        <div{{ tab_macros.tab_content_attributes('Service', 'serviceContainer') }}>{#- #containerService -#}
            {% block details_content %}
                {% include 'MapbenderManagerBundle:Repository:source/view-details-common.html.twig' %}
            {% endblock details_content %}
        </div>
        <div{{ tab_macros.tab_content_attributes('Layers', 'serviceContainer') }}>{#- #containerLayers -#}
            {% block layers_content %}
            {# no default / common ground content #}
            {% endblock layers_content %}
        </div>
    {% endblock tab_containers %}
