<table>
  <tbody>
    {%- block source_meta_rows -%}
    <tr><th>{{ "mb.wms.wmsloader.repo.view.label.title" | trans }}:</th><td>{{ instance is defined ? instance.getDisplayTitle() : source.title }}</td></tr>
    <tr><th>{{ "mb.wms.wmsloader.repo.view.label.version" | trans }}:</th><td>{{ source.version }}</td></tr>
    <tr><th>{{ "mb.wms.wmsloader.repo.view.label.originurl" | trans }}:</th><td>
        {%- if source.originUrl -%}
        <a href="{{ source.originUrl }}" target="_blank">{{ source.originUrl }}</a>
        {%- endif -%}
    </td></tr>
    <tr><th>{{ "mb.wms.wmsloader.repo.view.label.abstract" | trans }}:</th><td>{{ source.description }}</td></tr>
    {%- endblock -%}
  </tbody>
</table>
