<table>
  <tbody>
    {%- block source_meta_rows -%}
    <tr><th>{{ "mb.manager.source.metadata.title" | trans }}:</th><td>{{ instance is defined ? instance.getDisplayTitle() : source.title }}</td></tr>
    {% if source.version is defined %}
    <tr><th>{{ "mb.manager.source.metadata.version" | trans }}:</th><td>{{ source.version }}</td></tr>
    {% endif %}
    {% if source.displayUrl %}
    <tr><th>{{ "mb.manager.source.metadata.originurl" | trans }}:</th><td>{{ source.displayUrl | linkify }}</td></tr>
    {% endif %}
    <tr><th>{{ "mb.manager.source.metadata.abstract" | trans }}:</th><td>{{ source.description | linkify }}</td></tr>
    {%- endblock -%}
  </tbody>
</table>
