{# @todo: get rid of floats and clears #}
<div class="labelText">{{ "mb.wms.wmsloader.repo.view.label.person" | trans }}:</div>
<div class="metaText">{{ contact.person }}</div>
<div class="clearContainer"></div>

<div class="labelText">{{ "mb.wms.wmsloader.repo.view.label.organization" | trans }}:</div>
<div class="metaText">{{ contact.organization }}</div>
<div class="clearContainer"></div>

<div class="labelText">{{ "mb.wms.wmsloader.repo.view.label.position" | trans }}:</div>
<div class="metaText">{{ contact.position }}</div>
<div class="clearContainer"></div>

<div class="labelText">{{ "mb.wms.wmsloader.repo.view.label.telephone" | trans }}:</div>
<div class="metaText">{{ contact.voiceTelephone }}</div>
<div class="clearContainer"></div>

<div class="labelText">{{ "mb.wms.wmsloader.repo.view.label.facsimile" | trans }}:</div>
<div class="metaText">{{ contact.facsimileTelephone }}</div>
<div class="clearContainer"></div>

<div class="labelText">{{ "mb.wms.wmsloader.repo.view.label.email" | trans }}:</div>
<div class="metaText">{{ contact.electronicMailAddress }}</div>
<div class="clearContainer"></div>

<div class="labelText">{{ "mb.wms.wmsloader.repo.view.label.address" | trans }}:</div>
<div class="metaText">{{ contact.address }}</div>
<div class="clearContainer"></div>

<div class="labelText">{{ "mb.wms.wmsloader.repo.view.label.addresstype" | trans }}:</div>
<div class="metaText">{{ contact.addressType }}</div>
<div class="clearContainer"></div>

<div class="labelText">{{ "mb.wms.wmsloader.repo.view.label.city" | trans }}:</div>
<div class="metaText">{{ contact.addressCity }}</div>
<div class="clearContainer"></div>

<div class="labelText">{{ "mb.wms.wmsloader.repo.view.label.state" | trans }}:</div>
<div class="metaText">{{ contact.addressStateOrProvince }}</div>
<div class="clearContainer"></div>

<div class="labelText">{{ "mb.wms.wmsloader.repo.view.label.postcode" | trans }}:</div>
<div class="metaText">{{ contact.addressPostcode }}</div>
<div class="clearContainer"></div>

<div class="labelText">{{ "mb.wms.wmsloader.repo.view.label.country" | trans }}:</div>
<div class="metaText">{{ contact.addressCountry }}</div>
<div class="clearContainer"></div>
