{# @todo: transient restructuring template; should later be baked into a proper source view base template block and removed again #}
<div class="labelText">{{ "mb.wms.wmsloader.repo.view.label.title" | trans }}:</div><div class="metaText">{{ source.title }}</div>
<div class="labelText">{{ "mb.wms.wmsloader.repo.view.label.version" | trans }}:</div><div class="metaText">{{ source.version }}</div>
<div class="labelText">{{ "mb.wms.wmsloader.repo.view.label.originurl" | trans }}:</div><div class="metaText metaUrl">{{ source.originUrl }}</div>
<div class="labelText">{{ "mb.wms.wmsloader.repo.view.label.abstract" | trans }}:</div><div class="metaText">{{ source.description }}</div>
