<table class="table">
  <thead>
    <tr>
      <th class="sortByColumn clickable" title="{{'mb.actions.sort_ascending'|trans}}">
          {{ "fom.user.permissions.index.name" | trans }}
          <span class="fas fa-arrow-up" style="display: none"></span>
      </th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {% for category, name in permission_categories %}
      <tr>
        <td>
          <a href="{{ path('fom_user_permission_edit', {'category': category}) }}" title="{{ 'fom.user.permissions.index.edit' | trans }}">{{ name | trans }}</a>
        </td>
        <td class="iconColumn">
          <a class="hover-highlight-effect" href="{{ path('fom_user_permission_edit', {'category': category}) }}" title="{{ 'fom.user.permissions.index.edit' | trans }}"><i class="fas fa-gear"></i></a>
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>
