<table class="table">
  <thead>
    <tr>
      <th class="sortByColumn clickable">
          {{ "fom.user.permissions.index.name" | trans }}
          <span class="fa fa-sort-amount-asc" title="{{'mb.actions.sort_descending'|trans}}"></span>
      </th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  {% set sorted_permissions = permission_categories|sort((a,b) => a|trans|lower <=> b|trans|lower) %}
  {% for category, name in sorted_permissions %}
      <tr>
        <td>
          <a href="{{ path('fom_user_permission_edit', {'category': category}) }}" title="{{ 'fom.user.permissions.index.edit' | trans }}">{{ name | trans }}</a>
        </td>
        <td class="iconColumn">
          <a class="hover-highlight-effect" href="{{ path('fom_user_permission_edit', {'category': category}) }}" title="{{ 'fom.user.permissions.index.edit' | trans }}"><i class="fas fa-pencil-alt fa-pencil"></i></a>
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>
