{% extends "MapbenderManagerBundle::layouts/blocklist.html.twig" %}

{% block js %}
  {{parent()}}
  <script type="text/javascript" src="{{ asset('bundles/mapbendermanager/js/service-list.js') }}"></script>
{% endblock %}

{%- block boxlist_item_content -%}
        <div class="col1">
          <div class="smallerText">{{ item.id }}</div>
          <div class="smallerText">{{ source.type }}</div>
        </div>
        <div class="col2 box">
          <div class="contentTitle">
            <div class="buttonGroup button-toolbar pull-right">
            {%- block item_interactions -%}
              <a class="hover-highlight-effect" href="{{ path("mapbender_manager_repository_view",{"sourceId":source.id}) }}" title="{{ 'mb.manager.admin.source.show_metadata' | trans }}"><i class="fa fas fa-desktop"></i></a>
              {% if source.id in reloadableIds %}
              <a class="hover-highlight-effect" href="{{ path("mapbender_manager_repository_updateform",{"sourceId":source.id}) }}" title="{{ 'mb.manager.admin.source.update' | trans }} {{ source.title }}"><i class="fa fas fa-refresh fa-sync-alt"></i></a>
              {% endif %}
              {% if is_granted('DELETE', oid) %}
                 <a href="#" class="-fn-delete hover-highlight-effect"
                  title="{{"mb.manager.admin.source.delete"|trans}} {{ source.title }}"
                  data-url="{{ path("mapbender_manager_repository_delete",{"sourceId":source.id}) }}"
                  data-id="{{ source.id }}"><i class="fa fas fa-times"></i></a>
              {% endif %}
            {%- endblock -%}
            </div>
        <span class="h2 title">
        {%- block item_title -%}
          <a href="{{ path("mapbender_manager_repository_view",{"sourceId":source.id}) }}" class="title">{{ source.title }}</a> <sup>{{ source.alias }}</sup>
        {%- endblock -%}
        </span>
            <div class="clear"></div>
          </div>
          <div>{{ source.description }}</div>
        </div>
{%- endblock -%}

{%- block boxlist_placeholder_content -%}
{{- 'mb.manager.admin.source.no_source' | trans -}}
{%- endblock -%}
