{% extends "FOMManagerBundle::manager.html.twig" %}

{% block title %}{{ 'Services' | trans }}{% endblock %}

{% block js %}
  {{parent()}}
  <script type="text/javascript" src="{{ asset('bundles/mapbendermanager/js/service-list.js') }}"></script>
{% endblock %}

{% block manager_content %}
{% if create_permission %}
<a class="iconAdd iconBig right" href="{{ url("mapbender_manager_repository_new") }}" title="{{ 'Add new service' | trans }}"></a>
{% endif %}
{% if sources|length > 0 %}
  <label for="inputFilterServices" class="labelInput left">{{"Filter"|trans}}</label><input id="inputFilterServices" type="text" class="input listFilterInput">

  <ul id="listFilterServices" class="listFilterContainer clear listFilterBoxes listFilterServiceBoxes">
    {% for source in sources %}
      <li class="filterItem">
        <div class="col1">
          <span class="smallerText">{{ source.id }}</span><br>
          <span class="smallerText">{{ source.type }}</span>
        </div>
        <div class="col2 box">
          <a href="{{ url("mapbender_manager_repository_view",{"sourceId":source.id}) }}" class="title">{{ source.title }}<span class="smallerText"> {{ source.alias }}</span></a>
          {% if source.description|trim|length > 0 %}
            <div class="description">{{ source.description }}</div>
          {% endif %}
          <div class="buttonGroup">
            <a class="iconView iconBig" href="{{ url("mapbender_manager_repository_view",{"sourceId":source.id}) }}" title="{{ 'View service metadata' | trans }}"></a>
            {% if is_granted('DELETE', source) %}
               <span class="iconRemove iconBig"
                title="{{"Delete service"|trans}} {{ source.title }}"
                data-url="{{ url("mapbender_manager_repository_confirmdelete",{"sourceId":source.id}) }}"
                data-id="{{ source.id }}"></span>
            {% endif %}
          </div>
        </div>
      </li>
    {% endfor %}
  </ul>
{% else %}
    <span class="description">{% trans %}No services available.{% endtrans %}</span>
{% endif %}

<div class="clearContainer"></div>
{% endblock %}
