{% extends "FOMManagerBundle::manager.html.twig" %}

{% block title %}{{ 'Services' | trans }}{% endblock %}

{% block manager_content %}

<label for="inputFilterServices" class="labelInput left">Filter:</label><input id="inputFilterServices" type="text" class="input listFilterInput filterService">
<a class="button right" href="{{ url("mapbender_manager_repository_new") }}" title="{{ 'Add new service' | trans }}">{{ 'Add' | trans }}</a>

<ul id="listFilterServices" class="listFilterContainer clear">
  {% for source in sources %}
    <li class="filterItem">
      <div class="col1">
        <span class="smallerText">{{ source.id }}</span><br>
        <span class="smallerText">{{ source.type }}</span>
      </div>
      <div class="col2 box">
        <a href="{{ url("mapbender_manager_repository_view",{"sourceId":source.id}) }}" class="title">{{ source.title }}<span class="smallerText"> {{ source.alias }}</span></a>
        {% if source.description|trim|length > 0 %}
          <div class="description">{{ source.description }}</div>
        {% endif %}
        <div class="buttonGroup">
          <a class="button" href="{{ url("mapbender_manager_repository_view",{"sourceId":source.id}) }}" title="{{ 'View service metadata' | trans }}">{{ 'View' | trans }}</a>
          <a class="button" href="{{ url("mapbender_manager_repository_delete",{"source":source.id,"return":"index"}) }} " title="{{ 'Delete service' | trans }}">{{ 'Delete' | trans }}</a>
        </div>
      </div>
    </li>
  {% endfor %}  
</ul>

<a class="button right" href="{{ url("mapbender_manager_repository_new") }}" title="{{ 'Add new service' | trans }}">{{ 'Add' | trans }}</a>
<div class="clearContainer"></div>
{% endblock %}
