{% extends "MapbenderManagerBundle::layouts/blocklist.html.twig" %}

{% block title %}{{ 'mb.manager.admin.sources' | trans }}{% endblock %}

{% block js %}
  {{parent()}}
  <script type="text/javascript" src="{{ asset('bundles/mapbendermanager/js/service-list.js') }}"></script>
{% endblock %}

{% block manager_content %}
{% if create_permission %}
    <div class="link-button-new">
        <a href="{{ path('mapbender_manager_repository_new') }}">
          <i class="fa fas fa-plus fa-lg"></i>
          <span>{{ 'mb.manager.admin.source.add' | trans }}</span>
        </a>
    </div>
{% endif %}
    {%- set items = sources -%}
    {%- set list_id = 'listFilterServices' -%}
    {%- set list_class = 'listFilterServiceBoxes' -%}
    {{ parent() }}
{% endblock %}

{%- block boxlist_item_content -%}
{%- set source = item -%}
{# @todo: fold design logic shared / sharable with SourceInstance/list.html.twig into common base template #}
          <div class="row">
            <div class="col-md-3 col-xs-3">
              <div class="preview-info">
                <div class="placeholder-text">
                  <h4>{{ source.id }}</h4>
                  <p>{{ source.type }}</p>
                </div>
              </div>
            </div>
            <div class="col-md-8 col-xs-12">
              <a href="{{ path("mapbender_manager_repository_view",{"sourceId":source.id}) }}" class="title">
                {{ source.title }}
                <span class="smallerText"> {{ source.alias }}</span>
              </a>

              <p>{{ source.description }}</p>
              <div class="btn-toolbar">
                <a class="btn btn-default iconView hover-highlight-effect" href="{{ path("mapbender_manager_repository_view",{"sourceId":source.id}) }}" title="{{ 'mb.manager.admin.source.show_metadata' | trans }}"></a>
                {% if source.id in reloadableIds %}
                  <a class="iconReset btn btn-default hover-highlight-effect" href="{{ path("mapbender_manager_repository_updateform",{"sourceId":source.id}) }}" title="{{ 'mb.manager.admin.source.update' | trans }} {{ source.title }}"></a>
                {% endif %}
                {% if is_granted('DELETE', oid) %}
                  <a href="#" class="btn btn-default -fn-delete hover-highlight-effect"
                              title="{{"mb.manager.admin.source.delete"|trans}} {{ source.title }}"
                              data-url="{{ path("mapbender_manager_repository_delete",{"sourceId":source.id}) }}"
                              data-id="{{ source.id }}"><i class="fa fas fa-times"></i></a>
                {% endif %}
              </div>
            </div>
          </div>
{%- endblock -%}

{%- block boxlist_placeholder_content -%}
{{- 'mb.manager.admin.source.no_source' | trans -}}
{%- endblock -%}
