{% extends "FOMManagerBundle::manager.html.twig" %}

{% block title %}{{ 'Service Repository' | trans }}{% endblock %}

{% block manager_content %}
<table class="table table-striped" id="repository-list">
    <thead>
        <tr>
            <th>{{ 'Type' | trans }}</th>
            <th>{{ 'Title' | trans }}</th>
            <th>{{ 'Alias' | trans }}</th>
            <th>{{ 'Description' | trans }}</th>
            <th>{{ 'Actions' | trans }}</th>
        </tr>
    </thead>
    <tbody>
        {% for source in sources %}
        <tr data-source-id="{{ source.id }}">
            <td>{{ source.type }}</td>
            <td>{{ source.title }}</td>
            <td>{{ source.alias }}</td>
            <td>{{ source.description }}</td>
            <td>
                <div class="entity-actions btn-group">
                    <a class="action-edit btn" href="#" title="{{ 'Edit source' | trans }}">{{ 'Edit' | trans }}</a>
                    <a class="action-delete btn" href="#" title="{{ 'Delete source' | trans }}">{{ 'Delete' | trans }}</a>
                </div>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<div class="repository-actions btn-group">
    <a class="action-add btn btn-primary" href="{{ url("mapbender_manager_repository_new") }}" title="{{ 'Add new source' | trans }}">{{ 'Add' | trans }}</a>
</div>
{% endblock %}
