{% extends "MapbenderManagerBundle::layouts/single_form.html.twig" %}
{%- set _h1_text = instance.source.title -%}
{%- set _h1_subtext = ('mb.terms.sourceinstance.typed.singular' | trans({'%type%': instance.source.type})) ~ ' ' ~ instance.source.id ~ '/'~ instance.id -%}
{%- set title = _h1_subtext ~ ' - ' ~ _h1_text -%}
{%- set return_text = 'mb.actions.back' -%}

{% form_theme form _self %}

{% block checkbox_row %}
    {% if form.parent and form.parent.parent and 'source_instance_layer_collection' in form.parent.parent.vars.block_prefixes %}
        {%- set _columnClass = ['checkboxColumn', (columnClass | default(''))] | filter(notempty => notempty) | join(' ') -%}
        {% set _tagName = tagName | default('td') %}
        <{{ _tagName }} class="{{_columnClass}}" data-check-identifier="{{ form.vars.checkbox_group }}" title="{{ form.vars.label | trans }}">
            {{- form_widget(form, {'label': false}) -}}
        </{{ _tagName }}>
    {% else %}
        {# @todo: figure out how to use original block declaration #}
        <div class="form-group{% if not valid %} has-error{% endif %} no-gutters">
          {{- block('checkbox_widget') -}}
          {{- form_errors(form) -}}
        </div>
    {% endif %}
{% endblock %}

{% block js %}
  {{parent()}}
  <script type="text/javascript" src="{{ asset('bundles/mapbendermanager/js/repository.js') }}"></script>
{% endblock %}
{%- set _is_reusable_instance = not form.vars.data.layerset -%}
{%- if app.request.attributes.get('slug') -%}
    {%- set return_url = path('mapbender_manager_application_edit', {'slug': app.request.attributes.get('slug')}) ~ '#tabLayers' -%}
{%- elseif layerset is defined and layerset -%}
    {%- set return_url = path('mapbender_manager_application_edit', {'slug': layerset.application.slug}) ~ '#tabLayers' -%}
{%- else -%}
    {%- set return_url = false -%}
{%- endif -%}

{% block heading %}
    <div class="contentTitle">
      <div class="row">
        <div class="col-xs-8 col-8">
          <h1>
            <span class="underlined">{{- _h1_text | default(title) -}}</span>
          </h1>
          <p>
            {{- (_h1_subtext | trim) ~ ' ' -}}
            (
            {{- _is_reusable_instance ? ('mb.terms.sourceinstance.reusable.singular' | trans) : ('mb.terms.sourceinstance.bound.singular' | trans) -}}
            )
          </p>
        </div>
        <div class="col-xs-4 col-4 text-right">
          <p>
            <a class="btn btn-default" href="{{ path('mapbender_manager_repository_view', {'sourceId': form.vars.data.source.id}) }}">{{ 'mb.terms.source.singular' | trans }}&nbsp;<i class="fa fa-desktop"></i></a>
          </p>
          <p>
            {%- if _is_reusable_instance and layerset is defined and layerset -%}
            <a class="btn btn-sm btn-info" href="{{ path('mapbender_manager_application_sharedinstancecopy', {'instance': instance, 'layerset': layerset}) }}"><i class="fa fas fa-anchor"></i>&nbsp;{{ 'mb.manager.sourceinstance.convert_to_bound' | trans }}</a>
            {%- endif -%}
            {%- if not _is_reusable_instance and edit_shared_instances -%}
            <a class="btn btn-sm btn-info" href="{{ path('mapbender_manager_repository_promotetosharedinstance', {'instance': instance}) }}"><i class="fa fas fa-wifi"></i>&nbsp;{{ 'mb.manager.sourceinstance.convert_to_reusable' | trans }}</a>
            {%- endif -%}
          <p>
        </div>
      </div>
    </div>
{% endblock heading %}

{% block form_fields %}
<div class="instanceContainer">
    <div class="row form-group">
      <div class="col-xs-9 col-9 text-nowrap clip-text">
        <label class="labelInput">{{ 'mb.wms.wmsloader.repo.instance.label.originurl' | trans }}:</label>
        <a href="{{ instance.source.originUrl }}" target="_blank">{{ instance.source.originUrl }}</a>
      </div>
      <div class="col-xs-3 col-3 text-right">
          {{- block('form_buttons') -}}
      </div>
    </div>
    <div class="row form-group">
      {% block form_main %}
      <div class="col-md-6 col-xs-12">
        {% block form_main1 %}
            {{ form_row(form.title) }}
            {{ form_row(form.opacity) }}
        {% endblock form_main1 %}
      </div>
      <div class="col-md-6 col-xs-12">
        {% block form_main2 %}
            {{ form_row(form.basesource) }}
            {{ form_row(form.proxy) }}
        {% endblock form_main2 %}
      </div>
      {% endblock form_main %}
    </div>
    {% block form_layers %}
    {% endblock form_layers %}
</div>
{% endblock %}



