{% extends "MapbenderManagerBundle::manager.html.twig" %}

{% block title %}{{ 'mb.manager.admin.source.new.add' | trans }}{% endblock %}

{% block css %}
  {{parent()}}
{% endblock %}

{% block manager_content %}
<div id="sourceTabContainer" class="tabContainer sourceTabContainer">
  <ul class="tabs">
{% for name, manager in managers %}
    <li id="tab{{loop.index}}" class="tab{% if loop.first %} active{% endif %}">{{manager.label }}</li>
{% endfor %}
  </ul>
{% for name, manager in managers %}
  <div id="container{{loop.index}}" class="container containerBaseData{% if loop.first %} active{% endif %}">
    {% render controller(manager.startAction) %}
  </div>
{% endfor %}
</div>
{% endblock %}
