{% extends "FOMManagerBundle::manager.html.twig" %}

{% block title %}{{ 'Service Repository' | trans }}{% endblock %}

{% block manager_content %}

{#
<div class="btn-group btn-group-vertical">
    {% for manager in managers %}
    <a class="btn" href="{{ url(manager.manager ~ '_new') }}">{{ manager.label | trans }}</a>
    {% endfor %}
</div>
#}
<div class="well">
    <ul class="nav nav-tabs">
        {% for manager in managers %}
        <li{% if loop.first %} class="active"{% endif %}><a href="#manager-{{ manager.id }}" data-toggle="tab">{{ manager.label | trans}}</a></li>
        {% endfor %}
    </ul>
    <div class="tab-content">
        {% for manager in managers %}
        <section id="manager-{{ manager.id }}" class="tab-pane{% if loop.first %} active{% endif %}">

        {% render manager.startAction %}

        </section>
        {% endfor %}
    </div>
</div>

{% endblock %}
