{% extends "MapbenderManagerBundle::manager.html.twig" %}

{% block title %}{{ 'mb.manager.admin.source.update' | trans }}{% endblock %}

{% block manager_content %}
  {{ form_start(form, {'attr': {novalidate: 'novalidate'}}) }}
      <fieldset class="box">
        <legend>{{ sourceTypeLabel }}</legend>
          {{ form_widget(form) }}
            <div class="button-group">
              <input class="button" type="submit" name="load" value="{{"mb.manager.source.load"|trans}}" />
              <a href="{{path('mapbender_manager_repository_index')}}" class="button critical">{{"mb.manager.source.cancel"|trans}}</a>
            </div>
        </fieldset>
  {{ form_end(form) }}
{% endblock %}
