<label for="inputFilterSources" class="labelInput left">{{"mb.manager.admin.filter.source"|trans}}</label><input id="inputFilterSources" type="text" class="input listFilterInput">

<ul id="listFilterSources" class="listFilterContainer clear">
{% for source in sources %}
  <li class="filterItem">
    <a id="repository-list" class="checkContainer chooseElement" title="Choose {{source.title}}" href="{{ path("mapbender_manager_application_addinstance",{'slug': application.slug, "layersetId": layerset.id, "sourceId": source.id}) }}">
      <span>{{ source.type }}</span>
      {% if source.valid == true %}
      <span class="iconStarO icon" title="{{"mb.manager.admin.source.valid"|trans}}"></span>
      {% elseif source.valid is not null %}
      <span class="iconWarningSmpl icon" title="{{"mb.manager.admin.source.notvalid"|trans}}"></span>
      {% endif %}
      <span class="subTitle">{{ source.id }} / {{ source.title }}</span>
      <span>{{ source.alias }}</span>
      <span class="iconOk iconBig"></span>
      <div class="description">{{ source.description | trans }}</div>
      <div class="clearContainer"></div>
    </a>
  </li>
{% else %}
  <li class="description">{{ 'mb.manager.admin.source.no_source' | trans }}</li>
{% endfor %}
</ul>