{%- macro source_meta(source) -%}
<table class="table table-borderless table-condensed">
    <tbody>
      <tr>
          <th>{{ 'mb.manager.admin.element.type' | trans }}:</th>
          <td>
              {%- set type_name = source.type -%}
              {%- if type_name == 'WMS' -%}
                  <span class="badge bg-primary">OGC WMS{% if source.version is defined and source.version %} {{ source.version }}{% endif %}</span>
              {%- elseif type_name == 'WMTS' -%}
                  <span class="badge bg-info text-white">OGC WMTS{% if source.version is defined and source.version %} {{ source.version }}{% endif %}</span>
              {%- elseif type_name == 'TMS' -%}
                  <span class="badge bg-warning text-white">TMS{% if source.version is defined and source.version %} {{ source.version }}{% endif %}</span>
              {%- elseif type_name == 'vector_tiles' -%}
                  <span class="badge bg-dark">Vector Tiles</span>
              {%- elseif type_name == 'ogc_api_features' -%}
                  <span class="badge bg-success">OGC API Features v1</span>
              {%- else -%}
                  <span class="badge bg-secondary">{{ source.type | source_label }}{% if source.version is defined and source.version %} {{ source.version }}{% endif %}</span>
              {%- endif -%}
          </td>
      </tr>
      {% if source.displayUrl %}
      <tr>
          <th>URL:</th>
          <td>{{ source.displayUrl }}</td>
      </tr>
      {% endif %}
      {%- if source.description -%}
      <tr>
          <th>{{ 'mb.manager.source.metadata.abstract' | trans }}:</th>
          <td>{{ source.description }}</td>
      </tr>
      {%- endif -%}
  </tbody>
</table>
{%- endmacro -%}
{%- macro start_subsection(section_title) -%}
{%- if section_title -%}
<tr><th colspan="2">{{ section_title }}:</th></tr>
{%- endif -%}
<tr>
  <td colspan="2">
    <table class="indent lighter-headings">
      <tbody>
{%- endmacro -%}
{%- macro end_subsection() -%}
      </tbody>
    </table>
  </td>
</tr>
{%- endmacro -%}
