{%- macro source_meta(source) -%}
<table class="table table-borderless table-condensed">
    <tbody>
      <tr>
          <th>{{ 'mb.manager.admin.element.type' | trans }}:</th>
          <td>{{ source.type | source_label }}{% if source.version is defined %} {{ source.version }}{% endif %}</td>
      </tr>
      {% if source.displayUrl %}
      <tr>
          <th>URL:</th>
          <td>{{ source.displayUrl }}</td>
      </tr>
      {% endif %}
      {%- if source.description -%}
      <tr>
          <th>{{ 'mb.manager.source.metadata.abstract' | trans }}:</th>
          <td>{{ source.description }}</td>
      </tr>
      {%- endif -%}
  </tbody>
</table>
{%- endmacro -%}
{%- macro start_subsection(section_title) -%}
{%- if section_title -%}
<tr><th colspan="2">{{ section_title }}:</th></tr>
{%- endif -%}
<tr>
  <td colspan="2">
    <table class="indent lighter-headings">
      <tbody>
{%- endmacro -%}
{%- macro end_subsection() -%}
      </tbody>
    </table>
  </td>
</tr>
{%- endmacro -%}
