{%- macro tab_header_id(idSuffix) -%}
{{- 'tab' ~ (idSuffix | first | upper) ~ (idSuffix | slice(1)) -}}
{%- endmacro -%}
{%- macro tab_container_id(idSuffix) -%}
{{- 'container' ~ (idSuffix | first | upper) ~ (idSuffix | slice(1)) -}}
{%- endmacro -%}
{%- macro tab_header(idSuffix, text, class='') -%}
    {%- set _target_id = _self.tab_container_id(idSuffix) -%}
    <li class="nav-item" role="presentation" >
        <a id="{{ _self.tab_header_id(idSuffix) }}" aria-controls="{{ _target_id }}" role="tab" data-bs-toggle="tab"
           class="{{ ('nav-link ' ~ class) | trim(side='right') }}" data-bs-target="#{{ _target_id }}" data-test="mb-{{ _target_id }}">
            {{ text | trans }}
        </a>
    </li>
{%- endmacro -%}
{%- macro tab_content_attributes(idSuffix, class='', box=true) -%}
    {{' '}}id="{{ _self.tab_container_id(idSuffix) }}" class="tab-pane{{ box ? ' content-box content-box-lg' : ''}}{{ (' ' ~ class) | trim(side='right')}}" role="tabpanel"
{%- endmacro -%}
