{% extends 'MapbenderCoreBundle::index.html.twig' %}
{%- set title = title | default(fom.server_name) -%}
{%- set pagetitle = pagetitle | default(fom.server_name ~ ': ' ~ title) -%}
{% block mobilejs %}
  {%- set scaleFactor = scaleFactor | default(1) -%}
  {{ parent() }}
{% endblock mobilejs %}

  {% block css %}
    <link rel="stylesheet"  href="{{ path('mapbender_core_application_assets', {'slug': 'mb3-login', 'type': 'css'}) }}"/>
  {% endblock %}

  {% block trans %}
    <script type="text/javascript" src="{{ path('mapbender_core_application_assets', {'slug': 'mb3-login', 'type': 'trans'}) }}"></script>
  {% endblock %}

  {% block js %}
    <script type="text/javascript"
            src="{{ path('mapbender_core_application_assets', {'slug': 'mb3-login', 'type': 'js'}) }}"></script>
  {% endblock %}
{% block content %}
  <div class="authWrapper">
    {%- set backdrop = asset(login_backdrop_asset()) -%}
    {%- set hq_backdrop = login_backdrop_asset_hq() ? asset(login_backdrop_asset_hq()) : null -%}
    {%- block backdrop_markup -%}
    <div class="container-login-img">{%- block inside_backdrop -%}{%- endblock -%}</div>
    {%- endblock -%}
    <style>
      .container-login-img {
        background-image: url("{{ asset(login_backdrop_asset())}}");
      }
      {%- if login_backdrop_asset_hq() -%}
        @media screen and (min-width: 1921px) {
          .container-login-img {
            background-image: url("{{ asset(login_backdrop_asset_hq()) }}");
          }
        }
      {%- endif -%}
    </style>

    <div class="login-wrapper">
      {% set sitelinks = get_sitelinks() %}
      {% if sitelinks %}
      <div>{# NOTE: need any display: block outer element for working float: right #}
        <ul class="sitelinks list-inline list-unstyled pull-right">
          {% for sitelink in sitelinks %}
            <li><a href="{{ asset(sitelink.link) }}">{{ sitelink.text | trans }}</a></li>
          {% endfor %}
        </ul>
      </div>
      {% endif %}
      <div class="justify-v">
        <div class="logoContainer">
          <a href="{{ path('mapbender_core_welcome_list') }}"><img class="logo" alt="Mapbender 3"
                                                                   src="{{ asset(fom.server_logo) }}"></a>
        </div>
        <div class="loginBox">
        {% block box_content %}{% endblock %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}
