{% extends 'MapbenderCoreBundle::index.html.twig' %}
{% block mobilejs %}
  {%- set scaleFactor = scaleFactor | default(1) -%}
  {{ parent() }}
{% endblock mobilejs %}

  {% block css %}
    <link rel="stylesheet"  href="{{ path('mapbender_core_application_assets', {'slug': 'mb3-login', 'type': 'css'}) }}"/>
  {% endblock %}

  {% block trans %}
    <script type="text/javascript" src="{{ path('mapbender_core_application_assets', {'slug': 'mb3-login', 'type': 'trans'}) }}"></script>
  {% endblock %}

  {% block js %}
    <script type="text/javascript"
            src="{{ path('mapbender_core_application_assets', {'slug': 'mb3-login', 'type': 'js'}) }}"></script>
  {% endblock %}
{% block content %}
  <div class="authWrapper">
    <div class="head">
      <hr class="dekoSeperator">
    </div>
    <div class="login-wrapper">
      <div class="logoContainer">
        <a href="{{ path('mapbender_core_welcome_list') }}"><img class="logo" alt="Mapbender 3"
                                                                 src="{{ asset(fom.server_logo) }}"/></a>
      </div>
      {% block box_content %}{% endblock %}
      {% set sitelinks = get_sitelinks() %}
      {% if sitelinks %}
      <ul class="sitelinks">
        {% for sitelink in sitelinks %}
          <li>{{ loop.first ? '' : '| ' }}<a href="{{ asset(sitelink.link) }}">{{ sitelink.text | trans }}</a></li>
        {% endfor %}
      </ul>
      {% endif %}
    </div>
  </div>
  <script type="text/javascript">
    if (top !== window) {
      top.location.href = location.href;
      top.location.reload();
    }
  </script>
{% endblock %}
