{% extends "MapbenderCoreBundle:Login:box.html.twig" %}

{% block title %}{{ 'fom.user.login.login.title' | trans}}{% endblock %}

{% block box_content %}
  <div class="loginBox login">
    <div class="logoContainer">
      <a href="{{ path('mapbender_core_welcome_list') }}">
        <img class="logo" alt="Mapbender 3" src="/bundles/mapbendercore/image/logo_mb3.png">
      </a>
    </div>
    <h1 class="contentTitle">{{ 'fom.user.login.login.caption' | trans }}</h1>
    <div class="form-login-container">
      {{ form_start(form) }}
      {{ form_widget(form) }}
    </div>

      {% if selfregister == true %}
      <a class="linkButton iconLinkButton" href="{{ path('fom_user_registration_form') }}">{{ 'fom.user.login.login.register' | trans}}</a>
      {% endif %}
      {% if reset_password == true %}
      <a class="linkButton iconLinkButton login-pass-reset" href="{{ path('fom_user_password_form') }}">{{ 'fom.user.login.login.forgot_password' | trans}}?</a>
      {% endif %}

      <input type="submit" class="btn btn-primary login-button right" value="{{ 'fom.user.login.login.login' | trans}}" />
      <!-- <div class="clearContainer"></div> -->
    {{ form_end(form) }}
  </div>
{% endblock %}
