{% extends "MapbenderCoreBundle:Group:base.html.twig" %}

{% block heading %}{{ "mb.core.group.index.groupindex"|trans }}{% endblock %}

{% block content %}

{% if groupList|length >0 %}
  <table>
    <caption>{% trans %}Available Groups{% endtrans %}</caption>
    <thead>
      <tr>
        <th>{{ "mb.core.group.index.name"|trans}}</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for group in groupList %}
      <tr>
        <td>{{ group.name }}</td>
        <td>
          <a title="{{"mb.core.group.index.edit"|trans}} '{{group.name}}'"   href="{{path("mapbender_core_group_edit",{"groupId":group.id})}}">{{ "mb.core.group.index.edit"|trans }}</a>
          <a title="{{"mb.core.group.index.delete"|trans}} '{{group.name}}'" href="{{path("mapbender_core_group_confirmdelete",{"groupId":group.id})}}">{{ "mb.core.group.index.delete"|trans }}</a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% else %}
 <p>{% trans %}No Groups{% endtrans %}</p>
{% endif %}
{% endblock %}
