{% extends "MapbenderCoreBundle::frontend.html.twig" %}

{% block frontend_content %}
  {% set sidePaneClosed = region_props.sidepane.properties.closed|default(false) %}
  <div id="templateWrapper" class="templateWrapper {% if sidePaneClosed == false %}sidePaneOpened{% endif %}">
    <ul id="toolbar" class="toolBar itemsRight top">
          <li class="toolBarItem logoContainer">
            {% block logo %}
              <img class="logo" src="{{ asset(fom.server_logo) }}"/>
            {% endblock %}
          </li>
        {% for element in application.elements('toolbar') %}
          <li class="toolBarItem">{{ element.render() | raw }}</li>
        {% endfor %}
    </ul>

    {# Right sidepane definition #}
    {% set name = 'sidepane' %}
    {% if application.elements[name] is defined %}
      {% set region = application.elements[name] %}
      {% set properties = region_props[name].properties|default({}) %}
      {% set align = properties.align|default('left') %}
      {% set isRegionClosed = properties.closed|default('false') %}

      <div id="{{ name }}"
           data-closed="{{ isRegionClosed }}"
           class="clear sidePane {{ align }}"
        {% if properties.width is defined %} style="width: {{ properties.width }}"{% endif %}
      >
        <ul class="sidePaneTabs">
          <li class="sidePaneTabItem toggleSideBar"></li>
        </ul>
        <div class="sideContent">
          {% include "MapbenderCoreBundle:Template:region.html.twig"  with {'region_props': region_props, 'application': application, 'region': name } %}
        </div>
      </div>
    {% endif %}

    <div id="content" class="contentPane">
      {% include "MapbenderCoreBundle:Template:region.html.twig"  with {'region_props': region_props, 'application': application, 'region': 'content' }%}
    </div>

    {% if application.elements.footer is defined %}
    <ul id="footer" class="toolBar itemsRight bottom">
        {% for element in application.elements('footer')%}
          <li class="toolBarItem">{{ element.render() | raw }}</li>
        {% endfor %}
    </ul>
    {% endif %}
  </div>

{% endblock %}
