{% extends "MapbenderCoreBundle::frontend.html.twig" %}

{% block title %}{{ application.title }}{% endblock %}

{# TODO: Use controller for app.debug, else use dumped assets #}
{% block css %}
    <link rel="stylesheet" type="text/css" href="{{ path('mapbender_core_application_assets', {'slug': application.slug, 'type': 'css'}) }}" />
{% endblock %}

{% block js %}
    <script type="text/javascript" src="{{ path('mapbender_core_application_assets', {'slug': application.slug, 'type': 'js'}) }}"></script>
{% endblock %}

{% block content %}
<div id="top" class="region top">
    <a href="http://mapbender3.org/" target="_blank"><img src="{{ asset(fom.server_logo) }}" class="logo" alt=""/></a>
    <div class="inner">
        {% if application.elements.top is defined %}
        {% for element in application.elements.top %}
            {{ element.render() | raw }}
        {% endfor %}
        {% endif %}
    </div>
</div>

<div class="sideBar box">
  <p>Learn more about Mapbender3:</p>
  <a href="http://mapbender3.org/" target="_blank" >http://mapbender3.org/</a>
  <a href="http://osgeo.org/" target="_blank"><img class="osgeo" src="{{ asset('bundles/mapbendercore/image/OSGeo_project.png') }}" alt=""/></a>
  <p>Mapbender is an official <a href="http://osgeo.org/" target="_blank">OSGeo project</a></p>
</div>
<div id="content" class="region content box">
{% if application.elements.content is defined %}
{% for element in application.elements.content %}
    {{ element.render() | raw }}
{% endfor %}
{% endif %}
</div>
<div id="footer" class="region footer">
{% if application.elements.footer is defined %}
{% for element in application.elements.footer %}
    {{ element.render() | raw }}
{% endfor %}
{% endif %}
</div>
<script type="text/javascript">
    var Mapbender = Mapbender || {};
    Mapbender.configuration = {{ application.configuration | raw }}</script>
{% endblock %}

