{% extends "MapbenderCoreBundle::layout.html.twig" %}

{% block title %}{{ title }}{% endblock %}

{% block css %}
	{% for css in assets.css %}
	<link rel="stylesheet" type="text/css" href="{{ asset('%s/%s'|format(css.base, css.file)) }}" />
	{% endfor %}
{% endblock %}

{% block js %}
	{% for js in assets.js %}
	<script type="text/javascript" src="{{ asset('%s/%s'|format(js.base, js.file)) }}"></script>
	{% endfor %}
{% endblock %}

{% block content %}
<div id="top" class="region">
{% for element in regions.top %}
	{{ element.render() | raw }}
{% endfor %}
</div>
<div id="content" class="region">
{% for element in regions.content %}
	{{ element.render() | raw }}
{% endfor %}
</div>
<script type="text/javascript">{{ configuration | raw }}</script>
{% endblock %}

