{% extends "MapbenderCoreBundle::frontend.html.twig" %}

{% block title %}{{ configuration.title }}{% endblock %}

{% block css %}
	<link rel="stylesheet" type="text/css" href="{{ assets.css }}" />
{% endblock %}

{% block js %}
	<script type="text/javascript" src="{{ assets.js }}"></script>
{% endblock %}

{% block content %}
<div id="top" class="region">
{% for element in regions.top %}
	{{ element.render() | raw }}
{% endfor %}
</div>
<div id="content" class="region">
{% for element in regions.content %}
	{{ element.render() | raw }}
{% endfor %}
</div>
<script type="text/javascript">var Mapbender = Mapbender || {}; Mapbender.configuration = {{ configuration | json_encode | raw }}</script>
{% endblock %}

