{% extends "MapbenderCoreBundle::frontend.html.twig" %}

{% block frontend_content %}
  <div id="templateWrapper" class="templateWrapper">
    <div id="content" class="contentPane">
      {{ map_markup(application) | raw }}
      {{ unanchored_content_elements(application) | raw }}
    </div>
    <div class="map-overlay">
      <div class="map-overlay-column">
        {{ region_markup(application, 'toolbar', false) | raw }}
        <div class="overlay-fill">
          <div class="anchored-element-wrap anchored-element-wrap-lt">{{ anchored_content_elements(application, 'left-top') | raw }}</div>
          <div class="anchored-element-wrap anchored-element-wrap-rt">{{ anchored_content_elements(application, 'right-top') | raw }}</div>
          <div class="anchored-element-wrap anchored-element-wrap-lb">{{ anchored_content_elements(application, 'left-bottom') | raw }}</div>
          <div class="anchored-element-wrap anchored-element-wrap-rb">{{ anchored_content_elements(application, 'right-bottom') | raw }}</div>

          {{ region_markup(application, 'sidepane', true) | raw }}
        </div>
        {{ region_markup(application, 'footer', true) | raw }}
      </div>
    </div>
  </div>
{% endblock %}
