<div class="elementForm">
  {{ form_widget(form.configuration.label) }}<label for="{{form.configuration.label.vars.id}}" class="labelCheck">{{"mb.core.element.be.button.show_label"|trans|raw}}</label>
  <div class="clearContainer"></div>
  {{ form_label(form.title) }}{{ form_widget(form.title) }}
  <div class="clearContainer"></div>
  {{ form_label(form.configuration.tooltip) }}{{ form_widget(form.configuration.tooltip) }}
  <div class="clearContainer"></div>
</div>