<div class="elementForm wideLabelForm">
    {{ form_label(form.title) }}{{ form_widget(form.title) }}
    <div class="clearContainer"></div>
    {{ form_label(form.configuration.tooltip) }}{{ form_widget(form.configuration.tooltip) }}
    <div class="clearContainer"></div>
    {{ form_label(form.configuration.activityClass) }}{{ form_widget(form.configuration.activityClass) }}
    <div class="clearContainer"></div>
    {{ form_label(form.configuration.ajaxActivityClass) }}{{ form_widget(form.configuration.ajaxActivityClass) }}
    <div class="clearContainer"></div>
    {{ form_label(form.configuration.tileActivityClass) }}{{ form_widget(form.configuration.tileActivityClass) }}
    <div class="clearContainer"></div>
</div>