<div class="elementForm">
    {{ form_widget(form.configuration.label) }}<label for="{{form.configuration.label.vars.id}}" class="labelCheck">{{"mb.core.admin.button.show_label"|trans}}</label>
    <div class="clearContainer"></div>
    {{ form_label(form.title) }}{{ form_widget(form.title) }}
    <div class="clearContainer"></div>
    {{ form_label(form.configuration.tooltip) }}{{ form_widget(form.configuration.tooltip) }}
    <div class="clearContainer"></div>
    {{ form_label(form.configuration.icon) }}{{ form_widget(form.configuration.icon) }}
    <div class="clearContainer"></div>
    {{ form_label(form.configuration.target) }}{{ form_widget(form.configuration.target) }}
    <div class="clearContainer"></div>
    {{ form_label(form.configuration.click) }}{{ form_widget(form.configuration.click) }}
    <div class="clearContainer"></div>
    {{ form_label(form.configuration.group) }}{{ form_widget(form.configuration.group) }}
    <div class="clearContainer"></div>
    {{ form_label(form.configuration.action) }}{{ form_widget(form.configuration.action) }}
    <div class="clearContainer"></div>
    {{ form_label(form.configuration.deactivate) }}{{ form_widget(form.configuration.deactivate) }}
    <div class="clearContainer"></div>
</div>