<div class="elementForm wideLabelForm">
    {{ form_widget(form.configuration.label) }}<label for="{{form.configuration.label.vars.id}}" class="labelCheck">{{"mb.core.admin.corrdsdisplay.label" | trans | raw}}</label>
    <div class="clearContainer"></div>
    {{ form_label(form.title) }}{{ form_widget(form.title) }}
    <div class="clearContainer"></div>
    {{ form_label(form.configuration.tooltip) }}{{ form_widget(form.configuration.tooltip) }}
    <div class="clearContainer"></div>
    {{ form_label(form.configuration.anchor) }}{{ form_widget(form.configuration.anchor) }}
    <div class="clearContainer"></div>
    {{ form_label(form.configuration.numDigits) }}{{ form_widget(form.configuration.numDigits) }}
    <div class="clearContainer"></div>
    {{ form_label(form.configuration.target) }}{{ form_widget(form.configuration.target) }}
    <div class="clearContainer"></div>
    {{ form_label(form.configuration.empty) }}{{ form_widget(form.configuration.empty) }}
    <div class="clearContainer"></div>
    {{ form_label(form.configuration.prefix) }}{{ form_widget(form.configuration.prefix) }}
    <div class="clearContainer"></div>
    {{ form_label(form.configuration.separator) }}{{ form_widget(form.configuration.separator) }}
    <div class="clearContainer"></div>
</div>
