<div class="elementFormCopyright elementForm">
    {{ form_label(form.title) }}{{ form_widget(form.title) }}
    <div class="clearContainer"></div>
    {{ form_label(form.configuration.tooltip) }}{{ form_widget(form.configuration.tooltip) }}
    <div class="clearContainer"></div>
    {{ form_label(form.configuration.anchor) }}{{ form_widget(form.configuration.anchor) }}
    <div class="clearContainer"></div>
    {{ form_label(form.configuration.copyright_text) }}{{ form_widget(form.configuration.copyright_text) }}
    <div class="clearContainer"></div>
    {{ form_label(form.configuration.dialog_title) }}{{ form_widget(form.configuration.dialog_title) }}
    <div class="clearContainer"></div>
    {{ form_label(form.configuration.dialog_content) }}{{ form_widget(form.configuration.dialog_content) }}
    <div class="clearContainer"></div>

    {#
      WATCHOUT:
      Copyright link is not supported in v.3.0.0.0.
      Support comes in the next versions
      {form_rest(form)}
     #}
</div>