{% extends "FOMManagerBundle::manager.html.twig" %}

{% block title %}{{ "mb.manager.admin.element.delete.title" | trans}}{% endblock %}

{% set form_errors = form_errors(form) %}

{% block manager_content %}
    {{ form_start(form, { 'action': path('mapbender_manager_element_delete', { 'slug': app.request.get('slug'), 'id': app.request.get('id') }), 'method': 'POST', 'attr': {
        novalidate: 'novalidate', autocomplete: 'off', class: 'well'
    }}) }}
        {% if form_errors(form) %}
        <div class="alert alert-error">
            {{ form_errors(form) }}
        </div>
        {% endif %}

        <p>{{ 'mb.manager.admin.element.delete.confirm' | trans }}</p>
        {{ form_widget(form) }}
        <footer>
            <div class="btn-group">
                <input type="submit" value="{{ 'mb.manager.admin.element.btn.delete' | trans }}" class="btn btn-danger"/>
                <a href="{{ url('mapbender_manager_application_edit', {'slug': app.request.get('slug')}) }}#elements" class="btn">{{ 'mb.manager.admin.element.btn.cancel' | trans}}</a>
            </div>
        </footer>
    {{ form_end(form) }}
{% endblock %}
