    {{ form_start(form, {'attr': {
        'class': ((form.vars.attr.class | default('')) ~ ' elementForm') | trim,
        novalidate: 'novalidate', id: 'elementForm'
    }}) }}

    {% block form_fields %}
        {% block form_fields_common %}
            {# fields shared by all Element forms #}
            {{ form_row(form._token) }}
        {% endblock %}
        {% block form_fields_dynamic %}
            {# fields added by the Element's custom form type #}
            {% if theme is defined and theme != '' %}
                {% include(theme) %}
            {% else %}
                <div class="elementForm">
                    {{ form_row(form.title) }}
                    {{ form_rest(form.configuration) }}
                </div>
            {% endif %}
        {% endblock %}
    {% endblock %}
  {{ form_end(form, {'render_rest': false}) }}

  <script src="{{ asset('bundles/mapbendermanager/js/element-edit.js') }}"></script>
