<header>
    {{ 'mb.manager.admin.element.requirements' | trans}}
</header>

<ul>
    <li class="active"><a href="#element-basics" data-toggle="tab">{{ 'mb.manager.admin.element.base_data' | trans}}</a></li>
    <li><a href="#element-configuration" data-toggle="tab">{{ 'mb.manager.admin.element.configuration' | trans}}</a></li>
</ul>

<div>
    <section id="element-basics">
        {{ form_row(form.title) }}
    </section>

    <section id="element-configuration">
        {{ form_rest(form) }}
    </section>
</div>

