<a id="addPermission" href="{{path('fom_user_acl_overview')}}" class="iconAdd iconBig right" title="{{'Add users and groups'|trans}}"></a>
{#{ form_widget(form.enabled) }}<!--label for="{{form.enabled.vars.id}}" class="labelCheck">{{"Publish"|trans}#}<!--/label-->
<div class="clearContainer"></div>
{{ form_widget(form.acl) }}