{% form_theme form 'MapbenderCoreBundle:form:fields_horizontal.html.twig' %}
<div class="mb-3">
    {{ form_widget(form.configuration.label, {'label_attr': {'class': 'checkbox-inline'}}) }}
</div>
<div class="mb-3">
    {{ form_widget(form.configuration.autoStart, {'label_attr': {'class': 'checkbox-inline'}}) }}
</div>
{{ form_row(form.title) }}
{{ form_row(form.configuration.tooltip) }}
{{ form_row(form.configuration.icon) }}
{{ form_row(form.configuration.average) }}
<div class="mb-3">
    {{ form_widget(form.configuration.zoomToAccuracyOnFirstPosition, {'label_attr': {'class': 'checkbox-inline'}}) }}
</div>
<div class="mb-3">
    {{ form_widget(form.configuration.follow, {'label_attr': {'class': 'checkbox-inline'}}) }}
</div>
<div class="mb-3">
    {{ form_widget(form.configuration.centerOnFirstPosition, {'label_attr': {'class': 'checkbox-inline'}}) }}
</div>
