<div class="elementFormLayerTree elementForm">
    <div class="left">
        {{ form_widget(form.configuration.showBaseSource) }}<label for="{{form.configuration.showBaseSource.vars.id}}" class="labelCheck">{{"Draggable"|trans}}</label>
    </div>
    <div class="left">
        {{ form_widget(form.configuration.autoOpen) }}<label for="{{form.configuration.autoOpen.vars.id}}" class="labelCheck">{{"Auto open"|trans}}</label>
    </div>
    <div class="clearContainer"></div>
    {{ form_label(form.title) }}{{ form_widget(form.title) }}
    <div class="clearContainer"></div>
    {{ form_label(form.configuration.target) }}{{ form_widget(form.configuration.target) }}
    <div class="clearContainer"></div>
    {{ form_label(form.configuration.type) }}{{ form_widget(form.configuration.type) }}
    <div class="clearContainer"></div>
    {{ form_label(form.configuration.displaytype) }}{{ form_widget(form.configuration.displaytype) }}
    <div class="clearContainer"></div>
    {{ form_label(form.configuration.titlemaxlength) }}{{ form_widget(form.configuration.titlemaxlength) }}
    <div class="clearContainer"></div>
</div>