<div class="elementFormMap elementForm">
    {{ form_label(form.title) }}{{ form_widget(form.title) }}
    <div class="clearContainer"></div>
    {{ form_label(form.configuration.layerset) }}{{ form_widget(form.configuration.layerset) }}
    <div class="clearContainer"></div>
    {{ form_label(form.configuration.dpi) }}{{ form_widget(form.configuration.dpi) }}
    <div class="clearContainer"></div>
    {{ form_label(form.configuration.srs) }}{{ form_widget(form.configuration.srs) }}
    <div class="clearContainer"></div>
    {{ form_label(form.configuration.units) }}{{ form_widget(form.configuration.units) }}
    <div class="clearContainer"></div>
    <label class="labelInput">{{"Max. extent"|trans}}</label>
    
    {{ form_widget(form.configuration.extent_max) }}

    <div class="clearContainer"></div>
    {{ form_label(form.configuration.extent_start) }}{{ form_widget(form.configuration.extent_start) }}
    <div class="clearContainer"></div>
    {{ form_label(form.configuration.scales) }}{{ form_widget(form.configuration.scales) }}
    <div class="clearContainer"></div>
    {{ form_label(form.configuration.maxResolution) }}{{ form_widget(form.configuration.maxResolution) }}
    <div class="clearContainer"></div>
    {{ form_label(form.configuration.imgPath) }}{{ form_widget(form.configuration.imgPath) }}
    <div class="clearContainer"></div>
    {{ form_label(form.configuration.otherSrs) }}{{ form_widget(form.configuration.otherSrs) }}
    <div class="clearContainer"></div>
</div>