<div class="elementFormMap elementForm">
    {{ form_label(form.title) }}{{ form_widget(form.title) }}
    <div class="clearContainer"></div>
    {{ form_row(form.configuration.layersets) }}
    <div class="clearContainer"></div>
    {{ form_label(form.configuration.dpi) }}{{ form_widget(form.configuration.dpi) }}
    <div class="clearContainer"></div>
    {{ form_label(form.configuration.tileSize) }}{{ form_widget(form.configuration.tileSize) }}
    <div class="clearContainer"></div>
    {{ form_label(form.configuration.srs) }}{{ form_widget(form.configuration.srs) }}
    <div class="clearContainer"></div>
    {{ form_label(form.configuration.units) }}{{ form_widget(form.configuration.units) }}
    <div class="clearContainer"></div>
    <label class="labelInput">{{"mb.manager.admin.map.max_extent"|trans}}</label>
    <div class="singleRow">
        {{form_label(form.configuration.extent_max.0)}}
        {{form_widget(form.configuration.extent_max.0)}}
        {{form_label(form.configuration.extent_max.1)}}
        {{form_widget(form.configuration.extent_max.1)}}
    </div>
    <div class="clearContainer"></div>
    <div class="singleRow">
        {{form_label(form.configuration.extent_max.2)}}
        {{form_widget(form.configuration.extent_max.2)}}
        {{form_label(form.configuration.extent_max.3)}}
        {{form_widget(form.configuration.extent_max.3)}}
    </div>
    <div class="clearContainer"></div>
    <label class="labelInput">{{"mb.manager.admin.map.start_extent"|trans}}</label>
    <div class="singleRow">
        {{form_label(form.configuration.extent_start.0)}}
        {{form_widget(form.configuration.extent_start.0)}}
        {{form_label(form.configuration.extent_start.1)}}
        {{form_widget(form.configuration.extent_start.1)}}
    </div>
    <div class="clearContainer"></div>
    <div class="singleRow">
        {{form_label(form.configuration.extent_start.2)}}
        {{form_widget(form.configuration.extent_start.2)}}
        {{form_label(form.configuration.extent_start.3)}}
        {{form_widget(form.configuration.extent_start.3)}}
    </div>

    <div class="clearContainer"></div>
    {{ form_label(form.configuration.scales) }}{{ form_widget(form.configuration.scales) }}
    <div class="clearContainer"></div>
    {{ form_label(form.configuration.otherSrs) }}{{ form_widget(form.configuration.otherSrs) }}
    <div class="clearContainer"></div>
    <div class="clearContainer"></div>
</div>
<script type="text/javascript">
$('.elementFormMap .choiceExpandedSortable').sortable({
axis: "y"
});
</script>
