<div class="elementFormMap">
    {{ form_row(form.title) }}
    {{ form_row(form.configuration.layersets) }}
    {{ form_row(form.configuration.tileSize) }}
    {{ form_row(form.configuration.srs) }}
    <div>
        {{ form_label(form.configuration.extent_max) }}
        <div class="inputWrapper">
            <div class="row no-gutters singleRow">
                <div class="col-xs-6">{{ form_row(form.configuration.extent_max.0) }}</div>
                <div class="col-xs-6">{{ form_row(form.configuration.extent_max.1) }}</div>
            </div>
            <div class="row no-gutters singleRow">
                <div class="col-xs-6">{{ form_row(form.configuration.extent_max.2) }}</div>
                <div class="col-xs-6">{{ form_row(form.configuration.extent_max.3) }}</div>
            </div>
        </div>
        {{ form_help(form.configuration.extent_start) }}
    </div>
    <div>
        {{ form_label(form.configuration.extent_start) }}
        <div class="inputWrapper">
            <div class="row no-gutters singleRow">
                <div class="col-xs-6">{{ form_row(form.configuration.extent_start.0) }}</div>
                <div class="col-xs-6">{{ form_row(form.configuration.extent_start.1) }}</div>
            </div>
            <div class="row no-gutters singleRow">
                <div class="col-xs-6">{{ form_row(form.configuration.extent_start.2) }}</div>
                <div class="col-xs-6">{{ form_row(form.configuration.extent_start.3) }}</div>
            </div>
        </div>
        {{ form_help(form.configuration.extent_start) }}
    </div>
    {{ form_rest(form.configuration) }}
</div>
<script type="text/javascript">
$('.elementFormMap .choiceExpandedSortable').sortable({
axis: "y"
});
</script>
