<div class="elementForm">
    {{ form_label(form.title) }}{{ form_widget(form.title) }}
    <div class="clearContainer"></div>
    {{ form_label(form.configuration.tooltip) }}{{ form_widget(form.configuration.tooltip) }}
    <div class="clearContainer"></div>
    {{ form_label(form.configuration.target) }}{{ form_widget(form.configuration.target) }}
    <div class="clearContainer"></div>
    {{ form_label(form.configuration.maxWidth) }}{{ form_widget(form.configuration.maxWidth) }}
    <div class="clearContainer"></div>
    {{ form_label(form.configuration.anchor) }}{{ form_widget(form.configuration.anchor) }}
    <div class="clearContainer"></div>
    {{ form_label(form.configuration.units) }}{{ form_widget(form.configuration.units) }}
    <div class="clearContainer"></div>
</div>