<div id="addElmPermission" href="{{ path('fom_user_acl_overview') }}" class="right"
   title="{{ 'mb.manager.managerbundle.add_user_group'|trans }}"><span class="iconAdd iconBig"></span>
</div>

{{ form_start(form, { 'action': path('mapbender_manager_element_security', { 'slug': app.request.get('slug'), 'id': app.request.get('id') }), 'method': 'POST', 'attr': {
    novalidate: 'novalidate', id: 'elementSecurity'
}}) }}
    {{ form_row(form._token) }}
    <div class="clearContainer"></div>
    {{ form_widget(form.acl) }}
{{ form_end(form) }}
