{#- special case ACL appending button with base form already in popup -#}
<div class="text-right">
    <span id="addElmPermission" data-href="{{ path('fom_user_acl_overview') }}" title="{{ 'mb.manager.managerbundle.add_user_group'|trans }}" class="hover-highlight-effect">
        <i class="fa fas fa-plus fa-2x"></i>
    </span>
</div>

{{ form_start(form, {'attr': {
    novalidate: 'novalidate', id: 'elementSecurity'
}}) }}
    {{ form_widget(form) }}
{{ form_end(form) }}
