{% for class, meta in elements %}
<a class="checkContainer chooseElement" data-tags="{{ meta.tags | join(',') | lower }}" title="Choose {{meta.title}} Element" href="{{ path('mapbender_manager_element_new', {'slug': app.request.get('slug'), 'class': class, 'region': region}) }}">
    <span class="subTitle">{{ meta.title | trans }}</span>
    <span class="checkedIcon"></span>
    <div class="description">{{ meta.description | trans }}</div>
    <div class="clearContainer"></div>
</a>
{% endfor %}