{% extends "FOMManagerBundle::manager.html.twig" %}

{% block title %}{{ "Select Element Class" | trans}}{% endblock %}

{% block manager_content %}

{% for class, meta in elements %}
<div data-tags="{{ meta.tags | join(',') | lower }}">
    <a href="{{ path('mapbender_manager_element_new', {'slug': app.request.get('slug'), 'class': class}) }}">{{ meta.title }}</a>
    <div>{{ meta.description | trans }}</div>
</div>
{% endfor %}

{% endblock %}
