    <label for="inputFilterElements" class="labelInput">{{ "mb.actions.filter" | trans }}</label><input id="inputFilterElements" type="text" class="input listFilterInput">

    <ul id="listFilterElements" class="listFilterContainer">
    {% for class, meta in elements %}
        <li class="filterItem">
            <a class="checkContainer chooseElement" href="{{ path('mapbender_manager_element_new', {'slug': app.request.get('slug'), 'class': meta.class, 'region': region}) }}" data-element-title="{{ meta.title }}">
                <span class="subTitle">{{ meta.title }}</span>
                <div class="description">{{ meta.description }}</div>
            </a>
        </li>
    {% endfor %}
    </ul>
