<div class="elementForm wideLabelForm">
    <div class="left">
        {{ form_widget(form.configuration.draggable) }}<label for="{{form.configuration.draggable.vars.id}}" class="labelCheck">{{"mb.manager.admin.zoombar.draggable"|trans}}</label>
    </div>
    <div class="clearContainer"></div>
    {{ form_label(form.title) }}{{ form_widget(form.title) }}
    <div class="clearContainer"></div>
    {{ form_label(form.configuration.tooltip) }}{{ form_widget(form.configuration.tooltip) }}
    <div class="clearContainer"></div>
    {{ form_label(form.configuration.components) }}{{ form_widget(form.configuration.components, { 'attr': { 'size': '6' } }) }}
    <div class="clearContainer"></div>
    {{ form_label(form.configuration.target) }}{{ form_widget(form.configuration.target) }}
    <div class="clearContainer"></div>
    {{ form_label(form.configuration.stepSize) }}{{ form_widget(form.configuration.stepSize) }}
    <div class="clearContainer"></div>
    {{ form_label(form.configuration.stepByPixel) }}{{ form_widget(form.configuration.stepByPixel) }}
    <div class="clearContainer"></div>
    {{ form_label(form.configuration.anchor) }}{{ form_widget(form.configuration.anchor) }}
    <div class="clearContainer"></div>
</div>
