<div class="elementForm">
  <div class="clearContainer"></div>
  {{ form_label(form.title) }}{{ form_widget(form.title) }}
  <div class="clearContainer"></div>
  {{ form_label(form.configuration.tooltip) }}{{ form_widget(form.configuration.tooltip) }}
  <div class="clearContainer"></div>
  {{ form_label(form.configuration.target) }}{{ form_widget(form.configuration.target) }}
  <div class="clearContainer"></div>
  
  {% if form.configuration.sourcesets is defined %}
  {{ form_label(form.configuration.sourcesets) }}{{ form_widget(form.configuration.sourcesets) }}
  <div class="clearContainer"></div>
  {% else %}
  <span>{{ 'mb.core.basesourceswitcher.form.mesage'| trans }}</span>
  {% endif %}
  
</div>