<div class="elementForm defaultForm elementFormFeatureInfoExt">
  <div class="clearContainer"></div>
  {{ form_label(form.title) }}{{ form_widget(form.title) }}
  <div class="clearContainer"></div>
  {{ form_label(form.configuration.map) }}{{ form_widget(form.configuration.map) }}
  <div class="clearContainer"></div>
  {{ form_label(form.configuration.featureinfo) }}{{ form_widget(form.configuration.featureinfo) }}
  <div class="clearContainer"></div>
  {{ form_label(form.configuration.highlightSource) }}{{ form_widget(form.configuration.highlightSource) }}
  <div class="clearContainer"></div>
  {{ form_label(form.configuration.loadWms) }}{{ form_widget(form.configuration.loadWms) }}
  <div class="clearContainer"></div>
</div>
