<div class="elementForm">
    <div>
        <div class="left">
            {{ form_row(form.configuration.autoActivate) }}
        </div>
        <div class="left">
            {{ form_row(form.configuration.deactivateOnClose) }}
        </div>
        <div class="left">
            {{ form_row(form.configuration.printResult) }}
        </div>
        <div class="clearContainer"></div>
    </div>
    {{ form_row(form.title) }}
    {{ form_row(form.configuration.target) }}
    {{ form_row(form.configuration.displayType) }}
    {{ form_row(form.configuration.maxCount) }}
    {{ form_row(form.configuration.width) }}
    {{ form_row(form.configuration.height) }}
    {{ form_rest(form.configuration) }}
</div>
<script type="text/javascript">
    !(function($) {
        var $pickers = $('#{{ form.configuration.featureColorDefault.vars.id | raw }},#{{ form.configuration.featureColorHover.vars.id | raw}}');
        $pickers.colorpicker();
    }(jQuery));
</script>
