<div class="elementForm">
    <div>
        <div class="left">
            {{ form_row(form.configuration.autoActivate) }}
        </div>
        <div class="left">
            {{ form_row(form.configuration.deactivateOnClose) }}
        </div>
        <div class="left">
            {{ form_row(form.configuration.printResult) }}
        </div>
        <div class="clearContainer"></div>
    </div>
    {{ form_row(form.title) }}
    {{ form_row(form.configuration.target) }}
    {{ form_row(form.configuration.displayType) }}
    {{ form_row(form.configuration.maxCount) }}
    {{ form_row(form.configuration.width) }}
    {{ form_row(form.configuration.height) }}
    <div>
        <div class="left">
            {{ form_row(form.configuration.showOriginal) }}
        </div>
        <div class="left">
            {{ form_row(form.configuration.onlyValid) }}
        </div>
        <div class="clearContainer"></div>
    </div>
    {{ form_rest(form.configuration) }}
</div>
