<div class="elementForm">
    {{ form_label(form.title) }}{{ form_widget(form.title) }}
    <div class="clearContainer"></div>
    {{ form_label(form.configuration.content) }}{{ form_widget(form.configuration.content) }}
    <div class="clearContainer"></div>
    {{ form_label(form.configuration.classes) }}{{ form_widget(form.configuration.classes) }}
</div>
