<div class="elementForm elementFormLayerTree">
    <div class="left">
        {{ form_widget(form.configuration.showBaseSource) }}<label for="{{form.configuration.showBaseSource.vars.id}}" class="labelCheck">{{"mb.core.admin.layertree.label.showbasesources"|trans}}</label>
    </div>
    <div class="left">
        {{ form_widget(form.configuration.showHeader) }}<label for="{{form.configuration.showHeader.vars.id}}" class="labelCheck">{{"mb.core.admin.layertree.label.showheader"|trans}}</label>
    </div>
    <div class="left">
        {{ form_widget(form.configuration.autoOpen) }}<label for="{{form.configuration.autoOpen.vars.id}}" class="labelCheck">{{"mb.core.admin.layertree.label.autoopen"|trans}}</label>
    </div>
    <div class="clearContainer"></div>
    {{ form_label(form.title) }}{{ form_widget(form.title) }}
    <div class="clearContainer"></div>
    {{ form_label(form.configuration.target) }}{{ form_widget(form.configuration.target) }}
    <div class="clearContainer"></div>
    {{ form_label(form.configuration.type) }}{{ form_widget(form.configuration.type) }}
    <div class="clearContainer"></div>
    {{ form_label(form.configuration.menu) }}{{ form_widget(form.configuration.menu) }}
    <div class="clearContainer"></div>
    <div class="left">
        {{ form_widget(form.configuration.hideNotToggleable) }}<label for="{{form.configuration.hideNotToggleable.vars.id}}" class="labelCheck">{{"mb.core.admin.layertree.label.hidenottoggleable"|trans}}</label>
    </div>
    <div class="left">
        {{ form_widget(form.configuration.hideSelect) }}<label for="{{form.configuration.hideSelect.vars.id}}" class="labelCheck">{{"mb.core.admin.layertree.label.hideselect"|trans}}</label>
    </div>
    <div class="left">
        {{ form_widget(form.configuration.hideInfo) }}<label for="{{form.configuration.hideInfo.vars.id}}" class="labelCheck">{{"mb.core.admin.layertree.label.hideinfo"|trans}}</label>
    </div>
    <div class="clearContainer"></div>
    <div class="left">
        {{ form_widget(form.configuration.useTheme) }}<label for="{{form.configuration.useTheme.vars.id}}" class="labelCheck">{{"mb.core.admin.layertree.label.usetheme"|trans}}</label>
    </div>
    <div class="clearContainer"></div>
    {% if form.configuration.themes is defined %}
      <label for="{{form.configuration.themes.vars.id}}" class="labelInput left">{{"mb.core.admin.layertree.label.themes"|trans}}</label>
      <table id="{{form.configuration.themes.vars.id}}" class="collectionContainer">
      {% for theme in form.configuration.themes %}
        {% include "MapbenderCoreBundle:ElementAdmin:layertheme.html.twig"  with {'theme': theme} %}
      {% endfor %}
      </table>
      <div class="clearContainer"></div>
    {% endif %}
</div>
