<div class="elementFormLayerTree elementForm">
    <div class="left">
        {{ form_widget(form.configuration.showBaseSource) }}<label for="{{form.configuration.showBaseSource.vars.id}}" class="labelCheck">{{"mb.core.admin.layertree.label.showbasesources"|trans}}</label>
    </div>
    <div class="left">
        {{ form_widget(form.configuration.autoOpen) }}<label for="{{form.configuration.autoOpen.vars.id}}" class="labelCheck">{{"mb.core.admin.layertree.label.autoopen"|trans}}</label>
    </div>
    <div class="clearContainer"></div>
    {{ form_label(form.title) }}{{ form_widget(form.title) }}
    <div class="clearContainer"></div>
    {{ form_label(form.configuration.target) }}{{ form_widget(form.configuration.target) }}
    <div class="clearContainer"></div>
    {{ form_label(form.configuration.type) }}{{ form_widget(form.configuration.type) }}
    <div class="clearContainer"></div>
    {{ form_label(form.configuration.displaytype) }}{{ form_widget(form.configuration.displaytype) }}
    <div class="clearContainer"></div>
    {{ form_label(form.configuration.titlemaxlength) }}{{ form_widget(form.configuration.titlemaxlength) }}
    <div class="clearContainer"></div>
    <div class="left">
        {{ form_widget(form.configuration.showHeader) }}<label for="{{form.configuration.showHeader.vars.id}}" class="labelCheck">{{"mb.core.admin.layertree.label.showheader"|trans}}</label>
    </div>
    <div class="clearContainer"></div>
    {{ form_label(form.configuration.menu) }}{{ form_widget(form.configuration.menu) }}
    <div class="clearContainer"></div>
</div>
