<tr>
    <td title="{{"mb.core.admin.layertree.label.theme.label"|trans}}">
        {{ theme.vars.data.title }}
    </td>
    <td class="theme-settings text-nowrap text-right">
        <span title="{{ theme.useTheme.vars.attr.title | trans }}">
            {{ form_row(theme.useTheme) }}
        </span>
        <span class="item-opened" title="{{ theme.opened.vars.attr.title | trans }}">
            {{ form_row(theme.opened) }}
        </span>
        <span title="{{ theme.sourceVisibility.vars.attr.title | trans }}">
            {{ form_row(theme.sourceVisibility) }}
        </span>
        <span title="{{ theme.allSelected.vars.attr.title | trans }}">
            {{ form_row(theme.allSelected) }}
        </span>
    </td>
</tr>
