<div id="{{form.configuration.themes.vars.id}}" class="collectionItem">
    {{ form_widget(theme.id) }}
    <div class="collectionItemProperty">
        <label class="labelInput">{{ theme.vars.data.title }}</label>{{ form_widget(theme.title) }}
    </div>
    <div class="collectionItemProperty item-opened" title="{{"mb.core.admin.layertree.label.theme.opened"|trans}}">
        {{ form_widget(theme.opened) }}<!--label for="{{theme.opened.vars.id}}" class="labelInput">{{"mb.core.admin.layertree.label.theme.opened"|trans}}</label-->
    </div>
    <div class="collectionItemProperty item-activate" title="{{"mb.core.admin.layertree.label.theme.activate"|trans}}">
        {{ form_widget(theme.activate) }}<!--label for="{{theme.activate.vars.id}}" class="labelInput">{{"mb.core.admin.layertree.label.theme.activate"|trans}}</label-->
    </div>
</div>
