<tr id="{{form.configuration.themes.vars.id}}" class="collectionItem">
    <td title="{{"mb.core.admin.layertree.label.theme.label"|trans}}">
        {{ form_widget(theme.id) }}
        <label class="labelInput">{{ theme.vars.data.title }}</label>{{ form_widget(theme.title) }}
    </td>
    <td class="theme-settings">
        <span title="{{"mb.core.admin.layertree.label.theme.useTheme"|trans}}">
            {{ form_widget(theme.useTheme) }}
        </span>
        <span class="item-opened" title="{{"mb.core.admin.layertree.label.theme.opened"|trans}}">
            {{ form_widget(theme.opened) }}
        </span>
        <span title="{{"mb.core.admin.layertree.label.theme.sourceVisibility"|trans}}">
            {{ form_widget(theme.sourceVisibility) }}
        </span>
        <span title="{{"mb.core.admin.layertree.label.theme.allSelected"|trans}}">
            {{ form_widget(theme.allSelected) }}
        </span>
    </td>
</tr>
