<div class="elementForm elementFormLayerTree">
    <div>
        <div class="left">
            {{ form_row(form.configuration.showBaseSource) }}
        </div>
        <div class="left">
            {{ form_row(form.configuration.autoOpen) }}
        </div>
        <div class="clearContainer"></div>
    </div>
    {{ form_row(form.title) }}
    {{ form_row(form.configuration.target) }}
    {{ form_row(form.configuration.type) }}
    {{ form_row(form.configuration.menu) }}
    <div>
        <div class="left">
            {{ form_row(form.configuration.hideSelect) }}
        </div>
        <div class="left">
            {{ form_row(form.configuration.hideInfo) }}
        </div>
        <div class="clearContainer"></div>
    </div>
    {{ form_row(form.configuration.useTheme) }}
    {% if form.configuration.themes is defined %}
        <div>
          {{ form_label(form.configuration.themes) }}
          <table id="{{form.configuration.themes.vars.id}}" class="collectionContainer">
          {% for theme in form.configuration.themes %}
            {% include "MapbenderCoreBundle:ElementAdmin:layertheme.html.twig"  with {'theme': theme} %}
          {% endfor %}
          </table>
          <div class="clearContainer"></div>
        </div>
    {% endif %}
    {{ form_rest(form.configuration) }}
</div>
