<div class="elementForm wideLabelForm">
    {{ form_row(form.configuration.autoOpen) }}
    <div class="clearContainer"></div>
    {{ form_label(form.title) }}{{ form_widget(form.title) }}
    <div class="clearContainer"></div>
    {{ form_label(form.configuration.tooltip) }}{{ form_widget(form.configuration.tooltip) }}
    <div class="clearContainer"></div>
    {{ form_label(form.configuration.elementType) }}{{ form_widget(form.configuration.elementType) }}
    <div class="clearContainer"></div>
    {{ form_label(form.configuration.displayType) }}{{ form_widget(form.configuration.displayType) }}
    <div class="clearContainer"></div>
    {{ form_label(form.configuration.target) }}{{ form_widget(form.configuration.target) }}
    <div class="clearContainer"></div>
    {{ form_row(form.configuration.showSourceTitle) }}
    <div class="clearContainer"></div>
    {{ form_row(form.configuration.showLayerTitle) }}
    <div class="clearContainer"></div>
    {{ form_row(form.configuration.showGroupedLayerTitle) }}
    <div class="clearContainer"></div>
</div>
