<div class="defaultForm elementForm">
    {{ form_label(form.title) }}{{ form_widget(form.title) }}
    <div class="clearContainer"></div>
    {{ form_label(form.configuration.label) }}{{ form_widget(form.configuration.label) }}
    <div class="clearContainer"></div>
    {{ form_label(form.configuration.confirm) }}{{ form_widget(form.configuration.confirm) }}
    <div class="clearContainer"></div>
</div>
