<div class="elementForm defaultForm">
    <div class="left">
        {{ form_widget(form.configuration.useMailto) }}<label for="{{form.configuration.useMailto.vars.id}}" class="labelCheck">{{ "mb.core.admin.poi.label.usemailto"|trans }}</label>
    </div>
    <div class="clearContainer"></div>
    {{ form_label(form.title) }}{{ form_widget(form.title) }}
    <div class="clearContainer"></div>
    {{ form_label(form.configuration.tooltip) }}{{ form_widget(form.configuration.tooltip) }}
    <div class="clearContainer"></div>
    {{ form_label(form.configuration.body) }}{{ form_widget(form.configuration.body) }}
    <div class="clearContainer"></div>
    {{ form_label(form.configuration.target) }}{{ form_widget(form.configuration.target) }}
    <div class="clearContainer"></div>
    {{ form_label(form.configuration.gps) }}{{ form_widget(form.configuration.gps) }}
    <div class="clearContainer"></div>
</div>
