<div class="elementForm defaultForm">
    {{ form_row(form.configuration.useMailto) }}
    {{ form_row(form.title) }}
    {{ form_row(form.configuration.tooltip) }}
    {{ form_row(form.configuration.body) }}
    {{ form_row(form.configuration.target) }}
    {{ form_rest(form.configuration) }}
</div>
