<div class="elementFormPrintClient elementForm">
    {{ form_label(form.title) }}{{ form_widget(form.title) }}
    <div class="clearContainer"></div>
    {{ form_label(form.configuration.target) }}{{ form_widget(form.configuration.target) }}
    <div class="clearContainer"></div>
    {{ form_label(form.configuration.type) }}{{ form_widget(form.configuration.type) }}
    <div class="clearContainer"></div>
    {{ form_label(form.configuration.scales) }}{{ form_widget(form.configuration.scales) }}
    <div class="clearContainer"></div>
    {{ form_widget(form.configuration.rotatable) }}<label for="{{form.configuration.rotatable.vars.id}}" class="labelCheck">{{"mb.core.admin.printclient.label.rotatable"|trans}}</label>
    <div class="clearContainer"></div>
    {{ form_widget(form.configuration.legend) }}<label for="{{form.configuration.legend.vars.id}}" class="labelCheck">{{"mb.core.admin.printclient.label.legend"|trans}}</label>
    <div class="clearContainer"></div>
    {{ form_widget(form.configuration.legend_default_behaviour) }}<label for="{{form.configuration.legend_default_behaviour.vars.id}}" class="labelCheck">{{"mb.core.admin.printclient.label.legend_default_behaviour"|trans}}</label>
    <div class="clearContainer"></div>
    {{ form_label(form.configuration.renderMode) }}{{ form_widget(form.configuration.renderMode) }}
    <div class="clearContainer"></div>
    {{ form_label(form.configuration.file_prefix) }}{{ form_widget(form.configuration.file_prefix) }}
    <div class="clearContainer"></div>
    {{ form_label(form.configuration.quality_levels) }}
    {% for level in form.configuration.quality_levels %}
        <div class="singleRow">
            <div class="left">
                {{form_label(level.dpi)}}
                {{ form_widget(level.dpi) }}
            </div>
            <div class="left">
                {{form_label(level.label)}}
                {{ form_widget(level.label) }}
            </div>
        </div>
        <div class="clearContainer"></div>
        <span class="labelInput"></span>
    {% endfor %}
    <div class="clearContainer"></div>
    <hr>
    <br>
    {{ form_label(form.configuration.templates) }}{{ form_widget(form.configuration.templates) }}
    <hr>
    <br>
    {{ form_label(form.configuration.optional_fields) }}{{ form_widget(form.configuration.optional_fields) }}
    {{ form_label(form.configuration.replace_pattern) }}{{ form_widget(form.configuration.replace_pattern) }}
    
</div>
