<div class="elementFormWmsLoader elementForm">
    {{ form_label(form.title) }}{{ form_widget(form.title) }}
    <div class="clearContainer"></div>
    {{ form_label(form.configuration.target) }}{{ form_widget(form.configuration.target) }}
    <div class="clearContainer"></div>
    <div class="left">
        {{ form_widget(form.configuration.autoOpen) }}<label for="{{form.configuration.autoOpen.vars.id}}" class="labelCheck">{{"Auto open"|trans}}</label>
    </div>
    <div class="clearContainer"></div>
    <div class="left">
        {{ form_widget(form.configuration.print_directly) }}<label for="{{form.configuration.print_directly.vars.id}}" class="labelCheck">{{"Print directly"|trans}}</label>
    </div>
    <div class="clearContainer"></div>
    {{ form_label(form.configuration.scales) }}{{ form_widget(form.configuration.scales) }}
    <div class="clearContainer"></div>
    <div class="left">
        {{ form_widget(form.configuration.rotatable) }}<label for="{{form.configuration.rotatable.vars.id}}" class="labelCheck">{{"Rotatable"|trans}}</label>
    </div> 
    <div class="clearContainer"></div>
    {{ form_label(form.configuration.quality_levels) }}
    <div class="clearContainer"></div>
    <hr>
    {% for level in form.configuration.quality_levels %} 
        {{form_label(level.dpi)}}   {{ form_widget(level.dpi) }}
        <div class="clearContainer"></div>
        {{form_label(level.label)}}   {{ form_widget(level.label) }}
        <div class="clearContainer"></div>
        <hr>
    {% endfor %}
    {{ form_label(form.configuration.templates) }}
    <div class="clearContainer"></div>
    <hr>
    {% for template in form.configuration.templates %}    
        {{form_label(template.template)}}   {{ form_widget(template.template) }}
        <div class="clearContainer"></div>
        {{form_label(template.label)}}   {{ form_widget(template.label) }}
        <div class="clearContainer"></div>
        {{form_label(template.format)}}   {{ form_widget(template.format) }}
        <div class="clearContainer"></div>
        <hr>
    {% endfor %}
    <div class="clearContainer"></div>
</div>