<div class="elementForm wideLabelForm">
    <div class="left">
        {{ form_widget(form.configuration.auto_activate) }}<label for="{{form.configuration.auto_activate.vars.id}}" class="labelCheck">{{"mb.core.admin.redlining.label.auto_activate"|trans}}</label>
    </div>
    <div class="left">
        {{ form_widget(form.configuration.deactivate_on_close) }}<label for="{{form.configuration.deactivate_on_close.vars.id}}" class="labelCheck">{{"mb.core.admin.redlining.label.deactivate_on_close"|trans}}</label>
    </div>
    <div class="clearContainer"></div>
    {{ form_label(form.title) }}{{ form_widget(form.title) }}
    <div class="clearContainer"></div>
    {{ form_label(form.configuration.target) }}{{ form_widget(form.configuration.target) }}
    <div class="clearContainer"></div>
    {{ form_label(form.configuration.display_type) }}{{ form_widget(form.configuration.display_type) }}
    <div class="clearContainer"></div>
    {{ form_label(form.configuration.geometrytypes) }}{{ form_widget(form.configuration.geometrytypes) }}
    <div class="clearContainer"></div>
</div>