<div class="elementForm wideLabelForm">
    <div class="left">
        {{ form_widget(form.configuration.autoActivate) }}<label for="{{form.configuration.autoActivate.vars.id}}" class="labelCheck">{{"mb.core.admin.redlining.label.auto_activate"|trans}}</label>
    </div>
    <div class="left">
        {{ form_widget(form.configuration.deactivateOnClose) }}<label for="{{form.configuration.deactivateOnClose.vars.id}}" class="labelCheck">{{"mb.core.admin.redlining.label.deactivate_on_close"|trans}}</label>
    </div>
    <div class="clearContainer"></div>
    {{ form_label(form.title) }}{{ form_widget(form.title) }}
    <div class="clearContainer"></div>
    {{ form_label(form.configuration.target) }}{{ form_widget(form.configuration.target) }}
    <div class="clearContainer"></div>
    {{ form_label(form.configuration.displayType) }}{{ form_widget(form.configuration.displayType) }}
    <div class="clearContainer"></div>
    {{ form_label(form.configuration.geometryTypes) }}{{ form_widget(form.configuration.geometryTypes) }}
    <div class="clearContainer"></div>
</div>