<div class="elementForm">
    {{ form_label(form.title) }}{{ form_widget(form.title) }}
    <div class="clearContainer"></div>
    {{ form_label(form.configuration.tooltip) }}{{ form_widget(form.configuration.tooltip) }}
    <div class="clearContainer"></div>
    {{ form_label(form.configuration.target) }}{{ form_widget(form.configuration.target) }}
    <div class="clearContainer"></div>
    {{ form_label(form.configuration.scalePrefix) }}{{ form_widget(form.configuration.scalePrefix) }}
    <div class="clearContainer"></div>
    {{ form_label(form.configuration.unitPrefix) }}{{ form_widget(form.configuration.unitPrefix) }}
    <div class="clearContainer"></div>
    {{ form_label(form.configuration.anchor) }}{{ form_widget(form.configuration.anchor) }}
    <div class="clearContainer"></div>
</div>