<div class="elementForm extraWideLabelForm">
    {{ form_label(form.title) }}{{ form_widget(form.title) }}
    <div class="clearContainer"></div>
    {{ form_label(form.configuration.query_url) }}{{ form_widget(form.configuration.query_url) }}
    <div class="clearContainer"></div>
    {{ form_label(form.configuration.query_key) }}{{ form_widget(form.configuration.query_key) }}
    <div class="clearContainer"></div>
    {{ form_label(form.configuration.query_ws_replace) }}{{ form_widget(form.configuration.query_ws_replace) }}
    <div class="clearContainer"></div>
    {{ form_label(form.configuration.query_format) }}{{ form_widget(form.configuration.query_format) }}
    <div class="clearContainer"></div>
    {{ form_label(form.configuration.token_regex) }}{{ form_widget(form.configuration.token_regex) }}
    <div class="clearContainer"></div>
    {{ form_label(form.configuration.token_regex_in) }}{{ form_widget(form.configuration.token_regex_in) }}
    <div class="clearContainer"></div>
    {{ form_label(form.configuration.token_regex_out) }}{{ form_widget(form.configuration.token_regex_out) }}
    <div class="clearContainer"></div>
    {{ form_label(form.configuration.collection_path) }}{{ form_widget(form.configuration.collection_path) }}
    <div class="clearContainer"></div>
    {{ form_label(form.configuration.label_attribute) }}{{ form_widget(form.configuration.label_attribute) }}
    <div class="clearContainer"></div>
    {{ form_label(form.configuration.geom_attribute) }}{{ form_widget(form.configuration.geom_attribute) }}
    <div class="clearContainer"></div>
    {{ form_label(form.configuration.geom_format) }}{{ form_widget(form.configuration.geom_format) }}
    <div class="clearContainer"></div>
    {{ form_label(form.configuration.delay) }}{{ form_widget(form.configuration.delay) }}
    <div class="clearContainer"></div>
    {{ form_label(form.configuration.result_buffer) }}{{ form_widget(form.configuration.result_buffer) }}
    <div class="clearContainer"></div>
    {{ form_label(form.configuration.result_minscale) }}{{ form_widget(form.configuration.result_minscale) }}
    <div class="clearContainer"></div>
    {{ form_label(form.configuration.result_maxscale) }}{{ form_widget(form.configuration.result_maxscale) }}
    <div class="clearContainer"></div>
    {{ form_label(form.configuration.result_icon_url) }}{{ form_widget(form.configuration.result_icon_url) }}
    <div class="clearContainer"></div>
    {{ form_label(form.configuration.result_icon_offset) }}{{ form_widget(form.configuration.result_icon_offset) }}
    <div class="clearContainer"></div>
</div>
