<div class="elementForm">
    {{ form_label(form.title) }}{{ form_widget(form.title) }}
    <div class="clearContainer"></div>
    {{ form_label(form.configuration.target) }}{{ form_widget(form.configuration.target) }}
    <div class="clearContainer"></div>
    {{ form_label(form.configuration.defaultType) }}{{ form_widget(form.configuration.defaultType) }}
    <div class="clearContainer"></div>
    {{ form_label(form.configuration.types) }}{{ form_widget(form.configuration.types) }}
    <div class="clearContainer"></div>
</div>
