{% extends "MapbenderManagerBundle::manager.html.twig" %}

{% block title %}{{ "Edit User" | trans}}{% endblock %}

{% block manager_js %}
    <script type="application/javascript" src="{{ asset('bundles/mapbendermanager/js/form.js') }}"></script>
{% endblock %}

{% block manager_content %}

<form action="{{ path('mapbender_manager_user_update', { 'id': user.id }) }}" method="post" {{ form_enctype(form)}} class="well">
    {% if form_errors(form) %}
    <div class="alert alert-error">
        {{ form_errors(form) }}
    </div>
    {% endif %}

    {{ form_row(form._token) }}

    {% include 'MapbenderManagerBundle:User:form.html.twig' %}

    <footer>
        <input type="submit" value="{{ 'Update' | trans }}" class="btn btn-primary"/>
        <a href="{{ url('mapbender_manager_user_index') }}" class="btn">{{ 'Cancel' | trans}}</a>
    </footer>
</form>

{% endblock %}
