{% extends "MapbenderCoreBundle::backend.html.twig" %}

{% block title %} {{ 'Reset password' | trans}} {% endblock %}

{% block wrapperclass %}hero-unit{% endblock %}

{% block content %}
<h1>{{ 'Reset password' | trans}}</h1>
<form action="{{ url('mapbender_manager_user_resetpass', {"token": app.request.get("token")}) }}" method="post" name="{{ form_name }}" {{ form_enctype(form)}} class="well" autocomplete="off">
    {% if form_errors(form) %}
    <div class="alert alert-error">
        
        {{ form_errors(form) }}
    </div>
    {% endif %}

    {{ form_row(form._token) }}
    
    <header class="form-help">
    {% trans %}
    Required fields are marked with dark labels, while optional fields have lighter labels.
    {% endtrans %}
    </header>
        
    {{ form_row(form.password) }}
    <footer>
        <div class="btn-group">
            <input type="submit" value="{{ 'Reset password' | trans}}" class="btn btn-primary"/>
        </div>
    </footer>
</form>
{% endblock %}
