{% extends "MapbenderCoreBundle:Login:box.html.twig" %}

{% block title %} {{ 'fom.user.registration.send.title' | trans}} {% endblock %}

{% block box_content %}
        <h1 class="contentTitle">{{ 'fom.user.registration.send.caption' | trans}}</h1>
        <p>{{ 'fom.user.registration.send.account_created' | trans }}</p>
        <a class="linkButton" href="{{ path('mapbender_core_login_login') }}"><i class="fa fas fa-caret-right"></i>&nbsp;{{ "fom.user.registration.send.back_to_login"|trans}}</a>
{% endblock %}
