<p class="subTitle">{{ fom.server_name }} {{"mb.core.aboutdialogcontent.versionprefix"|trans}}{{ fom.server_version }}<p/>
<p class="description">{{"mb.core.aboutdialogcontent.learnmore"|trans}} <a class="linkButton" href="http://mapbender3.org" target="_blank" title="{{"mb.core.aboutdialogcontent.linktitle"|trans}}">{{"mb.core.aboutdialogcontent.website"|trans}}</a>.</p>
