<h3>{{ fom.server_name }} {{"mb.core.aboutdialog.content.versionprefix"|trans}} {{ fom.server_version }}</h3>
<p>
    {{- "mb.core.aboutdialog.content.learnmore"| trans }}
    <a href="https://mapbender.org/" target="_blank" title="{{ "mb.core.aboutdialog.content.linktitle" | trans }}">
        {{- "mb.core.aboutdialog.content.website" | trans -}}
    </a>.
</p>
