<p class="subTitle">{{ fom.server_name }} {{"v."|trans}}{{ fom.server_version }}<p/>
<p class="description">{{"Learn more about Mapbender3 at our"|trans}} <a class="linkButton" href="http://mapbender3.org" target="_blank" title="{{"Visit the official website."}}">{{"website"|trans}}</a>.</p>