{% if region == 'toolbar' or region == 'footer' %}
    <div class="dropdown">
        <select class="hiddenDropdown -fn-application-selector">
            {% for apps in config.applications %}
                {% for slug, app in apps %}
                    <option value="{{ slug }}" data-app-url="{{ app.url }}"{% if app.description is defined and app.description %} title="{{ app.description }}"{% endif %}>
                        {{ app.title }}
                    </option>
                {% endfor %}
            {% endfor %}
        </select>
        <div class="dropdownValue iconDown"></div>
        <ul class="dropdownList"></ul>
    </div>
{% else %}
    {% for group, apps in config.applications %}
        {% if group != '__nogroup__' %}
        <h6 class="my-2 fw-semibold">{{ group }}</h6>
        {% endif %}
        <hr class="my-1">
        <ul class="list">
            {% for slug, app in apps %}
                <li class="list-item">
                {% if app.add_wms is defined and app.add_wms.mb_url is defined
                    and app.add_wms.mb_url
                    and app.add_wms.mb_url matches '/^https?:\\/\\/.+/' %}
                    <a href="#"
                       data-mb-action="source.add.wms"
                       data-mb-url="{{ app.add_wms.mb_url }}"
                        {% if app.add_wms.mb_wms_layers is defined and app.add_wms.mb_wms_layers %}
                            data-mb-wms-layers="{{ app.add_wms.mb_wms_layers }}"
                        {% endif %}
                        {% if app.add_wms.mb_layer_merge is defined and app.add_wms.mb_layer_merge %}
                            data-mb-layer-merge="{{ app.add_wms.mb_layer_merge }}"
                        {% endif %}
                        {% if app.add_wms.mb_wms_merge is defined and app.add_wms.mb_wms_merge %}
                            data-mb-wms-merge="{{ app.add_wms.mb_wms_merge }}"
                        {% endif %}
                        {% if app.add_wms.mb_infoformat is defined and app.add_wms.mb_infoformat %}
                            data-mb-infoformat="{{ app.add_wms.mb_infoformat }}"
                        {% endif %}
                        {% if app.add_wms.mb_add_vendor_specific is defined and app.add_wms.mb_add_vendor_specific %}
                            data-mb-add-vendor-specific="{{ app.add_wms.mb_add_vendor_specific }}"
                        {% endif %}
                    >
                {% else %}
                    <a href="{{ app.url }}"{% if app.description is defined and app.description %} title="{{ app.description }}"{% endif %}>
                {% endif %}
                        <div class="list-content">
                            {% if app.img_url is defined and app.img_url != false %}
                            <img src="{{ app.img_url }}" alt="{{ app.title }}">
                            {% else %}
                                <img class="bg-light" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAMgAAADICAYAAACtWK6eAAAABHNCSVQICAgIfAhkiAAA
                                    ACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAABfElEQVR4
                                    nO3TsQkCQRBF0YdBCWwAi2ACI7ACJ7ACJ7ACJ7ACJ7ACJ7ACZ+u2bWvP5u7d87Ozs7Oz
                                    s7OzszuzHdu2bdv2bdv2bdv2bdv2bdv2bdv2bdv2bdv2bdv2bdv2bdv2bdv2bdv2bdv2
                                    bdv2bdv2bdv2bdv2bdv2bdv2bdv2bdv2bdv2bdv2bdv2bdv2bdv2bdv2bdv2bdv2bdv2
                                    bdv2bdv2bdv2bdv2bdv2bdv2bdv2bdv2bdv2bdv2bdv2bdv2bdv2bdv2bdv2bdv2bdv2
                                    bdv2bdv2bdv2bdv2bdv2bdv2bdv2bdv2bdv2bdv2bdv2bdv2bdv2bdv2bdv2bdv2bdv2
                                    bdv2bdv2bdv2bdv2bdv2bdv2bdv2bdv2bdv2bdv2bdv2bdv2bdv2bdv2bdv2bdv2bdv2
                                    bdv2bdv2bdv2bdv2bdv2bdv2bdv2bdv2bdv2bdv2bdv2bdv2bdv2bdv2bdu2f2kEDuH7
                                    CTaTAAAAAElFTkSuQmCC" alt="">
                            {% endif %}
                            <p class="text-center text-break my-2">{{ app.title }}</p>
                        </div>
                    </a>
                </li>
            {% endfor %}
        </ul>
    {% endfor %}
{% endif %}
