{%- if false -%}{%- block leaf -%}
    <div class="basesourcesetswitch" data-title="{{ opts.title }}" data-sourceset="{{ opts.sources | join(',') }}" ><span class="state-check"><i class="fa far fa-circle"></i></span>{{ opts.title | trans }}</div>
{%- endblock -%}{%- endif -%}
{%- for name, opts in configuration.groups -%}
    {%- if opts.type == 'item' -%}
        {{- block('leaf') -}}
    {%- else -%}
    <div class="basesourcegroup">
      <div class="desktop-only group-title">{{ name | trans }}</div>
      <div class="basesourcesubswitcher">
      {%- for opt in opts.items -%}
          {%- with {opts: opt} %}
            {{- block('leaf') -}}
          {%- endwith -%}
      {%- endfor -%}
      </div>
    </div>
    {%- endif -%}
{%- endfor -%}
