{% if configuration.group is defined %}
<label for="{{ id }}">{{ label }}</label><input class="mb-element mb-element-button" type="checkbox" name="mb-button-group[{{ configuration.group }}]" value="{{ id }}" id="{{ id }}"/>
{% else %}
<a href="#" title="{{ configuration.tooltip|default(label) }}" class="mb-element mb-element-button" id="{{ id }}">{{ label }}</a>
{% endif %}
