{% if configuration.click %}
  <a id="{{ id }}" target="_blank" class="mb-button" href="{{ configuration.click }}" title="{{ configuration.tooltip|default(title)|trans }}"><span class="{% if configuration.icon is defined %} iconBig {{ configuration.icon }}{% endif %}">{% if configuration.label %}{{ title|trans }}{% endif %}</span></a>
{% else  %}
  <span id="{{ id }}" data-exclusive-group="{{ configuration.group }}" title="{{ configuration.tooltip|default(title)|trans }}" class="mb-button {% if configuration.icon is defined %} iconBig {{ configuration.icon }}{% endif %}">{% if configuration.label %}{{ title|trans }}{% endif %}</span>
{% endif %}