<div id="{{ id }}" class="mb-element-coordsdisplay">
{% if configuration.title is defined %}
    <label for="{{ id }}-coords">{{ title|trans }}:</label>
{% endif %}
    <div id="{{ id }}-coords" title="{{ configuration.tooltip|default(title)|trans }}"><span></div>
</div>