<div id="{{ id }}" class="mb-element mb-element-copyright"  title="{{ configuration.tooltip|default(title)|trans }}">
    <span class="span-copyright" title="">{{ configuration.copyrigh_text |trans |raw }}</span>
    {% if configuration.link_type == 'url' %}
    <br/>
    <a id="{{ id }}-link" class="mb-element-copyright-link" href="{{ configuration.link_url }}" target="_BLANK">{{ configuration.copyright_link |trans |raw }}</a>
    {% elseif configuration.link_type == 'dialog' %}
    <br/>
    <span id="{{ id }}-link" class="mb-element-copyright-link">{{ configuration.copyright_link |trans |raw }}</span>
    <div id="{{ id }}-dialog" class="mb-element-copyright-dialog" title="{{ configuration.dialog_title |trans |raw }}">
        <p>{{ configuration.dialog_content |trans |raw }}</p>
    </div>
    {% endif %}
</div>
