<div id="{{ id }}" class="mb-element mb-element-copyright">
    <span class="span-copyright">{{ configuration.copyrigh_text |trans |raw }}</span>
    {% if configuration.dialog_link is defined %}
    <br/>
    <span id="{{ id }}-link" class="mb-element-copyright-link">{{ configuration.dialog_link |trans |raw }}</span>
    <div id="{{ id }}-dialog" class="mb-element-copyright-dialog" title="{{ configuration.dialog_title |trans |raw }}">
        <p>{{ configuration.dialog_content |trans |raw }}</p>
    </div>
    {% endif %}
</div>
