<h5 class="text-center">
    {{ config.tour.intro.title|trans }}
</h5>
<p class="lead">
    {{ config.tour.intro.description|trans }}
</p>
<div class="mb-3 form-check d-none dismiss-permanently">
    <input type="checkbox" class="form-check-input ">
    <label class="form-check-label">
        {{ 'mb.interactivehelp.element.dismissPermanently' | trans }}
    </label>
</div>
<p class="text-center">
    <button class="btn btn-primary btn-lg startTourBtn" tabindex="0">
        {{ 'mb.interactivehelp.element.startTourBtn' | trans }}
    </button>
</p>

<template id="interactiveHelpPopover-{{ id }}">
    <div class="popover-interactive-help popover-interactive-help-{{ id }}">
        <button class="popover-close closeShowBtn" aria-label="Close" tabindex="0">&times;</button>
        <div class="popover-content">
            <h6 class="help-popover-title"></h6>
            <p class="help-popover-text"></p>
            <div class="text-end">
                <a class="link-secondary me-2 stepBackBtn" href="#" tabindex="0">
                    {{ 'mb.interactivehelp.element.back' | trans }}
                </a>
                <button class="btn btn-primary btn-sm runShowBtn" tabindex="0">
                    {{ 'mb.interactivehelp.element.next' | trans }}
                </button>
            </div>
        </div>
    </div>
</template>
