{% if configuration.showFilter %}
    <div class="input-group my-3">
        <input type="search" class="form-control layer-filter-input ms-1 me-1" placeholder="{{ 'mb.core.layertree.filter.placeholder'| trans }}" tabindex="0">
    </div>
{% endif %}
  <ul class="layers" >
      <li class="-fn-theme-template themeContainer hidden">
        <div class="leaveContainer mb-3">
          <span class="-fn-toggle-children clickable me-1" title="{{ 'mb.core.layertree.tooltip.sublayers_openclose'|trans }}" tabindex="0">
              <i class="fa-solid fa-fw"></i>
          </span>
          <span class="-fn-toggle-selected clickable me-1" title="{{ 'mb.core.layertree.label.sourcevisibility_onoff' | trans }}" tabindex="0">
                <i class="far fa-square fa-fw"></i>
          </span>
          <span class="layer-title clickable me-1" tabindex="-1"></span>
        </div>
        <ul class="layers"></ul>
      </li>
      <li class="-fn-template hidden leave showLeaves">
        <div class="leaveContainer mb-3">
          <span class="-fn-toggle-children clickable me-1" data-test="mb-lt-layer-folder-icon" title="{{ 'mb.core.layertree.tooltip.sublayers_openclose'|trans }}" tabindex="0">
            <i class="fa-solid fa-fw"></i>
          </span>
          <span class="clickable -fn-toggle-selected me-1" data-test="mb-lt-layer-visibility" title="{{ 'mb.core.layertree.label.visibility_onoff' | trans }}" tabindex="0">
              <i class="far fa-square fa-fw"></i>
          </span>
          <span class="clickable -fn-toggle-info me-1" title="{{ 'mb.core.layertree.label.featureinfo_onoff' | trans  }}" tabindex="0">
            <i class="fas fa-info fa-fw"></i>
          </span>
          <span class="layer-title clickable" data-test="mb-lt-layer-title" tabindex="-1"></span>
          <span class="error-icon-wrapper"><i class="fas fa-triangle-exclamation"></i></span>
          <span class="loading-icon-wrapper"><i class="fas fa-spinner fa-spin layertree-spinner"></i></span>
          {% if configuration.menu is defined and configuration.menu %}
            {% block layertree_menu %}
              <span class="layer-menu-btn hover-highlight-effect" tabindex="0" role="button"><i class="fa-solid fa-ellipsis-vertical"></i></span>
              <div class="layer-menu hidden ms-4">
                {% block layertree_menu_opacity %}
                {% if 'opacity' in configuration.menu %}
                    <div class="layer-control-opacity mb-3 mt-4" data-menu-action="opacity">
                      <div class="layer-opacity-title mb-3">{{ "mb.core.layertree.label.opacity"|trans }}</div>
                      <div class="layer-opacity-container mb-3">
                          <div class="layer-opacity-bar layer-slider-bar me-2" title="{{ "mb.core.layertree.label.opacity"|trans }}">
                              <div class="layer-opacity-handle layer-slider-handle" tabindex="0">100</div>
                          </div>
                          <div class="layer-opacity-value">100</div>
                      </div>
                    </div>
                {% endif %}
                {% endblock %}
                {% block layertree_menu_dimension %}
                {% if 'dimension' in configuration.menu %}
                    <div class="layer-control-dimensions mb-3 mt-4" data-menu-action="dimension">
                        <div class="dimension-checkbox-container mb-3">
                            <span class="clickable -fn-toggle-dimension me-1" title="{{ 'mb.core.layertree.label.dimension_onoff' | trans  }}" tabindex="0">
                                <i class="far fa-square fa-fw"></i>
                            </span>
                            <span class="layer-dimension-title"></span>
                        </div>
                        <div class="layer-dimension-bar layer-slider-bar mb-3" title="{{ "mb.core.layertree.label.dimension" |trans }}">
                            <div class="layer-dimension-handle layer-slider-handle" tabindex="0"></div>
                        </div>
                        <input type="text" class="layer-dimension-textfield" name="dimension-extent" title="{{ "mb.core.layertree.label.dimension" |trans }}"/>
                    </div>
                {% endif %}
                {% endblock %}
                {% block layertree_menu_select_style %}
                {% if 'select_style' in configuration.menu %}
                    <div class="layer-styles mb-3 mt-4" data-menu-action="select_style">
                        <label class="label-layer-styles mb-1 ms-1">{{ 'mb.core.layertree.label.select_style'|trans }}</label>
                        <select
                            class="select-layer-styles form-select mb-3"
                            title="{{ 'mb.core.layertree.label.select_style'|trans }}">
                        </select>
                    </div>
                {% endif %}
                {% endblock %}

                <div class="text-end mb-4">
                  {% block layertree_menu_zoomtolayer %}
                  {% if 'zoomtolayer' in configuration.menu %}
                  <span data-menu-action="zoomtolayer" class="layer-zoom fa fas fa-search clickable" tabindex="0" title="{{ 'mb.core.layertree.label.zoomtolayer'|trans }}"></span>
                  {% endif %}
                  {% endblock %}
                  {% block layertree_menu_metadata %}
                  {% if 'metadata' in configuration.menu %}
                  <span data-menu-action="metadata" class="layer-metadata fa far fa-file-alt fa-file-text-o ms-2 clickable" tabindex="0" title="{{ 'mb.core.layertree.label.metadata'|trans }}"></span>
                  {% endif %}
                  {% endblock %}
                  {% block layertree_menu_layerremove %}
                  {% if 'layerremove' in configuration.menu %}
                  <span data-menu-action="layerremove" class="layer-remove-btn far fa-trash-alt ms-2 clickable" tabindex="0" title="{{ 'mb.core.layertree.tooltip.removelayer'|trans }}" style="color: red;"></span>
                  {% endif %}
                  {% endblock %}
                  {% block layertree_menu_custom_textend %}
                  {% endblock %}
                </div>
                {% block layertree_menu_custom %}
                {% endblock %}
                </div>
              {% endblock %}
          {% endif %}
        </div>
        <ul class="layers"></ul>
      </li>
  </ul>
