<div id="{{ id }}" class="mb-element mb-element-layertree hidden" title="{{ title |trans }}">
  <li class="hidden leave showLeaves" data-state="" data-title="">
    <div class="leaveContainer">
      <span class="layer-spinner"></span>
      <span class="layer-state"></span>
      <span class="iconFolder left" title="{{ 'mb.core.layertree.tooltip.sublayers_openclose'|trans }}"></span>
      <div class="checkWrapper left iconCheckbox" title="{{ 'mb.core.layertree.label.visibility_onoff' | trans  }}">
        <input class="layer-selected checkbox" type="checkbox" name="selected">
      </div>
      <div class="checkWrapper left iconInfo featureInfoWrapper" title="{{ 'mb.core.layertree.label.featureinfo_onoff' | trans  }}">
        <input class="layer-info checkbox" type="checkbox" name="info"/>
      </div>
        <span class="layer-title labelCheck"></span>

        {% if configuration.menu is defined and configuration.menu != null and configuration.menu | length > 0 %}
            <span class="iconMenu right layer-menu-btn">
                <div id="layer-menu" class="layer-menu hidden">
                    <span class="iconRemove exit-button" title="{{ 'mb.core.layertree.tooltip.menu.close'|trans }}"></span>
                    {% for item in configuration.menu %}
                    {% if item == 'opacity' %}
                        <span id="layer-opacity-title" class="labelInput">{{ "mb.core.layertree.label.transparency"|trans }}:</span>
                        <div id="layer-opacity" class="layer-opacity-bar">
                            <div class="layer-opacity-handle">100</div>
                        </div>
                    {% elseif item == 'zoomtolayer' %}
                        <div class="layer-zoom span-btn inactive button">{{ 'mb.core.layertree.label.zoomtolayer'|trans }}</div>
                    {% elseif item == 'metadata' %}
                        <div class="layer-metadata span-btn inactive button ">{{ 'mb.core.layertree.label.metadata'|trans }}</div>
                    {% else %}
                        <span class="layer span-btn labelInput inactive">Undefined</span>
                    {% endif %}
                    {% endfor %}
                    <div class="layer-remove-btn button critical">{{ 'mb.core.layertree.tooltip.removelayer'|trans }}</div>
                </div>
            </span>
        {% endif %}
    </div>
    <ul id="list-first" class="layers"></ul>
  </li>
  {% if configuration.showHeader %}
  <h2>{{ 'mb.core.layertree.label.sources' | trans }} (<span id="counter">0</span>)<a href="#" id="delete-all" class="icononly" title="{{ 'mb.core.layertree.label.deleteallsources' |trans }}">&times;</a></h2>
  {% endif %}
  <ul id="list-root" class="layers" ></ul>
</div>
