<a id="{{ id }}" target="_blank"
   class="mb-button"
   href="{{ configuration.click }}" title="{{ configuration.tooltip|default(title)|trans }}">
  {% if configuration.icon is defined and configuration.icon %}
    <span class="iconBig {{ configuration.icon }}"></span>
  {% endif %}
  {% if configuration.label %}
  <span{% if configuration.icon %} class="hidden-sm hidden-xs hidden-md-down"{% endif %}>{{ title|trans }}</span>
  {% endif %}
</a>

