<div class="mb-element mb-element-poi" id="{{ id }}" title="{{ 'Share POI'|trans }}">
    <div class="input">
    <form id="poiForm">
        <label for="body">{{ 'Text'|trans }}</label><br />
        <textarea id="body">{{ configuration.body }}</textarea>
    </form>
    </div>
    <div class="output">
    <p>{{ 'You can use the following snippet in an email to send the POI.'|trans }}</p>
    <textarea></textarea>
    </div>
</div>
