<div id="{{ id }}" class="mb-element mb-element-printclient" title="{{ title|trans }}">
    <div class="format-form">
        <form id="formats" action="">
            <div>
                <label class="printlabel">{{ 'Template' | trans }}</label>
                <select name="template" >
                    {% for id, template in configuration.templates %}
                    <option value="{{ id }}">{{ template.label }}</option>
                    {% endfor %}
                </select>
            </div>     

            <div>
                <label class="printlabel" for="quality">{{ 'Auflösung' | trans }}</label>
                <select name="quality" >
                </select>
            </div>
            
            <div>
                <label class="printlabel" for="scale_text">{{ 'Maßstab' | trans }}</label>
                <input type="text" name="scale_text" size="8"/>                
            </div>
            
            <div>
                <label class="printlabel" for="scale_select">{{ 'Maßstab' | trans }}</label>
                <select name="scale_select">
                </select>
            </div>
          
            <div>
                <label class="printlabel" for="rotation">{{ 'Rotation' | trans }}</label>
                <input type="text" name="rotation" size="3"/>
            </div>      
                        
            <div>
                <input type="checkbox" name="free_extent"/>
                <label for="free_extent">{{ 'Free Extent' | trans }}</label>
            </div>
                
            <div class="extra_fields">
            </div>
            <br>
            <button id="printbutton">Drucken</button>
            <div class="layers"></div>
        </form>
    </div>
        
    <div class="extra_forms">
        {% for key, form in forms %}
        <form name="{{ key }}">
            {{ form_widget(form) }}
        </form>
        {% endfor %}
    </div>
</div>
