<div id="{{ id }}" class="mb-element mb-element-printclient" title="{{ title |trans }}">
    <div class="format-form">
        <form id="formats" action="">
            <div class="elementForm">
                <div>
                    <label class="labelInput">{{ 'mb.core.printclient.label.template' | trans }}</label>
                    <div class="dropdown">
                      <select name="template" class="hiddenDropdown">
                          {% for id, template in configuration.templates %}
                            <option value="{{ id }}">{{ template.label }}</option>
                          {% endfor %}
                      </select>
                      <div class="dropdownValue iconDown"></div>
                      <ul class="dropdownList"></ul>
                    </div>
                </div>
                <div class="clearContainer"></div>
                <div>
                    <label class="labelInput">{{ 'mb.core.printclient.label.quality' | trans }}</label>
                    <div class="dropdown">
                        <select name="quality" class="hiddenDropdown">
                            {% for key , label in configuration.quality_levels %}
                             <option value="{{ key }}">{{ label }}</option>
                            {% endfor %}
                        </select>
                      <div class="dropdownValue iconDown"></div>
                      <ul class="dropdownList"></ul>
                    </div>
                </div>
                <div class="clearContainer"></div>
                <div>
                    <label class="labelInput">{{ 'mb.core.printclient.label.scale' | trans }}</label>
                    <div class="dropdown">
                      <select name="scale_select" class="hiddenDropdown"></select>
                      <div class="dropdownValue iconDown"></div>
                      <ul class="dropdownList"></ul>
                    </div>
                </div>
                <div class="clearContainer"></div>
                <div>
                  <input class="input" type="text" name="scale_text" size="8"/>
                </div>
                <div class="clearContainer"></div>
                <div>
                    <label class="labelInput" for="rotation">{{ 'mb.core.printclient.label.rotation' | trans }}</label>
                    <input class="input" type="text" name="rotation"/>
                    <div id="slider"></div>
                </div>
                <div class="clearContainer"></div>
                <div id="extra_fields"></div>
                <div class="clearContainer"></div>
                <div id="layers"></div>
                <input type="submit" style="display: none"/>
                <div class="clearContainer"></div>
            </div>
        </form>
    </div>
</div>
