<div id="{{ id }}" class="mb-element mb-element-printclient" title="{{ title|trans }}">
    <div class="format-form">
        <form id="formats" action="">
            <label class="labelInput">{{ 'Template' | trans }}</label>
            <div class="dropdown">
              <select name="template" class="hiddenDropdown">
                  {% for id, template in configuration.templates %}
                    <option value="{{ id }}">{{ template.label }}</option>
                  {% endfor %}
              </select>
              <div class="dropdownValue iconDown"></div>
              <ul class="dropdownList"></ul>
            </div>            

            <label class="labelInput">{{ 'Quality' | trans }}</label>
            <div class="dropdown">
              <select name="quality" class="hiddenDropdown"></select>
              <div class="dropdownValue iconDown"></div>
              <ul class="dropdownList"></ul>
            </div>

            <label class="labelInput">{{ 'Scale' | trans }}</label>
            <div class="dropdown">
              <select name="scale_select" class="hiddenDropdown"></select>
              <div class="dropdownValue iconDown"></div>
              <ul class="dropdownList"></ul>
            </div>
            <div>
              <input class="input" type="text" name="scale_text" size="8"/>
            </div>
            <label class="labelInput" for="rotation">{{ 'Rotation' | trans }}</label>
            <input class="input" type="text" name="rotation"/>

            <div id="slider"></div>

            <div id="extra_fields"></div>
            <div class="clearContainer"></div>
            <br>
            <div id="layers"></div>
            <input type="submit" style="display: none"/>
        </form>
    </div>
</div>
