<div id="{{ id }}" class="mb-element mb-element-printclient" title="{{ title |trans }}">
    {% block printclient_main %}
    {%  if configuration['type'] is defined and configuration.type == 'element' %}
        <input type="button" class="button -fn-toggle-frame" active="false" value="{{ 'mb.core.printclient.btn.activate' | trans }}"/>
        <br>    
    {% endif %}

    <form action="{{ submitUrl }}" method="post" target="{{ formTarget }}">
        {% block print_settings_form %}
        {% block printclient_form_top %}
        {# render required extra fields on top of the form if configured #}
        {% if configuration.optional_fields is not empty and configuration.required_fields_first %}
            {% for key,field in configuration.optional_fields %}
                {% if field.options.required %}
                    <label class="labelInput" for="extra[{{ key }}]">{{ field.label }}
                        <span class="required">*</span>
                    </label>
                    <input type="text" class="input validationInput" name="extra[{{ key }}]" required="required">
                {% endif %}
            {% endfor %}
        {% endif %}
        {% endblock printclient_form_top %}

        <label class="labelInput">{{ 'mb.core.printclient.label.template' | trans }}</label>
        <div class="dropdown">
            <select name="template" class="hiddenDropdown">
                {% for id, template in configuration.templates %}
                    <option value="{{ id }}">{{ template.label }}</option>
                {% endfor %}
            </select>
            <div class="dropdownValue iconDown"></div>
            <ul class="dropdownList"></ul>
        </div>

        <label class="labelInput">{{ 'mb.core.printclient.label.quality' | trans }}</label>
        <div class="dropdown">
            <select name="quality" class="hiddenDropdown">
                {% for key , label in configuration.quality_levels %}
                    <option value="{{ key }}">{{ label }}</option>
                {% endfor %}
            </select>
            <div class="dropdownValue iconDown"></div>
            <ul class="dropdownList"></ul>
        </div>

        <label class="labelInput">{{ 'mb.core.printclient.label.scale' | trans }}</label>
        <div class="dropdown">
            <select name="scale_select" class="hiddenDropdown">
                {% for key in configuration.scales %}
                    <option value="{{ key }}">1:{{ key }}</option>
                {% endfor %}
            </select>
            <div class="dropdownValue iconDown"></div>
            <ul class="dropdownList"></ul>
        </div>

        {% if configuration.rotatable is defined and configuration.rotatable == 1 %}
            <label class="labelInput" for="rotation">{{ 'mb.core.printclient.label.rotation' | trans }}</label>
            <input class="input" type="text" name="rotation" value="0"/>
	    {% else %}
			<input class="input" type="text" name="rotation" value="0" style="display: none"/>
        {% endif %}

        {# render non-required extra fields here #}
        {% if configuration.optional_fields is not empty %}
            {% for key,field in configuration.optional_fields %}
                {% if not configuration.required_fields_first or not field.options.required %}
                    <label class="labelInput" for="extra[{{ key }}]">{{ field.label }}
                    {% if field.options.required %}
                        <span class="required">*</span></label>
                        <input type="text" class="input validationInput" name="extra[{{ key }}]" required="required">
                    {% else %}
                        </label>
                        <input type="text" class="input validationInput" name="extra[{{ key }}]">
                    {% endif %}
                {% endif %}
            {% endfor %}
        {% endif %}

        {% block printclient_form_bottom %}
        {% if configuration.legend is defined and configuration.legend == 1 %}
            {% set legend_checked = 'checked="checked"' %}
            {% if configuration.legend_default_behaviour is defined and configuration.legend_default_behaviour == 0 %}
                {% set legend_checked = '' %}
            {% endif %}
            <div class="checkWrapper left iconCheckbox iconCheckboxActive " data-icon="iconCheckbox">
                <input class="checkbox" type="checkbox" name="printLegend" value="1" {{ legend_checked | raw}}>
            </div>
            <label class="labelCheck">{{ 'mb.core.printclient.label.legend' | trans }}</label>
        {% endif %}
        {% endblock printclient_form_bottom %}
        
        <div class="hidden -fn-hidden-fields"></div>
        <input type="submit" style="display: none"/>
        <input type="button" class="button printSubmit hidden" value="{{ 'mb.core.printclient.popup.btn.ok' | trans }}"/>
        {% endblock print_settings_form %}
    </form>
    {% endblock printclient_main %}
</div>
