<div id="{{ id }}" class="mb-element mb-element-redlining hidden" data-title="{{ title|trans }}">
    {% if 'point' in configuration.geometrytypes %}
        <input type="button" class="redlining-tool button" name="point" value="{{ "mb.core.redlining.geometrytype.point"|trans}}">
    {% endif %}
    {% if 'line' in configuration.geometrytypes %}
        <input type="button" class="redlining-tool button" name="line" value="{{ "mb.core.redlining.geometrytype.line"|trans}}">
    {% endif %}
    {% if 'polygon' in configuration.geometrytypes %}
        <input type="button" class="redlining-tool button" name="polygon" value="{{ "mb.core.redlining.geometrytype.polygon"|trans}}">
    {% endif %}
    {% if 'rectangle' in configuration.geometrytypes %}
        <input type="button" class="redlining-tool button" name="rectangle" value="{{ "mb.core.redlining.geometrytype.rectangle"|trans}}">
    {% endif %}
    {% if 'text' in configuration.geometrytypes %}
        <input type="button" class="redlining-tool button" name="text" value="{{ "mb.core.redlining.geometrytype.text.label"|trans}}">
        <div id="redlining-text-wrapper" class="text-wrapper hidden">
            <label class="labelInput" for="loadWmsUrl">{{ "mb.core.redlining.geometrytype.text.label"|trans}}:</label>
            <div class="inputWrapper">
                <input name="label-text" class="input" type="text" />
            </div>
        </div>
    {% endif %}
    <table class="geometry-table">
        <tr class="geometry-item" data-id="">
            <td class="geometry-name"></td>
            <td class="geometry-actions">
                <span class="geometry-remove iconRemove hover-highlight-effect" title="{{"mb.core.redlining.geometry.action.remove" | trans }}"></span>
                <span class="geometry-edit iconEdit hover-highlight-effect" title="{{"mb.core.redlining.geometry.action.edit" | trans }}"></span>
                <span class="geometry-zoom iconZoomSelect hover-highlight-effect" title="{{"mb.core.redlining.geometry.action.zoom" | trans }}"></span>
            </td>
        </tr>
    </table>
</div>
