<div id="{{ id }}" class="mb-element mb-element-redlining hidden" data-title="{{ title|trans }}">
    <div class="form-group">
        <div class="btn-group btn-group-sm">
        {% if 'point' in configuration.geometrytypes %}
            <button type="button" data-tool-name="point" title="{{ "mb.core.redlining.geometrytype.point"|trans }}" class="btn btn-default redlining-tool"><i class="icon-draw-point"></i></button>
        {% endif %}
        {% if 'line' in configuration.geometrytypes %}
            <button type="button" data-tool-name="line" title="{{ "mb.core.redlining.geometrytype.line"|trans }}" class="btn btn-default redlining-tool"><i class="icon-draw-line"></i></button>
        {% endif %}
        {% if 'polygon' in configuration.geometrytypes %}
            <button type="button" data-tool-name="polygon" title="{{ "mb.core.redlining.geometrytype.polygon"|trans }}" class="btn btn-default redlining-tool"><i class="icon-draw-polygon"></i></button>
        {% endif %}
        {% if 'rectangle' in configuration.geometrytypes %}
            <button type="button" data-tool-name="rectangle" title="{{ "mb.core.redlining.geometrytype.rectangle"|trans }}" class="btn btn-default redlining-tool"><i class="icon-draw-rectangle"></i></button>
        {% endif %}
        {% if 'circle' in configuration.geometrytypes %}
            <button type="button" data-tool-name="circle" title="{{ "mb.core.redlining.geometrytype.circle"|trans }}" class="btn btn-default redlining-tool"><i class="icon-draw-circle"></i></button>
        {% endif %}
        {% if 'text' in configuration.geometrytypes %}
            <button type="button" data-tool-name="text" title="{{ "mb.core.redlining.geometrytype.text"|trans }}" class="btn btn-default redlining-tool"><i class="fa fas fa-font"></i></button>
        {% endif %}
        </div>
        <button type="button" disabled="disabled" title="{{ "mb.core.redlining.geometry.action.stop_drawing"|trans }}" class="btn btn-sm btn-default redlining-tool-off"><i class="fa fas fa-pause"></i></button>
    </div>
    <div class="form-group">
        <label for="label-text" class="labelInput">{{ "mb.core.redlining.inputs.label"|trans}}</label>
        <input name="label-text" type="text" class="form-control" disabled="disabled">
    </div>
    <table class="table table-striped geometry-table">
        <tr class="geometry-item" data-id="">
            <td class="geometry-name"></td>
            <td class="geometry-actions">
                <span class="geometry-remove iconRemove hover-highlight-effect" title="{{"mb.core.redlining.geometry.action.remove" | trans }}"></span>
                <span class="geometry-edit iconEdit hover-highlight-effect" title="{{"mb.core.redlining.geometry.action.edit" | trans }}"></span>
                <span class="geometry-zoom iconZoomSelect hover-highlight-effect" title="{{"mb.core.redlining.geometry.action.zoom" | trans }}"></span>
            </td>
        </tr>
    </table>
</div>
