<div id="{{ id }}" class="mb-element mb-element-scaleselector" title="{{ configuration.tooltip|default(title)|trans }}">
{% if configuration.label %}
  <span class="labelInput">{{ title|trans }}</span>
{% endif %}
  <div class="dropdown">
    <select class="hiddenDropdown">
      {%- for scale in scales -%}
        <option value="{{ scale }}">{{ scale }}</option>
      {%- endfor -%}
    </select>
    <div class="dropdownValue iconDown"></div>
    <ul class="dropdownList"></ul>
  </div>
  <div class="clear"></div>
</div>
