<div id="{{ id }}-div" class="mb-element mb-element-scaleselector-div">
{% if configuration.title is defined and configuration.title != '' %}
    <label for="{{ id }}">{{ title|trans }} 1:</label>
{% endif %}
    <select id="{{ id }}" class="mb-element mb-element-scaleselector" title="{{ configuration.tooltip|default(title)|trans }}"></select>
</div>