<div class="mb-element mb-element-search-router" id="{{ element.id }}" title="{{ element.title }}">
    {{ form_label(element.getRouteSelectForm.route) }}{{ form_widget(element.getRouteSelectForm.route) }}

    <div class="search-forms" novalidate="novalidate">
        {% for form in element.forms %}
            <form name="{{ form.name }}">
                {{ form_row(form.createView) }}
            </form>
        {% endfor %}
    </div>
    <div class="search-results"></div>

    <a href="#" class="button right" role="search_router_search">{{ 'Search' | trans }}</a>
</div>