<div class="mb-element mb-element-searchrouter" id="{{ element.id }}" title="{{ element.title | trans }}">
    {{ form_widget(element.getRouteSelectForm.route) }}

    <div class="search-forms">
        {% for form in element.formViews %}
            <form name="{{ form.vars.name }}" autocomplete="off">
                {{ form_widget(form) }}
            </form>
        {% endfor %}
    </div>
    {%- if not element.configuration.asDialog %}
    <div class="search-action-buttons">
        <a href="#{{ element.id }}/button/reset" class="button right">{{ 'mb.core.searchrouter.popup.btn.reset' | trans }}</a>
        <a href="#{{ element.id }}/button/ok" class="button right">{{ 'mb.core.searchrouter.popup.btn.ok' | trans }}</a>
    </div>
    {% endif -%}    
    <div class="clear"></div>
    <div class="search-results"></div>
</div>
