<div class="mb-element mb-element-searchrouter" id="{{ id }}" title="{{ title | trans }}">
    {{ form_widget(route_select_form) }}

    <div class="search-forms">
        {% for form in search_forms %}
            <form name="{{ form.vars.name }}" autocomplete="off">
                {{ form_widget(form) }}
            </form>
        {% endfor %}
    </div>
    <div class="search-action-buttons hidden">
        <a href="#{{ id }}/button/reset" class="button right">{{ 'mb.core.searchrouter.popup.btn.reset' | trans }}</a>
        <a href="#{{ id }}/button/ok" class="button right">{{ 'mb.core.searchrouter.popup.btn.ok' | trans }}</a>
    </div>
    <div class="clear"></div>
    <div class="search-results"></div>
</div>
