<form role="search">
    <div class="autocompleteWrapper">
        <div class="input-group ps-1 position-relative">
            {% set class = (configuration_titles is defined) ? '' : ' no-dropdown' %}
            <input type="text" class="form-control searchterm with-icon{{ class }}"
                   minlength="2"
                   required="required"
                   aria-label="{{ 'mb.core.simplesearch.input.searchterm'|trans }}"/>
            <i class="fas fa-magnifying-glass search-icon -fn-search-icon"></i>
            <button class="button-close hover-highlight-effect -fn-reset{{ class }}" type="reset"
                    aria-label="{{ 'mb.core.simplesearch.input.clear'|trans }}">
                <i class="fa fas fa-xmark"></i>
            </button>
            {% if configuration_titles is defined %}
                <div class="dropdown -fn-simple_search-toggle-dropdown">
                    <select class="hiddenDropdown -fn-simple_search-select-configuration">
                        {% for title in configuration_titles %}
                            <option value="{{ loop.index - 1 }}">{{ title }}</option>
                        {% endfor %}
                    </select>
                    <div class="dropdownValue iconDown hide-value">
                        <i class="fa-solid fa-caret-down"></i>
                    </div>
                    <ul class="dropdownList"></ul>
                </div><!-- /btn-group -->
            {% endif %}
        </div>
    </div>
</form>
