<div id="{{ id }}" class="mb-element mb-element-srsselector">
{% if configuration.title is defined %}
    <label for="{{ id }}-srs">{{ title|trans }}:</label>
{% endif %}
    <select id="{{ id }}-srs" title="{{ configuration.tooltip|default(title)|trans }}"></select>
</div>