{%- set _is_private = not record.isPublic -%}
<tr data-visibility-group="{{ _is_private ? 'private' : 'public' }}" data-title="{{ record.title }}">
    <td>{{ record.title }}</td>
    <td>{{ record.mtime | date(dateFormat) }}</td>
    <td class="text-nowrap text-right">
        {%- if (savePrivate and _is_private) or (savePublic and not _is_private) -%}
        <i class="-fn-update fa fas fa-save clickable hover-highlight-effect" title="{# @todo: translate #}Überschreiben" data-id="{{ record.id }}"></i>
        {%- if _is_private or allowDelete -%}
        <span class="static-popover-wrap -js-confirmation-anchor-delete">
            <i class="-fn-delete fa fas fa-times clickable hover-highlight-effect" title="{# @todo: translate #}Löschen" data-id="{{ record.id }}"></i>
        </span>
        {%- endif -%}
        {%- endif %}
        <a href="#" class="-fn-apply hover-highlight-effect" title="{# @todo: translate #}Abrufen" data-diff="{{ record.encode() | json_encode }}">
            <i class="fa fas fa-folder-open"></i>
        </a>
    </td>
</tr>
