{%- set _is_private = record.userId is not empty-%}
<tr data-visibility-group="{{ _is_private ? 'private' : 'public' }}"
    data-id="{{ record.id }}"
    data-title="{{ record.title }}"
    data-mtime="{{ record.mtime | date(dateFormat) }}">
    <td class="-js-forward-to-apply"><i class="recall-marker fa fas fa-fw fa-angle-double-right"></i></td>
    <td class="name-cell -js-forward-to-apply" title="#{{ record.id }}">{{ record.title }}</td>
    <td class="-js-loadingspinner">
        <i class="fas fa-spinner fa-spin opacity-0"></i>
    </td>
    {%- if showDate -%}
    <td class="text-nowrap">{{ record.mtime | date(dateFormat) }}</td>
    {%- endif -%}
    <td class="text-nowrap text-end">
        <a href="#" class="-fn-apply hover-highlight-effect" title="{{ 'mb.core.viewManager.apply' | trans }}">
            <i class="fa fas fa-search"></i>
        </a>
        <span class="static-popover-wrap -js-update-content-anchor">
            {%- if (grants.savePrivate and _is_private) or (grants.savePublic and not _is_private) -%}
                <i class="-fn-open-update fas fa-pencil-alt fa-pencil clickable hover-highlight-effect" title="{{ 'mb.actions.edit' | trans }}" tabindex="0"></i>
            {%- endif -%}
        </span>
        {%- if _is_private or grants.deletePublic -%}
            <span class="static-popover-wrap -js-confirmation-anchor-delete">
                <i class="-fn-delete fa far fa-trash-can clickable hover-highlight-effect" title="{{ 'mb.actions.delete' | trans }}" tabindex="0"></i>
            </span>
        {%- endif -%}
    </td>
</tr>
