    {%- if grants.savePublic or grants.savePrivate -%}
    <div>
        <form class="ps-1">
            <div class="input-group my-3">
                <input type="text" name="title" class="form-control -js-viewmanager-new-name" required="required" placeholder="{{ 'mb.core.viewManager.enter_title' | trans }}..." value="">
                <button class="btn btn-outline-secondary -fn-save-new" title="{{ 'mb.actions.save' | trans }}">
                    <i class="fas fa-floppy-disk"></i>
                </button>
            </div>
            {%- if grants.savePublic and grants.savePrivate -%}
                <div class="mb-3 form-check">
                    <input id="exampleCheck1" class="form-check-input" type="checkbox" name="save-as-public">
                    <label for="exampleCheck1" class="form-check-label">
                        {{ 'mb.core.viewManager.saveAsPublic' | trans }}
                    </label>
                </div>
            {%- endif -%}
        </form>
    </div>
    {%- endif -%}
    <div class="ui-helper-clearfix -fn-loading-placeholder">
        <div class="pull-right"><i class="fas fa-spinner viewmanager-spinner"></i></div>
    </div>
    <div class="hidden -js-delete-confirmation-content">
        <div class="popover-body">
            <p>{{ 'mb.core.viewManager.confirmDelete' | trans }}</p>
            <div class="text-nowrap text-end">
                <button type="button" class="btn btn-sm btn-danger -fn-confirm">
                    {{ 'mb.actions.delete' | trans }}
                </button>
                <button type="button" class="btn btn-sm btn-light -fn-cancel">
                    {{ 'mb.actions.close' | trans }}
                </button>
            </div>
        </div>
    </div>
    <div class="hidden -js-update-content">
        <div class="popover-body">
            <div class="row mb-3">
                <label class="col-form-label col-xs-3 col-3">
                    {{ 'mb.core.viewManager.title' | trans }}
                </label>
                <div class="col-xs-9 col-9">
                    <input name="title" type="text" class="form-control" />
                </div>
            </div>
            {%- if showPublicPrivateState -%}
            <p class="-js-record-status"></p>
            {%- endif -%}
            <div class="text-nowrap text-end">
                <button type="button" class="btn btn-sm btn-primary -fn-update">
                    {{ 'mb.core.viewManager.replace' | trans }}
                </button>
                <button type="button" class="btn btn-sm btn-light -fn-close">
                    {{ 'mb.actions.close' | trans }}
                </button>
            </div>
        </div>
    </div>
