{%- set _is_private = record.userId is not empty-%}
<tr data-visibility-group="{{ _is_private ? 'private' : 'public' }}"
    data-id="{{ record.id }}"
    data-title="{{ record.title }}"
    data-mtime="{{ record.mtime | date(dateFormat) }}">
    <td class="-js-forward-to-apply"><i class="recall-marker fa fas fa-fw fa-angle-double-right"></i></td>
    <td class="name-cell -js-forward-to-apply">{{ record.title }}</td>
    {%- if showDate -%}
    <td class="text-nowrap">{{ record.mtime | date(dateFormat) }}</td>
    {%- endif -%}
    <td class="text-nowrap text-right">
        <span class="static-popover-wrap -js-update-content-anchor">
            {%- if (grants.savePrivate and _is_private) or (grants.savePublic and not _is_private) -%}
                <i class="-fn-open-update fa fas fa-cog clickable hover-highlight-effect" title="{{ 'mb.actions.edit' | trans }}"></i>
            {%- else -%}
                <i class="-fn-open-info fa fas fa-info-circle clickable hover-highlight-effect" title="{{ 'mb.core.viewManager.details' | trans }}"></i>
            {%- endif -%}
        </span>
        {%- if _is_private or grants.deletePublic -%}
        <span class="static-popover-wrap -js-confirmation-anchor-delete">
            <i class="-fn-delete fa fa-trash-o far fa-trash-alt clickable hover-highlight-effect" title="{{ 'mb.actions.delete' | trans }}"></i>
        </span>
        {%- endif -%}
        <a href="#" class="-fn-apply hover-highlight-effect" title="{{ 'mb.core.viewManager.apply' | trans }}" data-diff="{{ record.encode() | json_encode }}">
            <i class="fa fas fa-folder-open"></i>
        </a>
    </td>
</tr>
