<div id="{{ id }}" class="mb-element mb-element-zoombar">
    <div class="pan">
        <a class="pan-up" title="{{ "Pan up" | trans }}"></a>
        <a class="pan-right" title="{{ "Pan right" | trans }}"></a>
        <a class="pan-down" title="{{ "Pan down" | trans }}"></a>
        <a class="pan-left" title="{{ "Pan left" | trans }}"></a>
    </div>

    <div class="zoom">
        <div class="zoom-prev">
            <a title="{{ "Go back" | trans }}"></a>
        </div>
        <div class="zoom-next">
            <a title="{{ "Go forward" | trans }}"></a>
        </div>
        
        <div class="zoom-box">
            <a title="{{ "Zoom by box" | trans }}"></a>
        </div>

        <div class="zoom-in">
            <a title="{{ "Zoom in" | trans }}"></a>
        </div>

        <ol class="zoom-slider" title="{{ "Click to zoom" | trans }}"></ol>

        <div class="zoom-out">
            <a title="{{ "Zoom out" | trans }}"></a>
        </div>
    </div>

    <div class="bottom"></div>
</div>
