{# HACK mode on: define rotation icons as inlined svgs #}
{% block quarter_circle_arrow_svg %}
<svg viewBox="0 40 70 200"><g fill="white"><path
     d="M67.41,62.55L58.02,53c-26.94,26.47-41.77,61.84-41.77,99.6c0,11.12,1.58,27.16,5.94,40.14
        c-5.66,3.35-10.12,5.99-11,6.51c-2.06,1.22-4.12,2.43-6.26,3.7c17.87,12.64,35.65,25.22,53.62,37.94
        c-2.49-21.85-4.96-43.47-7.45-65.25c-2.02,1.2-9.28,5.49-17.07,10.1c-2.74-9.4-4.39-21.59-4.39-33.13
        C29.64,118.46,43.05,86.48,67.41,62.55z"/></g></svg>
{% endblock %}
{% spaceless %}
<div id="{{ id }}" class="mb-element mb-element-zoombar {{configuration.anchor}}">
    {% if configuration.draggable is defined and configuration.draggable %}
      <div class="move-icon-wrap">
          <span class="iconMove"></span>
      </div>
    {% endif %}
{%- if 'rotation' in configuration.components -%}
      <div class="rotation">
        <span class="rotate-cw hover-highlight-effect" data-degrees="45">{{ block('quarter_circle_arrow_svg') }}</span>
        <span class="reset-rotation hover-highlight-effect" data-rotation-bias="-45"><i class="fa fa-location-arrow default-rotate-left-45"></i></span>
        <span class="rotate-ccw hover-highlight-effect" data-degrees="-45">{{ block('quarter_circle_arrow_svg') }}</span>
      </div>
{%- endif -%}
  {%- if 'pan' in configuration.components -%}
  <div><div class="pan">
    <span class="panUp iconTop" title="{{ "mb.core.zoombar.panup" | trans }}"></span>
    <span class="panRight iconRight" title="{{ "mb.core.zoombar.panright" | trans }}"></span>
    <span class="panDown iconDown" title="{{ "mb.core.zoombar.pandown" | trans }}"></span>
    <span class="panLeft iconLeft" title="{{ "mb.core.zoombar.panleft" | trans }}"></span>
  </div></div>
  {%- endif -%}
  <ul class="toolPane">
    {% if 'history' in configuration.components %}
      <li class="history">
        <span class="historyPrev" title="{{ "mb.core.zoombar.goback" | trans }}"><i class="fa fas fa-angle-double-left"></i></span>
        <span class="historyNext" title="{{ "mb.core.zoombar.goforward" | trans }}"><i class="fa fas fa-angle-double-right"></i></span>
      </li>
    {% endif %}
    {% if 'zoom_box' in configuration.components %}
      <li class="zoomBox">
        <span class="iconZoomSelect iconBig" title="{{ "mb.core.zoombar.zoombybox" | trans }}"></span>
      </li>
    {% endif %}
    {% if 'zoom_max' in configuration.components %}
      <li class="zoomWorld">
        <span class="iconZoomMin iconBig" title="{{ "mb.core.zoombar.zoombyworld" | trans }}"></span>
      </li>
    {% endif %}
    {% if 'zoom_in_out' in configuration.components or 'zoom_slider' in configuration.components %}
      <li class="zoomSlider">
        {% if 'zoom_in_out' in configuration.components %}
        <div class="iconZoomIn iconBig" title="{{ "mb.core.zoombar.zoomin" | trans }}"></div>
        {% endif %}
        {% if 'zoom_slider' in configuration.components %}
        <ul class="zoomSliderLevels"></ul>
        {% endif %}
        {% if 'zoom_in_out' in configuration.components %}
        <div class="iconZoomOut iconBig" title="{{ "mb.core.zoombar.zoomout" | trans }}"></div>
        {% endif %}
      </li>
    {% endif %}
  </ul>
</div>
{% endspaceless %}
