{% spaceless %}
<div id="{{ id }}" class="mb-element mb-element-zoombar {{configuration.anchor}}">
  {% if 'pan' in configuration.components %}
  <div class="pan">
    <span class="panUp iconTop" title="{{ "Pan up" | trans }}"></span>
    <span class="panRight iconRight" title="{{ "Pan right" | trans }}"></span>
    <span class="panDown iconDown" title="{{ "Pan down" | trans }}"></span>
    <span class="panLeft iconLeft" title="{{ "Pan left" | trans }}"></span>
  </div>
  {% endif %}
  <ul class="toolPane">
    {% if 'history' in configuration.components %}
      <li class="history">
        <span class="historyPrev iconPrev" title="{{ "Go back" | trans }}"></span>
        <span class="historyNext iconNext" title="{{ "Go forward" | trans }}"></span>
      </li>
    {% endif %}
    {% if 'zoom_box' in configuration.components %}
      <li class="zoomBox">
        <span class="iconZoomSelect iconBig" title="{{ "Zoom by box" | trans }}"></span>
      </li>
    {% endif %}
    {% if 'zoom_max' in configuration.components %}
      <li class="zoomWorld">
        <span class="iconZoomMin iconBig" title="{{ "Zoom by world" | trans }}"></span>
      </li>
    {% endif %}
    {% if 'zoom_slider' in configuration.components %}
      <li class="zoomSlider">
        <span class="iconZoomIn iconBig"></span>
        <ul class="zoomSliderLevels"></ul>
        <span class="iconZoomOut iconBig"></span>
      </li>
    {% endif %}
  </ul>
</div>
{% endspaceless %}