{% extends "MapbenderMonitoringBundle:SchedulerProfile:index.html.twig" %}

{% block content %}
{% if scheduler.id!=null %}
    <h3 class="p-scheduler">{{"Edit Scheduler"|trans}}</h3>
    <div class="form-monitoring">
        <form action="{{path("mapbender_monitoring_schedulerprofile_edit",{"spId":scheduler.id})}}" method="post">
            {{form_widget(form)}}
            <input type="submit" name="save" value="{{"save"|trans}}" />
        </form>
    </div>
{% else %}
    <h3 class="p-scheduler">{{"New Scheduler"|trans}}</h3>
    <div class="form">
        <form action="{{path("mapbender_monitoring_schedulerprofile_new")}}" method="post">
            {{form_widget(form)}}
            <input type="submit" name="save" value="{{"save"|trans}}" />
        </form>
    </div>
{% endif %}
{% endblock %}
