{#
 Default Mapbender form theme
 Migrated to Mapbender from FOM v3.0.6.3
 See https://github.com/mapbender/fom/tree/v3.0.6.3/src/FOM/CoreBundle/Resources/views/Form/
#}

{% use "bootstrap_3_layout.html.twig" with
  checkbox_widget as bs3_checkbox_widget,
  checkbox_label as bs3_checkbox_label,
  form_errors as bs3_errors
%}
{% use "form_div_layout.html.twig" with choice_widget_collapsed as symfony_choice_widget_collapsed %}
{% use "form_div_layout.html.twig" with form_label as div_form_label %}

{%- block form_errors -%}
  {%- set errors = (errors | default([])) | map((error) => {message: error.message | trans}) -%}
  {{- block('bs3_errors') -}}
{%- endblock form_errors -%}

{%- block form_widget_simple -%}
  {%- if type is not defined or type not in ['file', 'hidden'] -%}
    {%- set attr = attr|merge({'class': ('input ' ~ (attr.class | default(''))) | trim}) -%}
    <div class="inputWrapper">
      {{- parent() -}}
    </div>
  {%- else -%}
    {{- parent() -}}
  {%- endif -%}
{%- endblock form_widget_simple -%}

{% block collection_widget %}
  {% set allowCollapse = form.vars.allow_collapse is defined and form.vars.allow_collapse %}
  {% if allowCollapse %}
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  {% endif %}
  {%- set attr = attr | merge({'class': (attr.class | default('') ~ ' collection') | trim}) -%}
  {%- if sortable is defined -%}
    {%- set attr = attr | merge({'data-sortable': '1'}) -%}
  {%- endif -%}
  {%- if prototype is defined -%}
    {%- set attr = attr|merge({'data-prototype': form_row(prototype) | spaceless }) -%}
  {%- endif -%}
  <div {{ block('widget_container_attributes') }}>
    {%- if prototype is defined and form.vars.allow_add is not empty -%}
      <a href="#" class="collectionAdd hover-highlight-effect clickable"><i class="fa fas fa-plus"></i></a>
    {%- endif -%}
    {%- for child in form -%}
        {{- form_row(child) -}}
    {%- endfor -%}
  </div>
  {% if allowCollapse %}
    </div>
  {% endif %}
{% endblock collection_widget %}

{% block textarea_widget %}
  <div class="inputWrapper">
    {%- set attr = attr | merge({'class': (attr.class | default('') ~ ' input') | trim}) -%}
    <textarea {{ block('widget_attributes') }}>{{ value }}</textarea>
  </div>
{% endblock textarea_widget %}

{%- block choice_widget -%}
    {%- if expanded -%}
      {%- if form.vars.attr is defined and form.vars.attr['data-sortable'] is defined -%}
        {{- block('choice_widget_expanded_sortable') -}}
      {%- else -%}
        {{- block('choice_widget_expanded') -}}
      {%- endif -%}
    {%- else -%}
      {{- block('choice_widget_collapsed') -}}
    {%- endif -%}
{%- endblock choice_widget -%}

{% block choice_widget_expanded_sortable %}
  {% spaceless %}
  <div {{ block('widget_container_attributes') }}>
    {% for child in form %}
      <div class="sortableItem">
        {{ form_widget(child) }}
        {{ form_label(child) }}
      </div>
    {% endfor %}
  </div>
  {% endspaceless %}
{% endblock choice_widget_expanded_sortable %}

{%- block choice_widget_collapsed_selected_value -%}
  {#- Initially displayed value == exactly the text of the option initially marked with selected="selected" -#}
  {#- see https://github.com/symfony/symfony/blob/3.4/src/Symfony/Bridge/Twig/Resources/views/Form/form_div_layout.html.twig#L55 -#}
  {%- if placeholder is not none and value is empty and not placeholder_in_choices -%}
    {%- if translation_domain is same as(false) or placeholder == '' -%}
      {{- placeholder -}}
    {%- else -%}
      {{- placeholder | trans({}, translation_domain) -}}
    {%- endif -%}
  {%- else -%}
    {%- set _selected = get_value_choice(preferred_choices, value) | default(get_value_choice(choices, value)) -%}
    {%- set _selected = _selected | default(first_choice(preferred_choices)) | default(first_choice(choices)) -%}
    {%- if _selected -%}
        {% set selectedLabel = choice_translation_domain is same as(false) ? _selected.label : _selected.label|trans({}, choice_translation_domain) %}
        {%- if dropdown_elements_html is defined -%}
           {{- selectedLabel | raw -}}
        {%- else -%}
           {{- selectedLabel -}}
        {%- endif -%}
    {%- elseif placeholder -%}
      {{ placeholder }}
    {%- endif -%}
  {%- endif -%}
{%- endblock -%}

{%- block hiddendropdown_option_display -%}
  {% for group_label, choice in options %}
    {%- if choice is iterable and choice.nogroup is not defined -%}
    <li class="nested-group"><label class="group-label">{{ choice_translation_domain is same as(false) ? group_label : group_label|trans({}, choice_translation_domain) }}</label>
      <ul class="group">
        {% set options = choice %}
        {{- block('hiddendropdown_option_display') }}
      </ul>
    </li>
    {%- else -%}
    <li class="choice" data-value="{{ choice.value }}">
      {%- if choice.label -%}
        {% set choiceLabel = choice_translation_domain is same as(false) ? choice.label : choice.label|trans({}, choice_translation_domain) %}
        {%- if dropdown_elements_html is defined -%}
           {{- choiceLabel | raw -}}
        {%- else -%}
           {{- choiceLabel -}}
        {%- endif -%}
      {%- else -%}
        &nbsp; {#- maintain height / prevent vertical collapse -#}
      {%- endif -%}
    </li>
    {%- endif -%}
  {% endfor %}
{%- endblock %}

{%- block choice_widget_collapsed -%}
  {%- if multiple -%}
    <div class="inputWrapper">
      {{- block('symfony_choice_widget_collapsed') -}}
    </div>
  {%- else -%}
    <div class="dropdown"{%- if attr.title is defined -%} title="{{ translation_domain is same as(false) ? attr.title : attr.title|trans({}, translation_domain) }}"{%- endif -%}{% if dropdown_elements_html is defined %} data-html="true"{% endif %}>
    {%- set attr = attr | merge({'class': ('hiddenDropdown ' ~ (attr.class | default (''))) | trim}) -%}
    {{- block('symfony_choice_widget_collapsed') -}}
    <div class="dropdownValue iconDown">
      {{ block('choice_widget_collapsed_selected_value') }}
    </div>
    <ul class="dropdownList">
      {%- if placeholder is not none -%}
        {%- set options = [{'value': '', 'label': placeholder, 'nogroup': 1}] -%}
        {{- block('hiddendropdown_option_display') -}}
      {%- endif -%}
      {%- if preferred_choices|length > 0 -%}
        {% set options = preferred_choices %}
        {{- block('hiddendropdown_option_display') -}}
      {%- endif -%}
      {%- set options = choices -%}
      {{- block('hiddendropdown_option_display') -}}
    </ul>
    </div>
{%- endif -%}
{%- endblock choice_widget_collapsed -%}

{%- block form_label -%}
  {%- if 'checkbox' in form.vars.block_prefixes -%}
    {{- block('bs3_checkbox_label') -}}
  {%- else -%}
    {%- set label_attr = label_attr | merge({'class': (label_attr.class | default('') ~ ' labelInput') | trim}) -%}
    {{- block('div_form_label') -}}
  {%- endif -%}
{% endblock form_label %}

{%- block checkbox_widget -%}
  {{- block('bs3_checkbox_widget') -}}
{%- endblock -%}
{%- block checkbox_label -%}
  {{- block('bs3_checkbox_label') -}}
{%- endblock -%}

{% block checkbox_row %}
  <div class="form-group{% if not valid %} has-error{% endif %} no-gutters">
    {{- block('checkbox_widget') -}}
    {{- form_help(form) -}}
    {{- form_errors(form) -}}
  </div>
{% endblock checkbox_row %}

{% block form_row %}
  {%- if form.parent and 'collection' in form.parent.vars.block_prefixes -%}

    {% set allowCollapse = form.parent.vars.allow_collapse is defined and form.parent.vars.allow_collapse %}

    {% if allowCollapse %}
      {# get index of item within parent for initial collapse state #}
      {% set index = -1 %}
      {% set break = false %}
      {% for child in form.parent.children if not break %}
          {% if not child.isRendered %}
              {% set index = loop.index %}
              {% set break = true %}
          {% endif %}
      {% endfor %}
      <div class="panel panel-default collectionItem clear">
        <div class="panel-heading" role="tab" id="headingOne">
          <h4 class="panel-title">
            <a role="button" class="collapse-toggle" aria-expanded="true">
                <span class="panel-label {% if not form.vars.valid  %}text-danger{% endif %}" data-unnamed="{{ 'mb.form.unnamed_entry' | trans }}">{{ 'mb.form.unnamed_entry' | trans }}</span>
                <div class="panel-buttons">
                    <a href="#" class="collapse-toggle clickable hover-highlight-effect" title="{{ 'mb.actions.edit' | trans }}">
                        <i class="fa fa-fw fa-cog far"></i>
                    </a>
                    {%- if form.parent.vars.allow_add -%}
                    <a href="#" class="collectionDuplicate clickable hover-highlight-effect" title="{{ 'mb.actions.duplicate' | trans }}">
                        <i class="fa fa-fw fa-copy far"></i>
                    </a>
                    {%- endif -%}
                    {%- if form.parent.vars.allow_delete -%}
                    <a href="#" class="collectionRemove clickable hover-highlight-effect" title="{{ 'mb.actions.delete' | trans }}">
                        <i class="fa fa-fw fa-trash-o far fa-trash-alt"></i>
                    </a>
                    {%- endif -%}
                </div>
            </a>
          </h4>
        </div>
        {% set opened = not form.vars.valid
            or index == -1
            or form.parent.vars.initial_collapse_state == 'all_opened'
            or (form.parent.vars.initial_collapse_state == 'first_opened' and index == 1)
            or (form.parent.vars.initial_collapse_state == 'last_opened' and index == form.parent.children | length)
            or (form.parent.vars.initial_collapse_state == 'all_collapsed_except_single' and form.parent.children | length == 1)
        %}
        <div class="panel-collapse collapse {% if opened %}in{% endif %}" role="tabpanel"
           aria-labelledby="headingOne">
          <div class="panel-body">
              {{ form_widget(form) }}
          </div>
        </div>
      </div>
    {% else %}
        <div class="collectionItem clear">
            {%- if form.parent.vars.allow_delete -%}
                <a href="#" class="collectionRemove clickable hover-highlight-effect"><i
                        class="fa fa-fw fa-trash-o far fa-trash-alt"></i></a>
            {%- endif -%}
            {# No label for collection item #}
            {{ form_widget(form) }}
        </div>
    {% endif %}
  {%- else -%}
    <div class="form-group no-gutters{% if (not compound or force_error|default(false)) and not valid %} has-error{% endif %}">
      {{- form_label(form) -}}
      {{- form_help(form) -}}
      {{- form_widget(form) -}}
      {{- form_errors(form) -}}
    </div>
  {%- endif -%}
{% endblock form_row %}

{# Misc #}

{% block form_rest %}
  {% spaceless %}
    {% for child in form %}
      {% if not child.rendered %}
        {{ form_row(child) }}
      {% endif %}
    {% endfor %}
  {% endspaceless %}
{% endblock form_rest %}

{% block acl_widget %}
  {% spaceless %}
  <div class="ace-collection" {{ block('widget_container_attributes') }}>
    {%- if form.vars.allow_add -%}
    <div class="form-group text-right">
        <span class="-fn-add-permission hover-highlight-effect" data-url="{{path('fom_user_acl_overview')}}" title="{{'mb.manager.managerbundle.add_user_group'|trans}}">
            <i class="fa fas fa-2x fa-plus"></i>
        </span>
    </div>
    {%- endif -%}
    {% set prototype = form_widget(form.vars.prototype) %}
    <table id="listFilterPermission" class="permissionsTable table table-outlined {% if not (form | length) %}hidden{% endif %}">
      <thead data-prototype="{{ prototype }}">
        <tr class="doNotFilter">
          <th>
            {% include 'MapbenderManagerBundle::fragments/filter-group.html.twig' with {filterTargetId: 'listFilterPermission'} %}
          </th>
          {% for child in form.vars.prototype %}
            {% if child.vars.attr.class is defined %}
              <th>
                <div data-perm-type="{{ child.vars.attr.class }}" class="tagbox {{ child.vars.attr.class }}">{{ child.vars.attr.class }}</div>
              </th>
            {% endif %}
          {% endfor %}
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% for ace in form %}
          {{ form_widget(ace) }}
        {% endfor %}
      </tbody>
    </table>

    {% if not (form | length) %}
      <p id="permissionsDescription">{{"fom.core.fields.no_user_group_defined"|trans}}</p>
    {% endif %}
  </div>
  {% endspaceless %}
{% endblock %}

{% block tagbox_widget %}
  {% spaceless %}
    <div data-perm-type="{{ form.vars.attr.class }}" class="tagbox {{ form.vars.attr.class }}{{ form.vars.checked ? ' active' : '' }}">
      {{- form.vars.attr.class -}}
      <input type="checkbox" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}{{ checked ? ' checked="checked"' : '' }} />
    </div>
  {% endspaceless %}
{% endblock tagbox_widget %}

{% block ace_widget %}
    {%- set _sid_value = form.sid.vars.value -%}
    {%- set _sid_label = _sid_value | slice(2) | split(':') | first %}
    <tr class="filterItem" {{ block('widget_container_attributes') }} data-sid="{{ _sid_value }}" data-sid-label="{{ _sid_label }}">
      <td>
        <i class="userType fa fas {{ form.sid.vars.value|slice(0, 1) == "u" ? 'fa-user' : 'fa-group' }}"></i>&nbsp;
        <span class="sid-label">{# no particular styling, but .sid-label required by script #}{{ _sid_label }}</span>
          {{ form_row(form.sid) }}
      </td>

      {%- for child in form if child != (form.sid) -%}
        <td>
            {{ form_widget(child) }}
        </td>
      {%- endfor -%}
      <td class="iconColumn">
        <span class="hover-highlight-effect -fn-delete" title="{{ 'mb.actions.remove' | trans }}"><i class="fa fa-trash-o far fa-trash-alt"></i></span>
      </td>
    </tr>
{% endblock %}
