{#
 Default Mapbender form theme
 Migrated to Mapbender from FOM v3.0.6.3
 See https://github.com/mapbender/fom/tree/v3.0.6.3/src/FOM/CoreBundle/Resources/views/Form/
#}

{% use "form_div_layout.html.twig" with choice_widget_collapsed as symfony_choice_widget_collapsed %}
{% use "form_div_layout.html.twig" with form_label as div_form_label %}

{%- block form_errors -%}
    {%- if errors|length > 0 -%}
        <div class="alert alert-danger">
            <ul>
            {% for error in errors %}
                <li>{{ error.message }}</li>
            {% endfor %}
            </ul>
        </div>
    {%- endif -%}
{%- endblock -%}

{%- block form_errors_inline -%}
{%- if errors|length > 0 -%}
  <span class="validationMsgBox smallText">
    {%- for error in errors -%}
      {{ error.message }}
    {%- endfor -%}
  </span>
{%- endif -%}
{%- endblock form_errors_inline %}

{% block form_widget_simple %}
  {% spaceless %}
    {% set type = type|default('text') %}
    {%- set attr = attr|merge({'class': ('input ' ~ (attr.class | default(''))) | trim}) -%}
      <div class="inputWrapper">
        <input type="{{ type }}" {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value }}" {% endif %}/>
      </div>
  {% endspaceless %}
{% endblock form_widget_simple %}

{% block collection_widget %}
  {% spaceless %}
    {% if prototype is defined %}
      {% set attr = attr|merge({'data-prototype': form_row(prototype) }) %}
    {% endif %}
    {% if allow_delete %}
      {% set attr = attr|merge({'data-allow-delete': 1 }) %}
    {% endif %}
    <div {{ block('widget_container_attributes') }}>
      {% if prototype is defined and form.vars.allow_add is not empty %}
        <span class="collectionAdd hover-highlight-effect"><i class="fa fas fa-plus"></i></span>
      {% endif %}
      {%- for child in form -%}
        {{- form_row(child) -}}
      {%- endfor -%}
    </div>
  {% endspaceless %}
{% endblock collection_widget %}

{% block textarea_widget %}
  <div class="inputWrapper">
    {%- set attr = attr | merge({'class': (attr.class | default('') ~ ' input') | trim}) -%}
    <textarea {{ block('widget_attributes') }}>{{ value }}</textarea>
  </div>
{% endblock textarea_widget %}

{% block choice_widget %}
  {% spaceless %}
    {% if expanded %}
      {% if form.vars.attr is defined and form.vars.attr['data-sortable'] is defined %}
        {{ block('choice_widget_expanded_sortable') }}
      {% else %}
        {{ block('choice_widget_expanded') }}
      {% endif %}
    {% else %}
      {{ block('choice_widget_collapsed') }}
    {% endif %}
  {% endspaceless %}
{% endblock choice_widget %}

{% block choice_widget_expanded_sortable %}
  {% spaceless %}
  <div {{ block('widget_container_attributes') }}>
    {% for child in form %}
      <div class="sortableItem">
        {{ form_widget(child) }}
        {{ form_label(child) }}
      </div>
    {% endfor %}
  </div>
  {% endspaceless %}
{% endblock choice_widget_expanded_sortable %}

{%- block choice_widget_collapsed_selected_value -%}
  {% for choice in options %}
    {%- if choice is iterable -%}
      {%- set options = choice -%}
      {{- block('choice_widget_collapsed_selected_value') -}}
    {%- elseif choice is selectedchoice(value) -%}
      {{ choice_translation_domain is same as(false) ? choice.label : choice.label|trans({}, choice_translation_domain) }}
    {%- endif -%}
  {% endfor %}
{%- endblock -%}

{%- block hiddendropdown_option_display -%}
  {% for group_label, choice in options %}
    {%- if choice is iterable and choice.nogroup is not defined -%}
    <li><label class="group-label">{{ choice_translation_domain is same as(false) ? group_label : group_label|trans({}, choice_translation_domain) }}</label>
      <ul class="group">
        {% set options = choice %}
        {{- block('hiddendropdown_option_display') }}
      </ul>
    </li>
    {%- else -%}
    <li class="choice" data-value="{{ choice.value }}">{{ choice_translation_domain is same as(false) ? choice.label : choice.label|trans({}, choice_translation_domain) }}</li>
    {%- endif -%}
  {% endfor %}
{%- endblock %}

{%- block choice_widget_collapsed -%}
  {%- if multiple -%}
    {{- block('symfony_choice_widget_collapsed') -}}
  {%- else -%}
    <div class="dropdown">
    {%- set attr = attr|merge({'class': 'hiddenDropdown'~((attr.class is defined and attr.class) ? (' '~attr.class) : '')}) %}
    {{- block('symfony_choice_widget_collapsed') -}}
    <div class="dropdownValue iconDown">
      {%- if placeholder is not none and value == '' -%}
        {{ placeholder }}
      {%- else -%}
        {%- set options = preferred_choices|merge(choices) -%}
        {{ block('choice_widget_collapsed_selected_value') }}
      {%- endif -%}
    </div>
    <ul class="dropdownList">
      {%- if placeholder is not none -%}
        {%- set options = [{'value': '', 'label': placeholder, 'nogroup': 1}] -%}
        {{- block('hiddendropdown_option_display') -}}
      {%- endif -%}
      {%- if preferred_choices|length > 0 -%}
        {% set options = preferred_choices %}
        {{- block('hiddendropdown_option_display') -}}
      {%- endif -%}
      {%- set options = choices -%}
      {{- block('hiddendropdown_option_display') -}}
    </ul>
    </div>
{%- endif -%}
{%- endblock choice_widget_collapsed -%}

{% block checkbox_widget %}
  {% spaceless %}
    {# @todo: remove .left (float) if rendered via form_row, keep it if rendered otherwise...? #}
    {% set _wrapperClass = 'checkWrapper iconCheckbox left' %}
    {% if checked %}
      {% set _wrapperClass = _wrapperClass~' iconCheckboxActive' %}
    {% endif %}
    {% if disabled %}
      {% set _wrapperClass = _wrapperClass~' checkboxDisabled' %}
    {% endif %}
    <div class="{{ _wrapperClass }}" data-icon="iconCheckbox">
      <input class="checkbox" type="checkbox" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %} />
    </div>
  {% endspaceless %}
{% endblock checkbox_widget %}


{%- block hidden_widget -%}
  <input type="hidden" {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value }}" {% endif %}/>
{%- endblock hidden_widget -%}

{% block form_label %}
  {%- if 'checkbox' in form.vars.block_prefixes -%}
    {%- set label_attr = label_attr | merge({'class': (label_attr.class | default('') ~ ' labelCheck') | trim}) -%}
  {%- else -%}
    {%- set label_attr = label_attr | merge({'class': (label_attr.class | default('') ~ ' labelInput') | trim}) -%}
  {%- endif -%}
  {{ block('div_form_label') }}
{% endblock form_label %}

{% block checkbox_row %}
<div>
  {{- form_widget(form) -}}
  {{- form_label(form) -}}
</div>
{% endblock checkbox_row %}

{% block form_row %}
  {%- if form.parent and 'collection' in form.parent.vars.block_prefixes -%}
    <div class="collectionItem clear">
      {%- if form.parent.vars.allow_delete -%}
        <span class="collectionRemove hover-highlight-effect"><i class="fa fa-fw fa-times"></i></span>
      {%- endif -%}
      {# No label for collection item #}
      {{ form_widget(form) }}
    </div>
  {%- else -%}
    <div>
      {{- form_label(form) -}}
      {{- form_widget(form) -}}
      {{- block('form_errors_inline') -}}
    </div>
  {%- endif -%}
{% endblock form_row %}

{# Misc #}

{% block form_rest %}
  {% spaceless %}
    {% for child in form %}
      {% if not child.rendered %}
        {{ form_row(child) }}
      {% endif %}
    {% endfor %}
  {% endspaceless %}
{% endblock form_rest %}

{% block acl_widget %}
  {% spaceless %}

    {% set prototype = form_widget(form.ace.vars.prototype) %}
    <table id="listFilterPermission" class="listFilterContainer clear permissionsTable tableCore {% if form.ace|length == 0 %}hidden{% endif %}">
      <thead data-prototype="{{ prototype }}">
        <tr class="doNotFilter">
          <th>
            <label for="inputFilterPermission" class="labelInput left">{{"fom.core.fields.filter"|trans}}</label>
            <input id="inputFilterPermission" type="text" class="input left listFilterInput"/>
          </th>
          {% for child in form.ace.vars.prototype %}
            {% if child.vars.attr.class is defined %}
              <th>
                <div data-perm-type="{{ child.vars.attr.class }}" class="tagbox {{ child.vars.attr.class }}">{{ child.vars.attr.class }}</div>
              </th>
            {% endif %}
          {% endfor %}
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% for ace in form.ace %}
          {{ form_widget(ace) }}
        {% endfor %}
      </tbody>
    </table>

    {% if form.ace|length == 0 %}
      <p id="permissionsDescription" class="description">{{"fom.core.fields.no_user_group_defined"|trans}}</p>
    {% endif %}
    <div class="clearContainer"></div>
  {% endspaceless %}
{% endblock %}

{% block tagbox_widget %}
  {% spaceless %}
    <div data-perm-type="{{ form.vars.attr.class }}" class="checkWrapper tagbox {{ form.vars.attr.class }}{{ form.vars.checked ? ' active' : '' }}"
         data-icon-on="active" data-icon-off="" >
      {{- form.vars.attr.class -}}
      <input type="checkbox" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}{{ checked ? ' checked="checked"' : '' }} />
    </div>
  {% endspaceless %}
{% endblock tagbox_widget %}

{% block ace_widget %}
  {% spaceless %}
    <tr class="filterItem" {{ block('widget_container_attributes') }} data-sid="{{ form['sid'].vars.value }}">
      <td>
        <div class="{% if form.sid.vars.value|slice(0, 1) == "u" %}iconUser{% else %}iconGroup{% endif %} userType">&nbsp;
        <span class="labelInput">{{ form.sid.vars.value|slice(2)|split(':')|first }}</span>
          {{ form_row(form.sid) }}
      </td>

      {% for child in form if child != (form.sid) %}
        <td>
            {{ form_widget(child) }}
        </td>
      {% endfor %}
      <td class="iconColumn">
        <span class="iconRemove removeUserGroup hover-highlight-effect"></span>
      </td>
    </tr>
  {% endspaceless %}
{% endblock %}
