{% extends 'MBWMSBundle:WMS:base.html.twig' %} 

{% block title %}Details for {{ wms.getTitle() }} {% endblock %}
{% block heading %}WMS detail{% endblock %}

{% block subnavigation %}
    <nav class="actions">
        <a href="{{ path('mb_wms_showdelete',{'id':wms.getId()}) }}">{% trans %}Delete{% endtrans %}</a>
        <a class="disabled" href="">{% trans %}Edit{% endtrans %}</a>
        <a class="disabled" href="#">{% trans %}Update{% endtrans %}</a>
    </nav>
{% endblock %}

{% block content %}
    
    <div class="wms">
        <div class="metadata"> 
            <h1 class="title" ><a href="{{ wms.getId() }}" target="_new">{{ wms.getTitle() }}</a></h1>
            <span class="name">({{ wms.getName() }})</span>
            <h2>{% trans %}Onlineresource{% endtrans %}</h2>
            <p class="onlineResource">{{ wms.getOnlineResource() }}</p>
            <h2>{% trans %}Abstract{% endtrans %}</h2>
            <p class="abstract"> {{ wms.getAbstract() }} </p>
            <h2>{% trans %}Fees{% endtrans %}</h2>
            <p class="fees">{{ wms.getFees() }}</p>
            <h2>{% trans %}Accessconstraints{% endtrans %}</h2>
            <p class="accessConstraints">{{ wms.getAccessConstraints() }}</p>
        </div> 
        <div class="preview">
            <h2>{% trans %}OpenLayers Preview{% endtrans %}</h2>
            <div id="map" class="smallmap"></div>
        </div>
        <div class="contact">
            <h2>{% trans %}Contact{% endtrans %}</h2> 
            <div class="contact-person"> 
                <span class="type">{% trans %}Person{% endtrans %}</span>
                <span class="value">{{ wms.getContactPerson() }}</span>
            </div>
            <div class="contact-organization"> 
                <span class="type">{% trans %}Organization{% endtrans %}</span>
                <span class="value">{{ wms.getContactOrganization() }}</span>
            </div>
            <div class="contact-position"> 
                <span class="type">{% trans %}Position{% endtrans %}</span>
                <span class="value">{{ wms.getContactPosition() }}</span>
            </div>
            <div class="contact-voicetelephone">
                <span class="type">{% trans %}Telephone{% endtrans %}</span>
                <span class="value">{{ wms.getContactVoiceTelephone() }}</span>
            </div>
            <div class="contact-voicefax">
                <span class="type">{% trans %}Fax{% endtrans %}</span>
                <span class="value">{{ wms.getContactFacsimileTelephone() }}</span>
            </div>
            <div class="contact-electronicmailaddress"> 
                <span class="type">{% trans %}Email{% endtrans %}</span>
                <span class="value">{{ wms.getContactElectronicMailAddress() }}</span>
            </div>
            <div class="contact-address"> 
                <span class="type">{% trans %}Address{% endtrans %}</span>
                <span class="value">{{ wms.getContactAddress() }}</span>
            </div>
            <div class="contact-addresstype"> 
                <span class="type">{% trans %}Addresstype{% endtrans %}</span>
                <span class="value">{{ wms.getContactAddressType() }}</span>
            </div>
            <div class="contact-address-city"> 
                <span class="type">{% trans %}City{% endtrans %}</span>
                <span class="value">{{ wms.getContactAddressCity() }}</span>
            </div>
            <div class="contact-address-stateorprovince"> 
                <span class="type">{% trans %}State or Province{% endtrans %}</span>
                <span class="value">{{ wms.getContactAddressStateOrProvince() }}</span>
            </div>
            <div class="contact-address-postcode"> 
                <span class="type">{% trans %}Postcode{% endtrans %}</span>
                <span class="value">{{ wms.getContactAddressPostcode() }}</span>
            </div>
            <div class="contact-address-country"> 
                <span class="type">{% trans %}Country{% endtrans %}</span>
                <span class="value">{{ wms.getContactAddressCountry() }}</span>
            </div>
        </div>
    <div class="service">
        <div class="requestGetCapabilities">
            <h2>{% trans %}Operations{% endtrans %}</h2>
            <h3>GetCapabilities</h3>
            <div class="get">
                <span class="type">GET</span>
                <span class="value">
                    <a href="{{ wms.getRequestGetCapabilitiesGET() }}" target="_new">{{ wms.getRequestGetCapabilitiesGET() }}</a>
                </span>
            </div>
            <div class="get">
                <span class="type">POST</span>
                <span class="value">
                    <a href="{{ wms.getRequestGetCapabilitiesPOST() }}" target="_new">{{ wms.getRequestGetCapabilitiesPOST() }}</a>
                </span>
            </div>
        </div>

        <div>
            <h3>GetMap</h3>
            <div class="get">
                <span class="type">GET</span>
                <span class="value">
                    <a href="{{ wms.getRequestGetMapGET() }}" target="_new">{{ wms.getRequestGetMapGET() }}</a>
                </span>
            </div>
            <div class="get">
                <span class="type">POST</span>
                <span class="value">
                    <a href="{{ wms.getRequestGetMapPOST() }}" target="_new">{{ wms.getRequestGetMapPOST() }}</a>
                </span>
            </div>
        </div>
    </div>
    <div class="layers">
        <h2>{% trans %}Layers{% endtrans %}</h2>
        {% for layer in wms.getLayer() %}
            {% include "MBWMSBundle:WMS:layerdetails.html.twig" %}
        {% endfor %}
        {% if wms.getLayer()|length == 0 %}
            <p class="emptydata">{% trans %}No Layers{% endtrans %}</p>
        {% endif %}
    </div>
    </div>



{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{asset('js/ol/OpenLayers-2.10/examples/style_example.css') }}" />
	<link rel="stylesheet" href="{{asset('js/ol/OpenLayers-2.10/theme/default/styleol.css') }}" />
{% endblock %}

{% block javascripts %}
    <script type="application/javascript">
    var previewWMS = {
        title: '{{ wms.getTitle() }}',
        url: '{{ wms.getRequestGetMapGET() }}',
        rootlayer: '{{ wms.getRootLayer().getName() }}',
        format: '{{ wms.getDefaultRequestGetMapFormat() }}',
        projection: '{{ wms.getRootLayer().getDefaultSRS() }}',
        bounds: {
                    left: '{{ minx }}',
                    bottom: '{{ miny }}',
                    right:'{{ maxx }}',
                    top: '{{ maxy }}'
                }
    };

    </script>
    <script src="{{asset('js/ol/OpenLayers-2.10/OpenLayers.js') }}"></script>
    <script src="{{asset('js/ol/ol_client.js') }}"></script>		
        
{% endblock %}

