{% extends 'MBWMSBundle:WMS:base.html.twig' %} 
{% form_theme form 'MBWMSBundle:Form:fields.html.twig' %}

{% block title %}Details for {{ wms.getTitle() }} {% endblock %}
{% block heading %}WMS detail{% endblock %}


{% block subnavigation %}
    <nav class="actions">
        <a href="{{ path('mb_wms_wms_confirmdelete',{'id':wms.getId()}) }}">{% trans %}Delete{% endtrans %}</a>
        <a class="disabled" href="">{% trans %}Edit{% endtrans %}</a>
        <a class="disabled" href="#">{% trans %}Update{% endtrans %}</a>
    </nav>
{% endblock %}

{% block content %}
    <script src="{{asset('bundles/mbwms/js/preview.js') }}"></script>	

    <form class="wms" action="{{ path('mb_wms_wms_save',{'id':wms.id}) }}" method="POST">
        {{ form_widget(form) }}
        {{ form_rest(form) }}
        <button type="submit">{% trans %}Save{% endtrans %}</button>
    </form>
{% endblock %}
