{% extends 'MapbenderWmsBundle:WMS:base.html.twig' %} 
{% form_theme form 'MapbenderWmsBundle:Form:fields.html.twig' %}

{% block title %}Details for {{ wms.getTitle() }} {% endblock %}
{% block heading %}WMS detail{% endblock %}


{% block subnavigation %}
    <nav class="actions">
        <a href="{{ path('mapbender_wms_wms_confirmdelete',{'wmsId':wms.id}) }}">{% trans %}Delete{% endtrans %}</a>
        <a class="disabled" href="">{% trans %}Edit{% endtrans %}</a>
        <a class="disabled" href="#">{% trans %}Update{% endtrans %}</a>
    </nav>
{% endblock %}

{% block content %}
    <script src="{{asset('bundles/mbwms/js/preview.js') }}"></script>	

    <form class="wms tabbable" action="{{ path('mapbender_wms_wms_save',{'wmsId':wms.id}) }}" method="POST">
        {{ form_widget(form) }}
        {{ form_rest(form) }}
        <button type="submit">{% trans %}Save{% endtrans %}</button>
    </form>
{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{asset('js/ol/OpenLayers-2.10/examples/style_example.css') }}" />
	<link rel="stylesheet" href="{{asset('js/ol/OpenLayers-2.10/theme/default/styleol.css') }}" />
{% endblock %}
{% block javascripts %}
    <script type="application/javascript">
        var bounds = "{{wms.rootlayer.latLonBounds}}".split(' ');
        var previewWMS = {
            title: '{{ wms.getTitle() }}',
            url: '{{ wms.getRequestGetMapGET() }}',
            rootlayer: '{{ wms.getRootLayer().getName() }}',
    {#        format: '{{ wms.getDefaultRequestGetMapFormat() }}', #}
            format: 'image/png',
            projection: '{{ wms.getRootLayer().getDefaultSRS() }}',
            bounds: {
                        left: bounds[0],
                        bottom: bounds[1],
                        right: bounds[2],
                        top: bounds[3]
                    }
        };
    </script>
    <script src="{{asset('js/ol/OpenLayers-2.10/OpenLayers.js') }}"></script>
    <script src="{{asset('js/ol/ol_client.js') }}"></script>
{% endblock %}
