{% extends 'MBWMSBundle:WMS:base.html.twig' %} 

{% block title %}{% trans %}WMS Preview{% endtrans %}{% endblock %}

{% block content %}
    <p>{% trans %}WMS Preview{% endtrans %}: '{{ getcapa_url }}'</p>
    <div class="wms">
    <input type="hidden" value="{{ xml }}" />
    <form action="{{ path('mb_wms_add') }}" method="POST">
        <input type="submit" name="save" value="{% trans %}Add WMS{% endtrans %}"/> 
        {{ form_rest(form) }}
        <div class="layers" >
            {{ form_widget(form.layer) }}
        </div>
         <input type="submit" name="save" value="{% trans %}Add WMS{% endtrans %}"/> 
    </form>
{% endblock %}
