{% extends 'MBWMSBundle:WMS:base.html.twig' %} 

{% block title %}{% trans %}Add WMS{% endtrans %}{% endblock %}
{% block heading %}WMS add{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('bundles/mbwms/css/style.css') }}" type="text/css"/>
{% endblock %}

{% block content %}
    <div class="message">
        <form class="wmsregister" name="url" action="{{ path('mb_wms_wms_preview') }}" method="POST">
            
			 <fieldset>
   			<legend>Capabilities-URL laden</legend>
			<div>
                <label for="getcapa_url">{% trans %}Capabilities URL{% endtrans %}</label> 
                <input type="url" name="getcapa_url" id="getcapa_url" value="" />
            </div>
            <div>
                <label for="http_user">{% trans %}HTTP User{% endtrans %}</label>
                <input type="text" name="http_user" />
            </div>
            <div>
                <label for="http_password">{% trans %}HTTP Password{% endtrans %}</label>
                <input type="password" name="http_password" />
            </div>
			<input type="submit" name="save" value="{% trans %}Load{% endtrans %}" /> 			
        	</fieldset>
        </form>
		
{#
		 <fieldset>
   			<legend>Capabilities-URL hochladen</legend>
			
        <form name="upload" action="{{ path('mb_wms_wms_preview')  }}" method="POST">
            <input type="file" name="getcapa_file" id="getcapa_file />
            <label for="getcapa_file">{% trans %}<br/><br/>Capabilities File{% endtrans %}</label>
            <input type="submit" name="save" value="{% trans %}Load{% endtrans %}" />
        </form>
		</fieldset>
#}
        <div id="wmspreview" title="WMS Preview" style="display: none">
            <p>{% trans %}Loading WMS{% endtrans %} <img src="{{ asset('bundles/mbwms/img/spinner.gif') }}" alt="loading..." title="locadin..."/></p>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{asset('bundles/mbwms/js/preview.js') }}"></script>	
{% endblock %}
