{% if transportationModes is defined and transportationModes|length > 0 %}
    {% for transportationMode in transportationModes %}
        <div class="form-check mb-3 ms-1 form-check-inline{% if transportationModes|length == 1 %} d-none{% endif %}">
            <input id="{{ transportationMode }}" class="form-check-input" type="radio" name="vehicle" value="{{ transportationMode }}" checked>
            <label for="{{ transportationMode }}" class="form-check-label">
                {# @todo: check why the following if statements cannot be implemented with switch case #}
                {% if transportationMode == 'car' %}
                    <i class="fa-solid fa-car-side"></i>
                {% elseif transportationMode == 'bike' %}
                    <i class="fa-solid fa-person-biking"></i>
                {% elseif transportationMode == 'foot' %}
                    <i class="fa-solid fa-person-walking"></i>
                {% else %}
                    <i class="fa-solid fa-minus"></i>
                {% endif %}
            </label>
        </div>
    {% endfor %}
{% endif %}
<form class="mb-routing-location-points ui-sortable">

    <div class="input-group mb-3">
        <span class="input-group-text" title="{{ 'mb.routing.frontend.dialog.label.start' | trans }}">
            <i class="fa-solid fa-location-dot text-success"></i>
        </span>
        <input class="form-control" type="text" placeholder="{{ 'mb.routing.frontend.dialog.label.start' | trans }}" autocomplete="off">
        <button class="btn btn-outline-secondary clearField" type="button">
            <i class="fa-solid fa-xmark"></i>
        </button>
    </div>
    <div class="input-group mb-3">
        <span class="input-group-text" title="{{ 'mb.routing.frontend.dialog.label.destination' | trans }}">
            <i class="fa-solid fa-location-dot text-danger"></i>
        </span>
        <input class="form-control" type="text" placeholder="{{ 'mb.routing.frontend.dialog.label.destination' | trans }}" autocomplete="off">
        <button class="btn btn-outline-secondary clearField" type="button">
            <i class="fa-solid fa-xmark"></i>
        </button>
    </div>
</form>
<div class="right">
    <button class="btn btn-light resetRoute" type="button" title="{{ 'mb.routing.frontend.dialog.label.clearroute' | trans }}">
        <i class="far fa-trash-can"></i>
    </button>
    <button class="btn btn-primary swapPoints" type="button" title="{{ 'mb.routing.frontend.dialog.label.flippoints' | trans }}">
        <i class="fa-solid fa-arrow-right-arrow-left fa-rotate-90"></i>
    </button>
    <button class="btn btn-primary calculateRoute" type="button" title="{{ 'mb.routing.frontend.dialog.label.getroute' | trans }}">
        <i class="fa-solid fa-flag-checkered"></i>
    </button>
    {% if allowIntermediatePoints %}
        <button class="btn btn-primary addPoint" type="button" title="{{ 'mb.routing.frontend.dialog.label.addintermediate' | trans }}">
            <i class="fa-solid fa-plus"></i>
        </button>
    {% endif %}
</div>
<div class="clear"></div>
{% if attribution is not empty %}
    <div class="attribution form-text d-none mt-3">
        {{ attribution|raw }}
    </div>
{% endif %}
<div class="mb-routing-results">
    <div class="mb-routing-info alert alert-info d-none mt-3"></div>
    <div class="mb-routing-export input-group">
        <select class="select-export-format form-select form-select-sm">
            <option value="" selected>
                {{ 'mb.routing.frontend.dialog.label.selectExportFormat' | trans }}
            </option>
        </select>
    </div>
    <div class="mb-routing-instructions"></div>
</div>
<!-- Templates -->
<template class="tplIntermediatePoint">
    <div class="input-group mb-3 intermediatePoints">
        <span class="input-group-text" title="{{ 'mb.routing.frontend.dialog.label.intermediate' | trans }}">
            <i class="fa-solid fa-location-dot text-primary"></i>
        </span>
        <input class="form-control" type="text" placeholder="{{ 'mb.routing.frontend.dialog.label.intermediate' | trans }}" autocomplete="off">
        <button class="btn btn-outline-secondary clearField" type="button">
            <i class="fa-solid fa-xmark"></i>
        </button>
    </div>
</template>
