{% extends "FOMManagerBundle::manager.html.twig" %}

{% set instance_title = instance.title %}
{% set instance_id = instance.id %}

{% block title %}{% trans %}Delete instance %instance_title%{% endtrans %}{% endblock %}

{% block manager_css %}
<link rel="stylesheet" type="text/css" href="{{ asset('bundles/mapbendermanager/css/jquery-ui-1.8.16.css') }}" />
{% endblock %}

{% block manager_content %}

<form id="instance-delete" action="{{ path('mapbender_manager_application_deleteinstance', { 'slug': application.slug, 'layersetId': layerset.id, 'instanceId' : instance.id }) }}" method="post" {{ form_enctype(form)}}>
    <header>
    {% trans %}Do you really want to remove the instance with the title <em>%instance_title%</em> and the id <em>%instance_id%</em>?{% endtrans %}
    </header>
    {{ form_widget(form) }}
    <footer class="actions">
        <div class="btn-group">
            <input type="submit" value="{{ 'Delete' | trans }}" class="btn btn-danger"/>
            <a href="{{ url('mapbender_manager_application_edit',{'slug': application.slug}) }}#layersets" class="btn">{{ 'Cancel' | trans}}</a>
        </div>
    </footer>
</form>

{% endblock %}

