{% extends "FOMManagerBundle::manager.html.twig" %}

{% set application_title = application.title %}
{% set application_id = application.id %}

{% block title %}{% trans %}Delete application %application_title%{% endtrans %}{% endblock %}

{% block manager_css %}
<link rel="stylesheet" type="text/css" href="{{ asset('bundles/mapbendermanager/css/jquery-ui-1.8.16.css') }}" />
{% endblock %}

{% block manager_content %}

<form id="application-delete" action="{{ path('mapbender_manager_application_delete', { 'slug': application.slug }) }}" method="post" {{ form_enctype(form)}}>
    <header>
    {% trans %}Do you really want to delete the application with the title <em>%application_title%</em> and the id <em>%application_id%</em>?{% endtrans %}
    </header>
    {{ form_widget(form) }}
    <footer class="actions">
        <div class="btn-group">
            <input type="submit" value="{{ 'Delete' | trans }}" class="btn btn-danger"/>
            <a href="{{ url('mapbender_manager_application_index') }}" class="btn">{{ 'Cancel' | trans}}</a>
        </div>
    </footer>
</form>

{% endblock %}
