{% extends "FOMManagerBundle::manager.html.twig" %}

{% block title %}{{ application.title }}{% endblock %}

{% block js %}
  {{parent()}}
  <script type="text/javascript" src="{{ asset('bundles/fomuser/js/acl-form.js') }}"></script>
  <script type="text/javascript" src="{{ asset('bundles/mapbendermanager/js/edit.js') }}"></script>
  <script type="text/javascript" src="{{ asset('bundles/mapbendermanager/js/application.js') }}"></script>
{% endblock %}

{% block manager_content %}
  <form action="{{ path('mapbender_manager_application_update', { 'slug': application.slug }) }}" method="post" name="{{ form_name }}" {{ form_enctype(form)}}  novalidate="novalidate">
    <div id="applicationTabContainer" class="tabContainer newApplicationTabContainer">
      <ul class="tabs">
        <li id="tabBaseData" class="tab active">{{"Base data" | trans }}</li>
        <li id="tabLayout" class="tab">{{"Layout" | trans }}</li>
        <li id="tabLayers" class="tab">{{"Layers" | trans }}</li>
        <li id="tabSecurity" class="tab">{{"Security" | trans }}</li>
      </ul>
      <div id="containerBaseData" class="container active containerBaseData">
        {% include 'MapbenderManagerBundle:Application:form-basic.html.twig' %}
      </div>
      <div id="containerLayout" class="container">
        {% include 'MapbenderManagerBundle:Application:form-elements.html.twig' %}
      </div>
      <div id="containerLayers" class="container">
        {% include 'MapbenderManagerBundle:Application:form-layersets.html.twig' %}
      </div>
      <div id="containerSecurity" class="container">
        {% include 'MapbenderManagerBundle:Application:form-security.html.twig' %}
      </div>
    </div>

    <div class="right">
      <input type="submit" value="{{ 'Save' | trans }}" class="button"/>
      <a href="{{ url('mapbender_manager_application_index') }}" class="button critical">{{ 'Cancel' | trans}}</a>
    </div>

    <div class="clearContainer"></div>

    {{ form_row(form._token) }}
  </form>
{# XXXVH: Stopped right here!
<div id="repository-list-modal"  class="modal hide fade">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3>{{ "Select Source"|trans }}</h3>
    </div>
    <div class="modal-body">
        <table class="table table-striped" id="repository-list">
            <thead>
                <tr>
                    <th>{{ 'SourceId' | trans }}</th>
                    <th>{{ 'Type' | trans }}</th>
                    <th>{{ 'Title' | trans }}</th>
                    <th>{{ 'Alias' | trans }}</th>
                    <th>{{ 'Description' | trans }}</th>
                    <th>{{ 'Actions' | trans }}</th>
                </tr>
            </thead>
            <tbody>
                {% for source in sources %}
                <tr data-source-id="{{ source.id }}">
                    <td>{{ source.id }}</td>
                    <td>{{ source.type }}</td>
                    <td>{{ source.title }}</td>
                    <td>{{ source.alias }}</td>
                    <td>{{ source.description }}</td>
                    <td>
                        <div class="entity-actions btn-group">
                            <form method="post" class="action-add" title="{{ 'Add' | trans }}" >
                                <input type="hidden" name="sourceId" value="{{ source.id }}" />
                                <input class="btn" type="submit" value="{{ 'Add' | trans }}" />
                            </form>
                        </div>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<div id="repository-instance-modal"  class="modal hide fade">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3>{{ "Edit Instance"|trans }}</h3>
    </div>
    <div class="modal-body"></div>
</div>
<div id="repository-instancelayers-modal"  class="modal hide fade">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3>{{ "Edit Instance Layers"|trans }}</h3>
    </div>
    <div class="modal-body"></div>
  </div> #}
{% endblock %}