{% extends "FOMManagerBundle::manager.html.twig" %}

{% block title %}{{ application.title }}{% endblock %}

{% block css %}
  {{parent()}}
    <link rel="stylesheet" href="{{ asset('bundles/mapbendermanager/codemirror2/lib/codemirror.css') }}"/>
  {% stylesheets filter="compass,cssrewrite"
    "bundles/mapbendermanager/sass/manager/applications.scss"
    "bundles/fomuser/sass/user/user_control.scss"
    "bundles/mapbendermanager/sass/element/form.scss"
    "bundles/mapbendermanager/sass/element/yaml.scss"
    "bundles/mapbendermanager/sass/element/button.scss"
    "bundles/mapbendermanager/sass/element/activityindicator.scss"
    "bundles/mapbendermanager/sass/element/copyright.scss"
    "bundles/mapbendermanager/sass/element/featureinfo.scss"
    "bundles/mapbendermanager/sass/element/gpsposition.scss"
    "bundles/mapbendermanager/sass/element/layertree.scss"
    "bundles/mapbendermanager/sass/element/legend.scss"
    "bundles/mapbendermanager/sass/element/map.scss"
    "bundles/mapbendermanager/sass/element/overview.scss"
    "bundles/mapbendermanager/sass/element/printclient.scss"
    "bundles/mapbendermanager/sass/element/scalebar.scss"
    "bundles/mapbendermanager/sass/element/search_router.scss"
    "bundles/mapbendermanager/sass/element/zoombar.scss"
    "bundles/mapbendermanager/sass/element/basesourceswitcher.scss"
  %}
    <link rel="stylesheet" href="{{ asset_url }}" />
  {% endstylesheets %}
{% endblock %}

{% block js %}
  {{parent()}}
  <script type="text/javascript" src="{{ asset('bundles/fomuser/js/acl-form.js') }}"></script>
  <script type="text/javascript" src="{{ asset('bundles/mapbendermanager/js/application-edit.js') }}"></script>
{% endblock %}

{% block manager_content %}
  <a class="iconView iconBig right" target="_blank" href="{{ path('mapbender_core_application_application', {'slug': application.slug}) }}" title="{{ 'mb.manager.admin.application.view' | trans }}"></a>
  <form action="{{ path('mapbender_manager_application_update', { 'slug': application.slug }) }}" method="post" name="{{ form_name }}" {{ form_enctype(form)}}  novalidate="novalidate">
    <div id="applicationTabContainer" class="tabContainer applicationTabContainer">
      <ul class="tabs">
        <li id="tabBaseData" class="tab active">{{"mb.manager.admin.application.edit.base_data" | trans }}</li>
        <li id="tabLayout" class="tab">{{"mb.manager.admin.application.layouts" | trans }}</li>
        <li id="tabLayers" class="tab">{{"mb.manager.admin.application.layersets" | trans }}</li>
        <li id="tabSecurity" class="tab">{{"mb.manager.admin.application.security" | trans }}</li>
      </ul>
      <div id="containerBaseData" class="container active containerBaseData">
        {% include 'MapbenderManagerBundle:Application:form-basic.html.twig' %}
      </div>
      <div id="containerLayout" class="container containerLayout">
        {% include 'MapbenderManagerBundle:Application:form-elements.html.twig' %}
      </div>
      <div id="containerLayers" class="container containerLayers">
        {% include 'MapbenderManagerBundle:Application:form-layersets.html.twig' %}
      </div>
      <div id="containerSecurity" class="container containerSecurity">
        {% include 'MapbenderManagerBundle:Application:form-security.html.twig' %}
      </div>
    </div>

    <div class="clearContainer"></div>
    <div class="right">
      <input type="submit" value="{{ 'mb.manager.admin.application.save' | trans }}" class="button"/>
      <a href="{{ url('mapbender_manager_application_index') }}" class="button critical">{{ 'mb.manager.admin.application.cancel' | trans}}</a>
    </div>
    <div class="clearContainer"></div>
    {{ form_row(form._token) }}
  </form>
{% endblock %}
