{% extends "FOMManagerBundle::manager.html.twig" %}

{% block title %}{{ application.title }}{% endblock %}

{% block js %}
  {{parent()}}
  <script type="text/javascript" src="{{ asset('bundles/fomuser/js/acl-form.js') }}"></script>
  <script type="text/javascript" src="{{ asset('bundles/mapbendermanager/js/application-edit.js') }}"></script>
{% endblock %}

{% block manager_content %}
  <a class="iconView iconBig right" target="_blank" href="{{ path('mapbender_core_application_application', {'slug': application.slug}) }}" title="{{ 'View application' | trans }}"></a>
  <form action="{{ path('mapbender_manager_application_update', { 'slug': application.slug }) }}" method="post" name="{{ form_name }}" {{ form_enctype(form)}}  novalidate="novalidate">
    <div id="applicationTabContainer" class="tabContainer applicationTabContainer">
      <ul class="tabs">
        <li id="tabBaseData" class="tab active">{{"Base data" | trans }}</li>
        <li id="tabLayout" class="tab">{{"Layout" | trans }}</li>
        <li id="tabLayers" class="tab">{{"Layers" | trans }}</li>
        <li id="tabSecurity" class="tab">{{"Security" | trans }}</li>
      </ul>
      <div id="containerBaseData" class="container active containerBaseData">
        {% include 'MapbenderManagerBundle:Application:form-basic.html.twig' %}
      </div>
      <div id="containerLayout" class="container containerLayout">
        {% include 'MapbenderManagerBundle:Application:form-elements.html.twig' %}
      </div>
      <div id="containerLayers" class="container containerLayers">
        {% include 'MapbenderManagerBundle:Application:form-layersets.html.twig' %}
      </div>
      <div id="containerSecurity" class="container containerSecurity">
        {% include 'MapbenderManagerBundle:Application:form-security.html.twig' %}
      </div>
    </div>

    <div class="clearContainer"></div>
    <div class="right">
      <input type="submit" value="{{ 'Save' | trans }}" class="button"/>
      <a href="{{ url('mapbender_manager_application_index') }}" class="button critical">{{ 'Cancel' | trans}}</a>
    </div>
    <div class="clearContainer"></div>
    {{ form_row(form._token) }}
  </form>
{% endblock %}
