{% if application.elements | length == 0 %}
<div class="alert alert-info">
    {% trans %}There are no elements yet.{% endtrans %}
</div>
{% endif %}

<a data-toggle="modal" href="#modal-application-elements" class="add-subentity btn btn-small">{{ 'Add element' | trans}}...</a>

{% if application.elements | length > 0 %}
<table class="table-sortable table table-striped">
    <thead>
        <tr>
            <th>{{ 'Title' | trans }}</th>
            <th>{{ 'Class' | trans }}</th>
            <th>{{ 'Actions' | trans }}</th>
        </tr>
    </thead>
    <tbody>
        {% for element in application.elements %}
        <tr>
            <td>{{ element.title }}</td>
            <td>{{ element.class }}</td>
            <td>
                <div class="btn-group">
                    <a href="#" class="btn">{{ 'Edit' | trans }}</a>
                    <a href="#" class="btn btn-warning">{{ 'Delete' | trans }}</a>
                </div>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endif %}

