{% if isnew %}
    {% set form_url =  path('mapbender_manager_application_savelayerset', { 'slug': application.slug}) %}
{% else %}
    {% set form_url =  path('mapbender_manager_application_savelayerset_1', { 'slug': application.slug, 'layersetId': form.vars.data.id}) %}
{% endif %}

<form id="layersetForm" class="layersetForm" action="{{ form_url }}" method="post" name="{{ form.vars.name }}" {{ form_enctype(form)}} novalidate="novalidate">
    {{form_label(form.title)}}{{form_widget(form.title)}}
    {{form_label(form.name)}}{{form_widget(form.name)}}
    {{ form_row(form._token) }}
</form>