<header class="form-help">
{% trans %}
Required fields are marked with dark labels, while optional fields have lighter labels.
{% endtrans %}
</header>

<ul class="nav nav-tabs">
    <li class="active"><a href="#application-basics" data-toggle="tab">{{ 'Base data' | trans}}</a></li>
    <li><a href="#application-elements" data-toggle="tab">{{ 'Elements' | trans}}</a></li>
    <li><a href="#application-layersets" data-toggle="tab">{{ 'Layersets' | trans}}</a></li>
    <li><a href="#application-permissions" data-toggle="tab">{{ 'Permissions' | trans}}</a></li>
</ul>

<div class="tab-content">
    <section id="application-basics" class="tab-pane active">
        {% include 'MapbenderManagerBundle:Application:form-basic.html.twig' %}
    </section>

    <section id="application-elements" class="tab-pane">
        {% include 'MapbenderManagerBundle:Application:form-elements.html.twig' %}
    </section>

    <section id="application-layersets" class="tab-pane">
        {% include 'MapbenderManagerBundle:Application:form-layersets.html.twig' %}
    </section>

    <section id="application-permissions" class="tab-pane">
        {% include 'MapbenderManagerBundle:Application:form-permissions.html.twig' %}
    </section>
</div>

{###############################################################################
    Render any remaining fields inside the rulers to make you aware you forgot
    them
###############################################################################}
{% set form_rest = form_rest(form) %}
{% if form_rest %}
<hr />
{{ form_rest | raw }}
<hr />
{% endif %}

