<div class="form-group">
    {{ form_row(form.title) }}
</div>
<div class="form-group">
    {{ form_row(form.slug) }}
</div>

<div class="form-group">
    {{ form_label(form.screenshotFile) }}

    <div class="screenshot_upload" title=" {{ 'mb.manager.admin.application.upload.tooltip' | trans }}">
        <div class="upload">
            <span class="label button upload_button">
                {{ 'mb.manager.admin.application.upload.button' | trans }}
            </span>
            <span class="upload_label">
                {{ screenshot_filename | default('mb.manager.admin.application.upload.label' | trans) }}
            </span>
            {{ form_widget(form.screenshotFile) }}
            <div class="validationMsgBox smallText hidden"></div>
            {{ form_widget(form.maxFileSize) }}
            {{ form_widget(form.screenshotWidth) }}
            {{ form_widget(form.screenshotHeight) }}

        </div>
    </div>
</div>
<div class="form-group">
    {{ form_row(form.description) }}
</div>
{{ form_widget(form.removeScreenShot) }}
{{ form_widget(form.uploadScreenShot) }}
