{{ form_label(form.title) }}
{{ form_widget(form.title) }}
<div class="clearContainer"></div>

{{ form_label(form.slug) }}
{{ form_widget(form.slug) }}<br>
<div class="clearContainer"></div>

<div class="left">
      {{ form_label(form.screenshotFile) }}
</div>

<div class="screenshot_upload left"  title=" {{ 'mb.manager.admin.application.upload.tooltip' | trans }}">
    <div class="upload left">
        <div class="label left upload_button">
            {{ 'mb.manager.admin.application.upload.button' | trans }}
        </div>
        <div class="label right input upload_label">
            {% if screenshot_filename is not null  %}
                {{screenshot_filename}}
            {%else%}
                {{ 'mb.manager.admin.application.upload.label' | trans }}
            {% endif %}
        </div>
        {{ form_widget(form.screenshotFile) }}
    </div>
</div>



<div class="clearContainer"></div>

{{ form_label(form.description) }}
{{ form_widget(form.description) }}

{{ form_widget(form.removeScreenShot) }}