<div>
  <span class="right">{{ 'mb.manager.admin.template' | trans }}: {{template_name|default('Unknown')}}</span>
  <div class="clear"></div>
</div>

{% form_theme form _self %}
  {# Define block without immediate output #}
  {%- if false -%}

  {% block region_settings_widget %}
    <div {{ block('widget_container_attributes') }}>
      {%- if not form.rendered and form.children | length -%}
      {%- set _popover_id = 'popover_' ~ form.vars.id -%}
      <div class="static-popover-wrap">
        <span data-toggle-target="#{{ _popover_id }}">
          <i class="fa fa-cog"></i></span>
        {# see https://getbootstrap.com/docs/3.4/javascript/#static-popover #}
        <div class="popover left hidden" id="{{ _popover_id }}">
          <div class="arrow"></div>
          <div class="popover-content form-horizontal">
            {{ form_rest(form) }}
          </div>
        </div>
      </div>
      {%- endif -%}
    </div>
  {% endblock %}
  {%- endif -%}

{% for region in regions %}
  <div class="{{region}} region">
      <table class="application-component-table table table-condensed elementsTable" data-region="{{ region }}">
        <thead>
          <tr>
            <th colspan="1">
              <h3 class="subTitle">{{ application_region_title(application, region) | trans }}</h3>
            </th>
            <th colspan="2" class="iconColumn regionProperties" data-url="{{ path('mapbender_manager_application_updateregionproperties', {'application': application.id, 'regionName': region }) }}">
              {% if form.regionProperties[region] is defined %}
                {{ form_widget(form.regionProperties[region]) }}
              {% endif %}
            </th>
          </tr>
          <tr>
            <th class="titleColumn">{{ 'mb.manager.admin.element.title' | trans }}</th>
            <th class="typeColumn">{{ 'mb.manager.admin.element.type' | trans }}</th>
            <th class="iconColumn">
              <a href="{{ path('mapbender_manager_element_select', { 'slug': application.slug, 'region': region }) }}" class="hover-highlight-effect addElement" title="{{'mb.manager.admin.element.add'|trans}}"><i class="fa fas fa-plus"></i></a>
            </th>
          </tr>
        </thead>
        <tbody>
        {% for element in application.getElementsByRegion(region) if not is_typeof_element_disabled(element) %}
              <tr class="element" {% if is_map_element(element) -%}
                  id="-ft-map-element"
                {%- endif %} data-id="{{element.id}}" data-href="{{ path('mapbender_manager_element_weight', {'id': element.id})}}"
                    data-token="{{ csrf_token('element_edit') }}">
                <td>{{ element_title(element) | trans }}</td>
                <td>{{ element_class_title(element) | trans }}</td>
                <td class="iconColumn">
                  <span class="-fn-toggle-flag {{ element.enabled ? '-js-on' : '-js-off' }} -ft-toggle-active hover-highlight-effect"
                      data-toggle-flag-icons="fa-eye-slash:fa-eye"
                      data-token="{{ csrf_token('element_edit') }}"
                      data-url="{{ path('mapbender_manager_element_enable', { 'id': element.id })}}"
                      title="{{ 'mb.manager.admin.element.show_hide' | trans }}">
                    <i class="fa fas {{ element.enabled ? 'fa-eye' : 'fa-eye-slash' }}"></i>
                  </span>
                  {% if allow_screentypes %}
                  <span class="screentypes" data-url="{{ path('mapbender_manager_element_screentype', {'element': element.id}) }}"
                    data-token="{{ csrf_token('element_edit') }}">
                    {%- set _element_screentype = element.getScreenType() -%}
                    <i data-screentype="mobile" class="screentype-icon fa fa-lg fa-mobile-alt fa-mobile-phone {{ _element_screentype == 'desktop' ? ' disabled' : '' }}" title="{{ 'mb.manager.element.screentype.mobile' | trans }}"></i>
                    <i data-screentype="desktop" class="screentype-icon fa fa-desktop{{ _element_screentype == 'mobile' ? ' disabled' : '' }}" title="{{ 'mb.manager.element.screentype.desktop' | trans }}"></i>
                  </span>
                  {% endif %}
                  <span class="editElement hover-highlight-effect clickable"
                        title="{{ 'mb.actions.edit' | trans }}"
                        data-url="{{ path('mapbender_manager_element_edit', {'slug': application.slug, 'id': element.id})}}">
                    <i class="fa fas fa-cog"></i>
                  </span>
                  {% set _aces = mapbender_manager_object_aces(element) %}
                  <span class="secureElement {% if _aces %}text-danger {% endif %}hover-highlight-effect"
                        title="{{ "mb.manager.managerbundle.acl_element" | trans ~ "\n" -}}
{% for ace in _aces %}
{{ace.type}}: {{ ace.name }}
{% endfor %}"
                        data-url="{{ path('mapbender_manager_element_security', {'slug': application.slug, 'id': element.id })}}">
                      <i class="fa fas fa-key"></i>
                  </span>
                  <span class="-fn-delete hover-highlight-effect"
                        title="{{ 'mb.actions.delete' | trans }}"
                        data-slug="{{ application.slug }}"
                        data-token="{{ csrf_token('element_delete') }}"
                        data-url="{{ path('mapbender_manager_element_delete', {'slug': application.slug, 'id': element.id}) }}"
                        ><i class="fa fa-trash-o far fa-trash-alt"></i></span>
                </td>
              </tr>
        {% else %}
            <tr class="dummy">
              <td colspan="3">{{ 'mb.manager.admin.element.no_element_added' | trans }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  {% endfor %}
