{%- form_theme form _self -%}
{%- if false -%}
{%- block _application_screenshotFile_widget -%}
    {%- set attr = attr|merge({'class': ('input ' ~ (attr.class | default(''))) | trim}) -%}
      <div class="inputWrapper upload">
          {{- block('form_widget_simple') -}}
          <span class="btn btn-default btn-sm">
              {{ 'mb.manager.admin.application.upload.button' | trans }}
          </span>
          <span class="upload_label">
              {{ form.parent.vars.data.screenshot | default('mb.manager.admin.application.upload.label' | trans) }}
          </span>
      </div>
{%- endblock %}
{%- endif -%}
<div class="col-md-8 col-xs-12 col-12">
    {%- if form.template is defined -%}
    {{ form_row(form.template) }}
    {%- endif -%}

    {{ form_row(form.title) }}
    {{ form_row(form.slug) }}
    {{- form_row(form.screenshotFile) -}}
</div>
<div class="col-xs-12 col-12 col-md-4">
    {%- set _screenshot_src = application_screenshot_path(application) -%}
    <div class="screenshot-wrapper text-nowrap">
        <div class="screenshot_img{{ _screenshot_src is empty ? ' default' }}">
            <div class="cell_edit">
                <img alt="Load" data-load=true class="screenshot" src="{{ _screenshot_src }}" />
                <i class="fa fas fa-image placeholder-icon"></i>
            </div>
        </div>
        <button {{ _screenshot_src ? '' : 'disabled="disabled" ' }}class="-fn-delete btn btn-danger" title="{{ 'mb.actions.remove' | trans }}"><i class="fa fa-trash-o far fa-trash-alt"></i></button>
    </div>
</div>
<div class="col-md-8 col-xs-12 col-12">
    {{ form_row(form.map_engine_code) }}
    {{ form_row(form.description) }}
    {{ form_row(form.persistentView) }}
    {{ form_row(form.removeScreenShot) }}
</div>
