<a href="{{ path("mapbender_manager_application_newlayerset",{'slug': application.slug}) }}" class="iconAdd right addLayerset iconBig" title="{{ 'Add Layerset' | trans}}"></a>
{% if application.layersets|length > 0 %}
  <label for="inputFilterLayersets" class="labelInput left">{{"Filter layersets"|trans}}</label><input id="inputFilterLayersets" type="text" class="input listFilterInput">
  <div class="clearContainer"></div>

  <ul id="listFilterLayersets" class="listFilterContainer clear listFilterBoxes listFilterServiceBoxes">
    {% for layerset in application.layersets %}
      <li class="filterItem">
        <table class="tableCore layerset" data-id="{{ layerset.id }}">
          <thead>
            <tr>
              <th class="subTitle">{{ layerset.title | capitalize }} asd asd asjdaj sdj</th>
              <th class="iconColumn">
                <a class="iconAdd iconSmall addInstance" title="{{"Add Instance"|trans}}" href="{{ path("mapbender_manager_application_listinstance",{'slug': application.slug, 'layersetId': layerset.id}) }}"></a>
                <a class="iconEdit iconSmall editLayerset" title="{{"Edit"|trans}} {{layerset.title}}" href="{{ path("mapbender_manager_application_editlayerset",{'slug': application.slug, 'layersetId': layerset.id}) }}"></a>
                <a class="iconRemove iconSmall deleteLayerset" title="{{"Delete"|trans}} {{layerset.title}}" href="{{ path("mapbender_manager_application_confirmdeletelayerset",{'slug': application.slug, 'layersetId': layerset.id}) }}"></a>
              </th>
            </tr>
          </thead>
          <tbody>
            {% for instance in layerset.instances %}
              <tr class="sourceinst" data-id="{{ instance.id }}" data-href="{{ path('mapbender_manager_repository_instanceweight', {'slug': application.slug,'layersetId': layerset.id, 'instanceId': instance.id})}}">
                <td>
                  <span class="title">{{ instance.title }}</span>
                  <span class="type">{{ instance.source.type }}</span>
                  <span class="sourceid">{{ instance.source.id }}</span>
                </td>
                <td class="iconColumn">
                  <span class="iconPublish iconSmall enabled"><input data-href="{{ path('mapbender_manager_repository_instanceenabled', {'slug': application.slug,'layersetId': layerset.id, 'instanceId': instance.id})}}" data-id="{{ instance.id }}" type="checkbox" {% if instance.enabled %} checked="checked" {% endif %} /></span>
                  <a class="iconEdit iconSmall" href="{{ url("mapbender_manager_repository_instance",{"slug": application.slug, "instanceId": instance.id})  }}" class="btn">{{ 'Edit Source Instance' | trans }}</a>

                  <span class="iconRemove iconSmall" title="{{ instance.title }}" data-id="{{ layerset.id }}" data-slug="{{ application.slug }}" data-url="{{ url("mapbender_manager_application_deleteinstance",{"slug": application.slug, 'layersetId': layerset.id, "instanceId": instance.id}) }}"></span>
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </li>
    {% endfor %}
  </ul>
{% else %}
  <p class="description">{{ 'No Layers added' | trans }}</p>
{% endif %}