<span class="description right">{{ 'mb.manager.admin.template' | trans }}: {{template_name|default('Unknown')}}</span> 

{% for region in regions %}
  <div class="clearContainer"></div>
  <div class="{{region}} region">
    <h3 class="left subTitle">{{ region | capitalize }}</h3>
    {% if form[region] is defined %}
    <div class="right regionProperties">
      {#% for form[region] in form.regionProperties %}
        {% if form_regionProperties.vars.value.name == region %#}
          {{ form_widget(form[region]) }}
        {#% endif %}
      {% endfor %#}
    </div>
    {% endif %}
    <div class="clearContainer"></div>
      <table class="elementsTable tableCore" data-region="{{ region }}">
        <thead>
          <tr>
            <th>{{ 'mb.manager.admin.element.title' | trans }}</th>
            <th class="type">{{ 'mb.manager.admin.element.type' | trans }}</th>
            <th class="iconColumn">
              <a href="{{ url('mapbender_manager_element_select', { 'slug': application.slug, 'region': region }) }}" class="iconAdd iconSmall addElement" title="{{'mb.manager.admin.element.add'|trans}} {{region}}"></a>
            </th>
          </tr>
        </thead>
        <tbody>
          {% if application.getElementsByRegion(region)|length > 0 %}
            {% for element in application.getElementsByRegion(region) %}
              <tr class="element" data-id="{{element.id}}" data-href="{{ path('mapbender_manager_element_weight', {'id': element.id})}}">
                <td class="titleColumn description">{{ element.title | trans }}</td>
                <td class="typeColumn description">{{ element_class_title(element) | trans }}</td>
                <td class="iconColumn">
                  <div class="checkWrapper left iconCheckbox iconSmall {% if element.enabled %}iconCheckboxActive{% endif %}" title="{{"mb.manager.admin.element.show_hide"|trans}} {{element.title}}">
                    <input class="checkbox"
                           data-url="{{ path('mapbender_manager_element_enable', { 'id': element.id })}}"
                           data-id="{{ element.id }}" type="checkbox" {% if element.enabled %} checked="checked" {% endif %}>
                  </div>
                  <span class="iconEdit editElement iconSmall"
                        title="{{"mb.manager.admin.element.edit"|trans}}  {{element.title}}"
                        data-url="{{ path('mapbender_manager_element_edit', {'slug': application.slug, 'id': element.id})}}"></span>
                  <span class="iconKey secureElement {% if aclManager.hasObjectAclEntries(element) %}has {% endif %}iconSmall"
                        title="{{ "mb.manager.managerbundle.acl_element"|trans }}  {{ element.title }}

{% for acl in aclManager.getObjectAclEntriesAsArray(element) %}
{{acl.type}}: {{ acl.name }}
{% endfor %}"
                        data-url="{{ path('mapbender_manager_element_security', {'slug': application.slug, 'id': element.id })}}"></span>
                  <span class="iconRemove removeElement iconSmall"
                        title="{% trans with {'%element_title%': element.title} %} mb.manager.be.element.delete {% endtrans %}"
                        data-id="{{ element.id }}"
                        data-slug="{{ application.slug }}"
                        data-url="{{ path('mapbender_manager_element_confirmdelete', {'slug': application.slug, 'id': element.id}) }}"></span>
                </td>
              </tr>
            {% endfor %}
              <tr class="placeholderRow"></tr>
          {% else %}
            <tr class="dummy">
              <td class="description">{{"mb.manager.admin.element.no_element_added."|trans}}</td>
              <td></td>
              <td></td>
            </tr>
          {% endif %}
        </tbody>
      </table>
  </div>
{% endfor %}
