{% if application.layersets|length > 0 %}
{% for layerset in application.layersets %}
<ul class="layerset" data-id="">
    <li class="header">
        <span class="sourceid">{{ 'SourceId' | trans }}</span>
        <span class="type">{{ 'Type' | trans }}</span>
        <span class="title">{{ 'Title' | trans }}</span>
        <span class="actions">{{ 'Actions' | trans }}</span>
    </li>
    {% for instance in layerset.instances %}
    <li class="sourceinst" data-id="{{ instance.id }}" data-href="{{ path('mapbender_manager_repository_instanceweight', {'slug': application.slug,'layersetId': layerset.id, 'instanceId': instance.id})}}">
        <span class="sourceid">{{ instance.source.id }}</span>
        <span class="type">{{ instance.source.type }}</span>
        <span class="title">{{ instance.title }}</span>
        <div class="btn-group">
            <a href="{{ url("mapbender_manager_repository_instance",{"slug": application.slug, "instanceId": instance.id})  }}" class="btn">{{ 'Edit Source Instance' | trans }}</a>
            <a href="{{ url("mapbender_manager_application_confirminstancedelete",{"slug": application.slug, "instanceId": instance.id}) }}" class="btn btn-warning">{{ 'Delete' | trans }}</a>
        </div>
    </li>
    {% endfor %}
</ul>
{% endfor %}
{% else %}
    {{ 'No Sources added' | trans }}
{% endif %}
<button type="button" data-toggle="modal" data-target="#repository-list-modal" class="btn" >{{ "Add Source" | trans }}</button>

