<div class="">
{% if application.layersets|length > 0 %}
    <ul class="unstyled">
    {% for layerset in application.layersets %}
    <li>
        <table class="table table-striped" id="layerset-list">
            <thead>
                <tr>
                    <th>{{ 'SourceId' | trans }}</th>
                    <th>{{ 'Type' | trans }}</th>
                    <th>{{ 'Title' | trans }}</th>
                    <th>{{ 'Actions' | trans }}</th>
                </tr>
            </thead>
            <tbody>
                {% for layer in layerset.layers %}
                    <tr data-source-id="{{ layer.id }}">
                        <td>{{ layer.sourceinstance.source.id }}</td>
                        <td>{{ layer.sourceinstance.source.type }}</td>
                        <td>{{ layer.title }}</td>
                        <td>
                            <div class="entity-actions btn-group">
                                <button type="button" data-href="{{ url("mapbender_manager_repository_instance",{"slug": application.slug, "layerId": layer.id})  }}"
                                        data-toggle="modal" data-target="#repository-instance-modal" class="btn edit-instance">{{ 'Edit Source Instance' | trans }}</button>
                                <a class="btn btn-warning" 
                                    href="{{ url("mapbender_manager_application_confirmlayerdelete",{
                                        "slug": application.slug,
                                        "layerId": layer.id
                                    })  }}"
                                >{{ 'Delete' | trans }}</a>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </li>    
    {% endfor %}
    </ul>
{% else %}
    {{ 'No Sources added' | trans }}
{% endif %}
<button type="button" data-toggle="modal" data-target="#repository-list-modal" class="btn" >{{ "Add Source" | trans }}</button>
</div>
