<label for="inputFilterLayersets" class="labelInput left">{{"Filter layersets"|trans}}</label><input id="inputFilterLayersets" type="text" class="input listFilterInput">
<a href="{{ path("mapbender_manager_application_newlayerset",{'slug': application.slug}) }}" class="addIcon right addLayerset" title="{{ 'Add Layerset' | trans}}"></a>
<div class="clearContainer"></div>

<ul id="listFilterLayersets" class="listFilterContainer clear listFilterBoxes listFilterServiceBoxes">
  {% for layerset in application.layersets %}
    <li class="filterItem">
      <table class="table layerset" data-id="{{ layerset.id }}">
        <thead id="permissionsHead">
          <tr>
            <th class="subTitle">{{ layerset.title | capitalize }}</th>
            <th class="iconColumn">
              <a class="right addIcon addInstance" title="{{"Add Instance"|trans}}" href="{{ path("mapbender_manager_application_listinstance",{'slug': application.slug, 'layersetId': layerset.id}) }}"></a>
            </th>
            <th class="iconColumn">
              <a class="right editIcon editLayerset" title="{{"Edit"|trans}} {{layerset.title}}" href="{{ path("mapbender_manager_application_editlayerset",{'slug': application.slug, 'layersetId': layerset.id}) }}"></a>
            </th>
            <th class="iconColumn">
              <a class="right deleteIcon deleteLayerset" title="{{"Delete"|trans}} {{layerset.title}}" href="{{ path("mapbender_manager_application_confirmdeletelayerset",{'slug': application.slug, 'layersetId': layerset.id}) }}"></a>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td colspan="2">
              <a class="publishIcon" title="" href="#"></a>
              sdfsd
            </td>
            <td>
              <a class="editIconSmall" title="" href="#"></a>
            </td>
            <td>
              <a class="deleteIconSmall" title="" href="#"></a>
            </td>
          </tr>
        </tbody>
      </table>
    </li>
  {% else %}
    <li class="description">{{ 'No Layers added' | trans }}</li>
  {% endfor %}
</ul>