{% for region in regions %}
<h3>{{ region | capitalize }} <a href="{{ url('mapbender_manager_element_select', { 'slug': application.slug, 'region': region }) }}" class="btn btn-small" title="{{ 'Add element' | trans}}"><i class="icon-plus-sign"></i></a></h3>

<div class="elementsheader">
    <span class="title">{{ 'Title' | trans }}</span>
    <span class="type">{{ 'Type' | trans }}</span>
    <span class="actions">{{ 'Actions' | trans }}</span>
</div>
<ul class="elements" data-region="{{ region }}">
    <li class="dummy"></li>
    {% for element in application.getElementsByRegion(region) %}
    <li class="element" data-id="{{element.id}}" data-href="{{ path('mapbender_manager_element_priority', {'id': element.id})}}">
        <span class="title">{{ element.title }}</span>
        <span class="type">{{ element_class_title(element) }}</span>
            <div class="btn-group">
                <a href="{{ path('mapbender_manager_element_edit', {'slug': application.slug, 'id': element.id})}}" class="btn">{{ 'Edit' | trans }}</a>
                <a href="{{ path('mapbender_manager_element_confirmdelete', {'slug': application.slug, 'id': element.id}) }}" class="btn btn-warning">{{ 'Delete' | trans }}</a>
            </div>
    </li>
    {% endfor %}
</ul>
{% endfor %}

