<div>
  <span class="right">{{ 'mb.manager.admin.template' | trans }}: {{template_name|default('Unknown')}}</span>
</div>

{% form_theme form _self %}
{# Define block without immediate output #}
{%- if false -%}
  {% block region_settings_widget %}
    <div {{ block('widget_container_attributes') }}>
      {%- if not form.rendered and form.children | length -%}
      {%- set _popover_id = 'popover_' ~ form.vars.id -%}
      <div class="static-popover-wrap">
        <span data-toggle-target="#{{ _popover_id }}">
          <i class="fas fa-gear"></i>
        </span>
        <div class="popover-inner-wrap">
          <div class="popover regionConfig bs-popover-auto fade" id="{{ _popover_id }}" data-popper-placement="left">
            <div class="popover-arrow"></div>
            <div class="popover-body">
              {% form_theme form '@MapbenderCore/form/fields_horizontal.html.twig' %}
              {{ form_rest(form) }}
            </div>
          </div>
        </div>
      </div>
      {%- endif -%}
    </div>
  {% endblock %}
{%- endif -%}

<div class="col-xs-6 col-6">
    {%- if application.layersets -%}
        {% include '@MapbenderManager/fragments/filter-group.html.twig' with {filterTargetId: 'all-regions'} %}
    {%- endif -%}
</div>

<ul id="all-regions">
{% for region in regions %}
    <li class="filterItem">
  <div class="{{region}} region">
      <table class="application-component-table table table-condensed elementsTable" data-region="{{ region }}">
        <thead>
          <tr class='doNotFilter'>
            <th colspan="1">
              <h3 class="subTitle">{{ application_region_title(application, region) | trans }}</h3>
            </th>
            <th colspan="2" class="iconColumn regionProperties" data-url="{{ path('mapbender_manager_application_updateregionproperties', {'application': application.id, 'regionName': region }) }}">
              {% if form.regionProperties[region] is defined %}
                {{ form_widget(form.regionProperties[region]) }}
              {% endif %}
            </th>
          </tr>
          <tr class='doNotFilter'>
            <th class="titleColumn">{{ 'mb.manager.admin.element.title' | trans }}</th>
            <th class="typeColumn">{{ 'mb.manager.admin.element.type' | trans }}</th>
            <th class="iconColumn">
              <a href="{{ path('mapbender_manager_element_select', { 'slug': application.slug, 'region': region }) }}"
                 class="hover-highlight-effect addElement"
                 title="{{'mb.manager.admin.element.add'|trans}}"
                 data-test="mb-{{ region }}-element-add">
                  <i class="fas fa-plus"></i>
              </a>
            </th>
          </tr>
        </thead>
        <tbody>
        {% set region_empty = true %}
          {% for element in application.getElementsByRegion(region) %}
            {% if not is_typeof_element_disabled(element) %}
                {% set region_empty = false %}
             <tr class="element" {% if is_map_element(element) -%}
                id="-ft-map-element"
              {%- endif %} data-id="{{element.id}}" data-href="{{ path('mapbender_manager_element_weight', {'id': element.id})}}"
                  data-token="{{ csrf_token('element_edit') }}">
              <td>{{ element_title(element) | trans }}</td>
              <td>{{ element_class_title(element) | trans }}</td>
              <td class="iconColumn">
                <span class="-fn-toggle-flag {{ element.enabled ? '-js-on' : '-js-off' }} -ft-toggle-active hover-highlight-effect"
                    data-toggle-flag-icons="fa-eye-slash:fa-eye"
                    data-token="{{ csrf_token('element_edit') }}"
                    data-url="{{ path('mapbender_manager_element_enable', { 'id': element.id })}}"
                    title="{{ 'mb.manager.admin.element.show_hide' | trans }}">
                  <i class="fas {{ element.enabled ? 'fa-eye' : 'fa-eye-slash' }}"></i>
                </span>
                <span class="screentypes" data-url="{{ path('mapbender_manager_element_screentype', {'element': element.id}) }}"
                  data-token="{{ csrf_token('element_edit') }}">
                  {%- set _element_screentype = element.getScreenType() -%}
                  <i data-screentype="mobile" class="screentype-icon fas fa-mobile-screen {{ _element_screentype == 'desktop' ? ' disabled' : '' }}" title="{{ 'mb.manager.element.screentype.mobile' | trans }}"></i>
                  <i data-screentype="desktop" class="screentype-icon fas fa-display{{ _element_screentype == 'mobile' ? ' disabled' : '' }}" title="{{ 'mb.manager.element.screentype.desktop' | trans }}"></i>
                </span>
                <span class="editElement hover-highlight-effect clickable"
                      title="{{ 'mb.actions.edit' | trans }}"
                      data-url="{{ path('mapbender_manager_element_edit', {'slug': application.slug, 'id': element.id})}}">
                  <i class="fas fa-gear"></i>
                </span>
                {% set _has_permissions = mapbender_has_permissions(element) %}
                <span class="secureElement {% if _has_permissions %}text-danger {% endif %}hover-highlight-effect"
                      title="{{ "mb.actions.secureelement" | trans ~ "\n" -}}"
                      data-url="{{ path('mapbender_manager_element_security', {'slug': application.slug, 'id': element.id })}}">
                    <i class="fas fa-key"></i>
                </span>
                {% set element_name = element_title(element) | trans %}
                <span class="duplicateElement hover-highlight-effect"
                      title="{{ 'mb.manager.components.popup.duplicate_element.title'|trans}}"
                      data-title="{{ 'mb.manager.components.popup.duplicate_element.confirm'|trans({'element_name': element_name})}}"
                      data-slug="{{ application.slug }}"
                      data-token="{{ csrf_token('element_duplicate') }}"
                      data-url="{{ path('mapbender_manager_element_duplicate', {'slug': application.slug, 'id': element.id}) }}"
                      ><i class="far fa-copy"></i></span>
                <span class="-fn-delete hover-highlight-effect"
                      title="{{ 'mb.manager.admin.element.delete.title'|trans}}"
                      data-title="{{ 'mb.manager.admin.element.delete.confirm'|trans({'element_name': element_name})}}"
                      data-slug="{{ application.slug }}"
                      data-token="{{ csrf_token('element_delete') }}"
                      data-url="{{ path('mapbender_manager_element_delete', {'slug': application.slug, 'id': element.id}) }}"
                      data-test="mb-element-delete-{{ element.title }}"
                      ><i class="far fa-trash-can"></i></span>
              </td>
              </tr>
            {% endif %}
          {% endfor %}
          <tr class="dummy doNotFilter" {% if not region_empty %} style="display: none;"{% endif %}>
            <td colspan="3">{{ 'mb.manager.admin.element.no_element_added' | trans }}</td>
          </tr>
        </tbody>
      </table>
    </div>
    </li>
  {% endfor %}
</ul>
