{{ form_start(form, {"attr": {"novalidate": "novalidate"}}) }}
  <div>
    {{ form_label(form.importFile) }}{{ form_widget(form.importFile) }}
  </div>
  <div class="button-group">
    <input type="submit" value="{{ 'mb.manager.admin.application.import.btn.import' | trans }}" class="button"/>
    <a href="{{ path('mapbender_manager_application_index') }}" class="button critical">{{ 'mb.manager.admin.application.import.btn.cancel' | trans}}</a>
  </div>
{{ form_end(form) }}
