{% extends "FOMManagerBundle::manager.html.twig" %}

{% set placeholder = asset('bundles/mapbendercore/image/placeholder_map.png') %}

{% block title %}{{ "Applications" | trans }}{% endblock %}

{% block manager_js %}
<script type="text/javascript" src="{{ asset('bundles/mapbendermanager/js/application-list.js') }}"></script>
{% endblock %}

{% block manager_content %}

{% if applications | length > 0 %}
  <label for="inputFilterApplications" class="labelInput left">Filter:</label><input id="inputFilterApplications" type="text" class="input listFilterInput">
  {% include "MapbenderManagerBundle:Application:actions.html.twig" %}

  <ul id="listFilterApplications" class="listFilterContainer clear listFilterBoxes listFilterApplicationBoxes">
    {% for application in applications %}
      <li class="filterItem">
        <div class="col1">
          {#<img src="{{ application.screenshot|default(placeholder) }}" class="thumbnail" title="screenshot"/>#}
        </div>
        <div class="col2 box">
          <a href="{{ path('mapbender_core_application_application', {'slug': application.slug}) }}" class="title" title="{{ 'View this application' | trans }}">
            {{ application.title }}
            <span class="smallerText">{{ application.slug }}</span>
          </a>
          <div class="description">{{ application.description }}</div>
          <div class="buttonGroup">
            <a class="viewIcon" href="{{ path('mapbender_core_application_application', {'slug': application.slug}) }}" title="{{ 'View application' | trans }}"></a>
            {% if application.source is constant('Mapbender\\CoreBundle\\Entity\\Application::SOURCE_DB') and is_granted('EDIT', application) %}
            <a class="editIcon" href="{{ path('mapbender_manager_application_edit',  {'slug': application.slug}) }}#base" title="{{ 'Edit application' | trans }}"></a>
            {% endif %}
            {% if application.source is constant('Mapbender\\CoreBundle\\Entity\\Application::SOURCE_DB') and is_granted('DELETE', application) %}
            <a class="deleteIcon" href="{{ path('mapbender_manager_application_confirmdelete', { 'slug': application.slug }) }}" title="{{ 'Delete application' | trans }}"></a>
            {% endif %}
          </div>
        </div>
      </li>
    {% else %}
      {% trans %}
      <span class="description">You don't have any apps defined. Start by creating one now.</span>
      {% endtrans %}
    {% endfor %}
  </ul>
  <div class="clearContainer"></div>
{% endif %}
<div class="clearContainer"></div>

{% endblock %}
