{% extends "FOMManagerBundle::manager.html.twig" %}

{% block title %}{{ "Applications" | trans }}{% endblock %}

{% block js %}
  {{parent()}}
  <script type="text/javascript" src="{{ asset('bundles/mapbendermanager/js/application-list.js') }}"></script>
{% endblock %}

{% block manager_content %}

{% if applications | length > 0 %}
  <label for="inputFilterApplications" class="labelInput left">{{"Filter"|trans}}:</label><input id="inputFilterApplications" type="text" class="input listFilterInput">
  {% include "MapbenderManagerBundle:Application:actions.html.twig" %}

  <ul id="listFilterApplications" class="listFilterContainer clear listFilterBoxes listFilterApplicationBoxes">
    {% for application in applications %}
      <li class="filterItem">
        <div class="col1 iconAppDefault"></div>
        <div class="col2 box">
          <a href="{{ path('mapbender_core_application_application', {'slug': application.slug}) }}" class="title" title="{{ 'View this application' | trans }}">
            {{ application.title }}
          </a>
          <span class="smallerText">{{ application.slug }}</span>
          <div class="description">{{ application.description }}</div>
          <div class="buttonGroup">
            <a class="iconView iconBig" href="{{ path('mapbender_core_application_application', {'slug': application.slug}) }}" title="{{ 'View application' | trans }}"></a>
            {% if application.source is constant('Mapbender\\CoreBundle\\Entity\\Application::SOURCE_DB') and is_granted('EDIT', application) %}
              <a class="iconEdit iconBig" href="{{ path('mapbender_manager_application_edit',  {'slug': application.slug}) }}#base" title="{{ 'Edit application' | trans }}"></a>
            {% endif %}

            {% if application.source is constant('Mapbender\\CoreBundle\\Entity\\Application::SOURCE_DB') %}
              <a href="#" class="iconPublish iconBig {% if application.published %}enabled iconPublishActive{% else %}disabled{% endif %}" title="{{ 'Publish / Unpublish application' | trans }}" data-application-slug="{{ application.slug }}"></a>
            {% endif %}

            {% if application.source is constant('Mapbender\\CoreBundle\\Entity\\Application::SOURCE_DB') and is_granted('DELETE', application) %}
              <span class="iconRemove iconBig"  
                title="{{ application.title }}"
                data-url="{{ path('mapbender_manager_application_delete', { 'slug': application.slug}) }}" 
                data-slug="{{ application.slug }}"
              ></span>
            {% endif %}
          </div>
        </div>
      </li>
    {% endfor %}
  </ul>
  <div class="clearContainer"></div>
{% else %}
  {% trans %}
    <span class="description">You don't have any apps defined. Start by creating one now.</span>
  {% endtrans %}
{% endif %}
<div class="clearContainer"></div>

{% endblock %}
