{% extends "MapbenderManagerBundle::manager.html.twig" %}

{% block title %}{{ "Applications" | trans }}{% endblock %}

{% block manager_js %}
<script type="text/javascript" src="{{ asset('bundles/mapbendermanager/js/list.js') }}"></script>
{% endblock %}

{% block manager_content %}

{% if apps|length > 0 %}
<table class="table table-striped">
    <thead>
        <tr>
            <th>{{ "Title (Slug)" | trans }}</th>
            <th>{{ "Description" | trans }}</th>
            <th>{{ "Actions" | trans }}</th>
        </tr>
    </thead>
    <tbody>
        {% for app in apps %}
        <tr id="app-{{ app.id }}">
            <td>
                <a href="{{ path('mapbender_manager_application_edit', {'id': app.id}) }}" title="{{ 'Edit' | trans }}">{{ app.title }}</a>
                <a href="#" title="{{ 'View' | trans }}">({{ app.slug }})</a>
            </td>
            <td>{{ app.description }}</td>
            <td>
                <div class="entity-actions btn-group">
                    <a class="action-view btn" href="#">{{ 'View' | trans }}</a>
                    <a class="action-edit btn" href="{{ path('mapbender_manager_application_edit',  {'id': app.id }) }}" title="{{ 'Edit application' | trans }}">{{ 'Edit' | trans }}</a>
                    <a class="action-clone btn" href="#">{{ 'Clone' | trans }}</a>
                    <a class="action-delete btn" href="{{ path('mapbender_manager_application_confirmdelete', { 'id': app.id }) }}">{{ 'Delete' | trans }}</a>
                </div>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
<div class="alert alert-info">
{% trans %}
You don't have any apps defined. Start by creating one now.
{% endtrans %}
</div>
{% endif %}

{% include "MapbenderManagerBundle:Application:actions.html.twig" %}

{% pager %}

{% endblock %}
