<label for="inputFilterSources" class="labelInput">{{ "mb.actions.filter" | trans }}</label><input id="inputFilterSources" type="text" class="input listFilterInput">

<ul id="listFilterSources" class="listFilterContainer">
  {% for instance in reusable_instances %}
  <li class="filterItem">
    <a class="checkContainer" href="{{ path('mapbender_manager_application_attachreusableinstance', {'layerset': layerset, 'instance': instance}) }}">
      <span>{{ instance.source.type }}</span>
      <span class="subTitle">{{ instance.source.id }} / {{ instance.source.title }}</span>
      <span>{{ instance.source.alias }}</span>
      <div class="description"><span class="badge badge-info pull-right badge-sm">Zentral verwaltete Instanz</span>{{ instance.source.description | trans }}<div class="clear"></div></div>
    </a>
  {% endfor %}
{% for source in sources %}
  <li class="filterItem">
    <a class="checkContainer" href="{{ path("mapbender_manager_application_addinstance",{'slug': application.slug, "layersetId": layerset.id, "sourceId": source.id}) }}">
      <span>{{ source.type }}</span>
      <span class="subTitle">{{ source.id }} / {{ source.title }}</span>
      <span>{{ source.alias }}</span>
      <div class="description">{{ source.description | trans }}</div>
    </a>
  </li>
{% else %}
  <li class="description">{{ 'mb.manager.admin.source.no_source' | trans }}</li>
{% endfor %}
</ul>
