{% set application = {'slug': 'manager'} %}
{% extends "MapbenderManagerBundle::layouts/tabbed_form.html.twig" %}

{% block title %}{{ "mb.manager.admin.application.new.title" | trans}}{% endblock %}

{% block css %}
    {{parent()}}
    <link rel="stylesheet" href="{{ asset('components/codemirror/lib/codemirror.css') }}"/>
    <link rel="stylesheet" href="{{ asset('components/codemirror/theme/neo.css') }}"/>
{% endblock %}

{% block js %}
  {{parent()}}
  <script type="text/javascript" src="{{ asset('components/codemirror/lib/codemirror.js') }}"></script>
  <script type="text/javascript" src="{{ asset('components/codemirror/mode/css/css.js') }}"></script>
  <script type="text/javascript" src="{{ asset('components/codemirror/mode/yaml/yaml.js') }}"></script>
  <script type="text/javascript" src="{{ asset('components/codemirror/keymap/sublime.js') }}"></script>
  <script type="text/javascript" src="{{ asset('bundles/mapbendermanager/js/application-edit.js') }}"></script>
{% endblock %}

{% block tab_headers %}
    {{ tab_macros.tab_header('BaseData', 'mb.manager.admin.application.new.base_data', 'active') }}{#- #tabBaseData -#}
    {{ tab_macros.tab_header('CustomCss', 'mb.manager.admin.application.custom_css') }}{#- #tabCustomCss -#}
    {{ tab_macros.tab_header('Security', 'mb.manager.admin.application.security.title') }}{#- #tabSecurity -#}
{% endblock %}
{% block tab_containers %}
      <div{{ tab_macros.tab_content_attributes('BaseData', 'active containerBaseData row no-gutters') }}>{#- #containerBaseData -#}
          <div class="col-xs-12 col-12">
            <p class="alert alert-info">{{"mb.manager.admin.application.create_use" | trans }}</p>
          </div>
          {% include 'MapbenderManagerBundle:Application:form-basic.html.twig' %}
      </div>
      <div{{ tab_macros.tab_content_attributes('CustomCss') }}>{#- #containerCustomCss -#}
        {% include 'MapbenderManagerBundle:Application:form-css.html.twig' %}
      </div>
      <div{{ tab_macros.tab_content_attributes('Security') }}>{#- #containerSecurity -#}
        {% include 'MapbenderManagerBundle:Application:form-security.html.twig' %}
      </div>
{% endblock %}
