{% extends "FOMManagerBundle::manager.html.twig" %}

{% block title %}{{ "mb.manager.admin.application.new" | trans}}{% endblock %}

{% block css %}
  {{parent()}}
  {% stylesheets filter="compass,cssrewrite"
    "bundles/mapbendermanager/sass/manager/applications.scss"
    "bundles/fomuser/sass/user/user_control.scss"
  %}
    <link rel="stylesheet" href="{{ asset_url }}" />
  {% endstylesheets %}
{% endblock %}

{% block js %}
  {{parent()}}
  <script type="text/javascript" src="{{ asset('bundles/fomuser/js/acl-form.js') }}"></script>
  <script type="text/javascript" src="{{ asset('bundles/mapbendermanager/js/application-edit.js') }}"></script>
{% endblock %}

{% block manager_content %}
  <form action="{{ path('mapbender_manager_application_create') }}" method="post" name="{{ form.vars.name }}" {{ form_enctype(form)}} novalidate="novalidate">
    <div id="applicationTabContainer" class="tabContainer applicationTabContainer">
      <ul class="tabs">
        <li id="tabBaseData" class="tab active">{{"mb.manager.admin.application.new.base_data" | trans }}</li>
        <li id="tabSecurity" class="tab">{{"mb.manager.admin.application.security" | trans }}</li>
      </ul>
      <div id="containerBaseData" class="container active containerBaseData">
          <div class="left">
            {{ form_label(form.template) }}{{ form_widget(form.template) }}
                <div class="clearContainer"></div>
            {% include 'MapbenderManagerBundle:Application:form-basic.html.twig' %}
           </div>
           <div class="right screenshot_img">
                <div class="messageBox hint">
                    {{"mb.manager.admin.application.create_use" | trans }}
                </div>
           </div> 
            <div class="clearContainer"></div>

        
      </div>
     
      <div id="containerSecurity" class="container">
        {% include 'MapbenderManagerBundle:Application:form-security.html.twig' %}
      </div>
    </div>

    <div class="clearContainer"></div>

    <div class="right">
      <input type="submit" value="{{ 'mb.manager.admin.application.btn.create' | trans }}" class="button"/>
      <a href="{{ url('mapbender_manager_application_index') }}" class="button critical">{{ 'mb.manager.admin.application.btn.cancel' | trans}}</a>
    </div>

    <div class="clearContainer"></div>

    {{ form_row(form._token) }}
  </form>
{% endblock %}
