<div class="repository-actions actions btn-group">
    {% for k,v in actions %}
    {% set attr %}
    {% if v.attr is defined %}{% for k,v in v.attr %} {{k}}="{{v}}"{% endfor %}{% endif %}
    {% endset %}
    <a id="action-{{ k }}" href="{{ v.url }}"{{ attr }}>{{ v.title | trans }}</a>
    {% endfor %}
</div>
