{% block collection_widget %}
{% spaceless %}
    {% set attr = attr|merge({'data-item-count': value.count })%}
    {% if prototype is defined %}
        {% set attr = attr|merge({'data-prototype': form_row(prototype) }) %}
    {% endif %}
    {{ block('form_widget') }}
{% endspaceless %}
{% endblock collection_widget %}

{% block field_row %}
{% spaceless %}
    <div id="form-{{ id }}">
    {{ form_label(form, label|default(null)) }}
    {{ form_widget(form) }}
    {% if attr.title is defined %}
    <p class="help">{{ attr.title }}</p>
    {% endif %}
    {{ form_errors(form) }}
    </div>
{% endspaceless %}
{% endblock field_row %}
