{% extends "MapbenderCoreBundle::index.html.twig" %}

{% set title %}{% block title %}{{ title|default('') }}{% endblock %}{% endset %}

{% block favicon %}{{ asset('favicon.png') }}{% endblock %}

{% block css %}
  <link rel="stylesheet" href="{{ path('mapbender_core_application_assets', {'slug': 'manager','type': 'css'}) }}"/>
{% endblock %}

{% block js %}
  {{parent()}}
  <script type="text/javascript" src="{{ path('mapbender_core_application_assets', {'slug': 'manager','type': 'js'}) }}"></script>
  <script type="text/javascript" src="{{ path('mapbender_core_application_assets', {'slug': 'manager','type': 'trans'}) }}"></script>
{% endblock %}

{% block content %}
  <div class="head"><hr class="dekoSeperator"></div>
    <div id="wrapper" class="page">

      <div class="leftPane">
        <div class="logoContainer">
          <a href="{{ path('mapbender_core_welcome_list') }}"><img class="logo" alt="Mapbender 3 Manager" src="{{ asset(fom.server_logo)}}" /></a>
        </div>
        {% if app.user != "" %}
            {% include 'MapbenderManagerBundle:Index:menu.html.twig' with {menu: mapbender_manager_menu_items(app.request)} %}
        {% endif %}
      </div>

      <div class="rightPane">
          <div class="top">
              <div class="account-bar-wrap">
                  <div class="accountBar">
                    {% if app.user != "" %}
                      <ul id="accountMenu" class="accountMenu">
                          <li id="accountOpen" class="iconDown smallText">{{ "fom.core.manager.logged_as"|trans}}: {{ app.user.username }}<span class="openedIcon"></span></li>
                          {% if app.user.password != "" %} <li><a class="linkButton iconSettings" href="{{ path('fom_user_user_edit', {'id': app.user.id}) }}">{{ "fom.core.manager.you_account"|trans }}</a></li>{% endif %}
                          <li><a class="linkButton iconSignOut" href="{{ path('mapbender_core_login_logout') }}">{{ "fom.core.manager.btn.logout"|trans }}</a></li>
                      </ul>
                    {% else %}
                      <a class="linkButton iconSignIn" href="{{ path('mapbender_core_login_login') }}">{{ "fom.core.manager.btn.login"|trans}}</a>
                    {% endif %}
                  </div>
              </div>
              {% set sitelinks = get_sitelinks() %}
              {% if sitelinks %}
              <ul class="sitelinks">
                {% for sitelink in sitelinks %}
                  <li>{{ loop.first ? '' : '| ' }}<a href="{{ asset(sitelink.link) }}">{{ sitelink.text | trans }}</a></li>
                {% endfor %}
              </ul>
              {% endif %}

            {% for key, flash in app.session.bag('flashes').all() %}
              <div class="flashBox {{ key }}">
                {{ flash | first }}
              </div>
            {% endfor %}

          </div>
        <div class="contentPane">
          <div id="version" class="mapbenderVersion smallText">v. {{ fom.server_version }}</div>
          <div class="content">
            <h1 class="contentTitle">{{ title|trans }}</h1>

            {% block manager_content %}{% endblock %}
          </div>
           
        </div>
      </div>
    </div>

{% endblock %}
