{% extends "MapbenderCoreBundle::index.html.twig" %}

{% block css %}
  <link rel="stylesheet" href="{{ path('mapbender_core_application_assets', {'slug': 'manager','type': 'css'}) }}"/>
{% endblock %}

{% block js %}
  {{parent()}}
  <script type="text/javascript" src="{{ path('mapbender_core_application_assets', {'slug': 'manager','type': 'js'}) }}"></script>
  <script type="text/javascript" src="{{ path('mapbender_core_application_assets', {'slug': 'manager','type': 'trans'}) }}"></script>
{% endblock %}

{% block content %}
    <div id="wrapper">
      {% include 'MapbenderCoreBundle::navbar.html.twig' %}
      <div class="container-fluid">
        <div class="row">
          <div class="col-xs-6">
              {% set sitelinks = get_sitelinks() %}
              {% if sitelinks %}
              <ul class="sitelinks">
                {% for sitelink in sitelinks %}
                  <li>{{ loop.first ? '' : '| ' }}<a href="{{ asset(sitelink.link) }}">{{ sitelink.text | trans }}</a></li>
                {% endfor %}
              </ul>
              {% endif %}
          </div>
          <div class="col-xs-6 text-right" id="version">
            v. {{ fom.server_version }}
          </div>
        </div>
      </div>
      <div class="content-list-container">
          <div class="top">
            {% for key, flash in app.session.bag('flashes').all() %}
              <div class="flashBox {{ key }}">
                {{ flash | first }}
              </div>
            {% endfor %}
          </div>
        <div class="contentPane">
          <div class="container content">
            <div class="innerContainer">
              {% block heading %}
                <h1 class="contentTitle">{{ block('title') }}</h1>
                <div class="underlineTitle"></div>
              {% endblock %}
              {% block manager_content %}{% endblock %}
            </div>
          </div>
        </div>
      </div>
    </div>

{% endblock %}
