{% extends "MapbenderCoreBundle::index.html.twig" %}

{% block css %}
  <link rel="stylesheet" href="{{ asset('bundles/mapbendercore/fonts/ubuntu/ubuntu.css') }}" />
  <link rel="stylesheet" href="{{ path('mapbender_core_application_assets', {'slug': 'manager','type': 'css'}) }}"/>
  <link rel="stylesheet" href="{{ asset('bundles/mapbendercore/bootstrap-colorpicker/css/bootstrap-colorpicker.min.css') }}" />
{% endblock %}

{% block js %}
  {{parent()}}
  <script type="text/javascript" src="{{ path('mapbender_core_application_assets', {'slug': 'manager','type': 'js'}) }}"></script>
  <script type="text/javascript" src="{{ path('mapbender_core_application_assets', {'slug': 'manager','type': 'trans'}) }}"></script>
  <script type="text/javascript" src="{{ asset('bundles/mapbendercore/bootstrap-colorpicker/js/bootstrap-colorpicker.min.js') }}"></script>
{% endblock %}

{% block content %}
  <div class="head">
      {% include 'MapbenderManagerBundle:Index:menu.html.twig' %}
      {% for key, messages in app.session.bag('flashes').all() %}
        <div class="flashBox alert alert-{{ key != 'error' ? key : 'danger' }}" role="alert">
            {%- for message in messages -%}
                {{- message | trans -}}
            {%- endfor -%}
        </div>
      {% endfor %}
  </div>
        <div class="contentPane">
          <div class="content-head">
            {% block heading %}
                <h1 class="contentTitle"><span class="underlined">{{ title | default(pagetitle | default(fom.server_name)) }}</span></h1>
            {% endblock %}
          </div>
          <div class="content">
            {% block manager_content %}{% endblock %}
          </div>
        </div>
    <footer class="text-center">
      {{ fom.server_name }} {{ fom.server_version }}
    </footer>

{% endblock %}
