{% extends "MapbenderMonitoringBundle:MonitoringDefinition:base.html.twig" %}
{% form_theme form 'MapbenderMonitoringBundle:Form:fields.html.twig' %}
{% block title %}{{ "Monitoring Definition New"|trans }}{% endblock %}
{% block subnavigation %}
<nav class="action">
    <h1>Monitoring Navigation</h1>
    <ul>
      <li><a href="{{ path('mapbender_monitoring_monitoringdefinition_index')  }}">{% trans %}Back To List{% endtrans %}</a></li>
    </ul>
</nav>
{% endblock %}
{% block content %}
	<form action="{{path("mapbender_monitoring_monitoringdefinition_add")}}" method="post">
		{{form_widget(form)}}
		<input type="submit" name="create" value="{{"Save"|trans}}" />
	</form>
	<form action="{{path("mapbender_monitoring_monitoringdefinition_index")}}" method="get">
		<input type="submit" name="create" value="{{"Cancel"|trans}}" />
	</form>
{% endblock %}