{% extends "MapbenderMonitoringBundle:MonitoringDefinition:base.html.twig" %}
{% form_theme form 'MapbenderMonitoringBundle:Form:fields.html.twig' %}

{% block subnavigation %}
<nav class="action">
    <h1>Monitoring Navigation</h1>
    <ul>
      <li>
        <form action="{{ path('mapbender_monitoring_monitoringdefinition_run',{'mdId':md.id}) }}" method="post">
        <button>{% trans %}Run{% endtrans %}</button>
        </form>
      </li>
    </ul>
</nav>
{% endblock %}
{% block content %}
	<form action="{{path("mapbender_monitoring_monitoringdefinition_save",{"mdId":md.id})}}" method="post">
		{{form_widget(form)}}
		<input type="submit" name="save" value="{{"save"|trans}}" />
	</form>
	<form action="{{path("mapbender_monitoring_monitoringdefinition_index")}}" method="get">
		<input type="submit" name="cancel" value="{{"Cancel"|trans}}" />
	</form>
    <h2>{{ "Jobs"|trans }}</h2>
    {% if md.monitoringJobs|length > 0 %}
    <ul>
        {% for job in md.monitoringJobs %}
            <li>{{ job.id }}</li>
        {% endfor %}
    </ul>
    {% else %}
        <p>{{ "No jobs have been run"|trans }}</p>
    {% endif %}
{% endblock %}
