{% extends "MapbenderMonitoringBundle:MonitoringDefinition:base.html.twig" %}
{% form_theme form 'MapbenderMonitoringBundle:Form:fields.html.twig' %}
{% block title %}{{ "Monitoring Definition Edit"|trans }}{% endblock %}
{% block subnavigation %}
<nav class="action">
    <h1>Monitoring Navigation</h1>
    <ul>
      <li><a href="{{ path('mapbender_monitoring_monitoringdefinition_index')  }}">{% trans %}Back To List{% endtrans %}</a></li>
      <li><a href="{{ path('mapbender_monitoring_monitoringjob_exportcsv',{"mdid":md.id})  }}" >{% trans %}CSV Export{% endtrans %}</a></li>
      <li><a class="confirmdelete" href="{{ path('mapbender_monitoring_monitoringjob_confirmdelete',{"mdid":md.id})  }}" >{% trans %}Delete Monitoring Jobs{% endtrans %}</a></li>
    
    </ul>
</nav>
{% endblock %}
{% block content %}
	<form action="{{path("mapbender_monitoring_monitoringdefinition_save",{"mdId":md.id})}}" method="post">
		{{form_widget(form)}}
		<input type="submit" name="save" value="{{"save"|trans}}" />
	</form>
	<form action="{{path("mapbender_monitoring_monitoringdefinition_index")}}" method="get">
		<input type="submit" name="cancel" value="{{"Cancel"|trans}}" />
	</form>
	<form action="{{path("mapbender_monitoring_monitoringdefinition_statreset",{"mdId":md.id})}}" method="post">
		<input type="submit" name="reset" value="{{"Reset"|trans}}" />
	</form>
    <form action="{{ path('mapbender_monitoring_monitoringdefinition_run',{'mdId':md.id}) }}" method="post">
        <input type="submit" name="run" value="{% trans %}Run{% endtrans %}" />
    </form>
    {% if md.monitoringJobs|length > 0 %}
    <table class="listable" id="_table-job">
        <caption>{{ "Jobs"|trans }}</caption>
        <thead>
        <tr><th>{{"Nr"|trans}}</th><th>{{"date"|trans}}</th><th>{{"latency"|trans}}</th><th>{{"status"|trans}}</th><th>{{"changed"|trans}}</th></tr>
        </thead>
        <tbody>
        {% for job in lastjobs %}
            <tr class="job job-last"><td class="job-id">{{ job.id }}</td><td>{{ job.timestamp|date("d.m.Y H:i:s")}}</td><td>{{ job.latency }} ms</td><td>{{ job.status }}</td><td>{% if job.changed %}CHANGED{% endif %}</td></tr>
        {% endfor %}
        </tbody>
    </table>
    <h2>{{ "Last Result"|trans }}</h2>
    <pre>
{{md.monitoringJobs[0].result}}
    </pre>
    {% else %}
        <p>{{ "No jobs have been run"|trans }}</p>
    {% endif %}
    <script type="text/javascript">
    $('tr.job').bind("click", function(e) {
        var that = this;
        $.ajax({
            url: '{{path("mapbender_monitoring_monitoringdefinition_show",{"jId":''})}}/'+$(that).find('td.job-id').text(),
            type: "get",
            dataType: "json",
            success: function(data) {
                $(data.html).dialog({
                    autoOpen: true,
                    width: 800,
                    height: 600,
                    title: data.title
                });
            }
        });
    });
    // delete from table
    $("li a.confirmdelete").bind("click",function(e){
      var $anchor = $(this);
      var title = $anchor.attr("title")? $anchor.attr("title"):"Delete";
      $("<div>Really Delete ?</div>").dialog({
        title: title,
        buttons: {
          "Yes": function(){ 
            //FIXME: just add class to application
            $("body").css("cursor","wait");
            $.ajax({
              url: $anchor.attr("href"),
              type: 'POST',
              data: {},
              success: function(){
                window.location.href = window.location.href;
              },
              error: function(data){
                $("body").css("cursor","");
                $("<div>Could not delete.</div>").dialog({
                  title: "Delete " + title,
                  autoOpen: true,
                  buttons:{
                    "OK": function(){ $(this).dialog("destroy"); }
                  }
                }); 
              }
            });
            $(this).dialog("destroy"); 
          },
          "No": function(){ $(this).dialog("destroy"); }
        }
      });
      return false;
    });
    </script>
{% endblock %}