{% extends "MapbenderMonitoringBundle:MonitoringDefinition:base.html.twig" %}

{% block heading %}{{ "Monitoring Definition Index"|trans }}{% endblock %}
{% block subnavigation %}
<nav class="action">
    <h1>Monitoring Navigation</h1>
    <ul>
      <li><a href="{{ path('mapbender_monitoring_monitoringdefinition_create')  }}">{% trans %}Add Monitoring Definition{% endtrans %}</a></li>
      <li><a href="{{ path('mapbender_monitoring_monitoringjob_exportcsv')  }}" target="_BLANK">{% trans %}CSV Export{% endtrans %}</a></li>
      <!--li><a href="{#{ path('mapbender_monitoring_monitoringjob_confirmdeleteall')  }#}" >{#% trans %}Delete All Monitoring Jobs{% endtrans %#}</a></li-->
    </ul>
</nav>
{% endblock %}
{% block content %}

{% if mdList|length >0 %}
	<table class="listable" >
    <caption>{% trans %}Available Monitoring Definitions{% endtrans %}</caption>
		<thead>
			<tr>
				<th>{{ "Title"|trans}}</th>
                <th>{{ "Last Status"|trans }}</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			{% for md in mdList %}
			<tr>
				<td>{{ md.title }}</td>
        {% if md.getLastMonitoringJob().status is defined %}
                <td>{{ md.getLastMonitoringJob().status }}</td>
        {% else %}
                <td>{{ "No runs yet"|trans}}</td>
        {% endif %}
                <td>
                    <a title="{{"Edit"|trans}} '{{md.title}}'"   class="edit" href="{{path("mapbender_monitoring_monitoringdefinition_edit",{"mdId":md.id})}}">{{ "Edit"|trans }}</a>
                    <a title="{{"Delete"|trans}} '{{md.title}}'" class="confirmdelete" href="{{path("mapbender_monitoring_monitoringdefinition_confirmdelete",{"mdId":md.id})}}">{{ "Delete"|trans }}</a>
                </td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
{% else %}
 <p>{% trans %}No Monitoring Definitions available{% endtrans %}</p>
{% endif %}
 <a href="{{path('mapbender_monitoring_schedulerprofile_index')}}">{{"config_scheduler"|trans}}</a>
{% endblock %}