{% set scaleFactor = 1 %}
{% extends "MapbenderCoreBundle::frontend.html.twig" %}

{% block title %}{{ fom.server_name }} - {{ application.title }}{% endblock %}

{% block favicon %}{{ asset('favicon.png') }}{% endblock %}

{% block css %}
  <link rel="stylesheet" href="{{ path('mapbender_core_application_assets', {'slug': application.slug, 'type': 'css'}) }}"/>
{% endblock %}

{% block trans %}
  {{parent()}}
  <script type="text/javascript" src="{{ path('mapbender_core_application_assets', {'slug': application.slug, 'type': 'trans'}) }}"></script>
{% endblock %}

{% block js %}
  {{parent()}}
  <script type="text/javascript" src="{{ path('mapbender_core_application_assets', {'slug': application.slug, 'type': 'js'}) }}"></script>
{% endblock %}

{% block mobilejs %}
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <script language="JavaScript">
        if(/Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent)) {
            var scaleFactor = {{ scaleFactor|default('0.7') }};
            var density = "{{ density|default('240dpi') }}";
            document.write('<meta name="viewport" content="width=device-width, minimal-ui, initial-scale=' + scaleFactor + ', maximum-scale=' + scaleFactor + ', minimum-scale=' + scaleFactor + ', user-scalable=no, ' +
//                    'target-densityDpi=' + density +
                           '"/>');
        }
    </script>
{% endblock %}

{% block frontend_content %}
  <div id="templateWrapper" class="templateWrapper">
      <div id="splash-screen" class="splashScreenWrapper" data-state="active">
        <div class="splashScreen">
          <img class="app-screenshot" src="{{ asset(uploads_dir ~ '/' ~application.entity.screenshot) }}" alt="{{ application.title }}" title="{{ application.description }}">
          <p class="app-title" title="{{ application.description }}">{{ application.title }}</p>
        </div>
      </div>

      <div id="content" class="contentPane">
        {% include "MapbenderCoreBundle:Template:region.html.twig"  with {'application': application, 'region': 'content' }%}
      </div>

      <ul id="footer" class="toolBar itemsCenter bottom">
        {% if application.elements.footer is defined %}
          {% for element in application.elements.footer %}
          <li class="toolBarItem">{{ element.render() | raw }}</li>
          {% endfor %}
        {% endif %}
      </ul>

      <div id="mobilePane" class="mobilePane" data-state="">
          <i id="mobilePaneClose" class="mobileClose"></i>
          <h2 class="contentTitle">Feature info</h2>
          <div class="mobileContent">
          {% include "MapbenderCoreBundle:Template:region.html.twig"  with {'application': application, 'region': 'mobilePane' }%}
          </div>
      </div>
  </div>
{% endblock %}
