<div class="elementForm">
    {{ form_label(form.title) }}{{ form_widget(form.title) }}
    <div class="clearContainer"></div>
    {{ form_label(form.configuration.tooltip) }}{{ form_widget(form.configuration.tooltip) }}
    <div class="clearContainer"></div>
    {{ form_label(form.configuration.target) }}{{ form_widget(form.configuration.target) }}
    <div class="clearContainer"></div>
    {{ form_label(form.configuration.width) }}{{ form_widget(form.configuration.width) }}
    <div class="clearContainer"></div>
    {{ form_label(form.configuration.height) }}{{ form_widget(form.configuration.height) }}
    <div class="clearContainer"></div>
</div>
