<div class="elementForm wideLabelForm">
    {{ form_row(form.title) }}
    {{ form_row(form.configuration.tooltip) }}
    {{ form_row(form.configuration.target) }}
    {{ form_row(form.configuration.components) }}
    {{ form_rest(form.configuration) }}
</div>
