<div class="elementForm wideLabelForm">
    {{ form_label(form.title) }}{{ form_widget(form.title) }}
    <div class="clearContainer"></div>
    {{ form_label(form.configuration.tooltip) }}{{ form_widget(form.configuration.tooltip) }}
    <div class="clearContainer"></div>
    {{ form_label(form.configuration.target) }}{{ form_widget(form.configuration.target) }}
    <div class="clearContainer"></div>
    {{ form_label(form.configuration.components) }}{{ form_widget(form.configuration.components) }}
    <div class="clearContainer"></div>
    {{ form_label(form.configuration.keepSources) }}{{ form_widget(form.configuration.keepSources) }}
    <div class="left">
        {{ form_widget(form.configuration.keepExtent) }}<label for="{{form.configuration.keepExtent.vars.id}}" class="labelCheck">{{"mb.wmc.admin.wmcloader.keep_extent"|trans}}</label>
    </div>
    <div class="clearContainer"></div>
</div>
