<nav class="navbar navbar-fixed-top navigationBar">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navigation-main" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <i class="fa fa-fw fas fa-bars"></i>
            </button>
            <a class="navbar-brand " href="{{ path('mapbender_core_welcome_list') }}">
                <img class="logo" alt="{{ fom.server_name }} {{ fom.server_version}}" src="{{ asset(fom.server_logo)}}"/>
                <span class="navbar-brand-name">{{ fom.server_name }}</span>
            </a>
        </div>
        <div class="collapse navbar-collapse" id="navigation-main">
            <ul class="nav navbar-nav">
                {% include 'MapbenderManagerBundle:Index:menu-items.html.twig' with {items: mapbender_manager_menu_items(app.request)} %}
                {% for sitelink in get_sitelinks() %}
                <li><a href="{{ asset(sitelink.link) }}">{{ sitelink.text | trans }}</a></li>
                {% endfor %}
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {% if app.user %}
                  <li class="dropdown bs-dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fas fa-user"></i>&nbsp;{{ "fom.core.manager.logged_as"|trans}}: {{ app.user.username }}
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                    {%- if app.user.password -%}
                      <li>
                          <a href="{{ path('fom_user_user_edit', {'id': app.user.id}) }}">
                              <i class="fa fas fa-wrench"></i>&nbsp;{{ 'fom.core.manager.you_account' | trans }}
                          </a>
                      </li>
                    {%- endif -%}
                      <li>
                          <a href="{{ path('mapbender_core_login_logout') }}">
                              <i class="fa far fa-sign-out"></i>&nbsp;{{ 'fom.core.manager.btn.logout' | trans }}
                          </a>
                      </li>
                    </ul>
                </li>
              {% else %}
                <li>
                  <a href="{{ path('mapbender_core_login_login') }}">
                    <i class="fa fas fa-sign-in"></i>&nbsp;{{ 'fom.core.manager.btn.login' | trans }}
                  </a>
                </li>
              {% endif %}
            </ul>
        </div>
    </div>
</nav>
