<nav class="navbar navbar-expand-sm fixed-top bg-body-tertiary navigationBar">
    <div class="container-fluid">
        <a class="navbar-brand " href="{{ path('mapbender_core_welcome_list') }}">
            <img class="logo" alt="{{ fom.server_name }} {{ fom.server_version}}" src="{{ asset(fom.server_logo)}}" />
            <span class="navbar-brand-name">{{ fom.server_name }}</span>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navigation-main" aria-expanded="false">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navigation-main">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                {% include 'MapbenderManagerBundle:Index:menu-items.html.twig' with {items: mapbender_manager_menu_items(app.request)} %}
                {% for sitelink in get_sitelinks() %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ asset(sitelink.link) }}">{{ sitelink.text | trans }}</a>
                </li>
                {% endfor %}
            </ul>
            <ul class="navbar-nav ms-auto">
                {% if app.user %}
                    <li class="nav-item">
                    <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" role="button" aria-expanded="false">
                        <i class="fa fas fa-user"></i>&nbsp;{{ "fom.core.manager.logged_as"|trans}}: {{ app.user.username }}
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end">
                    {%- if app.user.password -%}
                      <li>
                          <a class="dropdown-item" href="{{ path('fom_user_user_edit', {'id': app.user.id}) }}">
                              <i class="fa fas fa-wrench"></i>&nbsp;{{ 'fom.core.manager.you_account' | trans }}
                          </a>
                      </li>
                    {%- endif -%}
                      <li>
                          <a class="dropdown-item" href="{{ path('mapbender_core_login_logout') }}">
                              <i class="fa far fa-sign-out"></i>&nbsp;{{ 'fom.core.manager.btn.logout' | trans }}
                          </a>
                      </li>
                    </ul>
                </li>
              {% else %}
                <li>
                  <a href="{{ path('mapbender_core_login_login') }}">
                    <i class="fa fas fa-sign-in"></i>&nbsp;{{ 'fom.core.manager.btn.login' | trans }}
                  </a>
                </li>
              {% endif %}
            </ul>
        </div>
    </div>
</nav>
