{% if actions is defined %}
    {% for k,v in actions %}
    {% if v.display is defined and v.display %}
    {% set attr %}
    {% if v.attr is defined %}{% for k,v in v.attr %} {{k}}="{{v}}"{% endfor %}{% endif %}
    {% endset %}
    <a id="action-{{ k }}" href="{{ v.url }}"{{ attr }} title="{{ v.title | trans }}" tabindex="-1"></a>
    {% endif %}
    {% endfor %}
{% endif %}
