<ul>
{% for k, v in menu %}
    <li id="manager-{{ k }}"{% if v.active %} class="active"{% endif %}>
        <a href="{{ path('mapbender_manager_' 
            ~ v._controllers[0]|lower ~ '_index') }}">{{ v.title|trans }}</a>
    </li>
{% endfor %}
</ul>
<div id="manager-user-menu">
    <p>{{ "You're logged in as"|trans}} <em>user</em>:</p>
    <ul>
        <li id="manager-account"><a href="#">{{ "Your Account"|trans }}</a></li>
        <li id="manager-logout"><a href="#">{{ "Logout"|trans }}</a></li>
    </ul>
</div>

